[2019-03-24 14:36] somenath1435 commented on #1397
@addiegupta Can I work on It?
Because I'm already working on it(Started 10 min ago)

[2019-03-24 15:18] angmas1 commented on #1388
Duplicate of #158

[2019-03-24 15:28] somenath1435 opened #1399 "UI Improvement in Bottom Navigation View"
**Describe the chore**
See PR for new looks.
The new look is much better.
**Would you like to work on the issue?**

- [x] Yes

[2019-03-24 15:59] addiegupta commented on #1397
I am sorry I did not see your message. Now I have completed these changes. Please create an issue before working on so that these conflicts do not take place in the future.

[2019-03-24 16:52] iamareebjamal commented on #1388
Not good. We don't want to be a Mailing App

[2019-03-24 16:52] #1388 closed

[2019-03-24 16:53] aggarwalpulkit596 opened #1402 "Improve dirty build time"
**Describe the bug**
Current Dirty Build time for debug apk is around 3 min 41 sec (Macbook 2017 8gb ram 256gb ssd)
Build time can differ on different system,you can check it using
./gradlew assembleDebug --profile

![Screenshot 2019-03-24 at 10 29 57 PM](https://user-images.githubusercontent.com/29139786/54882876-92612380-4e84-11e9-822f-17e47f736998.png)

**Would you like to work on the issue?**

[2019-03-24 16:54] #1399 closed

[2019-03-24 16:54] aggarwalpulkit596 commented on #1402
@iamareebjamal i was able to reduce it to 8 seconds
![Screenshot 2019-03-24 at 10 24 17 PM](https://user-images.githubusercontent.com/29139786/54882784-98a2d000-4e83-11e9-81db-6b0fd3bdd079.png)
Can i make a pr for that ?

[2019-03-24 16:58] #1389 closed

[2019-03-24 16:59] #1383 closed

[2019-03-24 17:00] iamareebjamal commented on #1402
Great

[2019-03-24 17:01] aggarwalpulkit596 commented on #1402
@iamareebjamal should i make pr then ?

[2019-03-24 17:04] iamareebjamal commented on #1402
Yes

[2019-03-24 17:06] somenath1435 opened #1403 "Text change in Favorite Events"
**Describe the chore**
In my opinion, "Nothing planned ..yet" is not exactly related to Liked Events.
Text should be chnaged to something like "No Liked Events" which makes more sense.

**Would you like to work on the issue?**

- [x] Yes

[2019-03-24 17:06] somenath1435 commented on #1403
@iamareebjamal @liveHarshit what's your opinion?

[2019-03-24 17:20] liveHarshit commented on #1395
Not required, can you please check Eventbrite?

[2019-03-24 17:21] liveHarshit commented on #1403
You can add search option in extra. Please check Eventbrite likes section.

[2019-03-24 17:24] #1386 closed

[2019-03-24 17:30] addiegupta commented on #1395
Okay Ill close this!

[2019-03-24 17:30] #1395 closed

[2019-03-24 17:35] anhanh11001 opened #1405 "Option to choose my location on SearchFragment"
**Describe the feature you'd like**
An option to choose the current location on SearchFragment
**Screenshots**
The current state of the app. The would be an icon and "Use my current location" below the edit text
<img src="https://i.ibb.co/L93QfFk/55539165-2242787902434189-2895125269687828480-n.png" width="300"/>

**Would you like to work on the issue?**
Yes

[2019-03-24 17:46] liveHarshit commented on #1405
Already there. Change build variant to play store.

[2019-03-24 18:06] angmas1 opened #1406 "App crash on selecting search from bottom nav bar"
**Describe the bug**

App crashes when seleccting search from bottom nav bar

**To Reproduce**

1. Open app
2. Tap on search

**Expected behavior**

App shouldn't crash

**Logs**

2019-03-24 23:36:00.468 31597-31597/com.eventyay.attendee E/AndroidRuntime: FATAL EXCEPTION: main
    Process: com.eventyay.attendee, PID: 31597
    java.lang.IllegalArgumentException: Required argument "@string/saved_da

[2019-03-24 18:08] haroldadmin commented on #1369
@aman210697 Please elaborate.

[2019-03-24 18:10] anhanh11001 commented on #1406
I think it is already resolved in the latest commits, please try rebasing your development branch

[2019-03-24 18:12] #1405 closed

[2019-03-24 18:15] aman210697 commented on #1369
`     Intent().apply {
                    action = Intent.ACTION_SEND
                    type = "text/plain"
                    putExtra(Intent.EXTRA_TEXT, EventUtils.getSharableInfo(event))
                }.also { intent ->
                    startActivity(Intent.createChooser(intent, "Share Event Details"))`

You have used the same code in all fragments , it should be limited to viewholder

[2019-03-24 18:15] angmas1 commented on #1406
Okay, fixed now closing.

[2019-03-24 18:15] #1406 closed

[2019-03-24 18:23] haroldadmin commented on #1369
It's not the ViewHolder's responsibility to know what happens when a button is clicked.

[2019-03-24 18:37] aman210697 commented on #1369
Okay.. so how about moving it to Utils?

[2019-03-24 18:46] somenath1435 opened #1407 "Add Acknowledgements Page"
**Describe the feature you'd like**
An Acknowledgement page should be there ( similar to EventBrite app)

**Would you like to work on the issue?**

- [x] Yes

[2019-03-24 18:46] somenath1435 commented on #1407
@iamareebjamal @liveHarshit Shall I proceed?

[2019-03-24 18:47] nikit19 commented on #1407
Not required

[2019-03-24 18:47] #1407 closed

[2019-03-24 18:48] ironbatshashank opened #1408 "User should be allowed to select multiple go out options"
**Describe the chore**
Any user in the search option may be free or wants to go out at multiple times. We are only providing one option for going out time. The user should be able to select multiple going out times like he/she can be free today and tomorrow or maybe this weekend also, so the result should show all the available events.

**Would you like to work on the issue?**
Please let us know i

[2019-03-24 19:00] iamareebjamal commented on #1369
@haroldadmin It is

[2019-03-24 19:03] haroldadmin commented on #1369
Okay, I'll move the logic to the ViewHolder class.

[2019-03-24 19:15] #1338 closed

[2019-03-24 19:16] #1357 closed

[2019-03-24 19:20] theLimitBreaker opened #1410 "[Maintainence] Make Dependencies file for maintaining all dependencies/libraries"
**Describe the chore**
Make a separate `dependencies` file to list all dependencies version number / libraries versions and reference those versions in `build.gradle` files

This would include `dependencies.gradle` file which would contain all versions of dependencies/ libraries used . This would help us in maintaining/ adding the future dependencies .

**Would you like to work on the issue?**

-

[2019-03-24 19:20] theLimitBreaker commented on #1410
@iamareebjamal could you give your opinion ?

[2019-03-24 19:27] anhanh11001 commented on #575
@shikhart98 may I work on this?

[2019-03-24 19:37] anhanh11001 opened #1411 "Order created without providing enough information"
**Describe the bug**
The order is said to be created successfully by the snackbar even though some of the fields like Card Type, Month, Year... are not filled.

**Screenshots**
<img src="https://i.ibb.co/XXH8snb/ezgif-2-073f75097050.gif" width="300">

**Would you like to work on the issue?**
Yes

[2019-03-24 19:38] somenath1435 commented on #1411
@anhanh11001 But the ticket is not produced. Am I right?

[2019-03-24 20:22] #799 closed

[2019-03-24 20:24] #1397 closed

[2019-03-24 20:28] iamareebjamal commented on #1411
Yes, this is done to lock the order on backend while other stuff may be filled

[2019-03-24 20:29] iamareebjamal commented on #1410
Not all, only repeated ones

[2019-03-24 20:42] anhanh11001 commented on #1411
@somenath1435 yes, the ticket is not produced, I will clarify my words in the description, but still, the problems I'm mentioning here is that user can still click on REGISTER and receive Snackbar on order created success. What's I'm fixing is to check for each of the fields to see if it is not editted. Something like this:
[code]

@iamareebjamal I should still work on this right or are there more

[2019-03-24 21:08] iamareebjamal commented on #1411
Check the implementation on frontend for the same

[2019-03-24 21:09] #1150 closed

[2019-03-25 02:32] #1337 closed

[2019-03-25 08:30] addiegupta commented on #1408
There are options available for multiple days like 'Anytime' or 'In the next month' or 'This weekend' hence I don't think this is really necessary.

[2019-03-25 12:30] anhanh11001 commented on #904
@liveHarshit are you still working on this or can I work on this issue?

[2019-03-25 12:45] liveHarshit commented on #904
ISSUE #471?

[2019-03-25 14:31] somenath1435 opened #1416 "UI Improvement in Settings"
**Describe the chore**
There are extra spaces beside use event's timezone preference.
It should be removed.
See PR for Screenshots

**Would you like to work on the issue?**

- [x] Yes

[2019-03-25 14:43] somenath1435 opened #1418 "Add Landscape Mode"
**Describe the feature you'd like**
Add Landscape Mode for Two screens.
Current UI has problems( Not entire screen is visible)

**Screenshots**

See Current Looks

![Screenshot_20190325-200624](https://user-images.githubusercontent.com/43093724/54928658-47a1e300-4f3a-11e9-9d4c-563c94d4bfc1.png)
![Screenshot_20190325-200644](https://user-images.githubusercontent.com/43093724/54928667-4bce0080-4f3a-

[2019-03-25 14:49] somenath1435 opened #1419 "Shimmer Not Properly Visible in Landscape Mode"
**Describe the chore**
The shimmer to display tickets in Landscape Mode is not proper.
Adjust It's width.

Screenshot:
![Screenshot_20190325-201417](https://user-images.githubusercontent.com/43093724/54929212-386f6500-4f3b-11e9-869e-f0000c049235.png)

**Would you like to work on the issue?**

- [x] Yes

[2019-03-25 16:54] iamareebjamal commented on #1418
Low priority

[2019-03-25 16:54] #1418 closed

[2019-03-25 16:56] #1416 closed

[2019-03-25 17:07] #1396 closed

[2019-03-25 17:37] #1408 closed

[2019-03-25 17:41] aggarwalpulkit596 opened #1420 "Update Password"
**Describe the feature you'd like**
Add Option in Settings to update user password
**Would you like to work on the issue?**
- [x] Yes

[2019-03-25 17:42] aggarwalpulkit596 commented on #1420
@iamareebjamal this is implemented on server as well so can i work on this ?

[2019-03-25 17:57] haroldadmin commented on #1369
@iamareebjamal Would it be okay if I create a PR for this once you have listed the required changes too? I know you are waiting for your laptop to get back.

[2019-03-25 18:01] iamareebjamal commented on #1369
I have gotten my laptop back since yesterday but I have not yet listed the things. But once I have, you may go ahead

[2019-03-25 18:31] aggarwalpulkit596 opened #1421 "Show Popular Locations in SearchFragment"
**Describe the feature you'd like**
In searchfragment show a list of event location using
https://api.eventyay.com/v1/event-locations?sort=name
which is somewhat similiar to eventbrite
![screenshot-1553538637595](https://user-images.githubusercontent.com/29139786/54944742-349f0b00-4f5a-11e9-9233-2e53fca7d60f.jpg)
It will help the user to identify that in which locations there is an event

**Would

[2019-03-25 18:32] aggarwalpulkit596 commented on #1421
@iamareebjamal any thoughts on this ?

[2019-03-25 18:34] aggarwalpulkit596 opened #1422 "Add Shared Element Transition"
**Describe the feature you'd like**
Add Shared element transition of event images and name for better UI experience

**Would you like to work on the issue?**
- [x] Yes

[2019-03-25 18:41] aggarwalpulkit596 opened #1423 "SearchView Widget Not Working"
**Describe the bug**
SearchView Widget in searchFragment is not working is always shows no result for any text searched
**To Reproduce**

|               | |
|---------------|-|
|Device         |Oneplus 3|
|Android Version| Oreo 8.0 |

**Would you like to work on the issue?**
- [x] Yes

[2019-03-25 18:47] aman210697 opened #1424 "Inapproprite order shimmer placeholder"
**Describe the bug**
place holder views are of fixed size

**Smartphone Info:**

|Device         |Redmi note 3|
|Android Version| Pie with smaller dpi  |

**Screenshot**

![WhatsApp Image 2019-03-26 at 12 04 19 AM](https://user-images.githubusercontent.com/24875315/54945690-6d3fe400-4f5c-11e9-81a9-f7d14faa2047.jpeg)

**Would you like to work on the issue?**
-  Yes

[2019-03-25 18:53] liveHarshit commented on #1421
It's the starting screen I think?

[2019-03-25 18:54] liveHarshit commented on #1422
Duplicate

[2019-03-25 18:56] anhanh11001 commented on #1423
It's not always the case. Maybe if you try typing "Fossasia" in that along with "Singapore" in the location text, "Anytime" in the time text, it would return some results. The searchView along with the two edit text below together form the query, you should take a look at the API and. I think the main problem here is that the SearchFragment, in general, is not user-friendly so that's why some peop

[2019-03-25 19:05] aggarwalpulkit596 commented on #1423
@anhanh11001 it should work similar to implementation AFAIK Eventbrite

[2019-03-25 19:58] #1422 closed

[2019-03-25 19:58] aggarwalpulkit596 commented on #1421
@liveHarshit it is the onboarding screen for first-time users but we can show a similar when searching events for ease of user

[2019-03-25 19:59] iamareebjamal commented on #1421
These are not popular locations. These are all locations AFAIK

[2019-03-25 19:59] iamareebjamal commented on #1421
But go ahead

[2019-03-25 19:59] aggarwalpulkit596 commented on #139
@liveHarshit if you're not working on this i would like to take up on this issue

[2019-03-25 20:00] aggarwalpulkit596 commented on #1421
@iamareebjamal should i use the end point below for the following?
https://api.eventyay.com/v1/event-locations?sort=name

[2019-03-25 20:02] #1366 closed

[2019-03-25 20:03] iamareebjamal commented on #1421
Yes, I guess

[2019-03-26 00:28] somenath1435 commented on #1424
@aman210697 This issue is duplicate of #1419.
I'm already working on it.
Please check open issues before opening a new one.

[2019-03-26 04:39] liveHarshit commented on #139
Please go ahead

[2019-03-26 05:42] somenath1435 opened #1429 "Material Components Dialog Issue"
**Describe the chore**
Currently the action buttons on Alert Dialog (using material components) have layout issues.
Fix them.

**Would you like to work on the issue?**

- [x] Yes

Screenshot:
![Screenshot_20190326-111043](https://user-images.githubusercontent.com/43093724/54973915-fe907400-4fb7-11e9-8c0c-7fe44939894a.png)

[2019-03-26 05:43] somenath1435 commented on #1429
@iamareebjamal @liveHarshit Shall I proceed?

[2019-03-26 09:31] angmas1 opened #1430 "Make empty fragment_favorite similar to Eventbrite"
**Describe the feature you'd like**

Make empty fragment_favorite similar to Eventbrite with relevant options as in Eventbrite

**Would you like to work on the issue?**

- [x] Yes
- [ ] No
- Other:

[2019-03-26 09:55] angmas1 opened #1432 "HTTP 500"
**Describe the bug**

On pressing go fab a second time in search fragment with time field having such a value that would fetch no events, HTTP 500 error is thrown.

**To Reproduce**

1. Go to search fragment.
2. Select time as some value for which there are no event. eg. location Delhi, time Today on debug server.
3. press fab at bottom once.
4. come back to search fragment.
5. press fab again.
6.

[2019-03-26 12:28] addiegupta opened #1433 "Dark icons on blue accent color"
**Describe the feature you'd like**

The Floating Action Buttons have dark icon on its blue accent and purple background which would look better if a lighter color like white is used
as before. I would like to replace the black icons with white

**Screenshots**

![ezgif com-video-to-gif](https://user-images.githubusercontent.com/22665789/54997004-c3f6fd80-4ff0-11e9-9260-dc6d433a975c.gif)

**Additi

[2019-03-26 12:55] somenath1435 opened #1435 "Text Not Visibile in Button"
**Describe the chore**
Text is not visible in Button when Internet Connectivity is not there.
Fix it.

Screenshot:
![Screenshot_20190326-182231](https://user-images.githubusercontent.com/43093724/54998587-885e3280-4ff4-11e9-8798-535a0d0c052f.png)

**Would you like to work on the issue?**

- [x] Yes

[2019-03-26 13:17] anhanh11001 opened #1436 "Back navigation in ActionBar doesn't work when "difficulty fetching event" displayed"
**Describe the bug**
Back navigation in header doesn't work when "difficulty fetching event" displayed

**Screenshots**
<img src="https://i.ibb.co/tcDsNV1/ezgif-2-540e4538c96d.gif" width="300">

**Would you like to work on the issue?**
Yes

[2019-03-26 13:19] anhanh11001 opened #1437 "Ticket quantity is not retained when coming back from AttendeeFragment"
**Describe the bug**
Ticket quantity is not retained when coming back from AttendeeFragment

**Screenshots**
<img src="https://i.ibb.co/2vnFChq/ezgif-2-3a46d606c41e.gif" width="300">

**Would you like to work on the issue?**
Yes

[2019-03-26 13:22] anhanh11001 opened #1438 "PlaceHolder for image in SimilarEvent"
**Describe the bug**
Empty image space in SimilarEvent -> Solution: Make placeholder for that

**Screenshots**
<img src="https://i.ibb.co/tLRVfRs/55451693-2364663303563872-7891137279727501312-n.png" width="400">
**Would you like to work on the issue?**
Yes

[2019-03-26 13:23] anhanh11001 commented on #1353
Hello, are you working on this or may I take up this issue, I'm pretty interested in working on this!

[2019-03-26 13:24] addiegupta opened #1439 "Update Profile Fragment to contain menu options like preferences"
**Describe the feature you'd like**

I would like to update the ProfileFragment to display the menu options like Preferences instead of the menu options, something similar to eventbrite

**Screenshots**

Currently the Profile Fragment looks very empty:
<img src = "https://user-images.githubusercontent.com/22665789/55000351-564ecf80-4ff8-11e9-8628-04ca8216778e.jpeg" width = "270" height = "570"/>

[2019-03-26 13:41] theLimitBreaker commented on #1353
Ahh..  I am working on this issue. Got busy with conference

[2019-03-26 13:54] #1429 closed

[2019-03-26 18:06] angmas1 commented on #1439
Ask mentors before starting work on this.

[2019-03-26 18:09] addiegupta commented on #1439
Okay!

[2019-03-26 18:09] addiegupta commented on #1439
@iamareebjamal @nikit19 @liveHarshit should I go ahead with this?

[2019-03-26 19:00] #1438 closed

[2019-03-26 19:34] #1430 closed

[2019-03-26 19:35] #1435 closed

[2019-03-26 21:18] anhanh11001 opened #1446 "SocialLink is not fetched again when internet connection reappear"
**Describe the feature you'd like**
In EventDetailsFragment, social links are not fetched and displayed again when the internet connection is ON, but instead, the progress bar is still visible

**Screenshots**
<img src="https://i.ibb.co/Mc6nV6b/ezgif-2-b407bbfb2f96.gif" width="300"/>

**Would you like to work on the issue?**
Yes

[2019-03-27 01:53] theLimitBreaker commented on #1353
@iamareebjamal , sorry for responding late on this .issue . I was thinking of direct Sharing of tickets in PDF form to apps like Drive , telegram like that. Need your opinion .

[2019-03-27 08:21] #1446 closed

[2019-03-27 08:24] #1387 closed

[2019-03-27 08:31] iamareebjamal commented on #1353
Low priority

[2019-03-27 14:51] aman210697 commented on #1420
already working on it #1355 :D

[2019-03-27 16:37] angmas1 opened #1450 "Incorrect date shown in search fragment."
**Describe the bug**

When date in searchtimefragment is selected using date picker, a date one day ahead of the selected date is shown in search fragment.

**To Reproduce**

1. go to search fragment.
2. click on anyone
3. select custom date using date picker.
4. Incorrect date is shown.

**Expected behavior**

Selected date must be shown.

**Screenshots**

![ezgif com-video-to-gif](https://user-i

[2019-03-27 17:14] #1419 closed

[2019-03-27 18:16] theLimitBreaker commented on #1353
Okay .. But was i correct about the flow ? . About sharing / uploading pdf.?

[2019-03-27 18:24] #1432 closed

[2019-03-27 19:27] #1433 closed

[2019-03-27 20:24] aman210697 opened #1453 "Multiple tickets for same email id"
**Describe the bug**
Multiple tickets of the same event can be booked for same email id

**To Reproduce**

1st scenario
1. Go to any event details
2. Click on 'Register'
3. Select more than 1 ticket
4. Input same email in the email field

2nd scenario
Perform the same steps again on the same event.

**Expected behavior**
One ticket for one email id.

@iamareebjamal Is it a feature or a bug?

If a

[2019-03-28 02:13] theLimitBreaker opened #1454 "App crash on signup fragment , when Username or password are empty"
**Describe the bug**
App crash when username or password are empty in signup fragment

**To Reproduce**

1. Go to 'Sign up fragment'
2. Click on 'Last name'
3. without entering anything, Click on `tick`(IME action) on keyboard
4. App crashes

**Expected behavior**
tick button shouldn't try to signup when fields are empty

**Logs**
[code]

**Smartphone Info:**

Device : Nokia 6.1
Android Version :

[2019-03-28 07:10] angmas1 opened #1455 "Incorrectly rounded views"
**Describe the bug**

In many fragments eg. fragment_event cardviews are used to give rounded corners to buttons, image views, etc. This is a workaround and not the correct way to make rounded views.

**To Reproduce**

Check fragment_event.xml

**Expected behavior**

xml files with correct shape should be created and set as background for views which require rounded corners.

**Would you like to w

[2019-03-28 14:38] addiegupta opened #1458 "Misaligned 'terms and conditions' text box in AttendeeFragment"
**Describe the chore**

The terms and conditions TextView is misaligned with the checkbox.
It should be aligned with it.

Screenshots:

![Misaligned tnc](https://user-images.githubusercontent.com/22665789/55166512-47515400-5195-11e9-9f49-275c29647cd0.jpeg)

**Would you like to work on the issue?**

- [x] Yes
- [ ] No
- Other:

[2019-03-28 15:24] #1436 closed

[2019-03-28 18:33] somenath1435 opened #1460 "FAB in Edit Profile Not Working"
**Describe the chore**
Floating Action Button not working in edit profile.
Fix it.
Screenshots:
![axa](https://user-images.githubusercontent.com/43093724/55183548-09b0f300-51b6-11e9-8e85-227110c08213.gif)

**Would you like to work on the issue?**

- [x] Yes

[2019-03-28 18:48] aman210697 commented on #1209
Working on it? Your PR has 4 commits and conflict too.

[2019-03-28 19:11] #1458 closed

[2019-03-28 20:15] #1020 closed

[2019-03-28 21:15] #1460 closed

[2019-03-28 21:23] somenath1435 opened #1463 "Changed FAB color to ColorAccent"
**Describe the chore**
After Material Components were introduced, colors got changed.
FAB colors need to be like old version(ColorAccent should be used) to look efficient.

Current looks:
![Screenshot_20190329-024931](https://user-images.githubusercontent.com/43093724/55193702-bea2da00-51cd-11e9-813e-b65025cca9cc.png)
![Screenshot_20190329-024935](https://user-images.githubusercontent.com/43093724

[2019-03-28 21:29] anhanh11001 commented on #1209
@aman210697 It's just a really small issue, I think you don't have to spend time on that and I don't think my PR has any conflicts now

[2019-03-28 22:00] somenath1435 opened #1465 "Button Issue in Login/Signup Page"
**Describe the chore**
Currently the Buttons in Login/Signup Page looks colored.
But it should appear enabled only when proper email and password is entered.
Fix the issue.

Screenshots:
![Screenshot_20190329-032331](https://user-images.githubusercontent.com/43093724/55195580-f9f3d780-51d2-11e9-91b4-65f46981384e.png)

**Would you like to work on the issue?**

- [x] Yes

[2019-03-28 22:10] #1209 closed

[2019-03-28 22:29] somenath1435 opened #1467 "Use Lambda Expressions Efficiently"
**Describe the chore**
Kotlin supports Lambda Expressions.
It should be used Efficiently.

**Would you like to work on the issue?**

- [x] Yes

[2019-03-28 23:02] #1467 closed

[2019-03-29 11:03] #1463 closed

[2019-03-29 17:54] somenath1435 opened #1469 "Add Terms and Conditions in SignUp Page"
**Describe the feature you'd like**

User should be allowed to signup if and only if he accepts the Terms & Conditions policy.

**Would you like to work on the issue?**

- [x] Yes

[2019-03-29 18:58] ironbatshashank opened #1471 "Users should be allowed to cancel tickets."
**Users should be provided with a button under tickets tab when they open their ticket to cancel their existing ticket.**

**Would you like to work on the issue?**
- [x] Yes
- [ ] No
- Other:

[2019-03-29 19:13] #1455 closed

[2019-03-29 19:14] #1465 closed

[2019-03-29 19:19] #1439 closed

[2019-03-29 19:20] #139 closed

[2019-03-29 19:27] iamareebjamal opened #1472 "Bug evaluation before release"
It has been a lot of time since last release, so there should be a release before GSoC and then we follow fortnightly release pattern

So, calling all contributors to report any serious bug before 0.1.0a release

[2019-03-29 19:40] anhanh11001 commented on #1472
In summary, I think here are the current major bugs in the app:
1. Bottom Navigation doesn't retain old fragments #1139. I can try to fix this issue this weekend.
2. The QR code of the tickets under an order is not distinguishable as we have discussed in the [open-event-server #5701 ](https://github.com/fossasia/open-event-server/issues/5701).
3. Payment is still blocked now, Paypal is not integra

[2019-03-29 19:42] iamareebjamal commented on #1472
It just means we'll release every 2 weeks. 4 of those issues are not major bugs. Major bugs would constitute crashes and bugs which were not there in previous releases. 1 is major but due to Nav Component, so can be passed on for next release

[2019-03-30 05:43] addiegupta commented on #1472
I think Issue #1454 might count as a major bug

[2019-03-30 06:58] iamareebjamal commented on #1454
Please take this up on priority

[2019-03-30 07:01] #1469 closed

[2019-03-30 08:45] codedsun commented on #1454
@theLimitBreaker Are you working on this issue?

[2019-03-30 08:47] #207 closed

[2019-03-30 08:48] theLimitBreaker commented on #1454
Yes ! Currently Working

[2019-03-30 08:51] aman210697 commented on #1472
Please check #1453

[2019-03-30 09:25] iamareebjamal commented on #1453
It's a feature

[2019-03-30 09:26] iamareebjamal commented on #1472
And nevertheless won't be considered a critical bug unless it was a crash or hindered from basic functioning of app

[2019-03-30 10:24] addiegupta opened #1474 "App crash on going back from a similar event"
**Describe the bug**

The app crashes when a similar event is selected from `EventDetailsFragment` for an event and then the up button or the back button is pressed.

**To Reproduce**

The app should not crash

**Logs**

2019-03-30 15:50:59.520 6773-6824/com.eventyay.attendee E/AndroidRuntime: FATAL EXCEPTION: pool-1-thread-1
    Process: com.eventyay.attendee, PID: 6773
    java.lang.IndexOutOfBo

[2019-03-30 10:25] addiegupta commented on #1472
@iamareebjamal #1474 please have a look at this issue

[2019-03-30 10:39] addiegupta opened #1475 "App crash on selecting an event after navigating from other fragments"
**Describe the bug**

The app is crashing after navigating to the `EventsFragment` from other fragment and then selecting an event .

**To Reproduce**

The app should not crash

**Logs**

2019-03-30 15:58:47.648 8742-8742/com.eventyay.attendee E/AndroidRuntime: FATAL EXCEPTION: main
    Process: com.eventyay.attendee, PID: 8742
    java.lang.IllegalStateException: View androidx.swiperefreshlayout.

[2019-03-30 10:40] addiegupta commented on #1472
And #1475 too

[2019-03-30 10:47] addiegupta opened #1476 "Incorrect image being displayed for event in EventsFragment"
**Describe the bug**

Incorrect images are being displayed for events in EventsFragment on refreshing. Possibly for events having no assigned image (i.e. events that were supposed to display placeholder)

**To Reproduce**

The correct image should be displayed

**Screenshots**

![ezgif com-video-to-gif](https://user-images.githubusercontent.com/22665789/55275113-5e17b800-5307-11e9-9893-22605cb5bfd

[2019-03-30 12:27] angmas1 commented on #1472
@addiegupta these crashes weren't happening two days back, there has been some recent change which may be causing these crashes.

[2019-03-30 12:29] somenath1435 commented on #1472
No crashes were there yesterday

[2019-03-30 12:29] angmas1 commented on #1472
Now, it's crashing on searchfragment as well.

[2019-03-30 12:33] aman210697 commented on #1475
How can I run it with live data, not a dummy?

[2019-03-30 12:33] aman210697 commented on #1472
Could be shared element transition.

[2019-03-30 12:34] addiegupta commented on #1472
On selecting favoritefragment, EventsFragment is also being created. And on selecting eventsfragment, it is being created twice

[2019-03-30 12:34] addiegupta commented on #1472
I think so too.

[2019-03-30 12:38] somenath1435 commented on #1472
I think our priority should be to fix the crash issue as soon as possible

[2019-03-30 12:38] addiegupta commented on #1475
change line 42 with line 38 in app:build.gradle i.e. change server to release

[2019-03-30 12:48] angmas1 commented on #1472
It's that, I checked with a branch updated till yesterday's commit and there were no crashes.
@iamareebjamal please revert #1443

[2019-03-30 12:50] addiegupta commented on #1472
That should solve Issues #1474 and #1475 . As for the shared element transition feature, I think it can be reimplemented correctly once the release takes place as the release is the priority

[2019-03-30 13:09] addiegupta commented on #1472
Was it this?

`java.lang.ClassCastException: androidx.appcompat.widget.SearchView$SavedState cannot be cast to android.widget.SearchView$SavedState`

[2019-03-30 14:08] addiegupta commented on #1472
Apparently it only fixes #1475 and not #1474

[2019-03-30 14:21] angmas1 opened #1478 "Sort tickets on basis of event start date and grey out expired tickets."
**Describe the feature you'd like**

Sort tickets on basis of event start date and grey out expired tickets.

**Would you like to work on the issue?**

- [x] Yes
- [ ] No
- Other:

[2019-03-30 15:54] liveHarshit opened #1480 "App crashes on selecting location at start"
**Logs**
[code]

**Smartphone Info:**

|               | |
|---------------|-|
|Android Version|Nougat 7.1.1|

**Would you like to work on the issue?**

yes

[2019-03-30 16:00] liveHarshit opened #1481 "Issues when there is an error in fetching event"
**Describe the bug**
 - Navigation bar hide, and the event does not open
- App crash during returning back
- Menu icons are visible with the error message, app crashes after clicking these items.

**Logs**
[code]

**Smartphone Info:**

|               | |
|---------------|-|
|Android Version|Nougat 7.1.1|

**Would you like to work on the issue?**

yes

[2019-03-30 16:03] liveHarshit opened #1482 "App crashes on search"
**Logs**
[code]

**Smartphone Info:**

|               | |
|---------------|-|
|Android Version|Nougat 7.1.1|

**Would you like to work on the issue?**

yes

[2019-03-30 16:29] liveHarshit commented on #1472
I have analyzed the app. All these crashed and issues (#1480 , #1481 , #1482 , #1475 , #1474 ) are due to PR #1143 .

[2019-03-30 16:30] liveHarshit commented on #1472
@iamareebjamal If we are going to update the release now, the PR should revert.

[2019-03-30 16:31] ShridharGoel commented on #1472
@liveHarshit I think you mean #1443

[2019-03-30 16:32] addiegupta commented on #1472
#1474 is not getting fixed by reverting #1443.

[2019-03-30 16:33] liveHarshit commented on #1472
Let me check.

[2019-03-30 16:33] addiegupta commented on #1472
I have reverted 1443 in #1477

[2019-03-30 16:48] liveHarshit commented on #1472
I'm not able to reproduce this issue.

[2019-03-30 16:55] liveHarshit opened #1483 "Issues with search location fragemnt"
**Describe the bug**
- [ ]  Wrong title showing in fragment's app bar.
- [x]  Action bar displays on welcome fragment after coming back from search location fragment.

**Would you like to work on the issue?**

open for all

[2019-03-30 17:10] liveHarshit opened #1485 "Move action bar logics to utils"
**Describe the feature you'd like**
Move action bar logic to utils like - Set title, handle visibility and display back button. No need to cast again and again for each fragment.

**Would you like to work on the issue?**

open for all

[2019-03-30 17:11] liveHarshit commented on #1485
@iamareebjamal Your opinion?

[2019-03-30 17:15] angmas1 commented on #1482
I'm already working on this if you don't mind, can I take this up?

[2019-03-30 17:18] angmas1 commented on #1485
If @iamareebjamal agrees, can I take this up?

[2019-03-30 19:45] #1475 closed

[2019-03-30 19:45] #1480 closed

[2019-03-30 19:45] #1481 closed

[2019-03-30 19:46] liveHarshit commented on #1482
Resolved

[2019-03-30 19:46] #1482 closed

[2019-03-30 19:47] liveHarshit commented on #1474
I think it is memory bounce issue.

[2019-03-30 19:54] #1450 closed

[2019-03-30 19:56] #1454 closed

[2019-03-31 04:53] liveHarshit commented on #1485
@angmas1 Please go ahead.

[2019-03-31 06:25] addiegupta commented on #1474
@liveHarshit I am getting this error

2019-03-31 11:54:39.269 8825-9677/com.eventyay.attendee E/AndroidRuntime: FATAL EXCEPTION: pool-1-thread-2
    Process: com.eventyay.attendee, PID: 8825
    java.lang.IndexOutOfBoundsException: Index: 24, Size: 12
        at java.util.ArrayList.get(ArrayList.java:437)
        at androidx.recyclerview.widget.AsyncListDiffer$1$1.areItemsTheSame(AsyncListDiffer.j

[2019-03-31 09:42] addiegupta commented on #1474
I am having a little trouble fixing this. I have narrowed this down to a dependency injection issue specifically the following line of code

`similarEventsListAdapter = get(scope = getOrCreateScope(Scopes.SIMILAR_EVENTS_FRAGMENT.toString()))`

I am not very familiar with dependency injection and after tinkering around with this, what I have assessed is that the same instance of adapter is used for

[2019-03-31 09:54] iamareebjamal commented on #1474
Go ahead and remove DI from adapters. Ensure that nothing else breaks

[2019-03-31 15:17] anhanh11001 opened #1486 "SimilarEvents goes out of order when clicking favorite icon"
**Describe the bug**
SimilarEvents goes out of order when clicking favorite icon

**Screenshots**
<img src="https://i.ibb.co/C19MBhB/ezgif-4-86f07238c942.gif" width="300">

**Would you like to work on the issue?**
Yes

[2019-03-31 15:20] anhanh11001 opened #1487 "When error uploading image in EditProfileFragment, clicking update will make progress bar run forever"
**Describe the bug**
When error uploading image in EditProfileFragment, clicking update will make progress bar run forever

**To Reproduce**
1. Go to EditProfile Fragment
2. Pick a new image to update (the bug is produced if the image is error on uploading)
3. Click update
4. Progress bar appear but the profile is not updated. Instead, view stays the same with progress bar running forever

**Scree

[2019-03-31 15:32] anhanh11001 opened #1488 "Horizontal view on events detail doesn't take up all space"
**Describe the bug**
Horizontal view on events detail doesn't take up all space when scrolling

**Screenshots**
<img src="https://i.ibb.co/6mp995Y/ezgif-4-df02785bfea8.gif" height="300">

**Would you like to work on the issue?**
Yes

[2019-03-31 15:35] #1487 closed

[2019-03-31 19:33] #1474 closed

[2019-03-31 21:39] anhanh11001 commented on #1486
solved by #1489

[2019-03-31 21:39] #1486 closed

[2019-03-31 21:43] anhanh11001 opened #1491 "No internet view on TicketsFragment"
**Describe the bug**
Add no internet view on TicketsFragment

**Screenshots**
<img src="https://i.ibb.co/58bpRcf/55608075-1213485758824214-3616519324027584512-n.png" width="300">
**Would you like to work on the issue?**
Yes

[2019-03-31 22:26] anhanh11001 opened #1493 "Fix horizontal view on Likes Fragment"
**Describe the bug**
Fix horizontal view on Likes Fragment. Currently, it doesn't show all the view in horizontal

**Screenshots**
<img src="https://i.ibb.co/QvkbhrB/56547390-330675107807750-5322838349587677184-n.png" alt="56547390-330675107807750-5322838349587677184-n" border="0">

**Would you like to work on the issue?**
Yes

[2019-04-01 07:37] addiegupta opened #1496 "Show multiple columns of events in EventsFragment in landscape mode"
**Describe the feature you'd like**

I would like to display 2 columns of events in landscape mode which currently displays 1 column of event views of enormous width

**Screenshots**

Curent Layout:

![newissue](https://user-images.githubusercontent.com/22665789/55310617-8bd33d00-547e-11e9-9281-aa8bca339c5f.gif)

New Layout:

![Newpr](https://user-images.githubusercontent.com/22665789/55310864-246

[2019-04-01 08:30] addiegupta opened #1499 "Event Title text getting cut off on the right edge"
**Describe the bug**

The text of the event title in EventDetailsFragment is getting cut off on the right edge

**To Reproduce**

The text should not get cut off

**Screenshots**

<img src = "https://user-images.githubusercontent.com/22665789/55313824-5d596000-5486-11e9-81af-88d859e24b39.jpeg" width = '320' height = '676'/>

<img src = "https://user-images.githubusercontent.com/22665789/55313828-5

[2019-04-01 11:35] angmas1 commented on #1486
#1489 doesn't resolve it, it just removes shuffling.

[2019-04-01 11:39] anhanh11001 opened #1503 "Display wrong password instead of "check your credential""
**Describe the bug**
In Login Fragment, users are not given a user-friendly message when entering wrong password

**Screenshots**
<img src="https://i.ibb.co/zH4Fzgc/56744703-576991692797596-720915994414940160-n.png" width="300">

**Would you like to work on the issue?**
Yes

[2019-04-01 11:40] #1476 closed

[2019-04-01 11:50] anhanh11001 commented on #1486
@angmas1 but what's the purpose of shuffle() anyway?

[2019-04-01 11:52] angmas1 commented on #1486
If I don't shuffle, events with similar topic id will be together and events with similar location will be together. So, to avoid this I shuffle them

[2019-04-01 12:09] #1503 closed

[2019-04-01 13:19] addiegupta commented on #1496
Closed with #1497. This issue did not get closed as I had given the wrong issue number erroneously

[2019-04-01 13:19] #1496 closed

[2019-04-01 18:03] addiegupta opened #1505 "Add Menu Option to navigate to External Event Url from EventDetailsFragment"
**Describe the feature you'd like**

I would like to add a menu option to navigate to external event url so that the additional details about event can also be viewed.

**Screenshots**

**Additional context**

**Would you like to work on the issue?**

- [x] Yes
- [ ] No
- Other:

[2019-04-01 20:50] #1437 closed

[2019-04-01 20:51] iamareebjamal commented on #1472
Any more issues?

[2019-04-01 21:09] iamareebjamal commented on #1472
Bump version code and change version name to 0.1.0

[2019-04-02 06:19] liveHarshit commented on #1472
I'm going to check once.

[2019-04-02 06:46] liveHarshit commented on #1472
Good to go. :+1:

[2019-04-02 07:42] aman210697 opened #1509 "Unnecessary calls for social links and similar events"
**Describe the bug**
There are unnecessary calls for social links and similar events when the user comes back to the event details page

**Expected behavior**
Should be call once.

**Screenshots**
![20190402_121534](https://user-images.githubusercontent.com/24875315/55384654-e33ddf80-5548-11e9-8795-746e92ac7e26.gif)

**Would you like to work on the issue?**
- Yes

[2019-04-02 08:12] addiegupta opened #1511 "Non capitalised name EditTexts in EditProfileFragment"
**Describe the bug**

The EditProfileFragment EditTexts for changing First name and last name are not capitalising the words by default.

**To Reproduce**

The name should consist of capitalised words by default

**Logs**

**Screenshots**

![issuenew](https://user-images.githubusercontent.com/22665789/55386435-171b0400-554d-11e9-90da-b00bc1d0992f.gif)

**Smartphone Info:**

|               | |
|--

[2019-04-02 10:15] iamareebjamal opened #1513 "Bump version"
Bump version code and change version name to 0.1.0

[2019-04-02 10:23] iamareebjamal commented on #1472
All approved PRs beyond this point will be merged after release

[2019-04-02 10:24] liveHarshit commented on #1513
Bump version code to? Currently, it is 3.

[2019-04-02 10:25] nikit19 commented on #1513
Increment version code by 1

[2019-04-02 10:33] #1513 closed

[2019-04-02 11:27] iamareebjamal commented on #1472
Released

[2019-04-02 11:27] #1472 closed

[2019-04-02 11:29] iamareebjamal opened #1515 "Tremendous increase in app size"
App size has increased from 3.56 MB to 12.63 MB

Find out the added libs and reduce size

Target Size - 6 MB

[2019-04-02 11:33] aggarwalpulkit596 commented on #1515
I would like ro work on this ?

[2019-04-02 11:35] iamareebjamal commented on #1515
Go ahead, this is an issue that can be worked upon by many people

[2019-04-02 13:53] addiegupta commented on #1515
I think MapBox is taking up a lot of space

[2019-04-02 14:11] addiegupta commented on #1515
@iamareebjamal Library versions for all architectures are being used and a single APK is being built.

I have tried using [ABI Splitting](https://developer.android.com/studio/build/configure-apk-splits.html) and different APKs for different architectures are being generated.
The APK size has also come down

![updated apk size](https://user-images.githubusercontent.com/22665789/55409247-48142c80-55

[2019-04-02 18:26] liveHarshit commented on #1515
Yes, mapbox is taking about 50% of total size.

[2019-04-02 18:37] aggarwalpulkit596 commented on #1515
we can avoid using mapbox as it is not implemented in fdroid flavour as of now and there is a minor functionality of auto complete text view AFAIK

[2019-04-02 18:38] liveHarshit commented on #1515
Then push these changes.

[2019-04-02 18:40] aggarwalpulkit596 commented on #1515
@liveHarshit #1498 we can use these result as autocompletetextview with event locations as results

[2019-04-02 21:07] iamareebjamal commented on #1515
ABI splitting, etc is deprecated in favor of app bundles. Still, 10 MB is too much. MapBox identified as one dependency. Others?

[2019-04-02 21:16] iamareebjamal commented on #1515
@addiegupta I suppose you have built debug version of app. Build release variant

[2019-04-02 21:49] iamareebjamal commented on #1515
We use mapbox for autocomplete, which should not require the native bindings, and for showing maps? That should also not require it and can even be shown using Google Static Maps API which does not even require a library, it's just loading an image from server

Take the task of removing MapBox on priority. I tried to see if the native files could be excluded from the dependency but couldn't do so

[2019-04-03 01:47] aggarwalpulkit596 commented on #1515
@iamareebjamal we can also use #801 the original solution to the problem which I intended to do in the first place while creating the issue as the majority of the audience will be from play store so we can have playstoreimplementation for that along with #1498 to make the user experience better

[2019-04-03 02:06] aggarwalpulkit596 opened #1517 "Add Horizontal Chips"
**Describe the feature you'd like**
Add horizontal scrolling chips similar to Eventbrite
**Screenshots**
![screenshot-1554257185656](https://user-images.githubusercontent.com/29139786/55447869-349aad00-55e3-11e9-8378-337c501505b4.jpg)

**Would you like to work on the issue?**
- [x] Yes

[2019-04-03 07:36] iamareebjamal commented on #1515
After removing mapbox and jackson-kotlin-module with proguard - 4.7 MB

Will see if jackson-kotlin-module was included in last relase. As it increased size by 2MB by including Kotlin Reflect

[2019-04-03 08:04] aggarwalpulkit596 opened #1519 "Add Event Types"
**Describe the feature you'd like**
Add option to filter events depending upon an event type

**Screenshots**
![screenshot-1554278620810](https://user-images.githubusercontent.com/29139786/55462761-1baaef80-5615-11e9-9833-bd89a36fe2a8.jpg)

**Would you like to work on the issue?**
- [x] Yes

[2019-04-03 09:14] aman210697 opened #1520 "Like is not updated after coming back from event details"
**Describe the bug**
If user like/unlike the event on event details page and come back to list, event is not updaed in the list.

**To Reproduce**
1. Open event details
2. Like/unlike event
3. event is not updated

**Expected behavior**
Like should be updated

**Screenshots**
![20190403_132854](https://user-images.githubusercontent.com/24875315/55467333-b0feb180-561e-11e9-94ea-df604f4cfa09.gif)

*

[2019-04-03 09:42] aggarwalpulkit596 commented on #1519
@iamareebjamal can I go ahead with this and for this, I think we'll be needing an m:n relationship between event and event topics

[2019-04-03 12:42] theLimitBreaker commented on #1515
if mapbox sdk is taking too much size. I could remove the mapbox sdk. And could use MapBox geoCoding api . to fetch autocomplete places . And will show the list on recyclerview just like Fragment itself.

Benefits : No Play Services required . this solution will work  both on F-droid and PlayStore

[2019-04-03 13:18] angmas1 commented on #1515
showing static maps doesn't require importing mapBox library. I implemented it, it just fetches image from an api endpoint just like fetching normal images from a link. Only autocomplete is using mapbox api.

[2019-04-03 13:24] angmas1 commented on #1515
What's the size of geoCoding api?

[2019-04-03 13:30] iamareebjamal commented on #1515
Yes, that is the flow I was going to implement in future,but for now the PR by @anhanh11001 will suffice

Will go ahead using this method in v0.2.0

[2019-04-03 13:34] iamareebjamal commented on #1515
Opening for discussing further optimizations

[2019-04-03 13:57] angmas1 commented on #1515
Can I work on re-adding autocomplete without using heavy api's? @iamareebjamal

[2019-04-03 14:31] theLimitBreaker commented on #1515
@iamareebjamal should I make WIP PR for this method , It could be added in v0.2.0 later , then I explored MapBox so that it could work on f-droid and Playstore. I think I have the required skills

[2019-04-03 16:21] iamareebjamal commented on #1515
Go ahead @theLimitBreaker

[2019-04-03 16:42] aggarwalpulkit596 commented on #799
@iamareebjamal can i re open this and implement autocomplete for playstore only?

[2019-04-03 16:51] iamareebjamal commented on #799
It's better to use MapBox autocomplete API rather than closed source google place

[2019-04-03 17:14] iamareebjamal commented on #1515
Take #1142 on priority

[2019-04-03 17:21] #1478 closed

[2019-04-03 17:28] addiegupta commented on #1142
@angmas1 can I work on this?

[2019-04-04 01:51] ironbatshashank opened #1528 "All tabs not aligned under settings menu item."
**Describe the bug**
The event's timezone is not aligning with all fields in different devices in the settings menu under the profile tab.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Profile tab'
2. Click on 'settings menu item'
3. Scroll down to 'Use event's timezone'
4. See error

**Screenshots**
![Screenshot_20190404-070337_Eventyay Attendee](https://user-images.githubuserconte

[2019-04-04 05:47] aman210697 commented on #1520
@iamareebjamal @liveHarshit @anhanh11001 please help me in fixing this?

[2019-04-04 07:09] #1256 closed

[2019-04-04 07:12] #1511 closed

[2019-04-04 07:12] #1505 closed

[2019-04-04 07:14] #1491 closed

[2019-04-04 07:16] #959 closed

[2019-04-04 07:20] iamareebjamal commented on #1515
Remove jackson-kotlin module and see if the app workds correctly after that

[2019-04-04 07:21] #1499 closed

[2019-04-04 07:30] #1517 closed

[2019-04-04 07:31] #1424 closed

[2019-04-04 07:32] #1335 closed

[2019-04-04 07:37] #1275 closed

[2019-04-04 08:31] addiegupta commented on #1528
Not reproducible. Please download the latest version and then try running the app

[2019-04-04 08:41] theLimitBreaker opened #1529 "Custom Implementation of PlacesAutoComplete using MapBox GeoCoding API"
**Describe the feature you'd like**
Custom Implementation of PlacesAutoComplete using MapBox GeoCoding API.
To fetch the results of api and display it in custom UI which suits open-event

**Additional context**
Current MapBox SDK takes too much size . which increases the size of app too much

**Would you like to work on the issue?**

- [ :heavy_check_mark:  ] Yes
- [ ] No
- Other:

[2019-04-04 08:57] #1528 closed

[2019-04-04 11:01] theLimitBreaker commented on #1515
after removing jackson-kotlin module  and its related things (objectMapper which was used for mapping)
App is not able to deserialize
This is snippet of error
[code]

[2019-04-04 11:44] addiegupta commented on #1142
@iamareebjamal I have been trying to fix this but to no avail. At first I thought this was a multidex issue but the application class already extends `MultiDexApplication` and I also tried creating a multidex proguard file (after referring this https://spin.atomicobject.com/2018/07/16/support-kitkat-multidex/ ) but that also did not work. The only solution I can think of right now is to set the mi

[2019-04-04 11:53] iamareebjamal commented on #1515
OK

[2019-04-04 11:53] #1515 closed

[2019-04-04 11:58] iamareebjamal commented on #1142
What are the error logs

[2019-04-04 12:00] #1485 closed

[2019-04-04 12:04] addiegupta commented on #1142
Same as the ones posted in the issue description

A bunch of 'could not find class' errors like

 E/dalvikvm: Could not find class 'androidx.core.view.ViewCompat$2', referenced from method androidx.core.view.ViewCompat.addOnUnhandledKeyEventListener

 followed by fatal RuntimeException

Unable to start activity ComponentInfo{com.eventyay.attendee/org.fossasia.openevent.general.MainActivity}: org.k

[2019-04-04 12:20] iamareebjamal commented on #1142
Ignore these

Unable to start activity ComponentInfo{com.eventyay.attendee/org.fossasia.openevent.general.MainActivity}:

This is the culprit

Try to fix the Koin error

[2019-04-04 13:57] addiegupta commented on #1142
@iamareebjamal  'OkHttp works on Android 5.0+ (API level 21+) and on Java 8+.' :(

[2019-04-04 13:57] addiegupta commented on #1142
Hence the error Can't create definition for 'Single [name='OkHttpClient',class='okhttp3.OkHttpClient']' due to error :
    		null

[2019-04-04 14:18] addiegupta opened #1531 "App crash on signup"
**Describe the bug**

The app is crashing on clicking sign up after filling all fields correctly

**To Reproduce**

App crashes

**Expected behavior**

App should not crash

**Logs**

E/AndroidRuntime: FATAL EXCEPTION: main
    Process: com.eventyay.attendee, PID: 4377
    a.a.c.f: The exception could not be delivered to the consumer because it has already canceled/disposed the flow or the excepti

[2019-04-04 14:23] addiegupta opened #1532 "Primary colored buttons in EditProfileFragment"
**Describe the chore**

The EditProfile Fragment for updating details and for changing the profile photo are primary colored whereas buttons everywhere else are secondary colored. I would like to change them to secondary colored

Screenshots:

![new button issue](https://user-images.githubusercontent.com/22665789/55563278-411e2300-5713-11e9-863b-8f4eb57586fc.jpeg)

**Would you like to work on the

[2019-04-04 14:51] addiegupta commented on #1531
Its strange Im unable to reproduce this now. Anyone else able to reproduce this?

[2019-04-04 16:05] iamareebjamal commented on #1531
Where's `credentialsClient` present?

[2019-04-04 16:11] addiegupta commented on #1531
In app\src\playStore\java\org\fossasia\openevent\general\search\SmartAuthViewModel.kt

[2019-04-04 16:12] addiegupta commented on #1531
unfortunately this error is taking place only on the playstore release version

[2019-04-04 16:24] iamareebjamal commented on #1531
I know. There should not be lateinit property in ViewModels, change it please

[2019-04-04 16:30] iamareebjamal commented on #1142
Increase minSdk to 21

[2019-04-04 16:49] iamareebjamal commented on #1142
https://twitter.com/minSdkVersion?s=09

[2019-04-04 16:51] iamareebjamal commented on #1532
There shouldn't be a need of manually doing it. Override single style of theme and that should be it

[2019-04-04 16:53] addiegupta commented on #1142
Should I try a new buildFlavor for APIs 16-21? 16-21 still have 10% Android userbase?
OkHttp has a [branch version 3.12](https://github.com/square/okhttp/tree/okhttp_3.12.x) for lower SDK versions

[2019-04-04 17:06] iamareebjamal commented on #1142
No, not enough man power to maintain those

[2019-04-04 17:07] addiegupta commented on #1532
I have removed the explicitly declared `app:backgroundTint="@color/colorPrimary"` and used the single theme in the MaterialButton in #1533

[2019-04-04 17:19] iamareebjamal commented on #1532
Single in the entire app, not in every button, that's the opposite of single

There should a default style in styles.xml and it should work automatically for all buttons, without the need to change to MaterialButton or adding a style to each button

[2019-04-04 17:26] addiegupta commented on #1532
Sorry for the confusion. There are 2 themes currently that i had created in previous PRs `AppTheme.MaterialButton` and `AppTheme.MaterialButton.RoundedCorners`. The first just sets the default color as secondary ( because the standard default has been changed to primaryColor) and the second uses the first one as parent and adds rounded corners to the button. I have changed the previous AppCompatBu

[2019-04-04 17:29] iamareebjamal commented on #1532
You should not have to override style of each button to make it colored as secondary. There is a default style of all buttons, override that

In short, your PR should have 1 file changed, and that file should be `styles.xml`

[2019-04-04 17:31] iamareebjamal commented on #1532
Please watch this - https://www.youtube.com/watch?v=DPH3F0v1jB0

[2019-04-04 17:32] addiegupta opened #1535 "Reimplement Google Sign in features in playstore version"
**Describe the feature you'd like**

The previous implementation of Google Signin features was found to be buggy and have been temporarily removed in #1534

I will reimplement this feature by a PR for this issue.

**Screenshots**

**Additional context**

**Would you like to work on the issue?**

- [x] Yes
- [ ] No
- Other:

[2019-04-04 17:39] iamareebjamal commented on #1532
https://youtu.be/DPH3F0v1jB0?t=1125 to be exact

[2019-04-04 17:51] addiegupta commented on #1532
I have set the style like this itself in the previous PR. However we have created another style for material buttons to have rounded corners and you had suggested to make a new style for it. If you say, i will make the changes and create a single universal style to have rounded corners for material buttons. How should I proceed?

[2019-04-04 18:21] iamareebjamal commented on #1532
Only overrides need to be in rounded corner buttons, all other buttons should obviously follow default style

[2019-04-04 18:23] iamareebjamal commented on #1532
Why would the universal style be of rounded corner? Rounded corner is a special case. General case is default button with accent color background

[2019-04-04 18:50] addiegupta commented on #1532
Changes made in #1533

[2019-04-05 07:31] addiegupta opened #1537 "chip layout position alternating between top and bottom"
**Describe the bug**

The chip layout in search is present at bottom while search is in progress and jumps to the top otherwise.

**To Reproduce**

The layout should only be present at top at all times

**Logs**

N/A

**Screenshots**

![newchipissue](https://user-images.githubusercontent.com/22665789/55611389-f9df7300-57a2-11e9-8de0-0a2735a890d9.gif)

**Smartphone Info:**

|               | |
|---

[2019-04-05 09:00] #1142 closed

[2019-04-05 12:39] #1488 closed

[2019-04-05 14:03] iamareebjamal opened #1538 "Search not working in production app"
Nothing gets searched. Throws error fetching event

Diagnose what's happening

[2019-04-05 14:38] addiegupta commented on #1538
Unable to reproduce. Tested on PlayStore downloaded app

<img src = "https://user-images.githubusercontent.com/22665789/55635503-7b082b80-57de-11e9-8a91-353665d7e0d1.gif" width = '350'/>

[2019-04-05 14:41] iamareebjamal commented on #1538
Don't know, still not working for me

[2019-04-05 14:44] ShridharGoel commented on #1538
@iamareebjamal Try clearing cache and app data. This had happened with me earlier on the debug version and this suggestion by @anhanh11001 had worked.

[2019-04-05 14:44] #1537 closed

[2019-04-05 15:03] iamareebjamal commented on #1538
Yes, it worked now. But this should not happen. Because it will not allow users to upgrade to a new version. Find out why is it happening

[2019-04-05 19:02] anhanh11001 commented on #1538
Can you clarify more about the behavior you were getting? So you were in the Search Fragment, you click on FAB and then the SearchResultFragment didn't fetch anything and a snack bar message pop up "error fetching event"?

[2019-04-05 19:07] iamareebjamal commented on #1538
Yes, even homepage wasn't loading. To reproduce, install previous release version and update to latest

[2019-04-05 19:08] #1532 closed

[2019-04-05 20:09] anhanh11001 commented on #1538
@iamareebjamal I think this might be the cause: "Room cannot verify the data integrity. Looks like you've changed schema but forgot to update the version number. You can simply fix this by increasing the version number."

[2019-04-05 20:32] iamareebjamal commented on #1538
Go ahead, increase the version and retest

[2019-04-05 20:39] anhanh11001 commented on #1538
I'm working on it

[2019-04-05 21:31] anhanh11001 opened #1543 "Chip object in SearchResult still visible even when no internet connection card is shown"
**Describe the bug**
Chip (Weekend, next month, today, tomorrow) object is still shown even when events are not fetched

**Screenshots**
<img src="https://i.ibb.co/7ymzspz/56402028-1106389346151751-6734733849428754432-n.png" width="300">

**Would you like to work on the issue?**
Yes

[2019-04-05 21:33] anhanh11001 opened #1544 "Chip (Weekend, next month, today, tomorrow) object is still clickable when events are being fetched"
**Describe the bug**
Chip objects in SearchFragment is still clickable when event is loading

**Screenshots**
<img src="https://i.ibb.co/p4WWyHn/ezgif-4-83a515575b98.gif" width="300">

**Would you like to work on the issue?**
Yes

[2019-04-05 23:42] anhanh11001 opened #1550 "Move all network logic into ViewModel"
**Describe the bug**
Based on the #1492 discussion, all the network logic should be moved and processed by the ViewModel, not the Fragment class. Refractoring is needed.

**Would you like to work on the issue?**
Yes

[2019-04-06 08:49] aman210697 opened #1551 "No internet dialog with search result"
**Describe the bug**
No internet dialogue is showing even after the search results are loaded.
Events are also loading from the server on rotation.

**To Reproduce**

1. search with no Internet
2. retry with internet
3. rotate the screen with no internet

**Expected behavior**
no internet dialogue should not be shown.

**Screenshots**
![WhatsApp Image 2019-04-06 at 2 07 35 PM](https://user-images.

[2019-04-06 09:21] theLimitBreaker commented on #1538
I am unable to reproduce this issue

[2019-04-06 09:36] theLimitBreaker opened #1552 "Search results being loaded after Rotate"
**Describe the bug**
Search results  are re-loaded after screen rotate

**To Reproduce**
1. Search for events
2. Let events load
3. After events loaded , rotate the screen

**Expected behavior**
There shouldn't be reload of events .  That is there should not be network calls for screen rotate

**Screenshots**
<img src="https://user-images.githubusercontent.com/24780524/55667695-5616c580-587d-11e9-

[2019-04-06 10:02] theLimitBreaker opened #1553 "Improper Placement of "error fetching social links" snackbar"
**Describe the feature you'd like**
Due to Internet issues (Suppose user open the vent details , suddenly internet access is gone) , when there is error in fetching similar events or social links. Snackbar should be shown to users .` But currently user has to scroll to see that snackbar`

**Screenshots**
<img src="https://user-images.githubusercontent.com/24780524/55668004-1225bf80-5881-11e9-86df-

[2019-04-06 10:06] theLimitBreaker opened #1554 "Empty about section should be hidden"
**Describe the bug**
If `About` section is empty . It should be hidden

**Expected behavior**
Hidden empty about section

**Screenshots**

<img src="https://user-images.githubusercontent.com/24780524/55668049-bc9de280-5881-11e9-8906-6b6bf0af24e5.jpeg" width=360>

**Smartphone Info:**

|Device         |Nokia 6.1
|Android Version|Android 9.0   |

**Would you like to work on the issue?**

- [ :heavy_

[2019-04-06 10:45] theLimitBreaker opened #1555 "Random Increase in size of Edit Picture Button"
**Describe the bug**
Random Increase in size of Edit Picture Button in ProfileFragment

**To Reproduce**
1. Go Edit Profile
2. Click on "First name" or "Last Name"
3. Size increase in Edit Picture Button

**Expected behavior**
Button should not increase

**Screenshots**

<img src="https://user-images.githubusercontent.com/24780524/55668367-fae9d080-5886-11e9-8bcf-098711c254d5.gif" width=360>

**Sm

[2019-04-06 11:26] #1493 closed

[2019-04-06 13:51] #1543 closed

[2019-04-06 14:00] #1538 closed

[2019-04-06 16:29] theLimitBreaker commented on #1554
@ShridharGoel  @liveHarshit

currently some `events.description `are having `<p></p>` which fails the check `isNullOrEmpty()`
due to which `About container` is visible but doesn't show any thing.

Should I make an extra check for `empty html tags` ? need your opinion

[2019-04-06 16:35] iamareebjamal commented on #1554
Yes

[2019-04-06 17:33] #1531 closed

[2019-04-06 20:08] #1554 closed

[2019-04-06 22:32] #1544 closed

[2019-04-07 07:44] somenath1435 opened #1559 "Remove Bold Style in Button"
**Describe the chore**
Remove Bold Style in Button
see PR for Screenshots

**Would you like to work on the issue?**

- [x] Yes

[2019-04-07 07:54] theLimitBreaker commented on #1559
Why is it necessary ?

[2019-04-07 07:57] somenath1435 commented on #1559
@theLimitBreaker Bold Style in Button is not looking good

[2019-04-07 07:59] theLimitBreaker commented on #1371
@somenath1435  if this issue is solved , then may you should close this issue :)

[2019-04-07 08:02] aggarwalpulkit596 opened #1561 "Add Event types to Chips"
**Describe the feature you'd like**
To quickly navigate between event types there should be event type chips along with the event date chips

**Would you like to work on the issue?**
- [✓] Yes

[2019-04-07 09:06] #1371 closed

[2019-04-07 10:53] #1555 closed

[2019-04-07 11:23] aggarwalpulkit596 commented on #1561
@iamareebjamal for we'll be needing to save the event types while fetching event type in #1519

[2019-04-07 13:57] addiegupta opened #1563 "Improve Favorites fragment layout"
**Describe the feature you'd like**

I would like to improve the favorite fragments layout

**Screenshots**

Currently the fragment looks like this

<img src="https://user-images.githubusercontent.com/22665789/55684976-dcf79b00-596e-11e9-8f73-68dc4cdf46c4.jpeg" width = "300"/>

<img src="https://user-images.githubusercontent.com/22665789/55684973-d9641400-596e-11e9-9603-9d28202e5c57.jpeg" width =

[2019-04-07 19:01] #1559 closed

[2019-04-07 19:04] #1563 closed

[2019-04-07 20:18] #1519 closed

[2019-04-07 20:37] aggarwalpulkit596 commented on #1561
@iamareebjamal should i work upon this ?

[2019-04-08 03:27] aggarwalpulkit596 opened #1566 "Travis Build Error"
**Describe the bug**
Dependency test is failing to cause Travis fail
It is happening because dryRun has been deprecated and should checkmodules now

**Logs**
![Screenshot 2019-04-08 at 8 56 20 AM](https://user-images.githubusercontent.com/29139786/55696801-3b0e9780-59dc-11e9-8c53-494a9db15682.png)

**Would you like to work on the issue?**
- [x] Yes

[2019-04-08 08:56] iamareebjamal commented on #1566
It's not failing on development, only in your PR

[2019-04-08 08:56] #1566 closed

[2019-04-08 13:10] #1315 closed

[2019-04-08 15:09] aggarwalpulkit596 opened #1567 "Retain Event time and type while changing values"
**Describe the bug**
Event type and event type changes to the default value on changing either one of them
**To Reproduce**
1. Go to Search Tab
2. Change Time from Anytime to tomorrow
3. Now Change Anything to any event type

**Expected behavior**
The fragment should retain both the values but instead, it resets one of the values

![videotogif_2019 04 08_22 59 34](https://user-images.githubusercon

[2019-04-08 16:53] angmas1 opened #1569 "Back button in SearchTypeFragment not working"
**Describe the bug**

Back button in SearchTypeFragment not working.

**To Reproduce**

1. Go to search.
2. Click on "Anything" under "I'm up for anything"
3. Press back button is toolbar

**Expected behavior**

It should work

**Would you like to work on the issue?**

- [x] Yes
- [ ] No
- Other:

[2019-04-08 18:14] addiegupta opened #1573 "No progress indicator in SearchTypeFragment"
**Describe the feature you'd like**

While loading list of types of events in SearchTypesFragment, there is a delay but no loading indicator. I would like to add a shimmer layout for the waiting period.

**Screenshots**

<img src ="https://user-images.githubusercontent.com/22665789/55746744-253eb800-5a58-11e9-882d-bae91efd8a07.gif" width = "300"/>

**Additional context**

**Would you like to work

[2019-04-08 18:32] #1569 closed

[2019-04-08 20:09] aggarwalpulkit596 opened #1574 "Refractor snackbar to anko snackbars"
**Describe the feature you'd like**
Refractor entire project to anko snack bar as anko common is already added in the project

**Would you like to work on the issue?**
- [x] Yes

[2019-04-09 17:44] angmas1 opened #1577 "Add option to change password in settings."
**Describe the feature you'd like**

Add option to change password in settings.

**Would you like to work on the issue?**

- [x] Yes
- [ ] No
- Other:

[2019-04-09 18:02] aggarwalpulkit596 commented on #1577
there are already issues open for this #1355

[2019-04-09 18:03] angmas1 commented on #1577
Okay, closing

[2019-04-09 18:03] #1577 closed

[2019-04-09 18:39] angmas1 opened #1579 "Add logout dialog in settings"
**Describe the feature you'd like**

Show logout dialog when account preference in clicked in settings fragment as in Eventbrite.

**Would you like to work on the issue?**

- [x] Yes
- [ ] No
- Other:

[2019-04-10 04:17] anhanh11001 opened #1581 "Improve SearchTypeFragment layout"
**Describe the feature you'd like**
Improve SearchTypeFragment layout

**Screenshots**
The current layout of SearchTypeFragment

<img src="https://i.ibb.co/HzVbJK2/57154694-1230521113780686-4632829871842656256-n.jpg" width="300">

**Would you like to work on the issue?**
Yes

[2019-04-10 04:18] anhanh11001 opened #1582 "No no-internet card in SearchTypeLayout"
**Describe the bug**

**Screenshots**
<img src="https://i.ibb.co/6JGGGyK/56938177-2356517477911369-858195265297842176-n.jpg" width="300">

**Would you like to work on the issue?**
Yes

[2019-04-10 09:27] #1574 closed

[2019-04-10 09:29] #1567 closed

[2019-04-10 10:07] aggarwalpulkit596 opened #1584 "Remove Nullable types from models"
**Describe the chore**
Refractor all JSON-API models to work without nullable type .

**Would you like to work on the issue?**
- [x] Yes

[2019-04-10 12:06] #1421 closed

[2019-04-10 14:09] aggarwalpulkit596 opened #1585 "No progress indicator in SearchLocationFragment"
Describe the feature you'd like
While loading list of types of events in SearchLocationFragment, there is a delay but no loading indicator. I would like to add a shimmer layout for the waiting period.

**Would you like to work on the issue?**
- [x] Yes

[2019-04-10 17:08] angmas1 commented on #806
Resolved close issue

[2019-04-10 18:35] angmas1 commented on #1005
unable to reproduce

[2019-04-10 18:36] angmas1 commented on #1097
resolved

[2019-04-10 18:55] angmas1 commented on #1320
This may not be fully related to this issue but, why are we using anko-commons? I checked the entire code-base and only place where it has been used is to open a url which works with a function in we have in utils. I think it makes no sense to add extra libraries which don't add any new functionality and just increase the size. I know anko makes it easier to make snackbars, toasts, dialogs, etc bu

[2019-04-10 19:03] aggarwalpulkit596 commented on #1320
@angmas1 I have already refactored snackbar to Anko snackbar and Anko libraries do not increase the app size any significantly it takes about ~230 bytes

[2019-04-10 20:22] #806 closed

[2019-04-10 20:22] #1005 closed

[2019-04-10 20:22] #1097 closed

[2019-04-10 20:22] #1191 closed

[2019-04-10 20:23] #1585 closed

[2019-04-10 21:10] anhanh11001 opened #1587 "App crash on going to Profile Section"
**Describe the bug**
App crash on going to Profile Section

**Screenshots**
<img src="https://i.ibb.co/yn86d2y/ezgif-4-679520245d61.gif" alt="ezgif-4-679520245d61" border="0">

**Would you like to work on the issue?**
Yes

[2019-04-11 03:47] aggarwalpulkit596 commented on #1587
@anhanh11001 i hope you won't mind that i worked on this pushed a fix myself

[2019-04-11 06:07] anhanh11001 commented on #1587
yeah I don't mind this one because I haven't started working on it yet

[2019-04-11 16:38] aggarwalpulkit596 opened #1591 "Add Event Feedbacks"
**Describe the feature you'd like**
Add Event Feedback which shows a list of all the events feedback in a recycler view once the event/session has been concluded

- [x] Show list of feedbacks
- [ ] Create a feedback for logged-in user
- [ ] Update/Delete a feedback

**Would you like to work on the issue?**
- [x] Yes

[2019-04-11 16:43] aggarwalpulkit596 commented on #1591
@iamareebjamal https://api.eventyay.com/v1/events/1/feedbacks?sort=rating&filter=[] the above is allowed for logged in user I guess it shouldn't be right?

[2019-04-11 16:44] aggarwalpulkit596 commented on #1591
@iamareebjamal https://api.eventyay.com/v1/events/1/feedbacks?sort=rating&filter=[] the request is allowed for logged in user I guess it shouldn't be right?

[2019-04-11 17:07] iamareebjamal commented on #1591
Why it shouldn't be?

[2019-04-11 17:09] #1587 closed

[2019-04-11 17:13] aggarwalpulkit596 commented on #1591
@iamareebjamal submitting a feedback should be allowed from logged in user but showing the list of feedbacks I guess not .i think other users should logged in or not should be able to the feedback's rating for the event

[2019-04-11 17:34] #1561 closed

[2019-04-11 17:36] iamareebjamal commented on #1591
Your language is wrong. It should be `the request is not allowed for unauthenticated user I guess it should be right?` or `the request is only allowed for logged in user I guess it shouldn't be right?`

[2019-04-11 17:36] iamareebjamal commented on #1591
Open an issue on the server

[2019-04-11 17:55] aggarwalpulkit596 opened #1592 "Add hashtags to event cards"
**Describe the feature you'd like**
Add hashtags as chips to event cards similar to the website

**Would you like to work on the issue?**
- [x] Yes

[2019-04-11 18:09] angmas1 commented on #1591
I didn't mention, but I was already working on this, Can I continue @aggarwalpulkit596 if you don't mind?

[2019-04-11 18:23] aggarwalpulkit596 commented on #1591
I already have completed some part of this PR @angmas1

[2019-04-11 18:26] angmas1 commented on #1591
Okay, you can continue.

[2019-04-12 16:01] aggarwalpulkit596 commented on #1592
@iamareebjamal @liveHarshit for this I'll be needing to map topics,subtopics and type to event object in EventViewHolder any suggestions how can i implement it
https://proandroiddev.com/android-room-handling-relations-using-livedata-2d892e40bd53
i tried the above solution but couldn't figure out anything

[2019-04-12 19:39] aggarwalpulkit596 opened #1596 "Crash when no payment currency passed"
Logs
![Screenshot 2019-04-13 at 1 08 31 AM](https://user-images.githubusercontent.com/29139786/56062005-aebbf600-5d88-11e9-88ad-90191e781d90.png)

**Would you like to work on the issue?**
- [x] Yes

[2019-04-13 04:21] theLimitBreaker opened #1598 "Selected Chips are not retained after rotate in SearchResultsFragment"
**Describe the bug**
Selected Chips (Time & Type) are not retained after rotate in SearchResultsFragment

**Additional context**
Its Related to #1552

**Would you like to work on the issue?**

- [  :heavy_check_mark:  ] Yes
- [ ] No
- Other:

[2019-04-13 10:32] theLimitBreaker opened #1600 "Reloading of events on tab switching"
**Describe the bug**
Loading events requires network calls .and making network calls per tab switch is costly

**Expected behavior**
It should not load new events on tab switch. Instead use old results

**Screenshots**
To be uploaded

**Additional context**
Event Brite doesn't load new events per tab switch

**Would you like to work on the issue?**
Yes

[2019-04-13 17:20] theLimitBreaker opened #1602 "Raw HTML is being sent in EventDescription while sharing event details"
**Describe the bug**
Raw html as Event Description

**Expected behavior**
Simple Plain Text should appear

**Screenshots**
<img src="https://user-images.githubusercontent.com/24780524/56083117-82fb4780-5e3e-11e9-819b-388eeb404abd.jpeg" width=360>

**Would you like to work on the issue?**

- [ :heavy_check_mark:  ] Yes
- [ ] No
- Other:

[2019-04-13 21:24] aggarwalpulkit596 opened #1603 "Crash When no event description is available"
**Logs**
![Screenshot 2019-04-14 at 2 51 36 AM](https://user-images.githubusercontent.com/29139786/56085423-9e774a00-5e60-11e9-90b1-51f7c5f262f5.png)

**Would you like to work on the issue?**
- [x] Yes

[2019-04-14 01:59] theLimitBreaker commented on #1603
StringUtils.stripHtml() does take nullable strings . May be Html.fromHtml() doesn't handle the case for null . 👍

[2019-04-14 05:21] aggarwalpulkit596 opened #1604 "Add Speaker Section"
**Describe the feature you'd like**
There Should be Section which shows the list of all speakers of the event along with track and session

- [x] Add Speaker Section
- [ ] Create a proposal for a speaker for logged in users
- [ ] Add a Speaker Fragment to show all the details of the speaker along with the session and tracks

**Would you like to work on the issue?**
- [x] Yes

[2019-04-14 07:35] theLimitBreaker commented on #237
It's been inactive I would like to implement this feature both PayPal and Stripe

[2019-04-14 08:35] KaenDagger opened #1607 "Paypal braintree Integration and Stripe Integration for ticket purchasing"
**Describe the feature you'd like**
Paypal  Braintree Integration and Stripe Integration with backend for ticket purchasing

Related/duplicated Issues related but inactive : #237 #333

**Additional context**
This issue also requires work on open-event-backend . I would also work on backend too
For stripe,  methods are made on backend , I would try to integrate with those methods .

**Would you lik

[2019-04-14 09:13] KaenDagger opened #1608 "feat: Push notifications & Follow Organisers and recieve updates from them (Like EventBrite)"
**Describe the feature you'd like**
EventBrite gives option to recieve notifications from Organisers for upcoming events or update of event

**Screenshots**
From EventBrite
<img src="https://user-images.githubusercontent.com/24780524/56090718-70772180-5ec3-11e9-8bd5-c17b0ef62a53.jpeg" width=360>

**Additional context**
This would require work on openevent-backend
-  https://github.com/fossasia/ope

[2019-04-14 09:27] theLimitBreaker opened #1609 "Additional filter for Free events (Like EventBrite)"
**Describe the feature you'd like**
I would like to add additional filter (Free events) the search results of events

**Screenshots**
From  eventBrite
<img src="https://user-images.githubusercontent.com/24780524/56090877-7110b780-5ec5-11e9-9de3-542a7f563b7e.jpeg" width=360>

**Additional context**

**Would you like to work on the issue?**

- [  :heavy_check_mark: ] Yes
- [ ] No
- Other:

[2019-04-14 09:31] theLimitBreaker opened #1610 "Store Present bought tickets Locally on device"
**Describe the feature you'd like**
Due to unreliable internet connections , ticket doesn't get loaded . Present event tickets are important . So store them Locally on device and display ticket in TicketFragment . Remove the tickets from local storage , once event date has passed

Update :
- EventBrite also does this . Display Tickets in Tickets_fragment (even if offline)
- No network calls for pu

[2019-04-14 09:41] RotBolt opened #1611 "Search for Organisers (Like EventBrite)"
**Describe the feature you'd like**
EventBrite gives option to search for organisers

**Screenshots**
From EventBrite
<img src="https://user-images.githubusercontent.com/24780524/56091016-ef218e00-5ec6-11e9-82bd-34c975490ff3.jpeg" width=360>

**Additional context**
This would require work on server : https://github.com/fossasia/open-event-server/issues/5798

**Would you like to work on the issue?*

[2019-04-14 09:47] aggarwalpulkit596 commented on #1610
@theLimitBreaker it is already implemented you can download tickets in the app so no need to implement this

[2019-04-14 10:26] theLimitBreaker commented on #1610
@aggarwalpulkit596  I know , but people download ticket for variety of purpose. If people use eventBrite/eventyay App, for tickets of event . They would likely to go tickets section first to see the ticket.

Also EventBrite does this too.

Benefit :
- User naturally go to tickets_section for tickets. Displaying tickets in TicketFragment from Local Storage. Provide Single easy point of access to ti

[2019-04-14 10:51] haroldadmin opened #1612 "fix: Use Kotlin version of the safe args plugin"
**Describe the bug**
In the initial migration to Safe Args in this project, we have used the safe-args plugin suitable for projects having both Java and Kotlin. This means a builder pattern for producing safe args.
However, since our app is a kotlin-only codebase we can make use of the safe-args kotlin plugin. This would allow us to use more idiomatic construction of safe args using named paramete

[2019-04-14 11:01] aggarwalpulkit596 commented on #1609
Server doesn't provide this filter AFAIK

[2019-04-14 12:59] #237 closed

[2019-04-14 13:02] iamareebjamal commented on #1609
It does, see JSON:API spec, you can use nested filters to achieve the same effect

[2019-04-14 13:02] iamareebjamal commented on #1610
Why are we not saving tickets in DB right now? Please take this up on priority

[2019-04-14 13:06] #1603 closed

[2019-04-14 13:06] theLimitBreaker commented on #1612
Great @haroldadmin

[2019-04-14 13:06] aggarwalpulkit596 commented on #1610
we are saving the ticket in DB there is a ticketDao class but current implementation do let the user access it without the internet

[2019-04-14 13:14] theLimitBreaker commented on #1610
Thats how I want to implement it

[2019-04-14 13:15] theLimitBreaker commented on #1610
@aggarwalpulkit596 may be you want to say `don't` If I am not wrong

[2019-04-14 13:25] iamareebjamal commented on #1610
Yes, please load it from DB first and fetch from network as well.

[2019-04-14 13:26] iamareebjamal commented on #1612
I was referring to Actions API

[2019-04-14 13:34] #1596 closed

[2019-04-14 13:35] #1355 closed

[2019-04-14 14:19] aggarwalpulkit596 commented on #1604
@iamareebjamal should i create a speaker page as well?

[2019-04-14 15:59] haroldadmin commented on #1612
@iamareebjamal There was some discussion regarding migration to use actions on this PR: https://github.com/fossasia/open-event-android/pull/1204

I initially proposed that we should migrate project to use actions. I can open an issue for that as well.
Should I go ahead and open it? Also, should I work on this issue?

[2019-04-14 16:06] aggarwalpulkit596 opened #1613 "Invalid Relationship"
**Describe the bug**
https://github.com/fossasia/open-event-android/blob/b0e830d9c9818c308de9d64ee0474546fe40d056/app/src/main/java/org/fossasia/openevent/general/event/topic/EventTopic.kt#L15
Here the relationship of event-topic with event is incorrect as multiple event can have same event-topic and whenever it will write an event topic it will be mapped to one and only one event
Solution
Best so

[2019-04-14 16:08] aggarwalpulkit596 commented on #1613
@iamareebjamal @liveHarshit please review this.

[2019-04-14 16:14] iamareebjamal commented on #1613
If EventTopic has event ID, then this M:N relationship will work

[2019-04-14 16:14] iamareebjamal commented on #1612
Use actions

[2019-04-14 16:15] iamareebjamal commented on #1604
In other issue

[2019-04-14 16:17] aggarwalpulkit596 commented on #1609
@theLimitBreaker I've implemented it can I make PR it if you're okay with it?

[2019-04-14 16:30] theLimitBreaker commented on #1609
@aggarwalpulkit596 don't mind , but I already said I would be working on this . Also I just created this issue today .  Atleast give some time

[2019-04-14 16:46] aggarwalpulkit596 commented on #1609
okay no issues

[2019-04-14 16:54] haroldadmin opened #1614 "feat: Use the Actions API from Nav AAC for navigating between screens"
**Describe the feature you'd like**
The Navigation architecture component has an Actions API to identify navigation paths within an app. Navigating using actions allows for a lot cleaner code, and also improves backstack management because the Nav AAC can then figure out nested layers of our app.

**Additional context**
This is going to be fairly large change, so I plan on doing this in multiple c

[2019-04-15 11:15] aman210697 opened #1617 "Add Notificaton Section"
**Describe the bug**
Add the notification fragment.
Endpoint: https://open-event-api.herokuapp.com/#notifications

**Would you like to work on the issue?**
-  Yes

[2019-04-15 11:15] aman210697 commented on #1617
@iamareebjamal  Can I work on it?

[2019-04-15 11:45] angmas1 opened #1618 "Add option to give feedback."
**Describe the feature you'd like**

Add option to give feedback to an event.

**Would you like to work on the issue?**

- [x] Yes
- [ ] No
- Other:

[2019-04-15 11:52] aggarwalpulkit596 commented on #1618
Duplicate

[2019-04-15 11:55] #1613 closed

[2019-04-15 12:20] angmas1 commented on #1618
Duplicate of? Link please

[2019-04-15 12:21] #1618 closed

[2019-04-15 14:39] theLimitBreaker commented on #1610
@iamareebjamal I am unable to place order for free events. OrdetAPi throws exception while using `placeOrder()` and I get "unable to create order" message. Currently I don't have any tickets on my account. If i can get test account which have tickets . I can check

[2019-04-15 14:57] theLimitBreaker commented on #1610
@iamareebjamal I am unable to place order for free events. OrdetAPi throws exception while using `placeOrder()` and I get "unable to create order" message. Currently I don't have any tickets on my account. If i can get test account which have tickets . I can check

[2019-04-15 15:02] aggarwalpulkit596 commented on #1610
You can easily have tickets from any free event try it on prod server instead of staging server

[2019-04-15 15:05] theLimitBreaker commented on #1610
@aggarwalpulkit596 thanks for suggesstion. But I already tried both server. Getting same result `HTTP 422 UNPROCESSABLE ENTITY`

[2019-04-15 15:15] iamareebjamal commented on #1610
Open issue on server

[2019-04-15 15:32] aggarwalpulkit596 opened #1619 "Add FAQ Section"
**Describe the feature you'd like**
There Should be Section which shows the list of all FAQs related to that event

**Would you like to work on the issue?**
- [x] Yes

[2019-04-15 15:42] aggarwalpulkit596 commented on #1619
@iamareebjamal I was thinking to implement this on about event fragment what are your thoughts on this?

[2019-04-15 18:09] theLimitBreaker commented on #1610
@iamareebjamal  I checked the body being sent to server some attributes of Order model were null (like amount & order notes)
When I sent the same request using Postman I got same HTTP error code 422 with this reasoning

[code]

[2019-04-15 18:22] theLimitBreaker commented on #1610
@iamareebjamal  should I create the issue for this on android-client ?

[2019-04-16 04:12] iamareebjamal commented on #1610
Yes

[2019-04-16 04:12] iamareebjamal commented on #1619
Which server endpoint will you use?

[2019-04-16 04:24] #1579 closed

[2019-04-16 04:40] aggarwalpulkit596 commented on #1619
https://api.eventyay.com/v1/events/1/faqs?sort=question&filter=[]

[2019-04-16 06:03] theLimitBreaker opened #1621 "Object attributes being sent "null" in API requests"
**Describe the bug**
Object attributes being sent "null" in API requests which doesn't handle null cases

**To Reproduce**
Try to create the order for free event and see the error message.
Check the body being sent to order API for placing order .
It results in `HTTP 422`

**Expected behavior**
Provide default values instead of null to required attributes

**Additional context**
Currently problem

[2019-04-17 07:34] #1535 closed

[2019-04-17 07:35] #1509 closed

[2019-04-17 15:00] #1602 closed

[2019-04-17 15:34] aggarwalpulkit596 commented on #1609
@theLimitBreaker can i make pr for this now as there has been no activity from you and i've already completed it, i just need to make a PR @iamareebjamal

[2019-04-17 15:49] iamareebjamal commented on #1609
Give 4 more days

[2019-04-18 05:16] haroldadmin commented on #1614
@iamareebjamal Can this issue be approved? I'd like to work on this

[2019-04-18 18:59] #1550 closed

[2019-04-18 19:00] #1591 closed

[2019-04-18 20:47] #1604 closed

[2019-04-18 21:31] angmas1 opened #1627 "Html tags in speaker details."
**Describe the bug**

Html tags in speaker details.

**Screenshots**

![image](https://user-images.githubusercontent.com/37517284/56392546-55077000-624f-11e9-9f6c-6d5b1164d6e0.png)

**Would you like to work on the issue?**

- [x] Yes
- [ ] No
- Other:

[2019-04-18 21:44] angmas1 opened #1629 "Add stand alone speaker fragment."
**Describe the feature you'd like**

Currently a lot of details about speakers are being fetch in eventdetailsfragment which is making eventdetailsfragment clutter. I would like to remove speaker's bio from eventdetailsfragment and add a new fragment which is opened when clicked on a speaker. This will reduce clutter in eventdetailsfragment and enable us to give more information about the speaker

[2019-04-18 21:44] angmas1 commented on #1629
What do you think @iamareebjamal @liveHarshit ?

[2019-04-18 22:18] iamareebjamal commented on #1629
Speakers should be displayed in horizontal recyclerview in event detail screen

[2019-04-18 22:20] angmas1 commented on #1629
Okay, I will make the necessary changes.

[2019-04-18 22:32] angmas1 opened #1630 "Empty space between Organizer and Speaker containers."
**Describe the bug**

Empty space between Organizer and Speaker containers.

**Screenshots**

![image](https://user-images.githubusercontent.com/37517284/56395373-f5fa2900-6257-11e9-943e-ba7d12650ae4.png)

**Would you like to work on the issue?**

- [x] Yes
- [ ] No
- Other:

[2019-04-19 01:43] aggarwalpulkit596 commented on #1629
I was already working on this and already created an issue for this

[2019-04-19 02:01] aggarwalpulkit596 commented on #1627
It shouldn't be removed infact this text view should be  a markdown to render anything @liveHarshit

[2019-04-19 04:01] iamareebjamal commented on #1627
@aggarwalpulkit596 But you are not getting markdown, you're getting HTML

[2019-04-19 04:14] aggarwalpulkit596 commented on #1627
but that short description supports markdown correct?

[2019-04-19 05:00] angmas1 commented on #1629
Can't find any open issue related to this please link

[2019-04-19 05:05] aggarwalpulkit596 commented on #1629
https://github.com/fossasia/open-event-android/issues/1604

[2019-04-19 05:06] aggarwalpulkit596 commented on #1629
it was  divided into 3 parts I was waiting for first one to get pushed so that I can push rest of the parts

[2019-04-19 05:07] angmas1 commented on #1629
It's closed so I thought you pushed what you wanted to

[2019-04-19 05:09] aggarwalpulkit596 commented on #1629
So if you don't mind can I resume working on this?

[2019-04-19 05:11] angmas1 commented on #1629
I already made some changes.

[2019-04-19 05:13] aggarwalpulkit596 commented on #1629
go ahead then 👍🏻

[2019-04-19 06:07] aggarwalpulkit596 commented on #1629
suggestion to reduce short bio to 2 -3 with ellipsize:end in speaker recycler view if you're creating a events details fragment there's no point to show a lot of information in recycler view.

[2019-04-19 06:07] angmas1 commented on #1629
Yes I did that

[2019-04-19 06:08] angmas1 commented on #1629
I made recycler horizontal with cards for each speaker

[2019-04-19 06:09] aggarwalpulkit596 opened #1631 "Create Call For Speaker"
**Describe the feature you'd like**
Add a section for the call for speaker with an option to send a proposal along with speaker profile, session and track for logged in users.

**Would you like to work on the issue?**
- [x] Yes

[2019-04-19 06:18] aggarwalpulkit596 commented on #1629
i'm talking about reducing the short bio length and instead of horizontal we can use grid layout in recylerview it would more elegant like 2 or 3 speakers in a row @iamareebjamal

[2019-04-19 07:00] aggarwalpulkit596 commented on #1631
@iamareebjamal need a suggestion
https://open-event-api.herokuapp.com/#speakers-calls-get-speakers-call-for-an-event-get
this endpoint is authenticated, it makes sense as well as to be the speaker you need to login first to  submit proposal but it can be like when we click on button apply for speaker then check for authetication similar process is done for register button for event tickets

[2019-04-19 08:57] iamareebjamal commented on #1631
Not needed for attendee app as of now

[2019-04-19 08:58] #1630 closed

[2019-04-19 09:01] iamareebjamal commented on #1629
No, it'll take too much space, horizontal recyclerview is better

[2019-04-19 09:01] iamareebjamal commented on #1627
No

[2019-04-19 09:26] aggarwalpulkit596 opened #1633 "Submit Feedbacks for events"
**Describe the feature you'd like**
Currently, there is no option to provide feedback for an event.
There should be an option to provide feedback for events for logged in users

**Would you like to work on the issue?**
- [x] Yes

[2019-04-19 09:26] aggarwalpulkit596 commented on #1633
@iamareebjamal should I continue to work on this?

[2019-04-19 11:26] #1627 closed

[2019-04-20 13:37] theLimitBreaker commented on #1609
@iamareebjamal  I am getting error , failure on every API call (which were previously were working ) after pulling latest commits.

For free events I made the filter param like this

[code]

Also in kotlin code I replaced `"` with `\"` before making calls .
I get HTTP 500

[2019-04-20 13:43] iamareebjamal commented on #1609
Open an issue on server

[2019-04-20 13:46] aggarwalpulkit596 commented on #1609
@theLimitBreaker let me check them

[2019-04-20 14:46] theLimitBreaker commented on #1609
### Update
API are working
It gave me error regarding Room can't verify its integrity. Schemas been changed.
I had to clear the storage. For api working.

[2019-04-20 16:50] #1344 closed

[2019-04-20 18:43] #1592 closed

[2019-04-21 04:29] aggarwalpulkit596 opened #1637 "Multiple Crashes And Fixes"
**Describe the bug**
1.Incorrect Nested query #1345
2.Use of ObjectMapper instead of jacksonObjectMapper() in #1592
3.Crash in favorite event view holder because of null object reference in item_favourite

[2019-04-21 04:29] aggarwalpulkit596 commented on #1637
@iamareebjamal I'm extremely sorry for this should've tested after merging and rebasing the PR's it wouldn't happen again
Making a PR right away

[2019-04-21 05:34] #1529 closed

[2019-04-21 17:21] aggarwalpulkit596 commented on #1609
@iamareebjamal can I make PR now?

[2019-04-21 18:57] iamareebjamal commented on #1609
We generally allow PRs from different contributors when there are no updates for a week. Last update was 1 day ago

[2019-04-21 19:19] #1637 closed

[2019-04-21 19:21] aggarwalpulkit596 commented on #1609
okay cool

[2019-04-22 04:16] aggarwalpulkit596 opened #1640 "Add option to apply discount codes on tickets"
**Describe the feature you'd like**
For paid events, we can a show list of discount codes listed by the organizer and from there he/she can then apply the discount accordingly

**Would you like to work on the issue?**
- [x] Yes

[2019-04-22 04:17] aggarwalpulkit596 commented on #1640
@iamareebjamal should i go ahead?

[2019-04-22 05:44] iamareebjamal commented on #1640
That's not the point of discount codes AFAIK. And I'm also not completely sure about that

[2019-04-22 16:55] aggarwalpulkit596 commented on #1640
I've checked it on the website and backend it is meant for that only purpose

[2019-04-22 17:46] iamareebjamal commented on #1640
The point being, if I show all the discount coupon, everyone will obviously use them. Sometimes they are hidden and awarded

[2019-04-22 17:52] aggarwalpulkit596 commented on #1640
Coupons number can be limited and also many app does this these days zomato,paytm etc everyone does this

[2019-04-22 23:17] angmas1 opened #1645 "Provide more sorting options in searchresults"
**Describe the feature you'd like**

Provide more sort and filter events in searchresultfragment

**Would you like to work on the issue?**

- [x] Yes
- [ ] No
- Other:

[2019-04-23 02:29] aggarwalpulkit596 opened #1646 "Add Session Section"
**Describe the feature you'd like**
Show a list of all the sessions organized by the user along with track speaker and other information regarding the track

**Would you like to work on the issue?**
- [x] Yes

[2019-04-23 06:54] anhanh11001 opened #1649 "Add search on clicking to event hashtag"
**Describe the feature you'd like**
On EventFragments, a list of hashtag (Chip) is displayed. Search is made when clicking on those hashtags

**Would you like to work on the issue?**
Yes

[2019-04-23 08:00] anhanh11001 opened #1651 "Add sponsor section"
**Describe the feature you'd like**
Add sponsor section

**Would you like to work on the issue?**
Yes

[2019-04-23 08:03] anhanh11001 opened #1652 "Refractor favorite sections"
**Describe the feature you'd like**
Currently, the favorite event is cached inside the app. We can use the API endpoint: https://api.eventyay.com/v1/user-favourite-events to store it in the server and fetch it whenever the user is logged in

@iamareebjamal Please give some thoughts on this

**Would you like to work on the issue?**
Yes

[2019-04-23 12:09] angmas1 commented on #1646
This a part of GSOC tasks, so shouldn't it be done by the person who gets selected @iamareebjamal

[2019-04-23 17:49] iamareebjamal commented on #1646
All tasks written in GSoC proposal cannot be all implemented by a single person and there is a huge overlap in ideas.

[2019-04-23 17:50] iamareebjamal commented on #1652
Store locally for non logged in person and store on server for logged in person

[2019-04-23 17:56] #1609 closed

[2019-04-23 17:59] #1649 closed

[2019-04-23 21:45] theLimitBreaker opened #1653 "Repeating HashTags"
**Describe the bug**
HashTags repeat on double clicking Favourite button

**ScreenShot**
![pui](https://user-images.githubusercontent.com/24780524/56618084-24ed1200-663f-11e9-8b0b-6d5ccb70753b.gif)

**Would you like to work on the issue?**

- [ :heavy_check_mark:  ] Yes
- [ ] No
- Other:

[2019-04-23 23:42] anhanh11001 opened #1655 "Chip in FavoriteFragment is checkable and search results are not fetched"
**Describe the bug**
In FavoriteFragment, chips are checkable and currently, when clicking on a chip, results are not fetched

**Screenshots**
<img src="https://i.imgur.com/1j5AcL8.gif">

**Would you like to work on the issue?**
Yes

[2019-04-23 23:44] anhanh11001 opened #1656 "EventDetailFragment automatically move to a section without scrolling"
**Describe the bug**
In EventDetailFragment, sometimes it automatically moved to a below section before user trying to scroll or do something

**Screenshots**
<img src="https://i.imgur.com/IZIp2Ob.gif">

**Would you like to work on the issue?**
Yes

[2019-04-23 23:46] anhanh11001 opened #1657 "Fail on pull to refresh on EventsFragment"
**Describe the bug**
In EventsFragment, it fails to reload event when pulling down to refresh

**Screenshots**
<img src="https://i.imgur.com/GYg2s2f.gif">

**Would you like to work on the issue?**
Yes

[2019-04-23 23:48] anhanh11001 opened #1658 "Back button navigation issue on SearchFilterFragment"
**Describe the bug**
After choosing filters on SearchFilterFragment, clicking on the back button in Search Result Fragment doesn't bring users back to SearchFragment or other expected previous fragments, but back to SearchFilterFragment

**Screenshots**
<img src="https://i.imgur.com/3Eu78XE.gif">

**Would you like to work on the issue?**
Yes

[2019-04-24 02:41] aggarwalpulkit596 commented on #1656
Just add android:descendantFocusability="blocksDescendants in the organiser container

[2019-04-24 02:52] aggarwalpulkit596 commented on #1653
Call removeAllViews() while checking that chipGroup is null or not in EventViewHolder or don't add if child count  >0

[2019-04-24 03:53] theLimitBreaker commented on #1658
@anhanh11001 It is going back to `SearchResultsFragment` as expected.
Its just that on clicking back Button. `close icon` is not changing back to `back` arrow.
Just Override on `onDetach` in frgament . and call `setBackIndicator()` it will set `back` arrow

[2019-04-24 04:12] theLimitBreaker commented on #1653
just adding `removeAllViews()` while chipGroup is not null . solves issue.

[2019-04-24 04:50] theLimitBreaker commented on #1420
#1355  is already implemented . @aggarwalpulkit596  Please close this issue

[2019-04-24 04:53] theLimitBreaker commented on #1483
@liveHarshit `Wrong title showing in Frgaments Appbar` i think its not relevant now. Please look in the current implementation of SearchLocationFragment. If not found this issue anymore close this issue

[2019-04-24 04:55] theLimitBreaker commented on #1403
@somenath1435  `Liked Events Fragment` has been changed . Please check with current implementation. If find irrelevant , please close this issue

[2019-04-24 04:59] theLimitBreaker commented on #1368
@iamareebjamal  i think issue is irrelevant now

[2019-04-24 05:01] theLimitBreaker commented on #1251
@aman210697  does issue still exists on Samsung Devices ?

[2019-04-24 07:22] anhanh11001 commented on #1658
@theLimitBreaker the problem I'm refering to is that. For example, you do a search, then you make a free stuff filter. Then the navigation is

SearchFragment -> SearchResultFragment -> SearchFilterFragment -> 2nd SearchResultFragment.

 So there are 2 SearchResultFragment in the back stack. So when you are in the 2nd SearchResultFragment, clicking on back button doesn't bring you back to SearchFra

[2019-04-24 15:13] theLimitBreaker commented on #1610
@iamareebjamal  I am facing some issue
to store show tickets firstly
 orders under user fetched -> events under that order -> tickets shown

So I had to store orders into database.
But
 orders relationship to attendee and event
attendee relationship to ticket and event .
So I had to store ticket and attendee too into database otherwise I would get `FOREIGN KEY CONSTRAINT FAILED ERROR`

### Attempt

[2019-04-24 15:50] theLimitBreaker commented on #1610
@iamareebjamal I am facing an issue
for showing tickets firstly
orders under user fetched -> events under that order -> tickets shown

So I tried to store orders into database So I got the error `FOREIGN KEY constraint failed (code 787 SQLITE_CONSTRAINT_FOREIGNKEY)`

now since `Order class` has relationship to `event` and `attendee`
and `attendee` in turn has relationship ti `ticket` and `event`

[2019-04-24 15:59] aggarwalpulkit596 commented on #1610
@theLimitBreaker can I take upon this I was able to resolve this and have done most of the work

[2019-04-24 16:20] theLimitBreaker commented on #1610
@aggarwalpulkit596 I am currently working. Just stuck at some point . If you could help me with this then that would be appreciated .

[2019-04-24 16:26] aggarwalpulkit596 commented on #1610
there was no update for over a week so I started this myself and issue is quite simple as attendee data needs to be saved before order data and the way I understand the DB there shouldn't be any relationship of attendee and order and there weren't working even before

[2019-04-24 16:31] theLimitBreaker commented on #1610
@aggarwalpulkit596 Sorry for misunderstanding caused but I am working .
Also points you mentioned . I have included in above comment. (Please look)
On one Order placed there can be multiple attendees (so why no relationship)
Plus I points I mentioned are on the basis of the code (Please look the points)

[2019-04-24 16:58] aggarwalpulkit596 commented on #1610
and also listAttendeeId Converter is not working as jacksonObjectMapper doesn't understand array you have to feed him a object {} and not this[{}]

[2019-04-24 17:02] theLimitBreaker commented on #1610
All other things were getting stored properly . Only order created problem. Only difference was order was having List<attendees> unlike others .
Thanks for confirming this.

[2019-04-24 17:09] aggarwalpulkit596 commented on #1610
@iamareebjamal we might have to use to gson here as jacksonObjectMapper doesn't understand this and i guess we cannot manipulate [{}] into {}

[2019-04-24 17:52] aggarwalpulkit596 commented on #1610
@theLimitBreaker if you're still unable to rectify the issue you can take a look at this https://github.com/aggarwalpulkit596/open-event-android/commit/7d3c5d04bbcaa952f39d2c659d0ce2265bc81053

[2019-04-24 18:48] #1656 closed

[2019-04-24 19:05] aman210697 opened #1664 "Api logs are exposed in release build"
**Describe the bug**
Anyone can see the api logs of the app.

**Expected behavior**
Api logs shouldn't be shown in release build.

**Would you like to work on the issue?**
-Yes

[2019-04-24 19:28] #1368 closed

[2019-04-24 19:29] #1420 closed

[2019-04-24 19:29] #1403 closed

[2019-04-24 19:29] #1483 closed

[2019-04-24 20:01] ShridharGoel commented on #1664
Please add an example to explain how it's happening.

[2019-04-24 20:12] aman210697 commented on #1664
![WhatsApp Image 2019-04-25 at 1 33 08 AM](https://user-images.githubusercontent.com/24875315/56690089-45c66d80-66fa-11e9-8708-c1cacea9e7fe.jpeg)

Api logs from release build.
We're using logging interceptor in retrofit, which enable api request & response logs.
It is good for debugging mode but not for release.

[2019-04-25 02:25] aggarwalpulkit596 commented on #1652
@anhanh11001 are you working on this ?

[2019-04-25 03:26] theLimitBreaker commented on #1610
@aggarwalpulkit596  I checked the string formed by Jackson & gSon both are forming same strings when fed `List<AttendeeId>`

[code]

I dont think so issue is with Jackson

[2019-04-25 03:46] aggarwalpulkit596 commented on #1610
@theLimitBreaker obviously the read string would be the same in both cases it's about the output and jacksonObjectMapper doesn't understand this [] so it fails

[2019-04-25 04:03] theLimitBreaker commented on #1610
I used GSON still its failing giving same error` FOREIGN KEY constraint failed (code 787 SQLITE_CONSTRAINT_FOREIGNKEY)` . Thats why I said `I dont think so issue is with Jackson`

[2019-04-25 04:09] aggarwalpulkit596 commented on #1610
Yes you will be getting an foreign key constraint failed because the attendee corresponding to it hasn't been saved and you're trying to save it and secondly try removing constraint claws and then try Saving the order to db you'll know what I'm trying to tell you

[2019-04-25 04:10] theLimitBreaker commented on #1610
corresponding Attendees are saved to DB as metioned earlier

[2019-04-25 04:13] aggarwalpulkit596 commented on #1610
there no point getting that error then if you're but I highly doubt that they are saving because I tried it was failing and try with removing foreign key constraint it would show error for jackson

[2019-04-25 04:18] theLimitBreaker commented on #1610
Attendees -> relationship to tickets  (Just like order -> attendees) . I stored tickets then successfully stored tickets.
Same way tried with order . But thrown exception .

**This is what  I have already  mentioned** [up](https://github.com/fossasia/open-event-android/issues/1610#issuecomment-486300640)

You have to store corresponding tickets too before saving attendees

[2019-04-25 04:20] aggarwalpulkit596 commented on #1610
and I told you I was able to resolve this and my current implementation is working as expected without any hiccups even with retaining that relationship

[2019-04-25 04:30] theLimitBreaker commented on #1610
Thanks for information you provided till now.  But I am just stuck at this just one issue. I have already done enough work, So I would like to fix this.

[2019-04-25 04:31] theLimitBreaker commented on #1610
@iamareebjamal  @nikit19  any help

[2019-04-25 15:40] aggarwalpulkit596 opened #1666 "Add Sort By Filter"
**Describe the feature you'd like**
Add Sort By Filters in Filter fragment with name, date, price, etc

**Would you like to work on the issue?**
- [x] Yes

[2019-04-25 16:55] theLimitBreaker commented on #1159
@liveHarshit @iamareebjamal  AFAIK, currently images are loaded (even the placeholder ones). Its irrelevant now

[2019-04-25 16:56] #1664 closed

[2019-04-25 16:58] theLimitBreaker commented on #857
This is implemented as of current . @nikit19 @iamareebjamal  I think its irrelevant now

[2019-04-25 17:00] #857 closed

[2019-04-25 17:00] #1159 closed

[2019-04-25 17:01] #1423 closed

[2019-04-25 17:02] #1629 closed

[2019-04-25 17:07] #1581 closed

[2019-04-25 17:10] #1657 closed

[2019-04-25 17:11] #1653 closed

[2019-04-25 17:12] #1619 closed

[2019-04-25 17:50] theLimitBreaker commented on #525
@iamareebjamal  minSdk is set to 21 (due to okhttp requirements) . This issue is irrelevant now

[2019-04-25 17:51] theLimitBreaker commented on #535
@iamareebjamal  min sdk is set to 21 due to okhttp requirements. this is irrelevant now

[2019-04-25 18:28] anhanh11001 commented on #1552
As far as I can see in the latest updated commits, this issue is partly fixed. Only the part of selected chips not retaining on rotation is not finished. I'm just saying this so that you might not waste your time

[2019-04-25 18:44] angmas1 commented on #1666
Duplicate of #1645

[2019-04-25 18:47] aggarwalpulkit596 commented on #1666
@angmas1 I already have made a PR and it is been reviewed as well

[2019-04-25 18:48] angmas1 commented on #1666
Okay, no problem. Check before creating issue next time.

[2019-04-25 18:54] anhanh11001 commented on #1652
@aggarwalpulkit596 Yes I'm

[2019-04-25 20:06] theLimitBreaker commented on #1552
@anhanh11001 I have implemented retaining selected chips .Please look in the PR which is referenced :)

[2019-04-25 20:07] #535 closed

[2019-04-25 20:08] #525 closed

[2019-04-25 20:14] #1633 closed

[2019-04-25 20:15] #1582 closed

[2019-04-25 20:16] theLimitBreaker commented on #1096
@alphamuth Unable to reproduce this issue. Would please elaborate

[2019-04-25 20:17] #1658 closed

[2019-04-25 20:18] #1096 closed

[2019-04-25 20:19] #506 closed

[2019-04-25 20:19] #948 closed

[2019-04-25 20:19] theLimitBreaker commented on #1055
@iamareebjamal @nikit19  . After Adding auto place complete . Should we consider this. ?

[2019-04-25 20:22] theLimitBreaker commented on #1017
@shiv07tiwari I think removing Profile picture only would be fine . Please confirm are you still working on this

[2019-04-25 20:26] theLimitBreaker commented on #1014
@nikit19 @iamareebjamal In landscape mode content is visible and properly scrollable . And fit to screen. Its irrelevant now

[2019-04-25 20:34] theLimitBreaker commented on #1119
@iamareebjamal since PR is closed and issue also seems irrelevant

[2019-04-26 02:16] theLimitBreaker commented on #1280
@addiegupta able to reproduce issue

[2019-04-26 02:19] theLimitBreaker commented on #1270
@aman210697 could you please re verify . I am not able to reproduce this issue . Please verify

[2019-04-26 02:20] theLimitBreaker commented on #1213
@tavishjain are you still working on this

[2019-04-26 02:33] tavishjain commented on #1213
@theLimitBreaker no. I guess this was an issue on the server and has been rectified.

[2019-04-26 02:33] #1213 closed

[2019-04-26 02:34] theLimitBreaker opened #1672 "Add Location , time , type filter Like Event Brite"
**Describe the feature you'd like**
EventBrite has Location , Time & Type filter to for filtering event

**Screenshot**
![photo6201859894580193446](https://user-images.githubusercontent.com/24780524/56780108-a7bacc00-67fb-11e9-829a-3db6483666ff.jpg)

**Would you like to work on the issue?**

- [x] Yes
- [ ] No
- Other:

[2019-04-26 02:42] aggarwalpulkit596 commented on #1672
Duplicate

[2019-04-26 03:48] #1014 closed

[2019-04-26 03:48] #1119 closed

[2019-04-26 03:48] #1280 closed

[2019-04-26 06:37] anhanh11001 opened #1673 "Search is not made when clicking on search icon"
**Describe the bug**
In the picture below, when clicking on that little green search icon in the keyboard bottom left, nothing happen but only keyboard is removed.

**Screenshots**
<img src="https://i.ibb.co/8MknprX/58383095-2327159554269900-5814622400016285696-n.jpg" width="350">

**Smartphone Info:**
Honor 7, API 24

**Would you like to work on the issue?**
Nope, Open to all

[2019-04-26 11:20] theLimitBreaker commented on #1673
@anhanh11001 That's because person might enter say "Ber" only , then it will search events for place "Ber" which is not place at all. That's why it's better not to search for non suggested places .
That's my opinion though

[2019-04-26 11:42] anhanh11001 commented on #1673
oh so you actually deactivate the search button on purpose, and it's a feature, not a bug... I personally think that it's not good to do that... @iamareebjamal please give your thought on this

[2019-04-26 13:26] theLimitBreaker commented on #1673
@anhanh11001 actually that button make request for place suggestions. If user quickly types place name and hit button it will load place suggestions. It's not like it's disabled

[2019-04-27 05:05] #1651 closed

[2019-04-27 05:08] #1612 closed

[2019-04-27 10:33] aman210697 commented on #1270
Yes, it still persists.

[2019-04-27 13:31] aggarwalpulkit596 opened #1676 "Show speaker profile under profile section"
**Describe the feature you'd like**
Show speaker profile under profile section if speaker profiles exists and give option to update the speaker profiles

**Would you like to work on the issue?**
- [x] Yes

[2019-04-27 13:32] aggarwalpulkit596 commented on #1676
@iamareebjamal should i work on it ?

[2019-04-27 13:39] aggarwalpulkit596 opened #1677 "Add more fields for user"
**Describe the feature you'd like**
While updating the profile give user option to add Instagram-url,facebook-url,twitter-url and contact.

**Would you like to work on the issue?**
- [x] Yes

[2019-04-27 13:42] aggarwalpulkit596 opened #1678 "Add Pagination to Home Fragment"
**Describe the feature you'd like**
Add Pagination to Events Fragment to show more results currently it shows only the top 20 results and there's no way to load other results.A similar implementation can be applied to the searchresultsfragment

**Would you like to work on the issue?**
- [x] Yes

[2019-04-27 14:13] theLimitBreaker commented on #1678
Duplicate of #84  Please ask prior issue opener . or mentors before working on this

[2019-04-27 14:14] theLimitBreaker commented on #1610
@aggarwalpulkit596  were you talking about this when Jackson wasn't able to deserialize

[code]

[2019-04-27 14:23] aggarwalpulkit596 commented on #1610
@theLimitBreaker yup

[2019-04-27 14:25] aggarwalpulkit596 commented on #84
@nikit19 can I start working on this?

[2019-04-27 14:31] theLimitBreaker commented on #1610
@aggarwalpulkit596  after removing clause it does store orders.
But I re-checked my previous approach (without removing clause) . it **was** storing `events, tickets, attendees` but for order thrown exception.

I checked database with this https://github.com/amitshekhariitbhu/Android-Debug-Database

[2019-04-27 14:34] aggarwalpulkit596 commented on #1610
you can use DBSQlite brower for saving which values are saved to db and which are not i used that

[2019-04-27 14:39] theLimitBreaker commented on #1676
umm how would you differentiate between speaker login and attendee login ?
Also I think its more for `organizer app`.

[2019-04-27 14:42] theLimitBreaker commented on #1610
I tried that first , But it wasn't working. It showed me empty database and but in LOGS was able to retrieve result. (Throgh Logs I checked list size coming from DB its non -emepty)

[2019-04-27 15:00] nikit19 commented on #84
Please go ahead.

[2019-04-27 15:04] aggarwalpulkit596 commented on #1610
Wierd it should the results i use this for everywhere and works like a charm

[2019-04-27 15:07] aggarwalpulkit596 commented on #1676
Speaker are attendees itself in the first place and it can't be implemented on the organizer app as speaker shouldn't have access to event details or anything related to that event the speaker can only apply for the event as a speaker and update his/her profile

[2019-04-27 15:17] theLimitBreaker commented on #1676
I never said speaker would update herself/himself

Either differentiate speaker regular attendee login. As it this option should be available to speaker only.
Or create medium that speaker give details to organizer and organizer would update.

[2019-04-27 15:20] aggarwalpulkit596 commented on #1676
Obviously this option would be visible to speakers only i mentioned in the description if the speaker profile exists.

[2019-04-27 15:48] anhanh11001 opened #1679 "Add sponsor fragment"
**Describe the feature you'd like**
Sponsor fragment to show the detail of sponsors

**Would you like to work on the issue?**
Yes

[2019-04-27 15:52] aggarwalpulkit596 commented on #1679
I don't it is necessary because there isn't much to show in sponsors fragment

[2019-04-27 15:54] #1678 closed

[2019-04-27 19:43] aman210697 commented on #1679
Just a dialog would be enough imo

[2019-04-28 01:24] theLimitBreaker commented on #1610
@aggarwalpulkit596  Thanks for your guidance till now. I was able to deserialize with Jackson only. `No need for GSON`.
thing was we were supposed to use `jackSonObjectMapper from `jackSon-kotlin-module` not regular objectMapper.

[2019-04-28 01:38] theLimitBreaker commented on #1610
@iamareebjamal  @nikit19

Currently for `FOREIGN KEY constraint failed (code 787 SQLITE_CONSTRAINT_FOREIGNKEY)` I propose two soluttions
1) if want to keep FOREIGN_KEY_CONSTRAINT of AttendeeID in Order
    - Store Order in First Normal Form
    - This would include addition of AttendeeID property in order . and explicitly creating each AttendeeId from attendeeList amd initializing it in Order obje

[2019-04-28 04:51] aggarwalpulkit596 commented on #1610
Have you checked whether the data is saving or not because i remember that i used jacksonObjectMapper in first place and it wasn't working

[2019-04-28 12:08] ShridharGoel opened #1682 "Error with chips in Likes fragment"
**Describe the bug**
Clicking on any chip in the empty Likes fragment sets the type to '' which results in an error.

**To Reproduce**
1. Go to Likes.
2. Click on any chip.

**Expected behavior**
Type should be set to Anything.

**GIF**
![ezgif com-video-to-gif (66)](https://user-images.githubusercontent.com/35566748/56864128-69c8ce00-69dc-11e9-98d0-ef3249851001.gif)

**Would you like to work on t

[2019-04-28 12:11] anhanh11001 commented on #1682
Duplicate #1659

[2019-04-28 12:12] ShridharGoel commented on #1682
Sorry I didn't notice. Are you still working on it? @anhanh11001

[2019-04-28 12:39] anhanh11001 commented on #1682
Yes, I am, it's just a small fix, I haven't pushed the latest updates because I'm having some problem with my wifi connection at my home

[2019-04-28 12:47] #1682 closed

[2019-04-28 13:36] aggarwalpulkit596 opened #1683 "Use Data Binding"
**Describe the feature you'd like**
Migrate App to use Data Binding

**Would you like to work on the issue?**
- [x] Yes

[2019-04-28 13:37] aggarwalpulkit596 commented on #1683
@iamareebjamal i've already started working on this should i continue and this will be big PR so i guess I'll be completing it in parts

[2019-04-28 17:11] #1673 closed

[2019-04-28 17:15] #1666 closed

[2019-04-28 17:50] anhanh11001 opened #1686 "Share element transition"
**Describe the feature you'd like**
Add share element transition between events/speakers/similar sections.

**Would you like to work on the issue?**
Yes

[2019-04-28 18:02] aggarwalpulkit596 commented on #1686
I implemented it but it was reverted due to a bug it would be great if you fix that code 😅

[2019-04-28 19:04] #1573 closed

[2019-04-28 19:31] anhanh11001 commented on #1686
@aggarwalpulkit596 I'm trying. What was your bug before?

[2019-04-28 19:38] aggarwalpulkit596 commented on #1686
@anhanh11001 https://github.com/fossasia/open-event-android/pull/1477 refer this

[2019-04-28 19:39] aggarwalpulkit596 commented on #1686
@anhanh11001 my pr was working completely but it was related something to navigation component

[2019-04-29 05:29] aman210697 opened #1689 "Issues in Event Details Fragment"
**Describe the bug**
Issues I found  in event details fragment

- Event feedback, event speaker, event sponsors api gets called on rotation.

- Sponsors should be with name (what if image wouldn't load)

- If there is no sponsors, sponsor segment should be hidden or show "no sponsors".

- Event topic api gets called after every second on event details fragment
(Open Event Detail page and see the l

[2019-04-29 19:02] #1679 closed

[2019-04-29 19:03] #1655 closed

[2019-04-29 19:09] #1646 closed

[2019-04-29 19:46] anhanh11001 opened #1691 "Add Session Fragment"
**Describe the feature you'd like**
Add fragment to show detailed information of the event's session

**Would you like to work on the issue?**
Yes

[2019-04-29 20:05] ShridharGoel opened #1692 "Unable to mark event as favourite through toolbar in event details"
**Describe the bug**
Unable to mark event as favourite through toolbar in event details

**GIF**
![ezgif com-video-to-gif (67)](https://user-images.githubusercontent.com/35566748/56923374-ff9d4f80-6ae7-11e9-8c96-53b05ed1404a.gif)

**Would you like to work on the issue?**
Open to all.

[2019-04-30 02:57] aggarwalpulkit596 commented on #1676
@iamareebjamal should i move along with this or mark this for later ?

[2019-04-30 03:42] #1584 closed

[2019-04-30 03:45] aggarwalpulkit596 opened #1694 "Add Tracks And Session Speaker to Session Fragment"
**Describe the feature you'd like**
Add tracks and speaker information along with the session in session fragment

**Additional context**
It shouldn't be worked upon before #1691 is merged

**Would you like to work on the issue?**
- [x] Yes

[2019-04-30 04:31] aggarwalpulkit596 opened #1696 "refractor to use RxExtensions"
**Describe the chore**
Refractor entire project to use RxExtension with
`fun <T> Single<T>.with(): Single<T> = subscribeOn(Schedulers.io()).observeOn(AndroidSchedulers.mainThread())`
to write
`  compositeDisposable.add(sponsorService.fetchSponsorsWithEvent(id)
            .with()`
 instead of writing
`   compositeDisposable.add(sponsorService.fetchSponsorsWithEvent(id)
            .subscribeOn(Sch

[2019-04-30 07:40] theLimitBreaker opened #1697 "Online fetching of events storing all events to local database"
**Describe the bug**
When the events are fetched from api. All events are stored in database. Only favourite events should be stored in database . Not all events

**How did i found out**
I used [Android-Debug-Databse](https://github.com/amitshekhariitbhu/Android-Debug-Database) to see database entries.

**Expected behavior**
Only favoorite events should be stored in database

**Screenshots**
![ima

[2019-04-30 07:43] theLimitBreaker opened #1698 "Use Android-Debug-Database lib to facilitate easy checking database contents"
**Describe the chore**
We can use  [Android-Debug-Databse](https://github.com/amitshekhariitbhu/Android-Debug-Database) for easy checking of database contents

**ScreenShots**
![image](https://user-images.githubusercontent.com/24780524/56947098-c09fe600-6b49-11e9-8a82-bf26fc7b8247.png)

**Would you like to work on the issue?**
- [X] Yes
- [ ] No
- Other:

[2019-04-30 07:44] theLimitBreaker commented on #1698
@iamareebjamal  need your opinion on this. This would be in debug mode only. And would facilitate easy view of database contents. Whats being stored or not

[2019-04-30 07:45] iamareebjamal commented on #1697
You could have just used chrome devtools. Stetho already provides this option

And we are storing all events because we need to show details in subsequent screens and we are fetching the details from DB and not refetching from API

[2019-04-30 07:46] #1697 closed

[2019-04-30 07:47] iamareebjamal commented on #1698
Stetho already provides this and much more. Use chrome dev tools instead

[2019-04-30 07:47] #1698 closed

[2019-04-30 07:49] theLimitBreaker commented on #1697
I would look into stetho and use that then . Thank you

[2019-04-30 08:08] theLimitBreaker commented on #1697
@iamareebjamal  Room has inMemoryDatabase for these purposes. We could store `Favourites` into permanent database and For these purposes we could use `inMemory` database. when app is cleared. These events will be cleared too

[2019-04-30 08:14] iamareebjamal commented on #1697
I don't think so. Maybe we'll change this later, but not a priority right now

[2019-04-30 08:50] anhanh11001 opened #1699 "Add sharing ticket feature"
**Describe the feature you'd like**
A screenshot bitmap of ticket that can be shared to other apps

**Would you like to work on the issue?**
Yes

[2019-04-30 08:51] anhanh11001 opened #1700 "Add downloading invoice for ticket ordered"
**Describe the feature you'd like**
Add downloading invoice for ticket ordered

**Would you like to work on the issue?**
Yes

[2019-04-30 08:52] theLimitBreaker opened #1701 "Make NavExtensions for navigating"
**Describe the chore**
After creating the bundle . Always `findController().` and then `navigateTo` is being written

we can create the extension function for this `navigateWithBundle()`
change code from this
[code]
to this

[code]

**Would you like to work on the issue?**

- [X] Yes

[2019-04-30 08:53] theLimitBreaker commented on #1701
@iamareebjamal  should I proceed?

[2019-04-30 08:54] theLimitBreaker commented on #1353
@iamareebjamal  should make the PR for this ?

[2019-04-30 08:54] theLimitBreaker commented on #1699
Duplicate of #1353

[2019-04-30 08:55] theLimitBreaker commented on #1700
@anhanh11001  How is it different from Download tickets option ? Could you please explain?

[2019-04-30 09:04] aggarwalpulkit596 commented on #1700
Duplicate #1338

[2019-04-30 09:06] aggarwalpulkit596 commented on #1652
@anhanh11001 any update on this if not can I work on this?

[2019-04-30 09:22] anhanh11001 commented on #1652
@aggarwalpulkit596 Yes, please go ahead to take over if you are free now

[2019-04-30 09:25] aggarwalpulkit596 commented on #1652
@anhanh11001 cool

[2019-04-30 09:30] theLimitBreaker commented on #1697
@iamareebjamal Should I create this issue and label it for `later`.

[2019-04-30 09:31] aggarwalpulkit596 commented on #1652
@iamareebjamal should I update the favorite list on the server if the user logs or only update favourite which are marked after the user is logged in

[2019-04-30 09:33] anhanh11001 commented on #1700
I'm just checking from open-event-frontend. There are 2 options - invoice and ticket
<img src="https://i.ibb.co/sCbBsKq/invoice.png" alt="invoice" width="300">   <img src="https://i.ibb.co/3h7Yd92/ticket.png" alt="ticket" width="300">

[2019-04-30 09:34] anhanh11001 commented on #1699
@theLimitBreaker oh I didn't notice, are you still working on this because I'm nearly finished?

[2019-04-30 09:44] theLimitBreaker commented on #1699
Umm it's been inactive for quite awhile . It's was on low priority. Also been busy with exams
If you are nearly finished. You could make the PR

[2019-04-30 10:46] iamareebjamal commented on #1652
First

[2019-04-30 10:46] iamareebjamal commented on #1697
We'll still do it using different mechanism, so leave it

[2019-04-30 10:47] #1699 closed

[2019-04-30 10:51] #1553 closed

[2019-04-30 18:29] #1672 closed

[2019-05-01 10:13] #1696 closed

[2019-05-01 17:56] #1683 closed

[2019-05-01 20:32] #1645 closed

[2019-05-02 04:29] theLimitBreaker commented on #1610
Yes they are getting stored . I checked it with stetho and debug-database

[2019-05-02 05:42] #1353 closed

[2019-05-02 05:54] #1701 closed

[2019-05-02 07:43] anhanh11001 opened #1705 "App crashes after surfing events a lot"
**Describe the bug**
Basically, I just open an event detail and come back to main events fragment, do it all over again and after a while, the app starts to slow down my phone and at some point, it cannot render the views and crashes.

**Screenshots**
I couldn't event record the crashes because the whole phone was really laggy.

**Smartphone Info:**
Old Honor 7, API 24

**Additional context**
I do

[2019-05-02 09:00] anhanh11001 opened #1706 "Wrong QR code on individual ticket holder"
**Describe the bug**
Currently, different ticket holders with the same order are having the same QR Codes for their ticket. The cause of this issue is that QR code is currently made by order identifier, while in the server, the QR code is currently made by order identifier + ticket holder id.

**Screenshots**
<img src="https://i.ibb.co/jyB2FD4/58822222-374397796510437-5585571751170932736-n.jpg" wi

[2019-05-02 09:28] adityastic commented on #1705
Increasing the heap size might help

[2019-05-02 09:30] adityastic commented on #1705
I'd suggest you to also perform all the memory intensive tasks via ndk, it does not have memory limits. Good luck

[2019-05-02 09:45] aggarwalpulkit596 commented on #1705
@anhanh11001 it is happening because of the single activity app.Check the profiler you'll get to know how much ram consumption is there

[2019-05-02 09:47] aggarwalpulkit596 commented on #1705
And we can also remove Picasso network policy to stop caching images same goes for okHttp

[2019-05-02 11:44] anhanh11001 commented on #1706
@iamareebjamal I don't know how to fix this because, in the server, the QR code is made by qrcode library from python, while in the android, it is made by zxing library. I'm not sure if both libraries have the same method to make the QR image but it seems they don't. And the problem is both of libraries are not cross-platform. Please give your thoughts?

[2019-05-02 12:21] iamareebjamal commented on #1705
None of that matters much. Caching is some on disk, no relation to memory. RecyclerView also only shows visible items. There must be a memory leak

[2019-05-02 12:22] iamareebjamal commented on #1705
Makes no sense. Read the comment on that article

[2019-05-02 12:23] iamareebjamal commented on #1706
Then use order identifier + ticket holder id

[2019-05-02 16:27] anhanh11001 commented on #1706
My point is that as I use the same string + setting the same QR_Version and error_correction, the library in the server creates a different QR Image than the library in the Android app.

[2019-05-02 17:20] aggarwalpulkit596 commented on #1705
@anhanh11001 this is happening after using the shared element transition or the current development code ?

[2019-05-02 17:34] anhanh11001 commented on #1705
@aggarwalpulkit596 both, it is just more noticeable when having shared element transition

[2019-05-02 17:38] aggarwalpulkit596 commented on #1705
@anhanh11001 using postponeEnterTransition ?

[2019-05-02 18:53] anhanh11001 commented on #1705
yes, but I think that's not the main point because, in my device, it's reproducible with the current development code so the cause is not about functions of making the shared element transition

[2019-05-02 19:08] iamareebjamal commented on #1706
Having different QR code is not a problem unless they resolve to different strings. When scanned, they should generate same resultant code

[2019-05-03 07:41] #1270 closed

[2019-05-03 13:29] anhanh11001 commented on #1706
@iamareebjamal I get it, I'll start testing now

[2019-05-03 13:31] anhanh11001 commented on #1689
@aman210697 Are you working on this and can I help you on anything or can I take up this issue? I think this one might be related to #1705.

[2019-05-03 18:47] aman210697 commented on #1689
sure, and let me know which one are you working on.

[2019-05-04 07:46] aggarwalpulkit596 opened #1709 "Use Data Binding for RecyclerView Adapters"
**Describe the chore**
Refractor all recyclerview adapters to use data binding

**Would you like to work on the issue?**
- [x] Yes

[2019-05-04 07:46] aggarwalpulkit596 commented on #1709
@iamareebjamal should i continue this

[2019-05-04 19:55] anhanh11001 commented on #1700
I'm having 500 INTERNAL SERVER ERROR while fetching event invoice. Here are the logs. I'm not familiar with this error but is it from the server or are there any chances where the error is made by me
[code]
Besides, the documentation is not clear as well. In here, the title is ` event invoice list of an user` but the description is `Get a single event invoice.`. Same goes for `event invoice list o

[2019-05-04 20:02] iamareebjamal commented on #1700
Raise an issue on server

[2019-05-04 20:56] #1706 closed

[2019-05-06 15:44] mariobehling opened #1712 "Change app to use eventyay.com instead of next.eventyay.com."
The next version of eventyay is life. Please change the app to use eventyay.com.

[2019-05-06 15:45] aggarwalpulkit596 commented on #1712
@mariobehling on it

[2019-05-06 16:04] aggarwalpulkit596 commented on #1712
@mariobehling we are already using it
https://github.com/fossasia/open-event-android/blob/bf81a5865c206c93760609bc79bb2b1375e22fca/app/build.gradle#L42

[2019-05-06 16:11] liveHarshit commented on #1712
Yes, I think backend API for release variant is the same with eventyay.com.

[2019-05-06 23:38] iamareebjamal commented on #1712
Yes, no change required in Android App

[2019-05-06 23:38] #1712 closed

[2019-05-07 05:52] #1614 closed

[2019-05-07 12:59] anhanh11001 opened #1715 "App crash on navigating to different fragments"
**Describe the bug**
It seems like there are mistakes in the latest commit that cause app crash on navigating to similar event fragment (Could possibly some other fragment as well)

**Logs**
[code]
**Would you like to work on the issue?**
Yes

[2019-05-07 13:14] aggarwalpulkit596 commented on #1715
@anhanh11001 I might I've missed this one I checked each of them thoroughly

[2019-05-07 13:24] anhanh11001 commented on #1715
@aggarwalpulkit596 yes I have checked them all, it seems like you only missed that one, rest is good

[2019-05-07 15:37] liveHarshit opened #1718 "Change version code and name for next release"

[2019-05-07 17:08] liveHarshit opened #1719 "Showing search results on selecting location"
**Describe the bug**
Search results are open on selecting the location from events fragment.

**Screenshots**
<img src="https://user-images.githubusercontent.com/27783786/57318737-a7360580-7118-11e9-9024-98ca67b56374.png" height = "480" width="270">

**Would you like to work on the issue?**

- [x] Yes
- [ ] No
- Other:

[2019-05-07 18:10] #1718 closed

[2019-05-07 18:11] #1715 closed

[2019-05-08 01:56] anhanh11001 commented on #1719
@liveHarshit There is also crash on R.id.action_search_type_to_search & R.id.action_search_type_to_search_filter. It is pretty easy to resolve, just delete a line in SearchTypeFragment:
`findNavController(rootView).navigate(destFragId)` - line 108. I didn't check this in my last commit. Can you also add this to this issue.

[2019-05-08 07:20] ShridharGoel opened #1728 "Unable to create orders for tickets which are free"
**Describe the bug**
On trying to create new orders, first the message is displayed "Attendees created successfully" and then it displays "Unable to create order".

After this, the logs show that the created attendee is deleted.

Seems that the issue is with the order amount becoming null when the amount is 0.

**Logs**
[code]

**Would you like to work on the issue?**
- [ ] Yes
- [x] No

- Other:

[2019-05-08 09:05] liveHarshit commented on #1719
Okay, I will. Please open up an issue for it.

[2019-05-08 09:24] liveHarshit opened #1730 "Back press is refreshing events"
**Describe the bug**
onBackPressed is refreshing events in events fragment after selecting a location.

**Would you like to work on the issue?**

- [x] Yes
- [ ] No
- Other:

[2019-05-08 09:28] liveHarshit opened #1731 "UI overlapping on animation"
**Describe the bug**
UI overlapping on navigation from search location fragment.

**Would you like to work on the issue?**

- [x] Yes
- [ ] No
- Other:

[2019-05-08 09:48] anhanh11001 opened #1733 "App crash on choosing event type in SearchTypeFragment"
**Describe the bug**
App crash on choosing event type in SearchTypeFragment

**Would you like to work on the issue?**
No

[2019-05-08 09:49] anhanh11001 commented on #1719
#1733 I have, here is the issue link

[2019-05-08 09:50] ShridharGoel commented on #1728
@liveHarshit @anhanh11001 Please have a look.

[2019-05-08 15:18] anhanh11001 commented on #1689
@aman210697 I'm working on API called on rotation.

[2019-05-08 18:34] liveHarshit opened #1734 "Issue with returning animations and clicakble views"
**Describe the bug**
Returning and entering animations for search date, location, and category fragment with search filter fragment are in the opposite way.
Full view is not clickable in search filter fragment, only text is clickable.

**Would you like to work on the issue?**

- [x] Yes
- [ ] No
- Other:

[2019-05-08 18:59] #1730 closed

[2019-05-08 18:59] #1734 closed

[2019-05-08 19:41] anhanh11001 opened #1737 "Refractor nested fragment inside EventDetailsFragment"
**Describe the bug**
Currently, inside EventDetailsFragment, the similar event sections and social link sections are fetched and created in a fragment container, which makes this a nested fragment.

Nested fragment is really complex to debug when there are problems (multiple network calls, screen rotation, nested lifecycle).

My current suggestion is to create an adapter-viewholder set up just lik

[2019-05-09 06:49] uds5501 commented on #1728
@ShridharGoel The amount field requires something. Please make sure that a free ticket is pushing a `{amount : 0}` in data

[2019-05-09 06:58] ShridharGoel commented on #1728
@uds5501 An order with a combination of paid and unpaid tickets is working fine.

[2019-05-09 06:59] uds5501 commented on #1728
@ShridharGoel Good, this means you just have to pass `{amount : 0}` in the post request of a free order, that should do

[2019-05-09 07:34] iamareebjamal commented on #1728
This is an issue on server and should be fixed. null should default to 0

[2019-05-09 18:49] anhanh11001 opened #1741 "Empty View for frequenly asked questions"
**Describe the feature you'd like**
Empty View for frequently asked questions

**Would you like to work on the issue?**
Yes

[2019-05-09 20:22] anhanh11001 commented on #1600
Duplicate #1139

[2019-05-10 04:11] #1215 closed

[2019-05-10 05:15] #1600 closed

[2019-05-10 06:04] anhanh11001 opened #1746 "Feedback is not updated after submitting new feedback"
**Describe the bug**
In EventDetailFragment, Feedback is not updated after submitting new feedback.

**Would you like to work on the issue?**
Yes

[2019-05-10 18:59] #1598 closed

[2019-05-11 05:15] #1237 closed

[2019-05-11 07:10] ShridharGoel commented on #1737
@iamareebjamal Please reopen this. A wrong PR was linked with it I think.

[2019-05-11 07:55] anhanh11001 commented on #1737
yes it was, sorry my bad, I have also closed the right one

[2019-05-11 07:55] #1741 closed

[2019-05-11 09:06] anhanh11001 commented on #1709
@aggarwalpulkit596 Are you still working on this or may I take this up?

[2019-05-11 11:09] liveHarshit opened #1748 "Show only upcoming or ongoing events"
**Describe the feature you'd like**
Currently all events are showing according to search location.

**Would you like to work on the issue?**

Working on it.

[2019-05-11 11:10] aggarwalpulkit596 commented on #1709
@anhanh11001 it wasn't approved i guess @iamareebjamal can i start on working this ?

[2019-05-11 11:10] liveHarshit commented on #1705
no

[2019-05-11 11:12] liveHarshit commented on #1705
@anhanh11001 Do you find any memory leak?
[code]

[2019-05-11 11:30] iamareebjamal commented on #1709
Go ahead

[2019-05-11 11:38] liveHarshit opened #1749 "Do authentication without using navigation bar"
**Describe the feature you'd like**
- Current issue - Back stack will not work properly while switching between sign in and sign up fragments.
 - Only one navigation bar will there.
 - No need to check if the user is registered or not.

**Would you like to work on the issue?**

- [x] Yes
- [ ] No
- Other:

[2019-05-11 11:46] liveHarshit opened #1750 "Cannot access settings and other options without authentication"
**Describe the bug**
Split other options with the profile.

**Would you like to work on the issue?**

- [x] Yes
- [ ] No
- Other:

[2019-05-11 11:49] liveHarshit opened #1751 "Add authentication with facebook and google"
**Would you like to work on the issue?**

- [x] Yes
- [ ] No
- Other:

[2019-05-11 12:14] liveHarshit opened #1752 "Add Leak Canary to detect memory leak in the app"
**Describe the feature you'd like**
Add LeakCanary android library to detect memory leaks.

**Would you like to work on the issue?**

- [x] Yes
- [ ] No
- Other:

[2019-05-11 15:41] anhanh11001 commented on #1705
@liveHarshit I haven't..

[2019-05-11 16:33] liveHarshit commented on #1705
Okay, I will add a library to test memory leak. :+1:

[2019-05-11 16:34] liveHarshit commented on #1705
If it will help.

[2019-05-11 18:57] #1691 closed

[2019-05-12 07:48] aman210697 commented on #1689
@anhanh11001 plz review this #1707

[2019-05-12 12:39] adityastic commented on #1752
Use it to fix the leak and remove the implementation. Why would you keep a debugging library inside the app?

[2019-05-12 14:38] liveHarshit commented on #1752
I will help to detect real time memory leak.

[2019-05-12 15:50] adityastic commented on #1752
@liveHarshit leakcanary creates its own activity which will be displayed with a seperate icon in the launcher, i would not suggest you to keep a debug library in a production app

[2019-05-12 15:57] liveHarshit commented on #1752
I will not add it for production app, it will generate for debug only.
@iamareebjamal please suggest your opinions?

[2019-05-12 16:54] adityastic commented on #1752
@liveHarshit yeah cool

[2019-05-12 20:29] anhanh11001 commented on #965
This is already fixed. Please close this issue

[2019-05-12 20:32] anhanh11001 opened #1755 "Refractor AttendeeFragment (multiple problems)"
**Describe the bug**
- Many problems regarding screen rotation
	Attendee list, ticket information disappear,  options to pick the payment options
- Many unnecessary variables are kept inside the View (fragment) -> can be deleted or should be moved to ViewModel
- Redundant methods on both fragment file and view-holder file.
- The free events are not bookable

**Additional context**
Related issue: #

[2019-05-13 06:21] #965 closed

[2019-05-13 07:49] iamareebjamal commented on #1752
@adityastic See Orga App and other applications on how Leak Canary is used. @liveHarshit Go ahead

[2019-05-13 08:17] #1750 closed

[2019-05-13 09:10] adityastic commented on #1752
@iamareebjamal sure let me check

[2019-05-13 09:17] adityastic commented on #1752
Ok so use the no-op in the release builds @liveHarshit

[2019-05-13 09:27] liveHarshit commented on #1749
@iamareebjamal @nikit19 Can I add a new fragment which will redirect to log in or sign up fragment according to entered email also provide options for authentication with social media.

[2019-05-14 13:11] #1746 closed

[2019-05-14 14:32] #1017 closed

[2019-05-14 14:33] #862 closed

[2019-05-14 16:57] liveHarshit opened #1762 "Cannot continue from the last fragment after authentication"
**Describe the bug**
Cannot continue from the last fragment i.e. Tickets, Event details. If the user switches between login and sign up fragment during authentication.

**Would you like to work on the issue?**

- [x] Yes
- [ ] No
- Other:

[2019-05-14 19:00] #1621 closed

[2019-05-15 08:12] liveHarshit opened #1764 "Update credentials on google smart lock after updating the password"
**Would you like to work on the issue?**

- [x] Yes
- [ ] No
- Other:

[2019-05-15 11:32] #1764 closed

[2019-05-15 11:35] anhanh11001 commented on #1705
@liveHarshit recyclerView inside EventsFragment is leaked based on Leak Canary. I'm still investigating this. For now, I don't know if it is because of the current way we set up ListAdapter is wrong or because of the use of Koin scope inside that fragment. Will send updates later today

<img src="https://i.ibb.co/BfhztcL/60333570-435055270616482-3803135653038784512-n.jpg" width="300">
<img src="ht

[2019-05-15 14:31] anhanh11001 opened #1767 "Ticket network called multiple times"
**Describe the bug**
Inside TicketsFragment, `ticketApi.getTickets(id)` is called multiple time

**Additional context**
This bug is also similar to #1689 continuous API called on social link

**Would you like to work on the issue?**
Yes

[2019-05-16 06:53] #1752 closed

[2019-05-16 10:10] cckole opened #1772 "App stopped after clicking on the image of events to see the info in it."
**Describe the bug**
After I input singapore as the location I wanted to check, I clicked on one of the pictures and it took me to another page. while on that page, the app crashed. It was a sudden close.

**To Reproduce**

- launch the app
- Click on pick a city
- Enter a location. SINGAPORE for example
- Click on any picture
- Wait a little and note as the app closes

**Expected behavior**
My ex

[2019-05-16 10:23] liveHarshit commented on #1772
Can you please provide logs. It should due to memory leak. Issue #1795

[2019-05-17 06:34] liveHarshit commented on #1692
@ShridharGoel I'm not able to reproduce this issue. The issue is that event marked as favorite but recycle view is not updating after going back.

[2019-05-17 06:37] liveHarshit commented on #1552
This issue is solved.

[2019-05-17 06:38] liveHarshit commented on #1520
@aman210697 Are you working on it?

[2019-05-17 07:22] liveHarshit commented on #1631
@iamareebjamal I think it should implement now. The frontend is also filtering events based on call for speakers and receiving speaker's proposal.

[2019-05-17 07:27] liveHarshit opened #1776 "Add limited time to complete registration process"
Add time for 10 minutes to complete the order. Hold ticket status during that time.

[2019-05-17 07:52] #1552 closed

[2019-05-17 07:55] ShridharGoel commented on #1692
For me, the like icon is changing back to unliked state as in the GIF.

[2019-05-17 07:56] ShridharGoel commented on #1692
Will try again on latest commits

[2019-05-17 08:16] liveHarshit opened #1778 "Add option to apply discount code"
**Would you like to work on the issue?**

- [x] Yes
- [ ] No
- Other:

[2019-05-17 12:01] #1748 closed

[2019-05-17 14:50] aggarwalpulkit596 opened #1779 "Fatal Exception: java.lang.NoSuchMethodError: No virtual method getAnnotationsByType"
Use jackson-kotlin-module 2.8.6 for android < API 24
References
https://github.com/FasterXML/jackson-module-kotlin/issues/218

[2019-05-17 14:55] cckole commented on #1772
### Let's see if this help.

[code]

[2019-05-17 16:18] anhanh11001 commented on #1772
Can you update your branch to the latest commits, I think this issue is fixed now.

[2019-05-17 16:19] liveHarshit commented on #1772
Yes I was right it is duplicate of #1705

[2019-05-17 16:20] liveHarshit commented on #1772
But PR is not merged. #1766

[2019-05-17 16:21] anhanh11001 commented on #1705
This is fixed now when I deleted the use of Scope and use normal way to set up adapter/recycler view in EventsFragment. I'm closing this issue now. However, based on Leak Canary, the current way of setting up adapter/recyclerView in some other fragments still create leaks. I will investigate this and open a new issue

[2019-05-17 16:21] #1705 closed

[2019-05-17 16:27] anhanh11001 commented on #1772
Not that one. I deleted the use of Koin Scope in #1770  when I upgrade the Koin version, and it does help making the app not crash. I still keep #1766 as Leak Canary still report leaks not only in EventsFragment and most of other fragments that require setting up RecyclerView with adapter (I'll open a new issue now)

[2019-05-17 16:35] liveHarshit commented on #1772
Yes, Most of the detected leaks are related to recycle view adapter.

[2019-05-17 16:37] liveHarshit commented on #1772
Also there are several leaks related to coordinator layout, swipe refresh layout and bitmap.

[2019-05-17 16:44] anhanh11001 opened #1780 "Memory leaks when setting up Recycler/Adapter"
**Describe the bug**
In most fragment, setting up RecyclerView and Adapter leads to memory leaks reported by Leak Canary

**Screenshots**
<img src="https://i.ibb.co/gwFKn7c/60345444-2298089050455830-2070976493613219840-n.jpg" width="300">       <img src="https://i.ibb.co/zFZWhht/60782071-1073286796202126-1548120704145162240-n.jpg" width="300">

**Additional context**
#1705 related issue

**Would y

[2019-05-17 17:23] #1737 closed

[2019-05-17 17:24] #1689 closed

[2019-05-18 14:44] #1610 closed

[2019-05-18 17:06] anhanh11001 commented on #1728
@ShridharGoel this issue is fixed, can you close it?

[2019-05-18 17:47] #1728 closed

[2019-05-18 18:49] ShridharGoel commented on #1692
The issue is still there, please check @liveHarshit @anhanh11001

[2019-05-18 18:54] anhanh11001 commented on #1692
Yes, I can still reproduce it, i'll take a look at it

[2019-05-18 21:05] #1694 closed

[2019-05-19 05:15] anhanh11001 commented on #1617
This issue is resolved. Please close this

[2019-05-19 05:56] anhanh11001 opened #1784 "Fix Travis build warning on database schema"
**Describe the bug**
Travis build warns us about some problems on the database schema defined. The logs are attached below
**Logs**
[code]
**Would you like to work on the issue?**

- [ ] Yes
- [ ] No
- Other:

[2019-05-19 06:06] #1617 closed

[2019-05-19 06:08] anhanh11001 opened #1786 "Add speakers under session"
**Describe the feature you'd like**
Add speakers under session

**Would you like to work on the issue?**
Yes

[2019-05-19 06:10] #1251 closed

[2019-05-19 06:10] #1749 closed

[2019-05-19 06:10] #1762 closed

[2019-05-19 07:37] liveHarshit opened #1787 "Make fonts and icons even with navigation"
**Describe the feature you'd like**
Currently, gray color is used for navigation (icons & titles) and the black color is used for fragment content.

**Would you like to work on the issue?**

- [x] Yes
- [ ] No
- Other:

[2019-05-19 10:50] #1786 closed

[2019-05-19 16:46] #1631 closed

[2019-05-19 16:46] #1686 closed

[2019-05-19 20:22] iamareebjamal commented on #1780
Reopening because there might be other reasons for memory leaks. Please check @anhanh11001

[2019-05-20 13:21] liveHarshit opened #1795 "App crashes on selecting current location from welcome fragment"
Logs -
[code]

**Would you like to work on the issue?**

- [x] Yes
- [ ] No
- Other:

[2019-05-20 13:22] liveHarshit opened #1796 "Add shared element transition in auth fragment"
**Describe the feature you'd like**
Add shared element transition for email text input layout.

**Would you like to work on the issue?**

- [x] Yes
- [ ] No
- Other:

[2019-05-20 19:06] #1795 closed

[2019-05-20 19:58] anhanh11001 opened #1798 "Event not loaded on EventDetailsFragment"
**Describe the bug**
My previous PR #1740 made a mistake on calling viewModel.loadEvent() function only when there is internet connection while the event is loaded from the database, not the api.
This also leads to a problem on shared element transition.

**Would you like to work on the issue?**
Yes

[2019-05-20 21:00] anhanh11001 commented on #1520
This can be closed now. PR #1707

[2019-05-20 21:06] anhanh11001 commented on #1767
Fixed by #1707

[2019-05-20 21:11] #1767 closed

[2019-05-20 21:18] anhanh11001 opened #1801 "App crashes on screen rotation in TicketsFragment"
**Describe the bug**
App crashes on screen rotation in TicketsFragment
This is due to `        Picasso.get().cancelRequest(rootView.eventImage)
` is called on onDestroy() in EventDetailsFragment and rootView is not created. This should be moved to onDestroyView

**Would you like to work on the issue?**
Yes

[2019-05-20 21:31] anhanh11001 commented on #1692
@ShridharGoel  Can you check if this issue is still reproducible. I think it is fixed now by #1707. I guess the reason was when calling this method to load the flowable from the database, we missed `.distinctUntilChanged()` so the UI constantly keeps updating (like after every 1 second) by following the LiveData, which led to weird UI behaviour in EventDetailsFragment

Now:
[code]

[2019-05-20 21:52] anhanh11001 opened #1803 "App crashes on navigating back from AuthFragment"
**Describe the bug**
App crashes on navigating back from AuthFragment

**To Reproduce**
1. Go to the app without logged in
2. Move to OrderDetailsFragment -> Will be redirect to LogInFragment
3. Click back button -> App crashes

**Would you like to work on the issue?**
Yes

[2019-05-20 22:21] #1520 closed

[2019-05-21 04:46] liveHarshit opened #1804 "Likes section is displaying Events fragment"
Also, the app is crashing while redirected from likes to event details.

**To Reproduce**
1. Go to Likes

**Would you like to work on the issue?**

- [x] Yes
- [ ] No
- Other:

[2019-05-21 04:52] liveHarshit opened #1805 "App is showing delay while navigating to events details due to transition"
**Describe the bug**
The app is showing delay while navigating to the event details because of waiting to get image load into the image view of event detail.

**To Reproduce**
1. Go to the Events section
2. Open an event with a low internet connection

**Would you like to work on the issue?**

- [x] Yes
- [ ] No
- Other:

[2019-05-21 05:12] #1801 closed

[2019-05-21 12:55] liveHarshit opened #1808 "Stripe API key is getting null in attendee fragment"
Stripe api key is injected into manifest via manifest place holders but these variables are not working under meta-data.
- It means Stripe is not working in the production app.

**Would you like to work on the issue?**

- [x] Yes
- [ ] No
- Other:

[2019-05-21 15:14] #1803 closed

[2019-05-21 15:15] #1804 closed

[2019-05-21 15:15] #1805 closed

[2019-05-21 17:46] ShridharGoel commented on #1692
Fixed.

[2019-05-21 17:46] #1692 closed

[2019-05-21 23:40] anhanh11001 opened #1811 "Set up send proposal for Call for Speakers"
**Describe the feature you'd like**
Currently, Send Proposal Button in Call for Speakers is not implemented.

**Would you like to work on the issue?**
Yes

[2019-05-22 07:53] #1798 closed

[2019-05-22 09:34] #1808 closed

[2019-05-23 08:23] liveHarshit opened #1815 "Apply spotless for XML resources files"
**Would you like to work on the issue?**

- [x] Yes
- [ ] No
- Other:

[2019-05-23 09:23] #1787 closed

[2019-05-24 02:08] anhanh11001 opened #1817 "Add skip screen to welcome fragment"
**Describe the feature you'd like**
Add skip screen to welcome fragment

**Additional context**
Feature request from weekly dicussion last week. Details about implementation will be editted.

**Would you like to work on the issue?**
Yes

[2019-05-25 03:56] liveHarshit opened #1818 "Chip state is not retainable"
**Describe the bug**
Cannot revert the search after selecting a category.

**Smartphone Info:**

|               | |
|---------------|-|
|Device         |Mi MaX 2|
|Android Version|Nougat 7.1.1 |

**Additional context**

**Would you like to work on the issue?**

- [x] Yes
- [ ] No
- Other:

[2019-05-25 07:30] anhanh11001 opened #1819 "Cannot change ticket option"
**Describe the feature you'd like**
When user picked a ticket option, they come back to TicketsFragment and change their option, it is not updated.

**Screenshots**
<img src="https://i.ibb.co/xDwR7gJ/ezgif-4-e34c746ccca3.gif" alt="ezgif-4-e34c746ccca3" border="0">

**Would you like to work on the issue?**
Yes

[2019-05-25 15:28] #1819 closed

[2019-05-25 15:40] anhanh11001 opened #1822 "Navigation from AuthFragment"
**Describe the bug**
In some fragment, click back button from LoginFragment shouldn't return to EventsFragment because it would intervene user from continuing their action.

Example: GIF attached below

**Screenshots**
<img src="https://i.ibb.co/2YLG3BZ/ezgif-4-c5148cf7b347.gif" alt="ezgif-4-c5148cf7b347" border="0">

**Would you like to work on the issue?**
Yes

[2019-05-25 16:29] aggarwalpulkit596 opened #1823 "Integrate In-App Update API"
References
https://developer.android.com/guide/app-bundle/in-app-updates

**Would you like to work on the issue?**
- [x] Yes

[2019-05-25 17:36] liveHarshit opened #1824 "Format registration form"
**Describe the feature you'd like**
Ask information according to organizer preference.

**Would you like to work on the issue?**

- [x] Yes
- [ ] No
- Other:

[2019-05-25 17:38] liveHarshit opened #1825 "Add search filters on event"
- [x] Sessions and Speakers
- [ ] Call for speakers

**Would you like to work on the issue?**

- [x] Yes

[2019-05-25 18:34] #1817 closed

[2019-05-25 18:35] #1755 closed

[2019-05-25 20:01] anhanh11001 opened #1827 "Set up TabLayout for EventDetailsFragment"
**Describe the feature you'd like**
Set up TabLayout for EventDetailsFragment to make this fragment cleaner

**Would you like to work on the issue?**
Yes

[2019-05-25 21:23] iamareebjamal commented on #1827
Focus on features and bug fixes for now please. Make enhancements and efficiencies later

[2019-05-25 23:41] anhanh11001 commented on #1551
This is already fixed and can be closed now.

[2019-05-25 23:46] anhanh11001 commented on #1453
I think this can be closed

[2019-05-25 23:46] anhanh11001 commented on #1827
Yes I'll work on other issues

[2019-05-26 06:24] #1453 closed

[2019-05-26 06:24] #1551 closed

[2019-05-26 11:13] #395 closed

[2019-05-26 11:14] #147 closed

[2019-05-26 11:14] #248 closed

[2019-05-26 11:14] #347 closed

[2019-05-26 11:14] #378 closed

[2019-05-26 11:14] #471 closed

[2019-05-26 11:15] mariobehling commented on #845
out of scope currently.

[2019-05-26 11:15] #845 closed

[2019-05-27 06:54] anhanh11001 opened #1829 "App crashes on log in in older version"
**Describe the bug**
App crashes on log in in older version, below API 23

**Logs**
E/AndroidRuntime: FATAL EXCEPTION: main
    Process: com.eventyay.attendee, PID: 8303
    java.lang.NoSuchMethodError: No virtual method getAnnotationsByType(Ljava/lang/Class;)[Ljava/lang/annotation/Annotation; in class Ljava/lang/reflect/Method; or its super classes (declaration of 'java.lang.reflect.Method' appea

[2019-05-27 07:06] anhanh11001 opened #1830 "Stripe implementation is not finished"
**Describe the bug**
In createOrder() function inside AttendeesViewModel,

[code]
There is no order confirm for paid order so the paid order is not created. This is not tested as well.

**Would you like to work on the issue?**
Yes

[2019-05-27 07:48] mariobehling commented on #1751
Out of scope currently.

[2019-05-27 07:48] #1751 closed

[2019-05-27 07:59] mariobehling commented on #1796
Special transitions are currently out of scope.

[2019-05-27 07:59] #1796 closed

[2019-05-27 08:00] mariobehling commented on #1827
We focus in the issue tracker on the core features and bugs for now. Other issues are out of scope for now. Closing this therefore.

[2019-05-27 08:00] #1827 closed

[2019-05-27 08:03] mariobehling commented on #1402
This is good. We can come back to this ones the app is more stable. Closing this therefore.

[2019-05-27 08:03] #1402 closed

[2019-05-27 08:04] mariobehling commented on #1348
App is in heavy development and this topic will be part of the usual dev process. Therefore closing it.

[2019-05-27 08:04] #1348 closed

[2019-05-27 08:05] mariobehling commented on #1369
This is delayed for now as development is ongoing. Please open a relevant issue ones this issue is ready to be tackled. Thanks.

[2019-05-27 08:05] #1369 closed

[2019-05-27 08:06] mariobehling commented on #1328
To do this people should login in the web frontend. This is out of scope of the app here at the moment.

[2019-05-27 08:06] #1328 closed

[2019-05-27 08:06] #1322 closed

[2019-05-27 08:07] #1320 closed

[2019-05-27 08:08] mariobehling commented on #1266
Payments will be solved as part of ongoing development in feature issues.

[2019-05-27 08:08] #1266 closed

[2019-05-27 08:08] mariobehling commented on #1144
App is connected to test environment. So, this is out of scope of further consideration currently.

[2019-05-27 08:08] #1144 closed

[2019-05-27 08:09] #1310 closed

[2019-05-27 08:09] mariobehling commented on #1126
This will be solved in feature issues.

[2019-05-27 08:09] #1126 closed

[2019-05-27 08:10] mariobehling commented on #1071
Payments are solved in payments feature issues.

[2019-05-27 08:10] #1071 closed

[2019-05-27 08:10] #967 closed

[2019-05-27 08:10] #904 closed

[2019-05-27 08:17] liveHarshit opened #1831 "Show check-in status on tickets"
**Would you like to work on the issue?**

- [x] Yes
- [ ] No
- Other:

[2019-05-27 08:34] liveHarshit opened #1832 "Wrong Event URL is being shared"
Not redirecting to eventyay.com

**Would you like to work on the issue?**

- [x] Yes
- [ ] No
- Other:

[2019-05-27 08:37] liveHarshit opened #1833 "Add content provider to receive eventyay event link"
**Describe the feature you'd like**
Receive eventyay event link in attendee and display event details.

**Would you like to work on the issue?**

- [x] Yes
- [ ] No
- Other:

[2019-05-27 10:41] anhanh11001 commented on #1832
Yes, I think the current implementation only share a picture of the event, I have a friend who thought it is some kind of bug so it is nice if it is fixed

[2019-05-27 13:09] #1829 closed

[2019-05-27 13:33] #1822 closed

[2019-05-27 13:33] #1818 closed

[2019-05-28 03:13] anhanh11001 opened #1836 "Add code of conduct fragment"
**Would you like to work on the issue?**
Yes

[2019-05-28 03:56] anhanh11001 commented on #1830
From the documentation and implementation in the frontend, I understand there are 5 payment options: Online - Paypal, Stripe and Offline - On site, cheque, telegraphic transfer.
<img src="https://i.ibb.co/HgtH9hR/Capture.png" alt="Capture" border="0">
<img src="https://i.ibb.co/6D73vKH/payment-1.png" alt="payment-1" border="0">

So for offline payments method, I'll display instruction information.

[2019-05-28 04:05] liveHarshit opened #1838 "Cannot scroll filter fragment"
**Describe the bug**
Cannot access all options after device rotation.

**Would you like to work on the issue?**

- [x] Yes

[2019-05-28 04:18] anhanh11001 opened #1839 "Add offline payment method information + show valid payment method"
**Describe the feature you'd like**
Currently, some event doesn't support all payment method, but both Stripe and Paypal payment method are shown.
Besides, there are offline payment method with information that can be shown.

**Would you like to work on the issue?**
Yes

[2019-05-28 05:52] liveHarshit opened #1842 "View ticket is not redirecting to orders"
**Describe the bug**
View ticket is not redirecting to orders in order completed fragment.

**Would you like to work on the issue?**

- [x] Yes
- [ ] No
- Other:

[2019-05-28 07:26] iamareebjamal commented on #1830
You need to fetch event from server to see what payment methods are supported for the event. A person may have disabled a particular option, so it should not be shown.

Other than that, you are correct.

[2019-05-28 07:29] #1838 closed

[2019-05-28 07:29] #1836 closed

[2019-05-28 13:26] liveHarshit opened #1845 "Show date wise check"
**Describe the feature you'd like**
Display multiple check-in time and dates.

**Would you like to work on the issue?**

- [x] Yes
- [ ] No
- Other:

[2019-05-28 13:32] liveHarshit opened #1846 "UI overlapping in tickets"
**Describe the bug**
Cannot scroll to the last item.

**Screenshots**
<p align="center">
<img src="https://user-images.githubusercontent.com/27783786/58481950-12548400-817b-11e9-8201-76474550fd75.png" height = "480" width="270">
</p>

**Would you like to work on the issue?**

- [x] Yes
- [ ] No
- Other:

[2019-05-28 14:23] #1831 closed

[2019-05-28 14:33] ShridharGoel commented on #1846
Fixed in #1847

[2019-05-28 14:33] #1846 closed

[2019-05-29 01:13] anhanh11001 opened #1849 "Add billing information for paid ticket"
**Describe the feature you'd like**
From the implementation in frontend, for paid ticket, user has options to enter billing information about their company

**Screenshots**
<img src="https://i.ibb.co/DwkvQ4g/billing.png" alt="billing" border="0">

**Would you like to work on the issue?**
Yes

[2019-05-29 09:23] #1839 closed

[2019-05-29 12:53] #1849 closed

[2019-05-29 15:05] liveHarshit opened #1853 "App crashes on registering free tickets"
**To Reproduce**
Register for a free ticket.

**Logs**

[code]

**Smartphone Info:**

|               | |
|---------------|-|
|Android Version|Nougat 7.1.1|

**Would you like to work on the issue?**

- [x] Yes

[2019-05-29 15:59] #1853 closed

[2019-05-30 00:38] anhanh11001 opened #1857 "Add checking required fields on registering tickets"
**Describe the feature you'd like**
Add checking required fields on registering tickets and show error message when clicking register button.

**Would you like to work on the issue?**
Yes

[2019-05-30 00:41] anhanh11001 opened #1858 "Offline payment is not placed"
**Describe the bug**
- Currently, offline payment method doesn't allow user to book ticket, only to show intructions. It turns out that users can still book ticket with Offline payment with status PLACED (based on implementation in server and frontend).
- Besides, there are more payment mode need to be sent to the server than just "free,paypal,stripe"

**Would you like to work on the issue?**
Yes

[2019-05-30 04:37] liveHarshit opened #1861 "Issues with ticket registration form"
Bugs-
- [x] Ticket buyer information is not asked for one ticket
- [ ]  Ticket holder information should not editable

Enhancement -
- [x] Provide option to input same details in holder info as the buyer info

**Would you like to work on the issue?**

- [x] Yes

[2019-05-30 06:25] #1857 closed

[2019-05-30 06:26] #1845 closed

[2019-05-30 06:26] #1842 closed

[2019-05-30 06:27] #1858 closed

[2019-05-30 06:52] #1779 closed

[2019-05-30 16:54] #1832 closed

[2019-05-31 05:13] liveHarshit commented on #1824
@angmas1 This issue is related to call for speaker. Ask info according to organizer preference. Mine misunderstanding.
![image](https://user-images.githubusercontent.com/27783786/58683100-dd217f00-8390-11e9-9fbf-2b3090c2d695.png)

[2019-05-31 09:25] anhanh11001 opened #1869 "Allow getting tickets without log in"
**Describe the feature you'd like**
Allow getting tickets without log in

**Would you like to work on the issue?**
Open to all

[2019-05-31 21:08] vartult opened #1870 "Authentication fragments e-mail validation not working."
**Describe the bug**

In the main sign up page even if entering correct email address, the validator is throwing error stating invalid email address.
**To Reproduce**

    1.Go to signup.
    2.Enter correct email ID.
    3.Next complete Signup page.
    4.Enter correct email ID.
    5.It will not be accepted.

**Expected behavior**

Form should proceed after correct validation.

**Screenshots**
!

[2019-06-01 03:37] liveHarshit commented on #1870
@vartult Reproducible, go ahead. :+1:

[2019-06-01 04:03] #1824 closed

[2019-06-01 04:39] liveHarshit opened #1872 "App crashes on clicking register during registration"
**Describe the bug**
- App crashes on clicking register during registration in attendee fragment.
- Wrong placement of progress bar

**To Reproduce**
Register for a ticket and click again for register.

**Would you like to work on the issue?**

- [x] Yes
- [ ] No
- Other:

[2019-06-01 04:39] liveHarshit opened #1873 "Add similar events section in order completed fragment"
**Would you like to work on the issue?**

- [x] Yes
- [ ] No
- Other:

[2019-06-01 04:42] liveHarshit opened #1874 "Fix ticket fragment ui"
**Describe the feature you'd like**
While opening order with multiple tickets, UI looks like there is only one attendee.

**Would you like to work on the issue?**

- [x] Yes
- [ ] No
- Other:

[2019-06-01 04:51] liveHarshit opened #1875 "Diaplay tag for already registered tickets"
**Describe the feature you'd like**
Display tag for already registered tickets in Event details fragment.

**Would you like to work on the issue?**

- [x] Yes
- [ ] No
- Other:

[2019-06-01 08:39] vartult opened #1877 "Add multiple type of event filtering"
**Describe the feature you'd like**

Only one option can be selected, multiple options can be selected for filtering event type.

**Would you like to work on the issue?**

- [X] Yes
- [ ] No

[2019-06-01 09:57] #1872 closed

[2019-06-01 18:53] anhanh11001 commented on #1825
Harshit, I have just taken a look at the frontend, I think it is actually quite simple to filter Call For Speaker Event, just by adding include ="speakers-call" so if you don't mind, I'm sending a quick PR on this

[2019-06-01 19:24] #1811 closed

[2019-06-02 00:54] #1873 closed

[2019-06-02 04:30] liveHarshit commented on #1825
Sure. :+1:

[2019-06-02 07:02] vartult commented on #1874
@liveHarshit this issues seems to be in backend only.

[2019-06-02 07:07] vartult commented on #1870
@liveHarshit the issues seems to be in backend only.

[2019-06-02 08:57] liveHarshit commented on #1861
Need more work as discussed in the meeting.

[2019-06-02 13:21] liveHarshit opened #1879 "No method for handling live data of progress in event details fragment"
**Would you like to work on the issue?**

- [x] Yes
- [ ] No
- Other:

[2019-06-02 16:58] anhanh11001 opened #1880 "Set up sending proposals for speakers call"
**Describe the feature you'd like**
Set up sending proposals for speakers call + Editting current proposal

**Additional context**
Continuity from #1816

**Would you like to work on the issue?**
Yes

[2019-06-02 17:27] anhanh11001 opened #1881 "Unverified email shouldn't be able to get free tickets"
**Describe the bug**
Unverified email shouldn't be able to get ticket

**Would you like to work on the issue?**
Yes

[2019-06-02 17:29] ShridharGoel commented on #1881
Please have a look at https://github.com/fossasia/open-event-server/issues/5970 and https://github.com/fossasia/open-event-server/issues/5760

[2019-06-02 17:31] ShridharGoel commented on #1881
Also, this is something that the server should handle.

[2019-06-02 22:35] #1776 closed

[2019-06-03 05:36] liveHarshit commented on #1881
Remember only for free tickets

[2019-06-03 06:38] liveHarshit opened #1882 "Alert dialog buttons are functioning reverse in attendee fragment"
Currently -
Are you sure to want to cancel the order?
click continue -> dialog dismiss
click cancel -> Order cancel

It should in reverse.

**Would you like to work on the issue?**

- [x] Yes

[2019-06-03 07:33] anhanh11001 opened #1885 "Multiple small problems in AttendeeFragment"
**Describe the bug**
- The naming of the event contains time while the text below also displays the time of the event as well (redundant)
- Time displayed for event is not logical (Date is displayed twice for event with same days)
- Remove billing information section for free events
- Remove alert dialog on creating order
- Add loading progress dialog on ordering ticket
- Pop up message on not all

[2019-06-03 08:00] #1861 closed

[2019-06-03 08:09] liveHarshit opened #1887 "Add profile verification"
**Describe the feature you'd like**
- Display verification status in profile
- Provide option to email verification link

**Would you like to work on the issue?**

- [x] Yes
- [ ] No
- Other:

[2019-06-03 08:10] liveHarshit commented on #1887
@anhanh11001 Can I go ahead if you are already not working on it?

[2019-06-03 08:11] liveHarshit commented on #1870
@vartult Are you able to identify the problem or should I help? Because it is not a server side issue.

[2019-06-03 08:45] #1882 closed

[2019-06-03 09:01] ShridharGoel commented on #1882
I would have recommended to use `Yes` or `No` here since upon seeing "Are you sure to want to cancel the order?" some users might click on `Cancel` to proceed for cancellation. Maybe this is the reason that earlier it was in reverse order, `Continue` meant to continue with the order and `Cancel` was meant for cancellation of the order.

[2019-06-03 09:16] anhanh11001 commented on #1887
Sure, please go ahead

[2019-06-03 10:22] liveHarshit commented on #1882
@ShridharGoel Agree with it.

[2019-06-03 12:10] vartult commented on #1870
@liveHarshit yes it throwing error 422. I'm not able to identify where it is getting checked.

[2019-06-03 12:11] ShridharGoel commented on #1870
@vartult Please post the logs here.

[2019-06-03 12:34] liveHarshit commented on #1870
I figured out the problem. According to server password should be 8 characters so that it is throwing 422 error. Sending a PR.

[2019-06-03 12:40] ShridharGoel commented on #1870
Okay, that's why the error seemed random since it happened sometimes only, at those times I might have entered a password of less than 8 characters.

[2019-06-03 12:48] liveHarshit commented on #1887
Sure. :+1:

[2019-06-03 15:09] #1833 closed

[2019-06-03 15:23] #1870 closed

[2019-06-03 15:24] #1885 closed

[2019-06-03 15:25] iamareebjamal commented on #1870
Open an issue on server, it should not be throwing 422, it should be throwing 400

[2019-06-04 09:20] anhanh11001 opened #1895 "App crashes on clicking SimilarEvent in OrderCompletedFragment"
**Describe the bug**
App crashes on clicking SimilarEvent in OrderCompletedFragment

**Logs**
[code]
**Screenshots**
<img src="https://i.ibb.co/yypvJDv/ezgif-2-6a2046d3f6cc.gif" alt="ezgif-2-6a2046d3f6cc" border="0">

**Would you like to work on the issue?**
Yes

[2019-06-04 09:23] anhanh11001 opened #1896 "After filtering events in Search, Action bar title is incorrect"
**Describe the bug**
After filtering events in Search, Action bar title is incorrect

**Screenshots**
<img src="https://i.ibb.co/vxhJWnT/ezgif-2-6f02c7e62f71.gif" alt="ezgif-2-6f02c7e62f71" width="300">  <img src="https://i.ibb.co/c8KrRYZ/ezgif-2-74b99c2ef8a1.gif" alt="ezgif-2-74b99c2ef8a1" width="300">

**Would you like to work on the issue?**
Yes

[2019-06-04 09:28] anhanh11001 opened #1897 "EventDetailsFragment display unaccepted sessions/speakers"
**Describe the bug**
Sessions/Speakers should only be displayed when they are accepted by the Organizer
The same for public/private events/speakerscall

**Would you like to work on the issue?**
Yes

[2019-06-04 09:45] liveHarshit commented on #1895
Not crashing on my device. You android version?

[2019-06-04 09:47] anhanh11001 opened #1898 "Invalid email in AuthFragment"
**Describe the bug**
Invalid email should not be able to be typed in in AuthFragment. Besides, in LoginFragment or SignUpFragment, email typed in should be disabled or redirect to AuthFragment like Eventbrite when user try to change it, otherwise, it is not logically to split AuthFragment with LoginFragment/SignUpFragment

**Screenshots**
<img src="https://i.ibb.co/qdCB8KY/ezgif-2-9fbebaa7f573.gif

[2019-06-04 10:52] anhanh11001 commented on #1895
8.0.0, API 26

[2019-06-04 10:59] #1825 closed

[2019-06-04 11:16] liveHarshit commented on #1895
Also crashing on API Q

[2019-06-04 11:20] liveHarshit commented on #1897
Parent issue?

[2019-06-04 11:23] anhanh11001 commented on #1897
I removed child-issue. I mistakenly added that tag

[2019-06-04 13:15] anhanh11001 commented on #1896
When I tick on the tick icon in FilterFragment (redirect to SearchResultsFragment) -> Here is the log from SearchResultsFragment and SearchFragment. It shows that SearchFragment still calls its method in the backstack... You have any ideas on this??

@liveHarshit
[code]

[2019-06-04 13:36] liveHarshit commented on #1896
@anhanh11001 Search fragment is still running in the background. When we open search fragment, onCreate and onCreateView called. After redirecting to search results, onDestroyView is called, so after returning onCreateView is called not onCreate again. So the fragment is running in the back stack because of onDestroy of the fragment never calls.

[2019-06-04 13:38] anhanh11001 commented on #1895
@liveHarshit I'm just curious, what's the meaning of milestone in here?

[2019-06-04 14:19] liveHarshit commented on #1895
Mean, the issue should solve before release v0.4.0.

[2019-06-04 15:02] iamareebjamal commented on #1879
https://github.com/fossasia/open-event-android/pull/1894/files#diff-b04aedb0d153eea403aaed09ab68aa47R192

Add the statement in error block as well

[2019-06-04 16:02] #1879 closed

[2019-06-04 17:17] liveHarshit opened #1904 "Fetch profile from API and revalidate from database"
Add refresh button to retrieve user information from the server instead of the database.
Whenever profile information updated from server side it will not retrieve in the app.

**Would you like to work on the issue?**

- [x] Yes
- [ ] No
- Other:

[2019-06-04 17:18] liveHarshit commented on #1904
@anhanh11001 @nikit19 @iamareebjamal Your opinions?

[2019-06-04 17:25] iamareebjamal commented on #1904
Add swipe to refresh. And normally, the app should use stale while revalidate strategy. Meaning show the data from db but start the fetch process as well

[2019-06-04 17:27] liveHarshit commented on #1904
It is a good idea over swipe refresh. :+1:

[2019-06-05 12:05] liveHarshit opened #1907 "App crashes on device rotation in orders"
**Would you like to work on the issue?**

- [x] Yes
- [ ] No
- Other:

[2019-06-05 17:42] #1887 closed

[2019-06-05 17:43] #1874 closed

[2019-06-05 17:43] #1907 closed

[2019-06-06 04:54] shreyanshdwivedi commented on #1881
@liveHarshit @anhanh11001  so are we going to disallow guest/unauthenticated users to buy free tickets?

[2019-06-06 05:00] liveHarshit commented on #1881
Yes, as discussed by @mariobehling

[2019-06-06 05:02] liveHarshit commented on #1881
@anhanh11001 Working on it as Issue #1887 solve.

[2019-06-06 06:59] #1895 closed

[2019-06-06 07:10] iamareebjamal commented on #1881
@shreyanshdwivedi Please ensure this check is on the server

[2019-06-06 07:59] liveHarshit opened #1920 "App is freezing on auth fragment"
**Describe the bug**
The app is freezing on auth fragment in API 28
- Due to google smart authentication

[2019-06-06 08:15] liveHarshit opened #1921 "Issue in order completed fragment"
The tick menu item is redirecting to events with the wrong app bar configuration

[2019-06-06 08:16] liveHarshit commented on #1920
@anhanh11001 This issue is after PR #1901 . Please help me to figure out the problem.

[2019-06-06 08:26] anhanh11001 commented on #1920
Yes, I'm working on it now

[2019-06-06 08:42] anhanh11001 commented on #1920
@liveHarshit can you tell me how to reproduce it?

[2019-06-06 08:48] liveHarshit commented on #1920
Save credentials with Google smart lock and log out.
After opening auth fragment app is freezing, but while reverting changes in #1901, working fine.
Logs are not there because it is due to a memory leak.

[2019-06-06 09:01] anhanh11001 opened #1923 "App crashes on SignUpFragment when changing email text"
**Describe the bug**
App crashes on SignUpFragment when changing email text

**Would you like to work on the issue?**
yes

[2019-06-06 09:04] liveHarshit commented on #1920
@anhanh11001 Are you able to reproduce it. This issue is with the play store build variant.

[2019-06-06 09:11] anhanh11001 commented on #1920
Not really, I'm using my emulator. What should I do to test it with play store variant

[2019-06-06 09:13] liveHarshit commented on #1920
First of all your google account should signed in the device.
Go to build -> Buid variant and select playstoredebug and run the app.

[2019-06-06 09:15] liveHarshit commented on #1920
Logs -
[code]

[2019-06-06 09:18] anhanh11001 commented on #1920
ok I get it

[2019-06-06 09:18] liveHarshit commented on #1920
I think I got the problem, let me explain

[2019-06-06 09:19] anhanh11001 commented on #1920
ok please

[2019-06-06 09:21] liveHarshit commented on #1920
While redirecting to auth fragment, it is observing credentials from google smart lock, if credentials are there, it is redirected to login fragment. So, the text is going to change in the email text input layout. Due to text watcher, Again it pop up to auth fragment, now again credentials are observing from google smart lock and the whole process is repeating.

[2019-06-06 09:22] anhanh11001 commented on #1920
oh then #1924 should fix it

[2019-06-06 09:23] liveHarshit commented on #1920
But I have tested changes in the PR, this issue is still there. Let me check again.

[2019-06-06 09:28] liveHarshit commented on #1920
Tested not solved with #1924. Because smart lock credentials not passing through arguments.

[2019-06-06 14:19] #1920 closed

[2019-06-06 14:19] #1923 closed

[2019-06-06 14:22] #1921 closed

[2019-06-06 23:43] anhanh11001 commented on #1896
I need some helps here as I couldn't find way to solve this issue, I'm not sure if you understand the logs above. So when I make a filter from SearchFilterFragment (clicking tick icon), this action is taken
[code]
 here is what happens:

1. onCreated() of SearchResultFragment is called
2. onCreateView() of SearchResultFragment is called -> setting Action Bar title to "Search Results"
3. onCreate()

[2019-06-07 04:59] liveHarshit commented on #1896
Set it to false. And use `SearchFilterFragmentDirection` to navigate.

[2019-06-07 05:03] liveHarshit opened #1926 "Verify email with app"
**Describe the feature you'd like**
Add the content provider to receive URL and send the token to the server to verify email.

**Would you like to work on the issue?**

- [x] Yes
- [ ] No
- Other:

[2019-06-07 07:14] anhanh11001 commented on #1896
It is using `SearchFilterFragmentDirection` already. If popUpToInclusive is set to false, there would be 2 SearchResultFragment in the backstack

[2019-06-07 08:19] liveHarshit commented on #1896
Have you tried?

[2019-06-07 08:19] liveHarshit commented on #1896
The same problem is fixed in PR #1922

[2019-06-07 08:46] anhanh11001 commented on #1896
I have tried.

I'll take a look at that

[2019-06-07 09:22] liveHarshit commented on #1896
Yes I also got the same problem while using `.popBackStack(destinationId)` but it was solved with using navigation fragment directions.

[2019-06-07 12:51] #1904 closed

[2019-06-07 12:52] #1897 closed

[2019-06-07 16:22] #1411 closed

[2019-06-07 16:44] liveHarshit opened #1927 "Order is creating after ticket sold out"
<p align="center">
<img src="https://user-images.githubusercontent.com/27783786/59119847-7e9c6800-8971-11e9-82ef-3301a2da163a.gif" height = "480" width="270">
</p>
**Would you like to work on the issue?**

- [x] Yes
- [ ] No
- Other:

[2019-06-07 16:45] liveHarshit commented on #1927
@iamareebjamal Is this issue is from the server side because tickets should not show if sold out?

[2019-06-07 17:59] anhanh11001 opened #1928 "Add user details"
**Describe the feature you'd like**
Add user details in editting section

**Screenshots**
<img src="https://i.ibb.co/5s5khmf/dfsa.png" alt="dfsa" border="0">

**Would you like to work on the issue?**
Yes

[2019-06-07 18:01] anhanh11001 opened #1929 "Improve Feedback section"
**Describe the feature you'd like**
- Show only limited number of feedback in main EventDetailsFragment
- Add section to see full feedback
- Add user info on feedback

**Would you like to work on the issue?**
Yes

[2019-06-07 18:23] iamareebjamal commented on #1927
Maybe the implementation on Android is flawed?

[2019-06-08 03:59] liveHarshit commented on #1927
It is showing no tickets available at many events. But if one type on tickets sold out, that ticket should not be shown. Will check the implementation.

[2019-06-08 06:38] liveHarshit opened #1932 "Add email preferences in settings"
**Describe the feature you'd like**
Add email preferences for the user.

**Would you like to work on the issue?**

- [x] Yes
- [ ] No
- Other:

[2019-06-08 07:19] #1928 closed

[2019-06-08 12:22] anhanh11001 opened #1934 "Improve UI in TicketFragment, EventsFragment, OrderUnderUserFragment"
**Describe the feature you'd like**
Improve UI in TicketFragment, EventsFragment, OrderUnderUserFragment

**Would you like to work on the issue?**
Yes

[2019-06-08 21:50] anhanh11001 opened #1937 "Add ticket tag"
**Describe the feature you'd like**
- Add ticket tag for tickets and add ticket to OrderDetailViewHolder

**Would you like to work on the issue?**
Yes

[2019-06-08 22:12] #1937 closed

[2019-06-08 22:16] anhanh11001 commented on #1004
I'm closing this as this is already fixed in #1810

[2019-06-08 22:16] #1004 closed

[2019-06-08 22:20] anhanh11001 commented on #872
This can be closed as it is already implemented in #1594

[2019-06-08 22:20] #872 closed

[2019-06-08 22:21] anhanh11001 commented on #1778
Are you working on this or may I take this up ?

[2019-06-09 03:27] liveHarshit commented on #1778
I'm planning to work on it in the next week.

[2019-06-09 07:03] #1896 closed

[2019-06-09 07:04] #1929 closed

[2019-06-09 08:23] #1877 closed

[2019-06-09 15:04] #1934 closed

[2019-06-09 17:13] anhanh11001 opened #1938 "Improve header section (UI)"
**Describe the feature you'd like**
Improve header section (UI) in EventsFragment, LikesFragment, SearchFragment, OrderUnderUserFragment, TicketFragment

**Would you like to work on the issue?**
Yes

[2019-06-10 08:13] liveHarshit commented on #1778
I need help here. I'm getting the following response from the server but how can I relate it with event and tickets.
[code]

[2019-06-10 19:14] anhanh11001 commented on #1778
I'm not sure for now, I'll check the implementation of the frontend and comment back later in details.
For now, I think there are already relationships between event and ticket, so you can try adding a value about event,ticket in discount data class and add include?=event,tickets in the API call to see if it can relate to what you want.

[2019-06-11 01:32] liveHarshit opened #1941 "App crashes in Tickets"
**Describe the bug**
App crashes on clicking tickets in event details fragment while redirected from a URL.

[code]

**Would you like to work on the issue?**

- [x] Yes
- [ ] No
- Other:

[2019-06-12 09:44] #1941 closed

[2019-06-12 10:53] mariobehling opened #1943 "Repatcha: Implement Captcha for sensitive activities"
Please implement a Recaptcha for the following activities:
* Password Reset
* First login failed (the second and following requests should have a recaptcha)

Add the Recaptcha Credentials settings into the System Tab in the Admin section below the social credentials.

![Screenshot from 2019-06-12 12-46-52](https://user-images.githubusercontent.com/1583873/59345484-7eed8800-8d10-11e9-9aef-535cd5493

[2019-06-12 11:01] mariobehling opened #1944 "Move all documentation images into repo at docs/images/"
Images on the Readme.md and possibly other documentation files have images loading from external sources. This makes us dependent on external source being up and running. We don't want that.

Therefore please move all images in the documentation files including badges from app stores to /docs/images and update the files.

[2019-06-12 11:11] liveHarshit commented on #1943
Android?

[2019-06-12 14:26] liveHarshit commented on #1926
No endpoint on the server. Issue: https://github.com/fossasia/open-event-server/issues/6038
Eventbrite is using it already.

[2019-06-12 14:56] #1881 closed

[2019-06-12 15:33] #1943 closed

[2019-06-12 15:35] iamareebjamal commented on #1943
Duplicate of https://github.com/fossasia/open-event-frontend/issues/3129

[2019-06-12 15:36] liveHarshit commented on #1943
But we should use captcha in android as well.

[2019-06-12 15:44] iamareebjamal commented on #1943
Captchas aren't used on Android. Captchas are used to prevent bots to make actions. How can bots do actions on Android apps?

[2019-06-12 15:47] iamareebjamal commented on #1943
And if we add captchas on logins, it'll kill automated testing

[2019-06-12 16:02] liveHarshit commented on #1943
Yes correct. Got it>

[2019-06-12 16:03] #1875 closed

[2019-06-12 16:03] liveHarshit commented on #1943
The test util files are for automated testing?

[2019-06-12 16:07] iamareebjamal commented on #1943
Google Play runs automated tests to see if app crashes or not

[2019-06-12 16:08] #1938 closed

[2019-06-12 16:50] liveHarshit opened #1945 "Shimmer overlapping tickets"
**Describe the bug**
Shimmer layout overlapping tickets after coming back.

<p align="center">
<img src="https://user-images.githubusercontent.com/27783786/59370500-3fe72300-8d60-11e9-9c00-cf3c09dc0490.png" height = "480" width="270">
</p>

**Would you like to work on the issue?**

- [x] Yes
- [ ] No
- Other:

[2019-06-12 16:51] liveHarshit opened #1946 "Progress bar is continued showing on throwing error"
**Describe the bug**
The progress bar is continued showing on throwing an error in attendee fragment.

**Would you like to work on the issue?**

- [x] Yes
- [ ] No
- Other:

[2019-06-12 18:14] anhanh11001 opened #1948 "Improve UI on SearchFragment and related Search section"
**Describe the feature you'd like**
Improve UI on SearchFragment and related Search section

**Would you like to work on the issue?**
Yes

[2019-06-13 00:45] anhanh11001 opened #1951 "Add more animation on fragment"
**Describe the feature you'd like**
- Changing elevation of toolbar after scrolling
- slide up and down when showing/hiding sections

**Additional context**
Should be worked after #1950 got merged

**Would you like to work on the issue?**
Yes

[2019-06-13 05:01] #1944 closed

[2019-06-13 05:42] #1700 closed

[2019-06-13 11:52] liveHarshit opened #1953 "UI in event fragment"
<p align="center">
<img src="https://user-images.githubusercontent.com/27783786/59430378-bc7d0e80-8dff-11e9-9ce6-640719abe5e2.png" height = "480" width="270">
<img src="https://user-images.githubusercontent.com/27783786/59430379-bc7d0e80-8dff-11e9-9714-7bde2f1395b0.png" height = "480" width="270">
</p>

**Would you like to work on the issue?**

- [x] Yes
- [ ] No
- Other:

[2019-06-14 11:30] liveHarshit opened #1955 "Blank order details fragment"
**Describe the bug**
Blank order details fragment on no internet or no attendees,

<p align="center">
<img src="https://user-images.githubusercontent.com/27783786/59506438-d97c1500-8ec5-11e9-95b7-c346e3f6a421.png" height = "480" width="270">

**Would you like to work on the issue?**

- [x] Yes
- [ ] No
- Other:

[2019-06-14 18:34] #1945 closed

[2019-06-14 23:06] #1955 closed

[2019-06-15 04:28] liveHarshit commented on #1927
@iamareebjamal
`Throwable.message.equals(HttpErrors.CONFLICT)`
Is it pointing to tickets sold out?

[2019-06-15 06:49] #1946 closed

[2019-06-15 06:50] iamareebjamal commented on #1927
I don't think so, please open an issue on server

[2019-06-15 11:10] liveHarshit commented on #1927
Progress issue is solved in #1959 and that issue is not reproducible anymore.

[2019-06-15 11:10] #1927 closed

[2019-06-15 11:44] liveHarshit commented on #658
@iamareebjamal Will replacing it
[code]
with

[code]
solve the issue?

[2019-06-15 12:16] iamareebjamal commented on #658
No

[2019-06-15 12:29] #1784 closed

[2019-06-16 00:29] anhanh11001 opened #1962 "Share event by public URL"
**Describe the bug**
Currently, sharing an event to other apps only share the cover image of the event
**Expected behavior**
Share the public URL of the event

**Would you like to work on the issue?**
Yes

[2019-06-16 00:32] anhanh11001 opened #1963 "Add search query in SearchResultFragment"
**Describe the feature you'd like**
Add Search input text so that user can add Search query in SearchResultFragment

**Additional context**
Should be worked after #1950 got merged

**Would you like to work on the issue?**
Yes

[2019-06-16 00:35] anhanh11001 opened #1964 "Add contact event organizer"
**Describe the feature you'd like**
Add contact event organizer using email of user that create event.
@iamareebjamal should I use the email attached to organizer (user) of the event to make this feature?
[code]

**Would you like to work on the issue?**
Open to all

[2019-06-16 00:52] anhanh11001 opened #1965 "Add sign-out/log-in while ordering tickets"
**Describe the feature you'd like**
Currently, signout while making order will cancel the pending order. Following Eventbrite implementation, user can sign in for a new account

**Screenshots**
<img src="https://i.ibb.co/gjz2gtd/64319396-342663513086978-7498746357440577536-n.jpg" width="300">      <img src="https://i.ibb.co/m9w6dkn/64392584-2210444632342111-3001151343457992704-n-1.jpg" width="300"

[2019-06-16 01:10] anhanh11001 opened #1966 "Wrong implementation of custom form"
**Describe the bug**
Currently, custom form is not handle correctly. When ordering ticket, current API query doesn't return any custom form. Custom form shows what kind of information is needed, not what kind of extra information is required based on the implementation of server/frontend.
This should be fixed by querying the right form that is "form":"attendee", and then display the right attendee

[2019-06-16 01:30] anhanh11001 commented on #1676
I think this should be closed as user update speaker profile in Event SpeakersCallFragment, and it is already implemented

[2019-06-16 01:30] #1676 closed

[2019-06-16 04:24] liveHarshit opened #1967 "Past tickets are listing incorrectly"
**Describe the bug**
Past tickets are listing incorrectly according to time and date.

Here on 16th July 10 AM -

<p align="center">
<img src="https://user-images.githubusercontent.com/27783786/59559014-9da79380-901c-11e9-9fba-6d42224ed974.png" height = "480" width="270">
</p>

**Would you like to work on the issue?**

- [x] Yes
- [ ] No
- Other:

[2019-06-16 04:26] liveHarshit opened #1968 "Add feature for push notification"
**Describe the feature you'd like**
Add push notifications

**Would you like to work on the issue?**

- [x] Yes
- [ ] No
- Other:

[2019-06-16 04:32] #1772 closed

[2019-06-16 06:53] #1830 closed

[2019-06-16 08:19] #1709 closed

[2019-06-16 08:19] #1953 closed

[2019-06-16 08:25] anhanh11001 commented on #1640
duplicate

[2019-06-16 08:25] #1640 closed

[2019-06-16 08:25] anhanh11001 commented on #1607
duplicate

[2019-06-16 08:25] #1607 closed

[2019-06-16 08:28] anhanh11001 commented on #889
duplicate

[2019-06-16 08:28] #889 closed

[2019-06-16 08:30] anhanh11001 commented on #319
duplicate

[2019-06-16 08:30] #319 closed

[2019-06-16 14:54] liveHarshit opened #1970 "Make first and last name field editable in ticket registration form"
**Describe the bug**
Make the first and last name field editable if the user name is not registered with the profile.

**Would you like to work on the issue?**

yes

[2019-06-16 14:57] liveHarshit opened #1971 "Location progress is continued showing"
**Describe the bug**
Location progress is continued showing if the device location is off

**Would you like to work on the issue?**

yes

[2019-06-16 18:09] #1962 closed

[2019-06-18 15:23] liveHarshit commented on #1967
Event time was incorrect.

[2019-06-18 15:23] #1967 closed

[2019-06-18 16:15] #1948 closed

[2019-06-18 18:34] #1970 closed

[2019-06-18 18:58] liveHarshit opened #1979 "Snackbar message is displaying incorrectly in profile"
**Describe the bug**
Snackbar message is displaying incorrectly in profile. On create is called every time coming back and the previus message is displaying.

**Would you like to work on the issue?**

yes

[2019-06-19 11:28] #1971 closed

[2019-06-20 08:21] #1965 closed

[2019-06-20 11:49] liveHarshit opened #1984 "Update notification section"
**Describe the feature you'd like**
- [ ] Filter on basis of seen status
- [x] Store notification in the database and revalidate from API
- [x] Notify for new notifications

**Would you like to work on the issue?**

yes

[2019-06-20 12:48] liveHarshit opened #1986 "Move all public constant in one file"
**Would you like to work on the issue?**

yes

[2019-06-20 14:33] liveHarshit opened #1987 "Credentials are not updating with smart lock on login"
**Describe the bug**
Credentials are not updating with Google smart lock on login.

**Would you like to work on the issue?**

yes

[2019-06-20 14:59] anhanh11001 commented on #1780
@liveHarshit can you also take a look at this issue as well, I'm not sure for now

[2019-06-20 15:03] liveHarshit commented on #1780
Sure :+1:
This issue needs to divide into different parts. There are multiple memory leaks. We can list them manually and solve them.

[2019-06-20 18:37] #1963 closed

[2019-06-20 21:26] iamareebjamal commented on #1986
Bad idea

[2019-06-20 21:28] #1778 closed

[2019-06-21 00:16] #1966 closed

[2019-06-21 03:10] liveHarshit commented on #1986
Okay closing

[2019-06-21 03:10] #1986 closed

[2019-06-21 06:06] liveHarshit opened #1990 "Display ticket prices in event details fragment"
To match with Eventbrite

**Would you like to work on the issue?**

- [x] Yes
- [ ] No
- Other:

[2019-06-21 06:16] liveHarshit commented on #1823
Working on it :+1:

[2019-06-21 06:36] aggarwalpulkit596 commented on #1823
@liveHarshit lmk if you need any help as i have already implemented in most of my projects

[2019-06-21 07:02] liveHarshit commented on #1823
Yes, How to test the implementation? :sweat_smile:

[2019-06-21 08:44] aggarwalpulkit596 commented on #1823
Used flexible or the forced one ?

[2019-06-21 08:47] liveHarshit commented on #1823
[code]

[2019-06-21 10:30] aggarwalpulkit596 commented on #1823
Immediate is the forced one 😅 and testing is little bit tricky and length process will share code snippet with you although this looks good to me

[2019-06-21 10:37] liveHarshit commented on #1823
Yes, but hot to debug the implementation?

[2019-06-21 10:38] liveHarshit commented on #1823
And what about flexible one?

[2019-06-21 10:50] aggarwalpulkit596 commented on #1823
Both of them have to be tested in similar manner you can't debug it you actually have to test using a mock update will share it tonight don't have my laptop right now and difference between flexible and forced it that in case of flexible user might not update the app and can use the app while the update is happening whereas immediate shows user a different screen and can't use the app whole updati

[2019-06-21 15:04] #1815 closed

[2019-06-22 04:31] liveHarshit commented on #1987
It is due to device settings -
[code]

[2019-06-22 04:31] #1987 closed

[2019-06-22 04:40] liveHarshit commented on #1990
@iamareebjamal Should I raise an issue on the server to add an attribute for the ticket price range in Events or solve this issue by fetching tickets in event details fragment?

[2019-06-22 05:59] iamareebjamal commented on #1990
ticket price range?

Add a screenshot of what you want to achieve

[2019-06-22 06:04] anhanh11001 opened #1994 "Add crop/edit picture for profile image"
**Describe the feature you'd like**
Add crop/edit picture for profile image

**Would you like to work on the issue?**
Yes

[2019-06-22 07:20] liveHarshit commented on #1990
<p align="center">
<img src="https://user-images.githubusercontent.com/27783786/59960836-37bf7e00-94ec-11e9-80b9-7a4ac64bfef2.png" height = "480" width="270">
<img src="https://user-images.githubusercontent.com/27783786/59960837-38581480-94ec-11e9-946c-29333a8201b3.jpg" height = "480" width="270">
</p>

[2019-06-22 07:53] iamareebjamal commented on #1990
Open server issue

[2019-06-22 10:38] #575 closed

[2019-06-22 14:14] anhanh11001 opened #1995 "Improve Login Section"
**Describe the feature you'd like**
Improve Login Section with:
- Shared Element Transition between AuthFragment and SignUpFragment/LoginFragment
- Change UI
- Fix navigation in ProfileFragment coming back from AuthFragment

**Would you like to work on the issue?**
Yes

[2019-06-22 14:21] anhanh11001 opened #1996 "Add recent search in SearchFragment"
**Describe the feature you'd like**
Add recent search in SearchFragment

**Screenshots**
<img src="https://i.ibb.co/5v9T61N/64917629-1333655660143725-2497440675654533120-n.jpg" width="300">

**Would you like to work on the issue?**
Yes

[2019-06-22 14:26] anhanh11001 opened #1997 "Speakers not updated after creating speaker in SpeakersCall Section"
**Describe the bug**
After creating speakers in SpeakersCall section, the fragment need to be reloaded to fetch the already created speaker

**Would you like to work on the issue?**
Yes

[2019-06-24 09:42] liveHarshit opened #2001 "Ask for login at start"
As Eventbrite also add a skip button

**Would you like to work on the issue?**

yes

[2019-06-24 09:47] liveHarshit opened #2002 "Ask for rating after successful ticket order"
**Describe the feature you'd like**
Ask for a rating from the user on a successful order

**Would you like to work on the issue?**

- [x] Yes

[2019-06-24 09:55] liveHarshit opened #2003 "Extra white space in search"
**Describe the bug**
Extra white space in search on the left side

![device-2019-06-24-152329](https://user-images.githubusercontent.com/27783786/60009830-2fa24280-9694-11e9-903a-99415b8508dc.png)

**Would you like to work on the issue?**

yes

[2019-06-24 11:10] #1996 closed

[2019-06-24 18:46] #1979 closed

[2019-06-25 08:46] liveHarshit commented on #1780
@anhanh11001 @iamareebjamal What if we use data bindings for fragments instead of using `lateinit rootView`, I think it is causing for memory leaks.

[2019-06-25 11:01] iamareebjamal commented on #1780
It's not. The listeners are causing the memory leak. If you use the binding. binding and hence, the root view will get leaked

[2019-06-25 11:01] #2001 closed

[2019-06-25 11:56] liveHarshit commented on #1780
Okay and leaking always starts with message `Fragment#mFragmentManager is not null` in case of recycling adapters, I don't understand what it's mean?

[2019-06-25 12:22] liveHarshit opened #2006 "Add current location feature for f froid build"
**Would you like to work on the issue?**

yes

[2019-06-25 12:22] liveHarshit commented on #2006
@iamareebjamal Can I use LocationManager ?

[2019-06-25 13:19] liveHarshit commented on #2003
@anhanh11001 Is this issue reproducible in your device?

[2019-06-25 13:28] anhanh11001 commented on #2003
No, but I guess it is probably because of the background image I designed earlier contains those extra white space and I didn't notice it. Probably my phone resolution is not high as well so I didn't notice it. I'm checking it now

[2019-06-25 13:39] anhanh11001 commented on #2003
You can try to change the background of search fragment with this to see if it is solved: https://drive.google.com/file/d/1e621mIJ662rGj60jBYuSUNePsILJ0DQO/view?usp=sharing

[2019-06-25 14:32] liveHarshit commented on #2003
It's not looking good, can you share currently used file in SVG format, I'll edit that.

[2019-06-25 16:30] iamareebjamal commented on #1780
Doesn't matter

[2019-06-25 16:31] iamareebjamal commented on #2006
Yes

[2019-06-25 16:41] #1995 closed

[2019-06-26 12:31] liveHarshit commented on #1823
@aggarwalpulkit596 What is the status?

[2019-06-26 13:04] #1994 closed

[2019-06-26 13:47] anhanh11001 opened #2009 "Use RxJava zip when fetching similar events"
**Describe the feature you'd like**
Zip two request to one when fetching similar events

**Would you like to work on the issue?**
Yes

[2019-06-26 14:06] #2006 closed

[2019-06-26 14:38] liveHarshit opened #2011 "Back button is not working in search location fragment"
**Would you like to work on the issue?**

yes