[2019-06-26 14:44] anhanh11001 commented on #2003
Let's me check that again

[2019-06-26 14:48] anhanh11001 commented on #2003
Actually, I think I have deleted the original one so I think you might have to work with the one above. What's the problem of the SVG file above?

[2019-06-26 14:51] liveHarshit commented on #2003
It is fitting stretched after crop. The left and right person are out of the screen. Will try to fix it. :+1:

[2019-06-26 17:11] liveHarshit commented on #2011
@anhanh11001 Back press does not work until `Iconified` is set to true and here default Iconified value is false. So back press will never work with that implementation, so search view can be replaced by edit text safely. Are you okay with it?

[2019-06-26 23:04] anhanh11001 opened #2013 "Add pagination in SearchResultsFragment"
**Describe the feature you'd like**
Add pagination in SearchResultsFragment

**Additional context**
Should be work upon after #84 is solved

**Would you like to work on the issue?**
Yes

[2019-06-27 04:41] liveHarshit commented on #2011
I have tried by commenting on each method, replacing search view with edit text. Also, there are no logs related to that. I don't understand why it is happening. @anhanh11001 Is it reproducible from your side?

[2019-06-27 07:16] #2003 closed

[2019-06-27 08:09] #1951 closed

[2019-06-27 10:24] aman210697 opened #2015 "Events Swipe to refresh not working after maximizing app"
**Describe the bug**
Swipe to referesh doesn't work on EventsFragment after maximizing the app

**To Reproduce**
1. open app and minimize it
2. maximize the app and try swipe to refresh.
**Would you like to work on the issue?**
- Yes

[2019-06-27 11:19] aman210697 commented on #1780
DiffCallBack could also be the cause?
I am not sure

[2019-06-27 11:19] #2015 closed

[2019-06-27 11:26] iamareebjamal commented on #1780
Just remove the listeners in onDestroyView

[2019-06-27 12:33] aman210697 commented on #1780
or make it static?

[2019-06-27 12:49] iamareebjamal commented on #1780
Then change the title to "Add more memory leaks"

[2019-06-27 19:21] anhanh11001 commented on #2011
It's reproducible in my device, not sure why for now, I'll take a closer look later this evening

[2019-06-28 05:41] liveHarshit commented on #1780
Click listeners are removed in #1766 But still, there are memory leaks with recycler adapters -
<p align="center">
<img src="https://user-images.githubusercontent.com/27783786/60319844-637faf80-9995-11e9-951e-7513e2f7f9a7.png" height = "480" width="270">
<img src="https://user-images.githubusercontent.com/27783786/60319845-64184600-9995-11e9-8713-0ccc4eb04521.png" height = "480" width="270">
</p>

[2019-06-28 05:44] iamareebjamal commented on #1780
These clearly show swipe refresh listener not being removed

[2019-06-28 06:03] liveHarshit commented on #1780
But it is set to null -
https://github.com/fossasia/open-event-android/blob/91eda72bab0ed86f564ed26d259b7acb1eff7c7a/app/src/main/java/org/fossasia/openevent/general/event/EventsFragment.kt#L209

[2019-06-28 06:15] iamareebjamal commented on #1780
Will see what's happening

[2019-06-28 06:42] #2002 closed

[2019-06-28 12:46] adityastic commented on #1780
@liveHarshit I encountered a similar issue, rootview was leaking for me. Try removing the rootview, Im not sure about open-event's codebase but someone did code the fragments similar to EventsFragment.kt

[2019-06-28 13:07] anhanh11001 commented on #1780
@adityastic will try

[2019-06-28 16:01] #2009 closed

[2019-06-28 16:02] iamareebjamal commented on #1780
Not a solution

[2019-06-29 01:20] anhanh11001 opened #2021 "SearchFragment background image got distorted"
**Describe the bug**
SearchFragment background image got distorted

**Screenshots**
<img src="https://user-images.githubusercontent.com/27783786/60239513-a1b09c80-98cb-11e9-9594-a8dc9e6e21b8.png" width="300">

**Would you like to work on the issue?**
Yes

[2019-06-29 05:56] #2021 closed

[2019-06-29 07:23] #1984 closed

[2019-06-29 08:26] #1997 closed

[2019-06-29 12:18] anhanh11001 opened #2026 "wrong order status when holding ticket for user"
**Describe the bug**
Currently, with time counter on AttendeeFragment, "pending" order is created, which is not correct as from the implementation of the frontend, "initializing" order status should be used

**Would you like to work on the issue?**
Yes

[2019-06-29 12:22] anhanh11001 opened #2027 "Add PLACED and PENDING order for OrdersUnderUserFragment"
**Describe the feature you'd like**
Add PLACED and PENDING order for OrdersUnderUserFragment, following the implementation in the frontend. Currently, this fragment only shows COMPLETED order

**Would you like to work on the issue?**
Yes

[2019-06-29 12:27] anhanh11001 opened #2028 "Add sorting/filtering order/tickets based order status"
**Describe the feature you'd like**
Add sorting/filtering order/tickets based order status

**Additional context**
Should be worked after #2026 is finished

**Would you like to work on the issue?**
Yes

[2019-06-30 06:56] anhanh11001 opened #2029 "App crashes on navigating to AuthFragment from EventDetailsFragment"
**Describe the bug**
App crashes on navigating to AuthFragment from EventDetailsFragment

**Would you like to work on the issue?**
Yes

[2019-06-30 07:04] liveHarshit commented on #2029
Is this issue with navigation fragment direction?

[2019-06-30 07:41] anhanh11001 commented on #2029
Yes I think so

[2019-06-30 11:17] anhanh11001 opened #2030 "Add ticket details in TicketFragment"
**Describe the feature you'd like**
Add ticket details in TicketFragment

**Would you like to work on the issue?**
Yes

[2019-06-30 18:55] anhanh11001 opened #2033 "Add donation ticket"
**Describe the feature you'd like**
Add donation ticket

**Would you like to work on the issue?**
Yes

[2019-07-01 05:15] #2033 closed

[2019-07-01 08:55] #2030 closed

[2019-07-01 09:02] #2029 closed

[2019-07-01 09:31] anhanh11001 commented on #2011
It's because of requesting focus on SearchView, but I still don't know the root cause.

A workaround I tried is to change the SearchView into EditText and it should work find

<img src="https://i.ibb.co/cN1jQM4/1.png" alt="1" border="0">
<img src="https://i.ibb.co/Cpcw2Hv/2.png" alt="2" border="0">

[2019-07-01 09:38] liveHarshit commented on #2011
@anhanh11001 I have already tried with replacing search view with edit text, it not working. Please read my earlier comment.

[2019-07-01 09:38] liveHarshit commented on #2011
Have you tested on device?

[2019-07-01 09:50] anhanh11001 commented on #2011
Yes I did, let me try it again and then send you the GIF

[2019-07-01 09:50] anhanh11001 commented on #2011
What's your device info again?

[2019-07-01 09:52] liveHarshit commented on #2011
Noughat 7.1.1

[2019-07-01 09:57] liveHarshit commented on #2011
Let me test on a different device with edit text

[2019-07-01 10:07] liveHarshit commented on #2011
Not working on Android 10 API Q also, with edit text. Changes : https://github.com/liveHarshit/open-event-android/commit/3028850a9d5c738be77ee453aa34a5fcd8a31512

[2019-07-01 11:41] #2027 closed

[2019-07-01 15:04] mariobehling opened #2038 "Rename repo from open-event-android to open-event-attendee-android"
In order to follow more common naming conventions across all repos please rename the repo.

Also update:
* Readme files
* CI tools
* Codecoverage tools

[2019-07-01 17:06] #1926 closed

[2019-07-01 21:34] #2011 closed

[2019-07-01 23:17] anhanh11001 opened #2041 "App crashes in TicketsFragment - no internet"
**Describe the bug**
App crashes in TicketsFragment when there is no internet

**Screenshots**

**Would you like to work on the issue?**
Yes

[2019-07-02 05:04] #2026 closed

[2019-07-02 06:12] aman210697 opened #2043 "Redundant code after zip operator"
**Describe the bug**
 Redundant code in onNext after zip operator for similar events in event details and order complete

**Would you like to work on the issue?**
- Yes

[2019-07-02 09:04] #2043 closed

[2019-07-02 09:20] #84 closed

[2019-07-02 10:31] #2041 closed

[2019-07-03 01:09] anhanh11001 opened #2051 "Add camera feature for getting profile image"
**Describe the feature you'd like**
Add camera feature for getting profile image

**Would you like to work on the issue?**
Yes

[2019-07-03 01:11] anhanh11001 opened #2052 "Events not retained in EventsFragment"
**Describe the bug**
Events are not retained in EventsFragment after screen rotation or going back from EventDetailsFragment

**Would you like to work on the issue?**
Yes

[2019-07-03 01:18] anhanh11001 opened #2053 "Add loading indicator in EventDetailsFragment"
**Describe the feature you'd like**
Add loading indicator (shimmer) in EventDetailsFragment when loading feedbacks and similar events

**Would you like to work on the issue?**
Yes

[2019-07-03 05:00] liveHarshit opened #2054 "App crashes on first time sign in"
Logs-
[code]
**Would you like to work on the issue?**

yes

[2019-07-03 09:24] #2054 closed

[2019-07-03 10:50] liveHarshit opened #2056 "Update event with the owner"
Update fields according to https://github.com/fossasia/open-event-server/pull/6042

**Would you like to work on the issue?**

yes

[2019-07-03 17:31] liveHarshit opened #2058 "Events are refreshing every time after coming back"
**Would you like to work on the issue?**

yes

[2019-07-03 17:40] liveHarshit opened #2059 "UI overlapping in events"
<p align="center">
<img src="https://user-images.githubusercontent.com/27783786/60612979-91c31c00-9de7-11e9-8e31-aeeaf85ee86b.png" height = "480" width="270">
</p>

**Would you like to work on the issue?**

yes

[2019-07-03 18:20] #2056 closed

[2019-07-03 20:00] anhanh11001 commented on #2058
duplicate #2052

[2019-07-03 20:00] #2058 closed

[2019-07-03 21:48] anhanh11001 opened #2063 "Skip button appear in AuthFragment wrongly"
**Describe the bug**
Skip button should only appear once  in AuthFragment when app created

**Screenshots**
<img src="https://i.ibb.co/xJSrqSc/ezgif-4-7889bc4f895d.gif" alt="ezgif-4-7889bc4f895d" border="0">

**Would you like to work on the issue?**
Yes

[2019-07-04 06:12] #2053 closed

[2019-07-04 06:12] #2051 closed

[2019-07-04 08:10] liveHarshit commented on #2063
I think it is due to value is not updated with shared preferences, Because when we exit app on the welcome screen, then the screen does not appear again and directly redirect to events without going through login/signup.

[2019-07-04 08:55] #658 closed

[2019-07-04 09:50] #2038 closed

[2019-07-04 09:51] iamareebjamal opened #2064 "Malformed name of aab file"
aab file has wrong name - eventyay-attendee-dev-aab

[2019-07-05 05:12] #2063 closed

[2019-07-05 08:41] #2052 closed

[2019-07-05 08:42] #2028 closed

[2019-07-05 16:21] #2064 closed

[2019-07-05 20:22] anhanh11001 opened #2073 "Truncated order status"
**Describe the bug**
Truncated order status in OrdersUnderUserFragment

**Would you like to work on the issue?**
Yes

[2019-07-05 20:22] anhanh11001 opened #2074 "Add pagination for SimilarEvent"
**Describe the feature you'd like**
Add pagination for fetching similar events

**Would you like to work on the issue?**
Yes

[2019-07-05 20:38] #2013 closed

[2019-07-06 05:12] liveHarshit commented on #2059
Solved in PR #2070

[2019-07-06 05:12] #2059 closed

[2019-07-06 05:46] #1990 closed

[2019-07-06 06:45] liveHarshit opened #2077 "Do not open tickets if the order status is not completed"
**Describe the bug**
Currently, tickets are fetching if the order status is incompleted.

**Would you like to work on the issue?**

Open for all

[2019-07-07 07:10] #2074 closed

[2019-07-07 08:54] liveHarshit opened #2079 "Add app link for reset password"
**Would you like to work on the issue?**

yes

[2019-07-08 14:56] liveHarshit opened #2080 "Wrong password length in settings fragment"
It's 6 but the server is accepting 8.

**Would you like to work on the issue?**

yes

[2019-07-09 04:33] liveHarshit opened #2083 "Break events view model into smaller ones"
**Would you like to work on the issue?**

yes

[2019-07-09 14:20] anhanh11001 opened #2084 "Add paging in OrdersUnderUserFragment"
**Describe the feature you'd like**
Add paging in OrdersUnderUserFragment

**Would you like to work on the issue?**
Yes

[2019-07-09 14:22] anhanh11001 opened #2085 "Unable to click back press in SearchLocationFragment"
**Describe the bug**
Unable to click back press in SearchLocationFragment

**Would you like to work on the issue?**
Yes

[2019-07-09 14:25] anhanh11001 opened #2086 "Add ticket quantities picker for donation ticket"
**Describe the feature you'd like**
Currently, the user can only get 1 ticket for donation ticket. From the implementation in the frontend, the user can choose the maximum donation tickets based on event organizer settings.

**Would you like to work on the issue?**
Yes

[2019-07-09 14:26] anhanh11001 opened #2087 "Add more Vietnamese translation"
**Describe the feature you'd like**
Add more Vietnamese translation

**Would you like to work on the issue?**
Yes

[2019-07-09 14:48] ShridharGoel opened #2088 "Fix Mapbox Java SDK version"
**Describe the chore**
Mapbox Java SDK version is set to 4.9.0 while the latest release is 4.8.0.
https://github.com/mapbox/mapbox-java/releases

**Would you like to work on the issue?**
- [x] Yes
- [ ] No

[2019-07-09 14:59] anhanh11001 opened #2091 "User shouldn't be able to get more tickets/per order than organizer settings"
**Describe the bug**
User shouldn't be able to get more tickets/per order than organizer settings.
Also, UI doesn't look good
Example: User can get a maximum of 10 tickets, but we can still get like 9 free tickets, 9 paid tickets A, 9 paid tickets B -> 27 tickets/order

**Screenshots**
<img src="https://i.ibb.co/x8jTdWT/66488535-428151587779432-6888523283835125760-n.jpg" width="300">

**Would you

[2019-07-09 15:03] anhanh11001 commented on #2085
@liveHarshit Can you check if it is reproducible in your device, it is in my and it's weird cause I thought you sent a PR earlier

[2019-07-09 15:03] liveHarshit commented on #2091
I'm confused about this issue. When I created an event and buy tickets, tickets are displaying according to the max and min numbers which I have entered during creation.

[2019-07-09 15:03] liveHarshit commented on #2085
Yes, It was solved at that time. Will check again :+1:

[2019-07-09 15:29] anhanh11001 commented on #2091
Let me edit it, so you can get maximum of 10 tickets, but we can still get like 9 free tickets, 9 paid tickets A, 9 paid tickets B -> 27 tickets/order

[2019-07-09 16:47] #2080 closed

[2019-07-10 02:00] anhanh11001 commented on #2091
Checked frontend, it is not a bug. So I'm closing this issue

[2019-07-10 02:00] #2091 closed

[2019-07-10 04:11] liveHarshit opened #2098 "Add screenshots to fastlane metadata"
**Would you like to work on the issue?**

yes

[2019-07-10 09:54] #2088 closed

[2019-07-10 16:17] liveHarshit opened #2100 "Fields are missing in attendee section"
Last name and email fields are missing in attendee section

<p align="center">
<img src="https://user-images.githubusercontent.com/27783786/60986065-4b783a80-a35c-11e9-8a62-78484cc9072b.png" height = "480" width="270">
</p>

**Would you like to work on the issue?**

yes

[2019-07-10 16:29] liveHarshit opened #2101 "Fetch timer from settings"
- Timer for ticket registration should be according to the organizer preference.
- Message for the timer is displaying wrong.

**Would you like to work on the issue?**
<!-- Please let us know if you can work on it or the issue should be assigned to someone else. --yes

[2019-07-10 17:13] liveHarshit commented on #2100
Server side issue: https://github.com/fossasia/open-event-server/issues/6170

[2019-07-10 17:13] #2100 closed

[2019-07-11 07:17] #2098 closed

[2019-07-11 17:55] #2087 closed

[2019-07-11 19:12] ShridharGoel opened #2107 "Edit Profile section does not close after updating image"
**Describe the bug**
Currently, after updating the image and leaving the first name and last name blank, Edit Profile section doesn't close. If back button is pressed, a dialog box pops up asking for saving the details even if the details have already been saved. On clicking 'Save' in the dialog box, it closes,  and user remains on the Edit Profile section again. Only way to leave the section is t

[2019-07-11 19:32] anhanh11001 commented on #2107
I'm taking it up now

[2019-07-11 19:33] anhanh11001 opened #2108 "Redirect to frontend for Paypal payment"
**Describe the feature you'd like**
Redirect to frontend for Paypal payment

**Would you like to work on the issue?**
Yes

[2019-07-11 19:42] liveHarshit commented on #2108
Parent issue #333

[2019-07-11 21:49] #2073 closed

[2019-07-12 06:12] liveHarshit opened #2109 "Progress continues on unauthorization error"
**Describe the bug**
Progress continues on authorization error while loading events,

[code]

**Would you like to work on the issue?**

yes

[2019-07-12 09:17] #2079 closed

[2019-07-12 13:07] liveHarshit opened #2111 "App crashes due to empty intent"
**Would you like to work on the issue?**

yes

[2019-07-12 15:00] #2109 closed

[2019-07-12 15:00] #2111 closed

[2019-07-13 07:20] #2107 closed

[2019-07-13 13:21] anhanh11001 opened #2114 "Add delete account feature"
**Describe the feature you'd like**
Add delete account feature

**Would you like to work on the issue?**
Yes

[2019-07-13 19:42] anhanh11001 opened #2116 "Add RxJava chaining request call"
**Describe the feature you'd like**
Add RxJava chaining request call

**Would you like to work on the issue?**
Yes

[2019-07-14 07:46] #2084 closed

[2019-07-14 09:34] liveHarshit opened #2119 "Fix Ui: Tickets, Attendee and search fragment"
- Timezone is not displaying
- Ticket price details UI
- Price should display with double-digit after the decimal.
- Fab overlapping with event category

**Would you like to work on the issue?**

yes

[2019-07-14 09:36] liveHarshit opened #2120 "Fetch tex price details"
**Describe the feature you'd like**
Display tex price with the ticket price

**Would you like to work on the issue?**

yes

[2019-07-14 09:37] liveHarshit opened #2121 "All fields become mandatory after entering billing info"
**Describe the bug**
All fields become mandatory after entering billing info in attendee form

**Would you like to work on the issue?**

yes

[2019-07-14 16:02] iamareebjamal opened #2122 "Add these changes to fdroid metadata"
Latest changes are not compatible with fdroid build server, please add these to the fdroid metadata

https://gitlab.com/fdroid/fdroiddata/merge_requests/5053/diffs

What it should look like after the changes
https://gitlab.com/fdroid/fdroiddata/merge_requests/5055/diffs

[2019-07-14 16:35] liveHarshit commented on #2122
How to follow the procedure, should I create MR on GitLab?

[2019-07-14 16:59] iamareebjamal commented on #2122
Yes

[2019-07-15 01:55] adityastic opened #2123 "fix fastlane screenshots directory"
**Describe the chore**
images are stored in fastlane/metadata/android/en-US/images for some reason. It is specfied in the documentation to include screenshots in fastlane/metadata/android/en-US/images/phoneScreenshots

Reference : fossasia/badge-magic-android#417. Screenshots are visible without a successful build https://f-droid.org/en/packages/org.fossasia.badgemagic/.

**Would you like to work

[2019-07-15 03:58] anhanh11001 opened #2125 "Add searching for country name in ordering ticket"
**Describe the feature you'd like**
Add searching for countries name in ordering ticket

**Would you like to work on the issue?**
Yes

[2019-07-15 04:08] anhanh11001 opened #2126 "Illogical information displayed in Ticket and Event section"
**Describe the bug**
- Gender picker should be turned into a spinner instead of edit text
- Empty white unused space about event detail of order detail section
- Empty organizer name in Tickets Fragment
- Confusing Cancel/Continue Order
- Subtotal/Total ticket price in AttendeeFragment
- Display button "Register", "Pay now"

**Would you like to work on the issue?**
Yes

[2019-07-15 04:55] liveHarshit commented on #2122
Please check MR: https://gitlab.com/fdroid/fdroiddata/merge_requests/5083

[2019-07-15 05:04] adityastic commented on #2122
@liveHarshit fix pipeline

[2019-07-15 05:11] #2123 closed

[2019-07-15 10:01] liveHarshit opened #2128 "Display event time according to event timezone"
Current time is displaying according to the local time zone but in the frontend, it is displaying according to the event's timezone.

**Would you like to work on the issue?**

yes

[2019-07-15 10:14] #2083 closed

[2019-07-15 10:14] #2101 closed

[2019-07-15 10:16] #2121 closed

[2019-07-15 21:18] #2125 closed

[2019-07-15 22:21] #2085 closed

[2019-07-16 05:05] liveHarshit opened #2133 "Stripe not working"
Charge class is not matching with the server documentation.

For PayPal same endpoint can be used -
![image](https://user-images.githubusercontent.com/27783786/61267378-5ba57500-a7b5-11e9-8920-a5d0aab9fae5.png)

**Would you like to work on the issue?**

yes

[2019-07-16 05:36] liveHarshit commented on #2133
Stripe will not work like that. Here we are just creating a token from the server using card data, not completing the payment.
https://stackoverflow.com/a/50233021

[2019-07-16 05:38] liveHarshit commented on #2133
For now, if we redirect to the frontend, stripe, and PayPal both will work with the same implementation. Later Braintree implementation can handle both.

[2019-07-16 07:50] iamareebjamal commented on #2133
No, we need stripe to be implemented separately as an organizer may want to enable stripe on server and not braintree

[2019-07-16 07:56] #2128 closed

[2019-07-16 10:00] anhanh11001 commented on #2133
We do create the token in the client-side and then send the success token to the server.
<img src="https://i.ibb.co/ww8vrKy/stripe.png" alt="stripe" border="0">

Can you tell me which part of the code is not correct?

[2019-07-16 10:20] liveHarshit commented on #2133
@anhanh11001

[2019-07-16 10:21] liveHarshit commented on #2133
It's only creating a token from the card data, not completing the payment.

[2019-07-16 10:33] anhanh11001 commented on #2133
Ok so here is what we want right:
Collect card data (client) -> Create a stripe token using Stripe SDK (client) -> send token to the server (client) -> make payment (server) -> Finallize payment
Is it correct?

Because it is what is implemented. When we send the Charge object to the server, the server will handle the payment, send us the response and then we finalize it. We don't use Stripe SDK to

[2019-07-16 10:44] liveHarshit commented on #2133
Yes but here, how the server is handling the payment, Where the user is verifying the card with OTP or protected password!

[2019-07-16 10:46] liveHarshit commented on #2133
With the test key, the server is throwing an error and the same in the production app also.

[2019-07-16 10:52] iamareebjamal commented on #2133
OK, open an issue about test key not working as expected and mention what you sent and what you expect in response

[2019-07-16 10:54] #2126 closed

[2019-07-16 11:05] liveHarshit opened #2134 "Make billing info compulsory for paid orders"

[2019-07-16 11:08] liveHarshit commented on #2133
@iamareebjamal I think test API key will not work with production server as `"detail": "Request req_SJK4iedFbc3COs: No such token: tok_1EwoTzDaIjXFQnUghsf4zKpy"`  and there is no option for the stripe in debug server.

[2019-07-16 11:24] iamareebjamal commented on #2133
Open an issue about enabling stripe in dev instance

[2019-07-16 11:25] iamareebjamal commented on #2134
Confirm if server is throwing error if it is not included

[2019-07-16 11:28] liveHarshit commented on #2134
Server is not throwing error as the order is creating successfully

[2019-07-16 12:47] iamareebjamal commented on #2134
Open issue on server. And did you check on production server or development server?

[2019-07-17 06:00] liveHarshit commented on #2134
Both. Issue is already there: https://github.com/fossasia/open-event-server/issues/6137

[2019-07-17 06:28] liveHarshit opened #2137 "Past events are displaying in similar events section"
**Would you like to work on the issue?**

yes

[2019-07-17 07:56] #2086 closed

[2019-07-17 12:29] #2137 closed

[2019-07-17 18:13] anhanh11001 opened #2140 "Sort country selections"
**Describe the bug**
Sort country selections

**Would you like to work on the issue?**
Yes

[2019-07-17 18:29] #1677 closed

[2019-07-18 07:26] #2134 closed

[2019-07-18 07:28] iamareebjamal opened #2142 "Enable server configuration field in F-Droid build"
Seems like F-Droid maintainers are biased towards which apps get NonFreeNet anti-feature and which don't. So please enable the API URL configuring field in F-Droid build since I don't want to see NonFreeNet anti-feature on FOSSASIA apps which are not only fully built on Open Source technologies, but also give the easiest way to change server instances

Ridiculous policy

[2019-07-18 10:47] liveHarshit commented on #2142
Mean add api url under product flavour in gardle?

[2019-07-18 11:15] ShridharGoel commented on #2142
@liveHarshit Add option for user to change the base URL in F-Droid build

[2019-07-19 09:11] liveHarshit opened #2146 "Empty location"
**Describe the bug**
Search location fragment is taking empty location which is not clickable in events fragment

<p align="center">
<img src="https://user-images.githubusercontent.com/27783786/61524069-3d4cad00-aa33-11e9-9789-b870e932699a.png" height = "480" width="270">
</p>

**Would you like to work on the issue?**

- [x] Yes
- [ ] No
- Other:

[2019-07-19 09:20] liveHarshit opened #2147 "Icon missing in API 23"
**Describe the bug**
Location icon is missing in API 23

<p align="center">
<img src="https://user-images.githubusercontent.com/27783786/61524647-7afe0580-aa34-11e9-8f41-a58e7192e5ac.png" height = "480" width="270">
</p>

**Would you like to work on the issue?**

yes

[2019-07-19 09:31] liveHarshit opened #2148 "Make name and email mandatory for attendee form"
**Would you like to work on the issue?**

yes

[2019-07-19 11:05] anhanh11001 commented on #2148
Isn't it the server-side problem in the Custom Form?

[2019-07-19 15:09] liveHarshit commented on #2148
Yes, I think. Will close if fixed by https://github.com/fossasia/open-event-server/issues/6170#issuecomment-513174515

[2019-07-19 18:01] anhanh11001 opened #2150 "Attendee Form not fetched completely"
**Describe the bug**
- Attendee Form not fetched completely as in API request, normal page[size] is 20 while max custom form for attendee is 22
- Wrong custom form identifier
- Wrong text in UI for Address field

**Would you like to work on the issue?**
Yes

[2019-07-19 19:45] #2150 closed

[2019-07-19 20:01] #2140 closed

[2019-07-19 20:14] anhanh11001 opened #2153 "Date in saved(liked) event RecyclerView"
**Describe the feature you'd like**
Add date on liked events RecyclerView

**Screenshots**
<img src="https://i.ibb.co/5vRkcFC/67138356-322498058637764-3081225627097890816-n.jpg" width="300">

**Would you like to work on the issue?**
Yes

[2019-07-19 21:44] #1652 closed

[2019-07-20 06:05] liveHarshit opened #2159 "App crashes in Auth fragment: API 23"
Logs-
[code]

**Would you like to work on the issue?**

Yes

[2019-07-20 10:27] iamareebjamal commented on #2159
Reason #2157

[2019-07-20 10:27] #2119 closed

[2019-07-20 10:28] #2147 closed

[2019-07-20 10:31] #2114 closed

[2019-07-20 10:41] liveHarshit commented on #2159
I have checked by reverting changes in the PR, still crashing. Let me check again and confirm :+1:

[2019-07-20 11:45] liveHarshit commented on #2159
Tested. The app is crashing after PR #2157

[2019-07-20 12:10] #2159 closed

[2019-07-20 12:11] #2142 closed

[2019-07-20 12:17] #2146 closed

[2019-07-21 06:58] prateekj117 opened #2163 "Change endpoint for discount and access code"
The android issue for https://github.com/fossasia/open-event-server/issues/6027

**Describe the bug**
Change endpoint for retrieving discount code using event_id as in https://github.com/fossasia/open-event-server/pull/6208.

**Expected behavior**
Access code and discount code should work properly.

**Would you like to work on the issue?**

- [ ] Yes
- [x] No

[2019-07-21 08:20] #2153 closed

[2019-07-22 10:07] #1880 closed

[2019-07-23 04:30] anhanh11001 commented on #2163
are you working on this or should someone from the Android team take this up?

[2019-07-23 04:34] anhanh11001 opened #2164 "SpeakersCallFragment not updated after editing/creating proposal"
**Describe the bug**
SpeakersCallFragment not updated after editing/creating proposal

**Screenshots**
For instance, after submitting the proposal, SpeakersCallFragment doesn't contain proposal submitted:
<img src="https://i.ibb.co/Y2F7yzZ/67585463-348485512709949-8548827696233185280-n.jpg" width="300">

**Would you like to work on the issue?**
Yes

[2019-07-23 04:36] anhanh11001 opened #2165 "Pending sessions are displayed to user"
**Describe the bug**
Pending sessions are displayed when users look at event details

**Would you like to work on the issue?**
Yes

[2019-07-23 04:37] anhanh11001 opened #2166 "Add custorm form for creating/editting speakers and sessions"
**Describe the feature you'd like**
Add custorm form for creating/editting speakers and sessions

**Would you like to work on the issue?**
Yes

[2019-07-23 05:52] prateekj117 commented on #2163
@anhanh11001 Ya someone else can take this up from Android Team.

[2019-07-23 06:41] iamareebjamal commented on #2165
Server issue. Open there. Nothing to be done on client side

[2019-07-23 07:16] anhanh11001 commented on #2165
oh actually I did open this issue before and in the server as well. Closing this

[2019-07-23 07:16] #2165 closed

[2019-07-23 14:23] liveHarshit opened #2167 "Blank UI in order compeletd fragment"
Order completed fragment set with blank UI after dismissing rating dialog.

**Smartphone Info:**
API 24

<p align="center">
<img src="https://user-images.githubusercontent.com/27783786/61788093-d6facc80-ae2e-11e9-9a42-c6b49600649b.png" height = "480" width="270">
</p>

**Would you like to work on the issue?**

yes

[2019-07-23 14:27] liveHarshit opened #2168 "Handle error correctly in tickets fragment"
**Would you like to work on the issue?**

yes

[2019-07-24 07:26] #2164 closed

[2019-07-24 10:15] ShridharGoel opened #2172 "App crashes on clicking 'Edit Image' when no image is present"
**Describe the bug**
Clicking on 'Edit Image' when profile image is empty crashes the app.

**Logs**
[code]

**Would you like to work on the issue?**
- [x] Yes
- [ ] No

[2019-07-24 11:03] liveHarshit opened #2175 "UI overlapping in event details"
Feedback button is overlapping with tickets on bull bottom scroll if there are no similar events.

<img src="https://user-images.githubusercontent.com/27783786/61788806-a6b42d80-ae30-11e9-9256-3d4a765af566.png" height = "480" width="270">

**Would you like to work on the issue?**

yes

[2019-07-24 11:15] liveHarshit opened #2177 "Build is failing"
[code]

**Would you like to work on the issue?**

yes

[2019-07-24 12:32] #2177 closed

[2019-07-24 13:41] #2168 closed

[2019-07-24 13:42] #2172 closed

[2019-07-24 13:42] #2167 closed

[2019-07-25 01:57] anhanh11001 opened #2180 "Add string formatting"
**Describe the feature you'd like**
Add string formatting

**Would you like to work on the issue?**
Yes

[2019-07-25 02:31] anhanh11001 opened #2182 "Add sliding up/down animation on showing View"
**Describe the feature you'd like**
Add sliding up/down animation on showing View

**Would you like to work on the issue?**
Yes

[2019-07-25 06:39] #2180 closed

[2019-07-26 06:05] liveHarshit opened #2183 "Not able to remove favorite events"
**Logs**
[code]

**Screenshots**
<p align="center">
<img src="https://user-images.githubusercontent.com/27783786/61929718-60c6a900-af99-11e9-90fd-620193d2ff22.png" height = "480" width="270">
</p>

**Smartphone Info:**

API 24

**Additional context**

**Would you like to work on the issue?**

yes

[2019-07-26 06:59] liveHarshit opened #2184 "App crashes on writing feedback after 2nd"
**Logs**
[code]

**Would you like to work on the issue?**

yes

[2019-07-26 10:17] anhanh11001 opened #2187 "Get website links from HTML text"
**Describe the feature you'd like**
When stripping HTML text, extract HTTP website link so that user can click on that with CustomTab

**Would you like to work on the issue?**
Yes

[2019-07-26 14:26] #2116 closed

[2019-07-26 21:56] anhanh11001 opened #2189 "Add remove/take/edit image while editing speaker profile"
**Describe the feature you'd like**
Add remove/take/edit image while editing speaker profile

**Would you like to work on the issue?**
Yes

[2019-07-27 11:31] liveHarshit opened #2194 "Travis build is failing"
[code]

**Would you like to work on the issue?**

yes

[2019-07-27 12:14] #2194 closed

[2019-07-27 17:40] #2148 closed

[2019-07-27 18:19] iamareebjamal opened #2198 "Production app crashing due to SearchTypeFragment"
[code]

[2019-07-27 18:20] iamareebjamal commented on #2198
Go to the end of these videos. That's where the app crashes

https://storage.googleapis.com/play-mtaas-results-prod/com.eventyay.attendee/12/sailfish-25-en_GB-portrait/video.mp4?GoogleAccessId=498997737111-pmn4sf5896c460sheh5fv3k1j1cq46t5@developer.gserviceaccount.com&Expires=1564253211&Signature=WVR9H19SlInv0gPCXTaQWzeWuZjKeZ%2BuZX49n%2B%2BGQlGkwpYYWVODOnjCF0GbHBiMpA51brehQJnIW7zzMV0Gcafdpa7FLfEz

[2019-07-27 18:31] liveHarshit commented on #2198
Crashing on selecting the category in the search filter. Working :+1:

[2019-07-27 19:11] #2198 closed

[2019-07-27 19:52] #2175 closed

[2019-07-27 19:52] #2184 closed

[2019-07-28 00:53] anhanh11001 opened #2201 "Profile Image Not Editable After Taking A New One"
**Describe the bug**
Profile Image Not Editable After Taking A New One

**Screenshots**
<img src="https://i.ibb.co/s5ySfx8/ezgif-5-d184eeae9e57.gif" alt="ezgif-5-d184eeae9e57" border="0">

**Would you like to work on the issue?**
Yes

[2019-07-28 04:39] liveHarshit opened #2202 "Edit screenshot dimensions: Build rejected"
Edit screenshots according to the acceptable dimensions by Fastlane

**Would you like to work on the issue?**

yes

[2019-07-28 06:29] anhanh11001 opened #2205 "Tickets not saved in the app"
**Describe the bug**
Currently, if there is no internet, the no internet card is displayed instead of showing saved tickets in the database

**Would you like to work on the issue?**
Yes

[2019-07-29 22:39] anhanh11001 opened #2210 "Replace spinner to another method for Payment Option"
**Describe the feature you'd like**
Replace spinner to another method for Payment Option

**Would you like to work on the issue?**
Yes

[2019-07-30 07:55] liveHarshit opened #2212 "Open external event url if tickets are not on Eventyay"
**Describe the feature you'd like**
Same as Eventbrite and frontend.
Example: https://eventyay.com/e/1eaf0c30

**Would you like to work on the issue?**

yes

[2019-07-30 07:59] liveHarshit opened #2213 "Some small bugs: event time and button style"
**Describe the bug**
- Display event time correctly in tickets and attendee fragment
- Remove button style form stripe. Reference: https://github.com/fossasia/open-event-attendee-android/pull/2185#discussion_r307976282

**Would you like to work on the issue?**

yes

[2019-07-30 09:03] liveHarshit commented on #2133
@iamareebjamal I want to confirm if it is a server-side problem. As it is not working on frontend https://github.com/fossasia/open-event-frontend/issues/3310 and no one responding on Gitter also.

[2019-07-30 18:53] #2212 closed

[2019-07-30 18:55] #2120 closed

[2019-07-30 18:58] liveHarshit opened #2216 "Add prices in for all tickets in TicketIdAndQtyWrapper"
Currently, the donation ticket price is added others are 0.0

**Would you like to work on the issue?**

yes

[2019-07-31 05:37] #2213 closed

[2019-08-01 05:40] liveHarshit commented on #2133
Stripe is fixed on the server and working. Now we need to handle different HTTP errors, but it requires the API key. Test key is not working with the server.
@mariobehling @iamareebjamal One thing can be done if FOSSASIA create a test event with the API key then we can test it and get the refund later. As stripe account cannot be activated in India.

[2019-08-01 06:43] #2210 closed

[2019-08-01 06:43] iamareebjamal commented on #2133
Use debug server

[2019-08-03 07:21] #2189 closed

[2019-08-03 07:40] liveHarshit commented on #2122
Merged

[2019-08-03 07:40] #2122 closed

[2019-08-03 07:49] #2187 closed

[2019-08-03 09:25] anhanh11001 opened #2227 "Enable/Disable billing information when making paid orders"
**Describe the bug**
Currently, billing information is always required. Based on the discussion in last meeting, it should be optional

**Would you like to work on the issue?**
Yes

[2019-08-03 09:26] #2108 closed

[2019-08-03 09:34] #2163 closed

[2019-08-03 17:50] liveHarshit opened #2228 "App crashes on clicking tickets in event details"
[code]

**Would you like to work on the issue?**

yes

[2019-08-03 19:18] iamareebjamal opened #2230 "Implement refresh tokens authentication"
https://root-m29xfdiov.now.sh/

[2019-08-03 19:50] #2202 closed

[2019-08-04 05:45] liveHarshit commented on #2230
So the following are needs to implement:
- Logout and Login with server
- Refresh token (When?)
And the remember-me attribute is for what?

[2019-08-04 08:08] iamareebjamal commented on #2230
No, logout is not required. Read the documentation carefully and some blog on refresh tokens

[2019-08-04 09:19] liveHarshit opened #2233 "Handle tax for included price and free tickets"
**Would you like to work on the issue?**

yes

[2019-08-04 09:20] liveHarshit opened #2234 "App crashing for donation tickets"
<img src="https://i.ibb.co/vzjVwQT/ezgif-1-e07e1b780106.gif" alt="ezgif-1-e07e1b780106" border="0">

**Would you like to work on the issue?**

yes

[2019-08-04 10:31] #2228 closed

[2019-08-04 12:43] #2227 closed

[2019-08-04 16:55] liveHarshit opened #2235 "Progress continuously displaying after login from tickets"
**Would you like to work on the issue?**

yes

[2019-08-04 17:09] liveHarshit opened #2236 "Replace PAY NOW button with REGISTER for offline payment options"
<p align="center">
<img src="https://user-images.githubusercontent.com/27783786/62426910-a78a7080-b708-11e9-9202-9f09842a8625.png" height = "480" width="270">
</p>

**Would you like to work on the issue?**

yes

[2019-08-05 04:37] anhanh11001 opened #2238 "Use "Order Now" and "Register" for free, paid ticket in TicketsFragment"
**Describe the bug**
Use "Order Now" and "Register" for free, paid ticket in TicketsFragment

**Screenshots**
<img src="https://i.ibb.co/9mXwQcq/67486220-2664042486961064-7423338323839549440-n.png" width="300">
<img src="https://i.ibb.co/QPHcKN9/67629815-1380489742100009-1663380429320749056-n.png" width="300">
<img src="https://i.ibb.co/FkQ2VfL/ezgif-1-f9120e92058f.gif" width="300">

**Would you l

[2019-08-05 04:54] anhanh11001 opened #2239 "Show all invalid fields when ordering tickets"
**Describe the bug**
Improvement: Show all invalid fields

**Screenshots**
<img src="https://i.ibb.co/5Kgm22c/67932745-349478089309618-1189253101115146240-n.png" width="300">

**Would you like to work on the issue?**
Yes

[2019-08-05 04:56] anhanh11001 opened #2240 "App freeze on click back from AuthFragment to TicketsFragment"
**Describe the bug**
App freeze on click back from AuthFragment to TicketsFragment

**Screenshots**
<img src="https://i.ibb.co/L9c9QRn/ezgif-1-005882e9b0f8.gif" alt="ezgif-1-005882e9b0f8" border="0">

**Would you like to work on the issue?**
Yes

[2019-08-05 04:57] anhanh11001 opened #2241 "App crashes on clicking "View" when having Donation Tickets"
**Describe the bug**
App crashes on clicking "View" when having Donation Tickets

**Screenshots**
<img src="https://i.ibb.co/vzjVwQT/ezgif-1-e07e1b780106.gif" alt="ezgif-1-e07e1b780106" border="0">

**Would you like to work on the issue?**
Yes

[2019-08-05 05:02] liveHarshit commented on #2240
I think is is duplicate of #2235

[2019-08-05 05:02] liveHarshit commented on #2241
Duplicate of #2234

[2019-08-05 05:02] #2241 closed

[2019-08-05 05:03] anhanh11001 commented on #2240
@liveHarshit I think then you can work on both issues, I also guess they are pretty much the same

[2019-08-05 05:05] liveHarshit commented on #2241
@anhanh11001 Sorry I have not mentioned how to reproduce in #2234

[2019-08-05 05:05] anhanh11001 opened #2242 "Tax included for free orders"
**Describe the bug**
Tax included for free orders

**Screenshots**
<img src="https://i.ibb.co/XSs5tGP/ezgif-1-b8dd94043012.gif" alt="ezgif-1-b8dd94043012" border="0">

**Would you like to work on the issue?**
Yes

[2019-08-05 05:06] liveHarshit commented on #2242
Fixed in PR #2237 and duplicate of #2233

[2019-08-05 05:07] #2242 closed

[2019-08-05 05:11] anhanh11001 opened #2243 "Donation tickets made with no donation"
**Describe the bug**
Donation tickets made with no donation

**Screenshots**
<img src="https://i.ibb.co/2MsTpK0/ezgif-1-e83337dcfda3.gif" alt="ezgif-1-e83337dcfda3" border="0">

**Would you like to work on the issue?**
Yes

[2019-08-05 05:20] liveHarshit commented on #2243
Please also check the range for minimum and maximum donation.

[2019-08-05 08:14] #2233 closed

[2019-08-05 11:16] #2238 closed

[2019-08-05 11:36] #2166 closed

[2019-08-05 12:38] liveHarshit commented on #2240
@anhanh11001 Is it reproducible to you now?

[2019-08-05 17:19] anhanh11001 commented on #2240
let me check it again now

[2019-08-05 17:36] anhanh11001 commented on #2240
Huh, it is not reproducible. Closing

[2019-08-05 17:36] #2240 closed

[2019-08-05 18:00] liveHarshit commented on #2235
FIxed

[2019-08-05 18:00] #2235 closed

[2019-08-05 18:45] liveHarshit opened #2247 "Wrong snackbar message for location premission"
<p align="center">
<img src="https://user-images.githubusercontent.com/27783786/62487371-42ee1500-b7df-11e9-8e46-c477a054abeb.png" height = "480" width="270">
</p>

**Would you like to work on the issue?**

yes

[2019-08-05 22:18] #2234 closed

[2019-08-06 13:03] #2247 closed

[2019-08-06 16:18] liveHarshit commented on #2236
Fixed in PR #2248

[2019-08-06 16:18] #2236 closed

[2019-08-07 06:38] #2201 closed

[2019-08-08 10:33] #2243 closed

[2019-08-08 12:00] liveHarshit commented on #2230
@anhanh11001 Why it is on hold from server-side?

[2019-08-08 12:30] iamareebjamal commented on #2230
It's not. This is available in dev server, not in production. All client development must be done using development instance of server

[2019-08-08 12:51] anhanh11001 opened #2255 "App crashes on searching events in my location"
**Describe the bug**
App crashes on searching events in my location when the Map API doesn't return any location near me

**Logs**
[code]

**Screenshots**
<img src="https://i.ibb.co/NCDSpFt/ezgif-5-5242746fd0cc.gif" alt="ezgif-5-5242746fd0cc" border="0">

**Would you like to work on the issue?**
Yes

[2019-08-08 12:52] anhanh11001 opened #2256 "Map in EventDetailsFragment showing nothing"
**Describe the bug**
In event details fragment, sometimes map show nothing

**Screenshots**
<img src="https://i.ibb.co/sbQmHYP/67566482-2207007072761486-3548067273430269952-n.jpg" alt="67566482-2207007072761486-3548067273430269952-n" border="0">

**Would you like to work on the issue?**
Yes

[2019-08-08 12:53] anhanh11001 opened #2257 "Add currency on fee in TicketsFragment"
**Describe the feature you'd like**
Add currency on fee in TicketsFragment

**Screenshots**
<img src="https://i.ibb.co/SBSSDVS/67675854-2373282229425337-2935393104938663936-n.jpg" alt="67675854-2373282229425337-2935393104938663936-n" border="0">

**Would you like to work on the issue?**
Yes

[2019-08-08 12:54] anhanh11001 opened #2258 "Button in AttendeeFragment show "Register" for paid orders"
**Describe the bug**
Button in AttendeeFragment show "Register" for paid orders, it should show "Order now" button

**Screenshots**
<img src="https://i.ibb.co/v3C0BKp/67760362-955263534819338-3903026589364912128-n.jpg" alt="67760362-955263534819338-3903026589364912128-n" border="0">

**Would you like to work on the issue?**
Yes

[2019-08-08 12:55] liveHarshit commented on #2256
Debug or production?

[2019-08-08 13:17] anhanh11001 commented on #2256
production, haven't tested in debug

[2019-08-08 13:59] liveHarshit commented on #2256
I think it is because the organizer has not provided a proper location. you can check other events. It's working.

[2019-08-08 14:15] #2239 closed

[2019-08-08 16:46] liveHarshit commented on #2230
@anhanh11001 Are you working on it or can I take this issue?

[2019-08-09 01:13] anhanh11001 commented on #2230
@liveHarshit just a little, please take this issue

[2019-08-09 04:32] liveHarshit commented on #2230
@iamareebjamal I have one doubt. Here we send refresh token to generate new access token if the token is expired. But which HTTP error is thrown by the server when the access or refresh token is expired. I think it is 404 and 401?

[2019-08-09 07:01] liveHarshit opened #2261 "Wrong invalid check, not able to register for tickets"
<p align="center">
<img src="https://user-images.githubusercontent.com/27783786/62760443-9e4f2a00-baa1-11e9-8a87-6db53c2a246f.png" height = "480" width="270">
</p>

**Would you like to work on the issue?**

yes

[2019-08-09 14:19] liveHarshit opened #2262 "Not able to create order: Working on frontend"
![image](https://user-images.githubusercontent.com/27783786/62785601-995c9b80-bade-11e9-8af8-6eb695122b92.png)

TypeError
TypeError: '>' not supported between instances of 'NoneType' and 'int'

[code]

[2019-08-09 17:14] #2261 closed

[2019-08-09 17:50] #2258 closed

[2019-08-09 19:05] #2255 closed

[2019-08-09 19:17] #2256 closed

[2019-08-09 19:18] #2257 closed

[2019-08-11 13:22] liveHarshit commented on #2262
@shreyanshdwivedi same error

[2019-08-11 13:23] shreyanshdwivedi commented on #2262
@liveHarshit I think it is yet not merged to deployment.
@iamareebjamal can you  confirm this?

[2019-08-11 13:24] liveHarshit commented on #2262
I am using the dev instance.
[code]

[2019-08-11 13:26] iamareebjamal commented on #2262
It is merged in development so it should work on dev instance

[2019-08-11 13:31] liveHarshit commented on #2262
Not working
![image](https://user-images.githubusercontent.com/27783786/62834457-6a733080-bc6a-11e9-9f3f-78b2c41943ad.png)

[2019-08-11 18:00] shreyanshdwivedi commented on #2262
@liveHarshit I checked this on my local. It is working fine
I created an attendee and then used it to create an order
And I checked for both paid and free tickets
Later I updated the status perfectly fine for the same payload -
[code]
`Attendee creation`:
![Screenshot from 2019-08-11 23-21-03](https://user-images.githubusercontent.com/25428397/62837592-d7002680-bc8e-11e9-9b9e-0c8d6927939d.png)

`O

[2019-08-11 18:06] iamareebjamal commented on #2262
Please try on heroku dev instance

[2019-08-11 18:19] shreyanshdwivedi commented on #2262
It's really weird, same payload are working fine on my local setup but they are producing error on heroku dev instance.
@iamareebjamal @liveHarshit  The dev instance is not updated till now -
Erros:
[code]
I've updated this very line in my PR but it is not reflecting on heroku dev instance

[2019-08-11 19:02] iamareebjamal commented on #2262
Yeah, last build is on Aug 10. Strange

[2019-08-11 19:04] iamareebjamal commented on #2262
Deployed. Please check again. Still unsure why it wasn't deployed automatically

[2019-08-11 19:07] liveHarshit commented on #2262
Yees, working :+1:

[2019-08-11 19:07] #2262 closed

[2019-08-13 17:12] anhanh11001 opened #2270 "Terms and Policy page not found"
**Describe the bug**
In settings, clicking on Privacy or Terms of Service redirect to a wrong frontend page due to wrong URL
Besides, cookie policy should be removed as Android app doesn't use cookies
Add Refund Policy section in Legal

**Screenshots**
<img src="https://i.ibb.co/4YvfZw1/ezgif-4-be22f57dfb79.gif" alt="ezgif-4-be22f57dfb79" border="0">

**Would you like to work on the issue?**
Yes

[2019-08-14 07:01] #2270 closed

[2019-08-14 07:30] liveHarshit opened #2273 "Downloaded ticket is not opening"
<p align="center">
<img src="https://user-images.githubusercontent.com/27783786/63002346-5f4f1900-be93-11e9-8641-1b0c61c857fd.png" height = "480" width="270">
</p>

**Would you like to work on the issue?**

yes

[2019-08-14 19:04] liveHarshit commented on #2273
Issue: https://github.com/fossasia/open-event-server/issues/6364

[2019-08-15 12:57] ShridharGoel opened #2274 "Notification icon should not show when user is logged out"
**Describe the chore**
When there is no logged in user, the notification icon should not be there.

**Would you like to work on the issue?**
Open to all.

[2019-08-16 02:05] anhanh11001 opened #2277 "Pop up message called multiple times"
**Describe the bug**
Pop up message called multiple times if the message is observed from ViewModel when fragment view is created again (screen rotation, coming back from other fragment)

**Screenshots**
<img src="https://i.ibb.co/F6rdLBf/ezgif-4-485a31d06f27.gif" alt="ezgif-4-485a31d06f27" border="0">

**Would you like to work on the issue?**
Yes

[2019-08-16 05:19] #2274 closed

[2019-08-17 03:15] #2182 closed

[2019-08-17 13:01] liveHarshit commented on #2183
@anhanh11001 Can you please look into it. Wrong event id is being sent while removing favorite. Id's are different for removing and adding, so the server is giving `404`

[2019-08-17 13:06] #2133 closed

[2019-08-17 13:19] liveHarshit opened #2280 "Remove improvement form from settings and readme"
**Would you like to work on the issue?**

yes

[2019-08-18 00:07] anhanh11001 commented on #2183
OK, I'll look into that tonight

[2019-08-18 11:05] liveHarshit opened #2282 "App is crashing due to invalid timezone"
**Describe the bug**
[code]

**Would you like to work on the issue?**

yes

[2019-08-18 11:45] shreyanshdwivedi opened #2285 "Show a more user friendly message than 401"
**Describe the bug**

When a user enters the wrong password 401 error pops up. The error should be more user-friendly

**To Reproduce**

**Expected behavior**

User-friendly msg should appear such - `Wrong credentials`

**Screenshots**

![68412516_524260781676351_2965898247597457408_n](https://user-images.githubusercontent.com/25428397/63224007-baf30c80-c1db-11e9-8d8a-4bf1d9260d87.png)

**Smartpho

[2019-08-18 11:47] liveHarshit commented on #2285
@shreyanshdwivedi It's the organizer app

[2019-08-18 12:22] liveHarshit opened #2286 "Handle error for unverified email"
**Describe the bug**
Redirect to profile if an unverified user tries to buy a free ticket.

**Would you like to work on the issue?**

yes

[2019-08-18 16:05] #2282 closed

[2019-08-18 17:09] #2286 closed

[2019-08-21 03:50] anhanh11001 opened #2290 "Multiples small UI problems in Session and Sponsor Section"
**Describe the bug**
- HTML in Sponsor text not stripped
- Speaker Title doesn't include padding
- Empty space in Session item
- Nothing happen when speaker details clicked

**Screenshots**
<img src="https://i.ibb.co/vmrpcB3/68669163-414368572515610-3036188161945370624-n.jpg" width="300">
<img src="https://i.ibb.co/dDTtNts/68884760-428293017895872-3264030829763887104-n.jpg" width="300">
<img src="

[2019-08-21 03:53] anhanh11001 opened #2291 "Add uploading audio/slides/video in Speakers Call Fragment"
**Describe the feature you'd like**
Add uploading audio/slides/video in Speakers Call Fragment

**Would you like to work on the issue?**
Yes

[2019-08-21 03:56] anhanh11001 opened #2292 "App link intent appear when clicking on Terms and Policy Section"
**Describe the bug**
App deep linking appear when clicking on Terms and Policy Section

**Screenshots**
<img src="https://i.ibb.co/6BvYksz/ezgif-1-183909d052bc.gif" alt="ezgif-1-183909d052bc" border="0">

**Would you like to work on the issue?**
Open to all

[2019-08-21 03:58] anhanh11001 opened #2293 "(UI) Single ticket in Ticket Detail Section is not centralized in the screen"
**Describe the bug**
(UI) Single ticket in Ticket Detail Section is not centralized in the screen

**Screenshots**
<img src="https://i.ibb.co/VqnGQQc/69140474-582680382263284-4820190578815795200-n.png" width="300">

**Would you like to work on the issue?**
<Yes

[2019-08-21 04:00] iamareebjamal commented on #2291
Not a priority

[2019-08-21 10:27] #2290 closed

[2019-08-21 10:34] anhanh11001 commented on #2183
It's a server issue, the server doesn't distinguish different user I think

[2019-08-21 11:42] anhanh11001 commented on #2183
@iamareebjamal I have a question, if the model is soft delete, then when I try to send HTTP request to delete a record, the server should still be able to query that record, is it correct?

[code]
[code]

[2019-08-21 23:42] rajput2122 commented on #2292
hello sir, can you please elaborate more about app deep linking. I am glad to contribute

[2019-08-21 23:51] rajput2122 commented on #2280
Yes, sir, I want to work on this issue. You are saying to remove google doc form that opens after clicking on suggest improvement link, am I right?

[2019-08-22 02:48] anhanh11001 commented on #2292
In the Screenshot, the part of "Use a different app" Eventyay Attendee should not show up. About Deep Linking, just google to read more about it and ask if you have any questions

[2019-08-22 07:45] rajput2122 commented on #2292
Thank you, sir, i will start fixing it.i have downloaded the app from play store and saw the issue

[2019-08-22 12:44] liveHarshit commented on #2280
@rajput2122 Yes, go ahead.

[2019-08-22 13:19] #2277 closed

[2019-08-23 01:37] anhanh11001 opened #2299 "Save attendees to db when fetching order"
**Describe the feature you'd like**
When fetching order, attendees should also be fetched and saved to db

**Additional context**
https://github.com/fossasia/open-event-attendee-android/pull/2281

**Would you like to work on the issue?**
Yes

[2019-08-23 02:46] anhanh11001 opened #2301 "notAvailableTextView missing in Item Card Order Detail"
**Describe the bug**
notAvailableTextView is missing in Item Card Order Detail horizontal variation

**Would you like to work on the issue?**
Yes

[2019-08-23 03:25] #2301 closed

[2019-08-23 05:10] anhanh11001 opened #2303 "Order turns into expired order when the event hasn't finished"
**Describe the bug**
Order turns into expired order when the event hasn't finished

**Would you like to work on the issue?**
Yes

[2019-08-23 05:42] #2303 closed

[2019-08-23 05:45] liveHarshit opened #2305 "Add unit testing for utils and error utils"
**Would you like to work on the issue?**

yes

[2019-08-23 05:47] liveHarshit opened #2306 "Check unverified user by error"
**Describe the chore**
Check unverified user by error instead of details as server PR is merged

**Would you like to work on the issue?**

yes

[2019-08-23 05:52] #1608 closed

[2019-08-23 06:36] liveHarshit commented on #2306
@iamareebjamal Is it correct, there should be title instead of code?
![image](https://user-images.githubusercontent.com/27783786/63571622-55699c00-c59e-11e9-92ee-1802760bfdc9.png)

[2019-08-23 07:37] iamareebjamal commented on #2306
No

[2019-08-23 07:39] liveHarshit commented on #2306
No for which part?

[2019-08-23 09:11] iamareebjamal commented on #2306
You should check code and take appropriate action

[2019-08-23 10:33] rajput2122 commented on #2280
what do I have to replace it with or simply make it invisible from the setting.xml.Actually, I comment out  the link

[2019-08-23 11:24] liveHarshit commented on #2280
removing is not replacing or commenting out.

[2019-08-23 11:41] rajput2122 commented on #2280
Actually, sir, I asked you for confirmation as I am beginning open source contribution
thanks sir, I am going to remove this option from setting

[2019-08-23 13:02] liveHarshit opened #2309 "Issues in edit profile fragment"
- Make name field not mandatory same as Eventbrite and frontend
- Handle progress with progress dialog

**Would you like to work on the issue?**

yes

[2019-08-23 13:52] #2306 closed

[2019-08-23 21:47] #333 closed

[2019-08-23 21:49] #2293 closed

[2019-08-23 22:50] #2309 closed

[2019-08-24 00:38] #2205 closed

[2019-08-24 07:39] #2299 closed

[2019-08-25 08:29] liveHarshit commented on #2292
@rajput2122 Any updates?

[2019-08-26 19:15] liveHarshit opened #2312 "Add about the app in README"
**Would you like to work on the issue?**

yes

[2019-08-26 19:27] rajput2122 commented on #2280
I have done this sir. Sorry for late. How to make a pull request sir?

[2019-08-27 07:24] liveHarshit commented on #2280
Instead Google it, learn Git and GitHub well.
And we assign one issue at a time so first, send PR for one issue then ask to work on another issue.

[2019-08-27 10:54] liveHarshit opened #2314 "Add app description in fastlane metadata and remove from GitLab metadata"
**Would you like to work on the issue?**

yes

[2019-08-27 11:40] Zyro9922 commented on #2312
Yes, I want to work on it. Provide me some details.

[2019-08-27 11:47] liveHarshit commented on #2312
I'll update it as written in the issue description.

[2019-08-27 14:05] #2280 closed

[2019-08-28 07:50] rajput2122 commented on #2292
I have done this.is this issue is closed sir?

[2019-08-28 08:04] ShridharGoel commented on #2292
@rajput2122 No, you can send a PR.

[2019-08-28 09:07] rajput2122 commented on #2292
actually, sir while fixing another issue in this app while debugging for that issue when I checked by clicking on terms and policy this app didn't open in-app deep linking and the link opened in the browser. While fixing that issue I changed some link in setting.xml file, I think it reflects in this issue also and I have made pr for that issue which was merged yesterday.
[2019_08_28_14_21_12.zip](

[2019-08-28 09:53] rajput2122 commented on #2292
PR for deep linking issue please review this.

[2019-08-28 13:01] rajput2122 commented on #2292
I have fixed this issue yesterday removed suggestion form from settings and README #2315
after fixing this issue I checked deep linking issues this issue also got solved. Can you please see #2315 and close this issue, sir?

[2019-08-28 17:23] liveHarshit commented on #2314
MR on GitLab: https://gitlab.com/fdroid/fdroiddata/merge_requests/5344

[2019-08-29 07:15] anhanh11001 opened #2318 "Add state for order"
**Describe the feature you'd like**
Add state information for order

**Would you like to work on the issue?**
Yes

[2019-08-30 09:41] #2312 closed

[2019-09-01 18:08] rajput2122 commented on #2292
Sir i am not able to modify my PR. Can you please help me?

[2019-09-01 18:27] rajput2122 commented on #2292
Actually sir this issue is no longer exist. Please confirm

[2019-09-01 18:36] liveHarshit commented on #2292
Please test with replacing debug URLs with release URLs in app level gradle file. The issue is still there.

[2019-09-01 20:26] rajput2122 commented on #2292
Okk sir

[2019-09-03 06:55] rahulpansari commented on #2292
Sir please correct me if i am wrong as i saw the link need to be directly open to the app iteself?
If that is the case then
It can be solved using Android App link.
I would like to work on this issue.

[2019-09-04 10:50] liveHarshit commented on #2292
@rahulpansari, Please ask @rajput2122 to work on this issue. We do not assign same issue to multiple contributors.

[2019-09-04 16:07] liveHarshit commented on #2314
MR merged.

[2019-09-04 16:07] #2314 closed

[2019-09-04 17:00] liveHarshit commented on #2292
His Pr is closed. Go ahead just check the type of URL. If it contains `/e/` path segment the take intent otherwise not.

[2019-09-04 17:52] rajput2122 commented on #2292
@liveHarshit sir i have checked by changing debugbaseurl to releasebaseurl in app level gradle file.There is no such issue .can you please see this am i right in changing the release url to debug url
![image](https://user-images.githubusercontent.com/43101744/64278599-c334a100-cf6a-11e9-948c-333a3e539a0c.png)

[2019-09-04 17:58] liveHarshit commented on #2292
Change the frontend host too. This field is especially for App link intents.

[2019-09-04 18:00] rajput2122 commented on #2292
okk sir

[2019-09-04 18:34] rajput2122 commented on #2292
Sir can i remove some code from menifest for debugging?

[2019-09-04 19:24] anhanh11001 commented on #2292
Yes, but don't commit that, just push the necessary changes when making a PR

[2019-09-04 19:55] rajput2122 commented on #2292
but this issue get solved while testing by this removal

[2019-09-04 21:04] anhanh11001 commented on #2292
Then it is fine, just do it, send the PR and the solution will be reviewed

[2019-09-05 12:38] rahulpansari commented on #2292
Yes its working fine after app linking is done

[2019-09-05 12:41] liveHarshit commented on #2292
What app linking is done??

[2019-09-05 13:58] #2318 closed

[2019-09-07 14:26] rob729 commented on #2292
@anhanh11001 @liveHarshit Can I work on this issue?

[2019-09-07 14:31] rajput2122 commented on #2292
@rob729 i am working on it

[2019-09-07 16:07] liveHarshit commented on #2292
@rob729 You can work on other issues

[2019-09-07 16:36] rob729 commented on #2292
Ok

[2019-09-08 11:36] ranjsa commented on #2183
@liveHarshit @anhanh11001  Can I please  work on this Issuue if it is unassigned .

[2019-09-08 11:44] anhanh11001 commented on #2183
@ranisa please go ahead

[2019-09-10 15:13] ranjsa commented on #2183
@liveHarshit  @anhanh11001
[https://drive.google.com/file/d/1GzLFvi-MVXvCduyIO8MB4J5bU0n78nJ5/view?usp=sharing](url)
can you please tell me is this a server side issue or wrong event id passed through the app
_event id 20_ is passed through the parameter , but error message is showing "Fail on removing like for event ID 8"

[2019-09-10 15:15] ranjsa commented on #2183
@liveHarshit @anhanh11001

https://drive.google.com/file/d/1GzLFvi-MVXvCduyIO8MB4J5bU0n78nJ5/view?usp=sharing

can you please tell me is this a server side issue or wrong event id passed through the app
event id 20 is passed through the parameter , but error message is showing "Fail on removing like for event ID 8"

[2019-09-10 15:31] captain82 commented on #2305
Is this issue open?
If yes, I would like to work on it.

[2019-09-10 15:37] captain82 commented on #2077
@liveHarshit I would like to work on this issue.

[2019-09-10 15:46] captain82 commented on #1932
Can I work on this issue?

[2019-09-10 16:35] liveHarshit commented on #2077
Please go ahead. Also, we assign one issue at a time. For reference #1932

[2019-09-10 16:40] captain82 commented on #2077
@liveHarshit I will work on this issue first.

[2019-09-10 16:43] captain82 commented on #2077
@liveHarshit Can you describe a little what exactly needs to happen?

[2019-09-10 18:52] liveHarshit commented on #2077
In the tickets section, order status is displaying for tickets. Sometimes an order is pending(due to incomplete payment), then instead of opening ticket details, it should redirect for payment. And for another status (canceled or expire), only a message should display.
Open the ticket only when order is completed or placed(in case of offline payment)

[2019-09-10 18:59] captain82 commented on #2077
@liveHarshit ok Thank you

[2019-09-11 03:51] captain82 commented on #2077
@liveHarshit How do I make an incomplete payment order?

[2019-09-11 05:30] liveHarshit commented on #2077
With order identifier. Check how order is creating in attendee fragment. API docs: https://open-event-api-dev.herokuapp.com

[2019-09-13 09:37] anhanh11001 commented on #2183
@ranjsa
There are two IDs in this case then, the ID for the Event and the ID for the Favorite Event. Take a look at the implementation in the data class to see the differences between Event and Favorite Event object. From the logs, it seems like one ID has been used for logging and the other ID has been used for sending DELETE request.

Please take a look at this documentation to see which ID is u

[2019-09-13 16:05] liveHarshit opened #2341 "Fix stripe error"
**Describe the bug**
Bump stripe and fix errors.
PR: https://github.com/fossasia/open-event-attendee-android/pull/2342

[2019-09-13 18:20] iamareebjamal commented on #2341
Please don't use non standard labels. Github extracts exactly `good-first-issue` to show to new contributors. If you change it to `Good first issue` or `good fIrSt issue`, only people viewing the repository will see it

[2019-09-14 06:53] rob729 commented on #2341
@liveHarshit Can I work on this issue?

[2019-09-14 06:55] liveHarshit commented on #2341
Go ahead.

[2019-09-14 13:27] rob729 commented on #2341
@liveHarshit Should I send the PR now or tomorrow for the PR to be considered in Codeheat?

[2019-09-14 14:54] liveHarshit commented on #2341
Send anytime, it will be considered.

[2019-09-14 14:57] captain82 commented on #2077
@liveHarshit when the status is pending the user should be redirected to Attendee Fragment where the countdown of 15 minutes begins to complete the payment,right?

[2019-09-14 15:11] liveHarshit commented on #2077
I'm not sure if we can update attendees. Please check the frontend implementation.
Debug: https://open-event-fe.netlify.com
Release: eventyay.com

[2019-09-14 15:46] captain82 commented on #2077
Thanks @liveHarshit

[2019-09-14 17:04] rob729 commented on #2292
@rajput2122 are you still working on this issue?

[2019-09-14 18:29] #2341 closed

[2019-09-14 18:31] iamareebjamal commented on #2292
Go ahead @rob729

[2019-09-14 18:48] rob729 commented on #2292
@iamareebjamal @anhanh11001 I am not able to reproduce the issue in the app.
I think it is already solved.

<a href="https://imgflip.com/gif/3akaqt"><img src="https://i.imgflip.com/3akaqt.gif" title="made at imgflip.com"/></a>

[2019-09-14 18:49] liveHarshit commented on #2292
@rob729

[2019-09-14 18:49] rob729 commented on #2292
Ok

[2019-09-14 18:50] liveHarshit commented on #2292
Always read previous comments before taking up any issue for good practices :+1:

[2019-09-15 08:18] captain82 commented on #2077
@liveHarshit When i try pay using paymal sandbox ,it says your selected payment method was not accepted although.Any help?

[2019-09-15 08:34] liveHarshit commented on #2077
Use client Id: `AXrRge-gN1E5WHMYsu0FsftPOWBjTu3Sqj0pKfpq7mPKwv6w_ikiqWrka_06lAWZW5_WxL9CwaMiTVsc` with the debug server.

[2019-09-15 11:15] aggarwalpulkit596 commented on #1823
@iamareebjamal can I start working on this? :P

[2019-09-15 12:35] liveHarshit commented on #1823
Please go ahead

[2019-09-16 04:38] aggarwalpulkit596 commented on #2183
@ranjsa you still working on it ?

[2019-09-16 04:39] aggarwalpulkit596 commented on #1823
@liveHarshit you made a PR why it was closed? Any Specific reason

[2019-09-16 04:40] liveHarshit commented on #1823
It was not completed.

[2019-09-16 04:41] aggarwalpulkit596 commented on #1968
Did we integrate one signal on the server for this?

[2019-09-16 04:43] ranjsa commented on #2183
@aggarwalpulkit596

Yes .. sorry I am working on it .

[2019-09-16 04:51] aggarwalpulkit596 commented on #1823
Cool

[2019-09-16 06:42] #2292 closed

[2019-09-16 06:42] iamareebjamal commented on #1968
No

[2019-09-16 16:33] captain82 commented on #2077
@liveHarshit Pending Tickets are now being paid successfully using paypal .How do i test for Stripe payment.I am unable to create a event with stripe as payment method.

[2019-09-16 17:02] liveHarshit commented on #2077
If it is working with PayPal then do the same for stripe.

[2019-09-16 17:05] captain82 commented on #2077
@liveHarshit how do i test it?
I mean how can i make a pending Event with stripe as payment method.As of now only paypal is showing

[2019-09-16 19:19] captain82 commented on #2077
@liveHarshit I think pending orders cannot be created only with PayPal. Everything else is completed.

[2019-09-17 07:20] aman210697 commented on #1780
also set adapter to null
https://stackoverflow.com/questions/35520946/leak-canary-recyclerview-leaking-madapter

[2019-09-17 07:40] anhanh11001 commented on #1780
Tried, it worked. But Areeb said it is just a workaround, not a fix so it wasn't implemented.
https://github.com/fossasia/open-event-attendee-android/pull/1766#issuecomment-492699626

[2019-09-17 08:21] liveHarshit commented on #2077
User needs to enter details again.

[2019-09-17 08:22] captain82 commented on #2077
@liveHarshit So do i have to make a new screen for that?

[2019-09-17 08:22] iamareebjamal commented on #1780
@anhanh11001 It actually just prevents LeakCanary to report it as memory leak. It doesn't solve the memory leak

[2019-09-17 08:28] ranjsa commented on #2183
@liveHarshit @anhanh11001  Please review https://github.com/fossasia/open-event-attendee-android/pull/2346#partial-pull-merging

[2019-09-17 08:30] captain82 commented on #2077
@liveHarshit Are you sure?
Because the same could have been done for Paypal

[2019-09-17 08:31] liveHarshit commented on #2077
What if the user wants to pay with stripe. Open attendee section with same order identifier. So that order will complete after payment is done. Got it?

[2019-09-17 08:32] liveHarshit commented on #2077
@iamareebjamal Your opinion?

[2019-09-17 08:36] captain82 commented on #2077
I think this is possible .Lets see what @iamareebjamal says

[2019-09-17 13:26] #2183 closed

[2019-09-17 14:39] Zyro9922 commented on #2291
I want to work on this. Please provide more details.

[2019-09-17 15:19] anhanh11001 commented on #2291
@Zyro9922 please go ahead. In Eventyay, Speakers Call proposal can contain audio/slides/video from the speaker. The feature is to:
1. Import audio/slides/video from Android device to the app
2. Upload that file into the server and receive the file URL
3. Update Proposal by PATCH request with the URL attached to it.

The process should be similar like uploading an image to the server and then updat

[2019-09-17 15:26] ranjsa commented on #2230
@liveHarshit Can i work on this issue ?

[2019-09-17 15:55] Zyro9922 commented on #2291
Thank You. I'll start the work.

[2019-09-17 16:08] anhanh11001 commented on #2230
@ranjsa there is already a PR for this, please work on another issue or try to test the app to see if you can find any bugs to fix or reasonable new features to implement

[2019-09-17 16:21] ranjsa commented on #1964
@anhanh11001  Can I start working on this .?

[2019-09-17 16:24] anhanh11001 commented on #1964
please go ahead

[2019-09-17 17:26] Skrilltrax commented on #1410
@iamareebjamal @mariobehling is it okay to convert gradle files to kts files ? We can use buildSrc with dependencies update gradle plugin.

Here are some other benefits to this : https://medium.com/mindorks/migrating-gradle-build-scripts-to-kotlin-dsl-89788a4e383a

[2019-09-17 18:24] iamareebjamal commented on #1410
Yes, please go ahead and share before and after build durations after `./gradlew clean`

[2019-09-18 06:34] captain82 commented on #2077
@liveHarshit Should i proceed with your mentioned method or wait for @iamareebjamal

[2019-09-18 07:48] iamareebjamal commented on #2077
Yes

[2019-09-18 16:53] ranjsa commented on #1964
@liveHarshit  @anhanh11001  how do we wish to contact event organizer ....through email right ?

[2019-09-18 17:15] anhanh11001 commented on #1964
@ranjsa yes

[2019-09-19 06:51] ranjsa commented on #1964
@anhanh11001 @liveHarshit  Which email should i use to contact organizer ,
 I think there is only one email linked to Event ( i.e. paypalEmail ) should i use that ?

[2019-09-19 07:03] liveHarshit commented on #1964
No. Check if there is an attribute or relationship for the owner details. If not then it needs to be implemented on the server first. API docs: https://open-event-api-dev.herokuapp.com

[2019-09-19 07:47] Skrilltrax commented on #1410
@iamareebjamal almost done with the kotlin dsl, the build times are as follows (benchmarked with hyperfine)

**Groovy**
Clean Build - 171.838s
Next Build - 13.375s

**Kotlin**
Clean Build - 149.667s
Next Build - 10.113s

[2019-09-19 07:52] Skrilltrax commented on #1410
However i had some difficulty with signingConfigs and playStoreImplementation

1) Are signingConfig variables like SIGNING_KEY_FILE, ALIAS, KEY_ALIAS and STORE_PASS in local.properties because the gradle local properties plugin is not compatible with kotlin dsl.

2) Is playStoreImplementation a custom config because the kotlin dsl cannot find it.

[2019-09-19 10:44] iamareebjamal commented on #1410
1. It is fine if it is not supported, but it is still important to load them from environment variable
2. No it is not custom config. It's standard config defined in Android Gradle Plugin

[2019-09-19 11:04] adityastic commented on #1410
@Skrilltrax playStoreImplementation is a flavour specifc dependency configuration

[2019-09-19 12:46] Skrilltrax commented on #1410
@iamareebjamal I'm doing both but i am not using the plugin, so should i remove it ? can you also please confirm if i should keep AndroidConfig object in the PR, I made it but then it seemed kinda overkill.

@adityastic Thanks, the dsl does not automatically recognise it so i'll be using property delegation for that.

[2019-09-19 12:54] iamareebjamal commented on #1410
Remove both

[2019-09-19 13:05] Skrilltrax commented on #1410
Updated PR

[2019-09-20 07:19] captain82 commented on #2077
@liveHarshit I want to make a PR for this bug

[2019-09-20 07:32] liveHarshit commented on #2077
Yes please.

[2019-09-20 08:13] captain82 commented on #2077
@liveHarshit ok

[2019-09-20 10:35] ranjsa opened #2355 "Make write a feedback optional ."
**During submitting a feedback about a event Write a feedback should be optional , like in most of the apps.**

**Screenshots**
![screen2](https://user-images.githubusercontent.com/43692789/65320279-22c3bb00-dbbf-11e9-80f7-1000c82da139.png)

**Additional context**

Google play store also has the same feature

![screen3](https://user-images.githubusercontent.com/43692789/65320800-4fc49d80-dbc0-11e9

[2019-09-20 10:58] iamareebjamal commented on #2355
This is not an Android issue. This is a server issue. Open an issue there and when it is accepted. I'll reopen this

[2019-09-20 15:03] tronku commented on #1869
I am new to the community and I am interested to work on this issue. Just want to know how do you want to take personal info for registration?

[2019-09-20 15:06] Zyro9922 commented on #2291
**Update**

I have created a local server and a prototype android app to upload images to make sure everything works fine.
I'll have to delay this issue for a week as I have exams.

[2019-09-20 15:31] iamareebjamal commented on #2291
You could use https://open-event-api-dev.herokuapp.com

[2019-09-20 17:50] captain82 commented on #2077
@liveHarshit Just made a PR.

[2019-09-22 06:03] tronku commented on #1869
There's one issue with this feature. To fetch the custom forms, we have to make a network call and for the call to be successful, authorization is needed otherwise we get a HTTP 401 exception.

[2019-09-22 07:41] kshitij-99 commented on #2077
Please close this issue.

[2019-09-22 09:03] liveHarshit commented on #2077
Why?

[2019-09-22 10:20] iamareebjamal commented on #1869
Open an issue on server to remove authentication check for custom forms

[2019-09-22 19:20] tronku opened #2357 "Notification dot's abrupt behaviour"
**Describe the bug**
Notification red dot appears even when there is no new notification.

**To Reproduce**
1. Go to Events tab. You can observe the red dot now.
2. Open the notification section by clicking on the bell.
3. Go back to Events tab. Now the red dot is removed.
4. Go to another tab, let's say Search and go back to Events tab to refresh the content.
5. You can observe the red dot again.

[2019-09-25 17:03] codedsun opened #2363 "Events not loading"
**Describe the bug**
Events are not loading in the front page and shimmer layout is shown only

**To Reproduce**

1. Open the app

**Expected behavior**
It should load the event

**Logs**
[code]

**Would you like to work on the issue?**

- [x] Yes
- [ ] No
- Other:

[2019-09-25 18:15] iamareebjamal commented on #2363
The exception says everything. Are you compiling it or using the version from play store or fdroid?

[2019-09-25 18:36] codedsun commented on #2363
Compiling it on my local machine

[2019-09-25 18:51] iamareebjamal commented on #2363
Go ahead. Just increment the schema version

[2019-10-03 15:35] liveHarshit opened #2373 "Build error for release: Google Api Error"
**Describe the bug**
[code]

https://travis-ci.org/fossasia/open-event-attendee-android

[2019-10-03 15:39] adityastic commented on #2373
Yes, the maximum allowed screenshot number for a category is 8.

[2019-10-03 15:39] liveHarshit commented on #2373
Sending PR to master branch

[2019-10-04 04:13] aggarwalpulkit596 commented on #2373
@liveHarshit close this

[2019-10-04 04:17] #2373 closed

[2019-10-04 08:51] iamareebjamal opened #2376 "Dry run Play Release process for release PR"
When creating a PR from development to master, the fastlane release command should be run, but in dry run mode. So, that issues like version code being old, changelog being too long, images being more, or description being long can be caught before merging into master

[2019-10-04 12:51] adityastic commented on #2376
I'd like to work on it

[2019-10-04 13:09] liveHarshit commented on #2376
Please go ahead

[2019-10-07 08:35] tusharr-98 commented on #2077
Is this issue still open ??...would like to work on it.

[2019-10-07 11:30] adityastic commented on #2357
@tusharr-98 try to reproduce

[2019-10-07 13:22] tusharr-98 commented on #2357
https://giphy.com/gifs/KbYHKdu20mhAqt0Uke/html5

[2019-10-07 13:22] tusharr-98 commented on #2357
[https://giphy.com/gifs/KbYHKdu20mhAqt0Uke/html5](url)

[2019-10-07 13:27] tusharr-98 commented on #2357
Yeah the red dot appears every time the  event fragment is refreshed even if there is no notification

[2019-10-07 13:28] tusharr-98 commented on #2357
[https://media.giphy.com/media/KbYHKdu20mhAqt0Uke/giphy.gif](url)

[2019-10-07 13:37] adityastic commented on #2357
@tusharr-98 go ahead then

[2019-10-07 14:26] tronku commented on #2357
@adityastic I have already asked for working on it in the description while creating the issue but didn't get any reply. I have been working on it.

[2019-10-07 15:10] tusharr-98 commented on #2216
@liveHarshit can you fill me in more about this issue... I would like to contribute to it.

[2019-10-07 15:44] adityastic commented on #2357
@tusharr-98 I'm sorry,@tronku is still working on it. Lets wait for his pr

[2019-10-08 06:28] liveHarshit opened #2384 "Fix build for new spotless deps"
Fix Spotless check for PR #2382

[2019-10-08 06:29] liveHarshit commented on #2384
Send a new PR with update the dependency and fix Travis errors.

[2019-10-08 06:30] liveHarshit commented on #2216
You can find it in price calculating function in the Attendee fragment view model and ticket view model.

[2019-10-08 09:44] tronku commented on #2357
@adityastic please review the pull request #2379

[2019-10-09 01:56] #2357 closed

[2019-10-10 16:22] #2384 closed

[2019-10-12 16:37] #2376 closed

[2019-10-13 12:31] tronku opened #2390 "Similar events layout collapses at end"
**Describe the bug**
In the EventDetailFragment, the similar events layout collapses at the end of the pagination.

**To Reproduce**
1. Go to the Events tab.
2. Click on any event in the recyclerview.
3. Scroll down to the end for the "More like this" section.
4. Swipe right till the end of the pagination.

**Expected behavior**
The layout should be gone only when there are no similar events on th

[2019-10-13 12:32] tronku commented on #2390
I would like to work on the issue.

[2019-10-13 12:39] liveHarshit commented on #2390
go ahead

[2019-10-15 19:54] prudhvir3ddy opened #2393 "Change the github badge names"
**Describe the chore**

currently we are showing build status with name "build" for both master and development  branches in badges. one should be able to see

master passed
development passed

like this: https://github.com/prudhvir3ddy/Angular-TodoApp

what i want to say is we can use custom names instead of "build"

**Would you like to work on the issue?**
- [x] Yes
- [ ] No
- Other:

[2019-10-16 12:02] #2393 closed

[2019-10-16 12:32] adityastic opened #2395 "improve script for release"

[2019-10-17 09:17] #2390 closed

[2019-10-17 15:45] aggarwalpulkit596 opened #2398 "Better Many to many relationship handling"
From room 2.2 onwards we can handle n:m relationships using juntion table which is much more optimized than the current implemented method

[2019-10-23 22:03] refactor-droidyy commented on #2363
Can i work on this issue.

[2019-11-06 15:16] Rajchowdhury420 opened #2413 "UI conflict in Ticket Section in The App ! it's crossing the layout awwfully doesn't look good"
**Describe the bug**
I think its awwfully overriding the the ideal Layout

**To Reproduce**

**Expected behavior**

**Logs**

**Screenshots**
[image](http://www.mediafire.com/view/i0ay5cf4zl40ctb/WhatsApp%20Image%202019-11-06%20at%2020.47.48.jpeg)

**Smartphone Info:**

|               | |
|---------------|-|
|Device         |Samsung J7 Max|
|Android Version| Oreo 8.1    |

**Additional context**

[2019-11-07 17:31] rob729 commented on #2216
@liveHarshit I want to work on this issue.
Can you please tell me how should I proceed on this issue?

[2019-11-07 18:26] #2395 closed

[2019-11-07 18:28] liveHarshit commented on #2216
@rob729 Just simplify the variables used. Removed unused ones.

[2019-11-07 19:02] rob729 commented on #2216
Ok.
I am working on this issue.

[2019-11-09 12:29] rob729 commented on #2216
@liveHarshit I think function getAmount() does not have any unused/unnecessary variables.
Can you help in solving this issue?

[2019-11-09 14:31] liveHarshit commented on #2216
Read comments on PR https://github.com/fossasia/open-event-attendee-android/pull/2206#discussion_r308887610 to understand the issue.

[2019-11-10 07:21] codedsun opened #2417 "App crashing on search result fragment"
**Describe the bug**
The app crashes on clicking the next icon in search menu in bottom

**To Reproduce**

1. Open the app
2. Click on Search item in bottom menu
3. Click on next Fab

**Expected behavior**
It should not crash

**Logs**
"Can't access the Fragment View's LifecycleOwner when getView() is null i.e., before onCreateView() or after onDestroyView()"

**Would you like to work on the issue

[2019-11-10 07:46] #2417 closed

[2019-11-10 08:37] dheerajkotwani opened #2419 "When clicked on Profile in Settings page it ask user for logout"
**Describe the bug**
Clicking on Profile option in Settings Activity opens a dialog asking user to logout

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Settings Page
2. Click on Profile
3. See error

**Expected behavior**
When clicked on Profile Option in Settings Activity then Profile Page should open or there should be a button for logout

**Screenshots**
![s1](https://user-images.

[2019-11-10 08:55] liveHarshit commented on #2419
Check Eventbrite

[2019-11-10 08:55] #2419 closed

[2019-11-10 19:18] liveHarshit opened #2420 "Bump stripe to 12.3.0 and fix build"
Regarding PR #2415
Fixes #2415
**Would you like to work on the issue?**

open for all

[2019-11-10 20:21] rob729 commented on #2420
@liveHarshit I would like to work on this issue.

[2019-11-10 20:28] liveHarshit commented on #2420
Go ahead.

[2019-11-12 08:27] #2420 closed

[2019-11-12 12:51] tronku opened #2423 "App crashes on search in debug build"
**Describe the bug**
In debug build only, the app crashes on searching for an event. App working properly in release build.

**Expected behavior**
There should be no crashes while searching.

**Logs**
It's a simple issue related to Fragment's lifecycle.
![Screenshot (37)](https://user-images.githubusercontent.com/31654207/68672685-20a32a80-0578-11ea-9310-f471f057763f.png)

**Screenshots**

**Smart

[2019-11-12 12:52] tronku commented on #2423
I would like to work on this issue.

[2019-11-12 13:20] liveHarshit commented on #2423
Fixed in PR #2418
Update your branch with the latest commits on development.

[2019-11-12 13:20] #2423 closed

[2019-11-13 21:44] iamareebjamal opened #2426 "Remove useless native binaries from paypal SDK"
Size of the app is 9 MB. Should be about 3-4 MB

https://stackoverflow.com/a/36540976/3309666

[2019-11-15 13:27] dheerajkotwani opened #2430 "First Name should be a compulsory field"
**Describe the feature you'd like**
First name should be made compulsory in the app as there is no name displaying while booking tickets "after Hello" and many other other parts of the app, Or it should display "Hello User" if First and Last Name are null.

**Screenshots**
![event1](https://user-images.githubusercontent.com/44086235/68946665-893d1200-07d9-11ea-857c-c17992d138d4.jpeg)
![event2](htt

[2019-11-15 14:33] iamareebjamal commented on #2430
There is a difference between user account and attendee form

[2019-11-15 14:33] #2430 closed

[2019-11-18 06:51] #2426 closed

[2019-11-19 05:47] rob729 commented on #2413
@liveHarshit Can I work on this issue?

[2019-11-19 06:10] liveHarshit commented on #2413
Go ahead.

[2019-11-19 06:25] #2216 closed

[2019-11-19 06:48] #2413 closed

[2019-11-19 06:50] rob729 commented on #2077
@liveHarshit Can I work on this issue?

[2019-11-19 07:20] liveHarshit commented on #2077
There is already a PR. @captain82 What is the status?

[2019-11-19 07:21] #2363 closed

[2019-11-19 07:22] iamareebjamal commented on #2077
2 months, so most likely won't continue

[2019-11-19 07:24] liveHarshit commented on #2077
@rob729 Go ahead. First read all comments on the previous PR and understand the issue.

[2019-11-19 07:54] tusharr-98 commented on #2077
@liveHarshit I have asked first if I can work on this issue or not. Please assign it to me.

[2019-11-19 17:28] aggarwalpulkit596 commented on #1968
@iamareebjamal There is no support on the server-side but there is an endpoint for Notification should I integrate that?

[2019-11-19 17:50] iamareebjamal commented on #1968
Already there I guess

[2019-12-03 16:42] rob729 commented on #2077
@tusharr-98 Are you still working on this issue?

[2019-12-03 16:59] tusharr-98 commented on #2077
@rob729  yes...I have asked some questions related to the last PR from @liveHarshit but haven't got any reply.

[2019-12-03 17:05] NishithP2004 opened #2444 "INR Currency support"
**Describe the feature you'd like**

It would be great if the currency could be in terms of INR as well since most of the attendees will be from India.
I'm aware that the currency value varies on a daily basis but it would be great if this feature can come into existence.
**Screenshots**

![Screenshot_2019-12-03-22-32-00-261_com eventyay attendee](https://user-images.githubusercontent.com/34577844

[2019-12-03 17:07] liveHarshit commented on #2444
It is according to the organizer. Try to create an event with INR currency.

[2019-12-03 17:07] #2444 closed

[2019-12-03 17:09] NishithP2004 commented on #2444
Thanks, I wasn’t aware of that.

[2019-12-03 17:15] NishithP2004 opened #2445 "Profile UI design improvement"
**Describe the feature you'd like**

For such a great main UI design in the app, the UI design of the profile section looks kind of simple.
It would be great if the design can be made more complex or decorative.
**Screenshots**

![Screenshot_2019-12-03-22-41-20-309_com eventyay attendee](https://user-images.githubusercontent.com/34577844/70073156-635b9e00-161e-11ea-9d65-77062fc1dc62.jpg)

**Additi

[2019-12-03 19:01] iamareebjamal commented on #2445
Always add screenshot of what you're proposing

[2019-12-03 19:03] iamareebjamal commented on #2077
Where's the question?

[2019-12-03 19:33] tusharr-98 commented on #2077
https://github.com/fossasia/open-event-attendee-android/pull/2356#discussion_r349884297

[2019-12-04 02:04] Hasala123 opened #2447 "No events available in some regions"
There do not seem to be any events loaded up for some regions. (I'm from Sri Lanka, and there is absolutely nothing in the events section). Maybe importing data from these sites can be useful;
  https://10times.com/colombo-lk
  https://www.event.lk/
  https://www.444.lk/events
  https://www.yamu.lk/events
  https://allevents.in/colombo/all

![7e879ae4-0fa9-459d-a4fc-ba562d894772](https://user-imag

[2019-12-04 04:14] liveHarshit commented on #2447
Go through README

[2019-12-04 04:14] #2447 closed

[2019-12-04 04:48] varungazala16 opened #2448 "Cannot detect my location."
**Describe the bug**
I installed the open event attendee android app on my phone and when i clicked on open, there was an option of 'detect my location' and to manually write the name of the city or town in which I am currently living. When I clicked on detect my location,it showed a message that it cannot fetch my location.

**Expected behavior**
 I expected that the app would detect my location

[2019-12-04 05:07] liveHarshit commented on #2448
Attach GIF

[2019-12-04 06:25] PRITI24 opened #2449 "In use my current location, Specify city name instead of state"
In use my current location option, Specify city name instead of state. Also It would be easy, if the range of area will be provided for user in which he/she wants to see events.

![Screenshot_2019-12-04-11-48-52-287_com eventyay attendee](https://user-images.githubusercontent.com/42322432/70117904-a7858780-168c-11ea-9f61-9ff3117ce598.jpg)
.

Please let us know if you can work on it or the issue sh

[2019-12-04 07:09] dheerajkotwani commented on #2448
working fine for me on same device.

[2019-12-04 08:46] liveHarshit commented on #2449
We are following Eventbrite and using the admin area accordingly.

[2019-12-04 08:46] #2449 closed

[2019-12-04 09:07] Mister-Casper opened #2450 "Error at search events"
When i open the search tab , search events ,changing location , search stops working

1. Go to the search tab
2. Click on Search for..
3. Enter any text and search
4.Click top right button
5.Chang location
6.Click on the checkmark.
7. Error . Loop animation . search not work.

I was expecting to be able to search for events in a new location.

![Screenshot_20191204-155754](https://user-images.gith

[2019-12-04 10:47] liveHarshit commented on #2450
Attach GIF for what you are talking about.

[2019-12-05 01:00] felixfavour opened #2452 "Improvement: A more robust data for the Events API"
There are no events recognized by the app in my area, I believe if the app can track events in more regions, the growth of this app's users will be exponential. Hence, a greater number of people are assisted in organizing and planning events **in their location**.

**Screenshot**
![Screenshot_20191205-020329](https://user-images.githubusercontent.com/46944485/70194727-b5c2ba80-1703-11ea-85e0-79a7c

[2019-12-05 01:23] iamareebjamal commented on #2452
This is not an issue of the Android app

[2019-12-05 01:23] #2452 closed

[2019-12-05 17:54] akonic commented on #2448
can i work on this issue @varungazala16 ?

[2019-12-06 04:15] chamodperera opened #2454 "Can't detect events"
### **[Can't detect events on the app]**
**When I go to the website it shows the events going to held**
![Screenshot_20191206-092458 1](https://user-images.githubusercontent.com/39716499/70295224-3cfb5580-180c-11ea-86c5-958b69bebcae.png)

**But in the app nothing shows**

![Screenshot_20191206-092121 1](https://user-images.githubusercontent.com/39716499/70295301-88adff00-180c-11ea-8b27-04cb98a8926

[2019-12-06 05:29] iamareebjamal commented on #2454
Search is not that advanced. You have to search in Colombo

[2019-12-06 05:29] #2454 closed

[2019-12-06 05:30] iamareebjamal commented on #2454
If you want to open an issue. Please see if it can be done on eventyay.com or not. If it can't be done on eventyay.com, it's not a bug in app, it's a bug in the system

[2019-12-06 06:28] aditiverma403 opened #2455 "Bold Or Highlight The Word Privacy Policy"
While Creating Account, No One Will Understand That Here Is The Link To Click & View Privacy Policies. So,Kindly Fix It Out.
![Screenshot_20191206-114138](https://user-images.githubusercontent.com/58584622/70301189-b6507380-181f-11ea-8d29-60c4b0106800.jpg)

[2019-12-06 06:35] iamareebjamal commented on #2455
![](https://dl3.pushbulletusercontent.com/BwDyxJJkaoNNwhSgXkUP3p0EhoUQ62AN/Screenshot_20191206-120232.png)

It's a problem of your device

[2019-12-06 06:36] #2455 closed

[2019-12-06 07:04] aditiverma403 commented on #2455
Since, you are creating the app for allkind of smartphone users so, these things you must have to keep in mind & kindly resolve the issues that I have faced while using it.
Thank You!!!

[2019-12-06 07:25] iamareebjamal commented on #2455
It's impossible to control your phone's theme and settings. It's like throwing your phone against a rock and saying that it's an app's problem that the screen is shattered

[2019-12-06 14:28] ridhimaaarun opened #2456 "Animation glitchy when viewing am event"
While trying to view an event, the animation is kinda glitchy.

[2019-12-06 14:32] ridhimaaarun commented on #2456
Link to issue in gif: https://codein.withgoogle.com/serve/5788746331455488/

[2019-12-06 14:41] #2456 closed

[2019-12-06 15:11] STEdirisuriya opened #2457 "Add a signup button"
**Describe the feature you'd like**
Add a signup button to the login page.
And add signup with Gmail and FB

**Screenshots**
![1](https://user-images.githubusercontent.com/33794760/70332994-a9a43d80-1868-11ea-9f0a-f92f17607a0f.jpeg)

**Would you like to work on the issue?**
- [ ] Yes
- [x] No
- Other:

[2019-12-06 15:48] liveHarshit commented on #2457
Enter your email and proceed further.

[2019-12-06 15:48] #2457 closed

[2019-12-06 16:07] prakhargurunani opened #2458 "App stuck on Loading screen after logging out and logging in again"
**Describe the bug**
After logging out and clearing the app from recent apps, unable to log in again as the app does not move forward from loading screen.

**To Reproduce**
Steps to reproduce the behavior:
1. Open app and log out
2. Clear app from recent apps
3. Open app again
4. Login screen does not load and app is stuck at the splash screen

**Expected behavior**
A fix ASAP by OpenSource develo

[2019-12-06 16:14] iamareebjamal commented on #2458
Not reproducible. And not similar to #1829

This does not look like a crash. Provide more info and reproducible steps

[2019-12-06 17:30] ShridharGoel commented on #2458
@prakhargurunani Please add a GIF.

[2019-12-07 12:11] pq4u opened #2459 "The location isn't working properly."
The location isn't working properly. It only detects the province in which I live. I live in Poland.

My device: Motorola Moto E5
Android Oreo 8.0
![5757565082796032_1575648219_Screenshot_20191206-170103_1](https://user-images.githubusercontent.com/45707808/70374484-00565980-18f3-11ea-84f5-75ac2343e66e.png)

[2019-12-07 12:13] iamareebjamal commented on #2459
It is made to detect the province. What else do you want to detect?

[2019-12-07 12:16] paweltesny19 commented on #2459
I thought it would be possible for the city to appear if you could enter it manually.

[2019-12-07 12:19] iamareebjamal commented on #2459
It is

[2019-12-07 16:04] tronku opened #2460 "Fab icon size changes after feedback"
**Describe the bug**
On Event detail screen, after focusing on feedback edittext view, the size of the fab icons increases in similar events section.

**To Reproduce**
1. Go to Event detail screen
2. Click on 'Write Feedback'
3. Focus on the edittext
4. Dismiss the dialog and notice the change in size of the fab icons.

**Expected behavior**
The size should remain same.

**Screenshots**

![ezgif-6

[2019-12-07 16:04] tronku commented on #2460
I would like to work on the issue.

[2019-12-07 16:06] liveHarshit commented on #2460
Go ahead.

[2019-12-07 17:01] #2460 closed

[2019-12-07 17:06] me-AC opened #2462 "Notification Bell Badge"
**Describe the bug**
On the home page of app, after login the notification button shows the red badge and when you open it there are no notifications. It ALSO happens when you change the city.

**To Reproduce**
*Login is REQUIRED*
1- After logging in the first time it shows the bug.
2- Change the city. It shows it again.
3- Clear app data in settings. Log in again. It shows it again.

**Expected b

[2019-12-07 18:29] aayanraja210 opened #2463 "Make instructions more clear"
**Hard to know what to do, needs a brief tutorial or help section. I personally took a while to realize i needed developermofe to use it properly**

**Would you like to work on the issue**

- [x] No
-

[2019-12-07 18:39] aayanraja210 opened #2464 "Not returning results for location search"
**Issue**
Trying to find a location while creating an event, but it returns no result. Locations are not found
**Steps to reproduce the behavior:
1. Go to 'Live page'
2. Click on 'Plus FAB'
3. Scroll down to 'Location Details'
4. Click on 'Search Bar'
5. Search for a location
6. See error -->

**Expected Behaviour**
Expect to get a list of locations when searching for them.

**Logs**
N/A

**Screen

[2019-12-07 20:08] iamareebjamal commented on #2464
Google Maps is not working. Please install dev version to get the latest code, where MapBox is used

[2019-12-07 20:08] #2464 closed

[2019-12-07 20:11] iamareebjamal commented on #2463
Developer mode is for developer-only features which are either not tested or incomplete and you definitely don't need developer mode to use it properly.

Secondly, bugs related to features enabled by developer mode will be considered extremely low priority anyway.

Lastly, this is not a feature we want people to use. So, only a developer wanting to work on an issue related to the hidden features s

[2019-12-07 20:11] #2463 closed

[2019-12-08 11:35] Coder-Ops415 opened #2465 "Location bug"
**Describe the bug**

**To Reproduce**
<!--Steps to reproduce the behavior:
1. Go to 'fossasia app'
2. Click on 'any event
3. Scroll down to location of the event
4. Click on the location where it will redirect to the google maps
5.location is not proper ,it will show the coordinate 0,0 and atlantic sea not the event coordinates

**Expected behavior**
Normally the location of the evnt must show on

[2019-12-08 11:36] #2465 closed

[2019-12-08 11:43] Coder-Ops415 opened #2466 "Location issue"
**Describe the bug**

When location of the event is viewed ot redirects to google maps where the location is preset to 0,0 latitude and longitude
**To Reproduce**

1.go to fossasia app
2.click on any event
3.view location of the event
4.it will redirect to google maps where location is not shown there is some other random location and not of the event

**Expected behavior**

**Logs**

**Screenshot

[2019-12-08 11:49] iamareebjamal commented on #2466
Google Maps are not working. Build and install latest app from the repo

[2019-12-08 11:49] #2466 closed

[2019-12-08 15:28] Aryan-401 opened #2467 "Old events are still Published"
**Describe the bug**
Whenever looking for an event, it shows a wrong location

**To Reproduce**
1. Click on "Search" in the bottom navbar
2.Click the "In" dialog box
3.Type "Delhi"
**Expected behavior**
Shouldn't show events which are expired
**Logs**
No logs available

**Screenshots**
https://lh3.googleusercontent.com/iLDpKHLRIIbYYnxxzHKvwP6QeUQXnzo73U_u92s4XjBCGUqe_ajmD2bgi9GNdLgofVA0LPySmG1Xzp4

[2019-12-08 15:51] codedsun commented on #2467
This is not an expired event.

https://eventyay.com/e/77a533b1

[2019-12-08 15:51] codedsun commented on #2467
This is not an expired event @Aryan-401

https://eventyay.com/e/77a533b1

It's of 2020

[2019-12-08 15:53] #2467 closed

[2019-12-08 18:53] VarunSaini23 opened #2468 "Empty String in Popular Location"
**Describe the bug**
The first option of popular location is an empty string. Due to which on selecting that option, all the events of all the locations are shown

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Enter location' in events screen
2. Under popular locations, the first option is an empty string.

**Expected behavior**
The empty string should be removed from that list. Beca

[2019-12-09 16:01] VarunSaini23 commented on #2468
I want to fix this bug. Please assign it to me.

[2019-12-09 18:05] #2468 closed

[2019-12-09 18:34] VarunSaini23 opened #2470 ""Enter Location" recyclerview margin from bottom"
**Describe the bug**
The recyclerview in "Enter location" is not having proper margins from the bottom which make it look not so good.
**To Reproduce**

**Screenshots**

![WhatsApp Image 2019-12-10 at 12 01 41 AM](https://user-images.githubusercontent.com/40406851/70462238-8257a580-1ae0-11ea-8406-b069ed143492.jpeg)

**Smartphone Info:**

|               | |
|---------------|-|
|Device         |[Re

[2019-12-09 20:12] VarunSaini23 commented on #2470
@iamareebjamal I want to fix this bug. Please assign it to me.

[2019-12-09 21:07] iamareebjamal commented on #2470
Send a PR, no need for assignment

[2019-12-10 07:20] MuhammadWasif opened #2475 "Dark Mode feature"
The app is jusg awesome but it would be great to have a feature of **Dark Mode** in the app.
Enabling the mode will change the theme of app. User could change mode from the **drawer** using a switch button
Are you working on this?
No, I'm not an android developer. So it would be great if an android dev. works on this feature

[2019-12-10 07:33] #2470 closed

[2019-12-10 08:04] PicantaData opened #2476 "UI- Forgot-password_notification"
1. When we press "I forgot my password" in login there is no pop-up notification regarding the password reset link sent to the respective email id.

To Reproduce the first bug;
1. Go to 'Profile'
2. Click on 'login'
3. Enter the registered email and continue
4. See error -->When you press "I forgot my password, it shows loading and no notification
    appears regarding the reset link sent.

**Expe

[2019-12-10 09:02] iamareebjamal commented on #2476
Please raise 3 separate issues for 3 bugs

[2019-12-10 09:23] tronku commented on #2476
I would like to work on these bugs.

[2019-12-10 09:25] tronku commented on #2462
#2357 are you referring to this issue?

[2019-12-10 09:43] iamareebjamal commented on #2462
Yes

[2019-12-10 10:06] tronku commented on #2462
After the PR #2379 i haven't noticed such issue on the app.

[2019-12-10 10:14] #2462 closed

[2019-12-10 10:19] PicantaData opened #2479 "UI-Icon overlapping header"
1. The icon of the ticket overlaps the violet-colored header of the page.

To Reproduce the bug:-
1. Go to the tickets section.
2. See error-->When you have no ticket history, the icon overlaps the violet-colored header.

**Expected Behaviour**
Shift the alignment a little down

**Screenshots**
![Screenshot_20191210-090321](https://user-images.githubusercontent.com/58455626/70506966-72c47500-1b51-

[2019-12-10 10:22] PicantaData opened #2480 "UI-Icon of Events overlapping the screen"
1. When the page of the Events is refreshed, the icon of the calendar comes over the screen.

To Reproduce the bug;
1. Go to the events section from the navigation bar.
2. Refresh the screen by pulling down the window.
3. See Error-->You will see the icon of Events coming over the content.

**Screenshots**

![Screenshot_20191210-110928](https://user-images.githubusercontent.com/58455626/70506989-7

[2019-12-10 10:33] aryanguls opened #2481 "Unable to view Notifications on the App"
**Describe the bug**
The Eventyay Attendee App shows a notifications option on the top right corner but in the case of notifications being there i am unable to view them on opening the notifications tab.(screenshots provided)

**To Reproduce**
1. Go to the Eventyay Attendee App
2. On opening the app press the bell icon on the top left corner
3. In case it has a red dot on it it still will not disp

[2019-12-10 11:02] iamareebjamal commented on #2481
Dupolicate of #2357

[2019-12-10 11:02] #2481 closed

[2019-12-10 11:07] aryanguls commented on #2481
Sorry but I didn't see the other issues. My mistake. Thank you.

On Tue, 10 Dec 2019, 16:32 Areeb Jamal, <notifications@github.com> wrote:

[2019-12-10 11:21] iamareebjamal opened #2482 "App crash on clicking skip"
App crashes on pick a city screen and `Skip` is clicked. On opening again, home screen loads but crashes on clicking search or login

Basically, app is in unusable state

[2019-12-10 11:42] adityastic opened #2483 "Fix Branch Release"

[2019-12-10 11:43] adityastic commented on #2482
I would like to work on it

[2019-12-10 12:10] tronku commented on #2476
On clicking the forgot my password, I am receiving the reset mail but app's showing "Email address not present in the server" error.

[2019-12-10 12:11] tronku commented on #2482
Can you add the screenshots? I am not facing any issue on pick city screen.

[2019-12-10 12:38] iamareebjamal commented on #2482
On which app version are you?

[2019-12-10 12:39] iamareebjamal commented on #2476
Paste the response from the server

[2019-12-10 12:46] tronku commented on #2482
Latest one - 0.9.0

[2019-12-10 12:57] tronku commented on #2476
<title>429 Too Many Requests</title>
<h1>Too Many Requests</h1>
<p>Limit for this action exceeded</p>

[2019-12-10 14:03] tronku commented on #2476
Another response is this -
{
  "email": "shubham.pathak2000@gmail.com",
  "message": "If your email was registered with us, you'll get an                          email with reset link shortly"
}

There is a check of message == "Email sent" in the app which shows that mail has been sent to you on clicking the forgot password. But as the message is different in case of success, no message is displa

[2019-12-10 14:12] iamareebjamal commented on #2482
Have you logged out and tried again. Clear app data and check. It's crashing for me on tickets, favorites, login and skip

[2019-12-10 15:13] codedsun commented on #2482
Not crashing for me, can you tell me your Android Version @iamareebjamal ?

[2019-12-10 15:30] tronku commented on #2476
@iamareebjamal what should i do to fix this? Will, there be any change from the server response or should i handle it from the app side?

[2019-12-10 15:33] iamareebjamal commented on #2482
Crashing on all versions - 5, 6, 7, 7,1, 8, 8,1, 9
Devices - Huawei P8 Lite, Mate 9, Moto G4, Moto Z, Galaxy S9, Pixel 1, Pixel 2, Pixel 3, Nokia 1

[code]

[2019-12-10 15:34] PicantaData opened #2485 "UI-False Notification indication"
False Notification dot

**To Reproduce**
1. See error -->When Events page is refreshed we see a new notifications for us(by red light indicator). But when it is opened, there is no new notification.

**Expected behavior**
Notification dot should appear for new notifications.

**Screenshots**
![Screenshot_20191210-205102~2](https://user-images.githubusercontent.com/58455626/70543571-9bb82a80-1b90-1

[2019-12-10 15:40] iamareebjamal commented on #2485
Please don't open duplicate issues

[2019-12-10 15:40] #2485 closed

[2019-12-10 15:42] iamareebjamal commented on #2476
Obviously that's app's problem. What can server do in this regard?

[2019-12-10 15:43] iamareebjamal commented on #2462
Duplicate of #2357

[2019-12-10 15:44] iamareebjamal commented on #2485
Duplicate of #2357

[2019-12-10 16:10] iamareebjamal commented on #2482
It's because of this:

https://github.com/fossasia/open-event-attendee-android/blob/989c8f1/app/src/main/java/org/fossasia/openevent/general/auth/AuthFragment.kt#L53-L60

[2019-12-10 16:49] tronku commented on #2482
working on the issue

[2019-12-10 17:30] #2483 closed

[2019-12-10 18:36] iamareebjamal opened #2487 "Move search result observer to onCreateView"
https://github.com/fossasia/open-event-attendee-android/blob/99d61f40bab989c6e8de5770861c093cd710e7ea/app/src/main/java/org/fossasia/openevent/general/search/SearchResultsFragment.kt#L79-L83

[2019-12-10 18:37] #2482 closed

[2019-12-10 20:12] codedsun commented on #2487
I am taking this up.

[2019-12-10 20:29] iamareebjamal commented on #2487
Beginners

[2019-12-10 21:01] adityastic opened #2495 "Improve Fastlane and Branch release without switching directories"

[2019-12-11 05:25] #2495 closed

[2019-12-11 13:00] refactor-droidyy commented on #2475
@MuhammadWasif can I work on this issue

[2019-12-11 13:05] iamareebjamal commented on #2475
Very low priority. We cannot maintain dark mode when basic features of app are not working

[2019-12-11 13:15] refactor-droidyy commented on #2487
@iamareebjamal can i work on this ?

[2019-12-11 13:17] codedsun commented on #2487
@refactor-droidyy Yes you can!

[2019-12-11 15:24] MuhammadWasif commented on #2475
@refactor-droidyy yeah! Why not?

[2019-12-11 16:31] iamareebjamal commented on #2475
The reason is given above

[2019-12-11 23:57] #2476 closed

[2019-12-12 11:40] #2487 closed

[2019-12-12 12:02] Neilblaze commented on #2448
yea same thing happened for me too, I tested it upon my two smartphones having android versions 9.0 (Realme 5pro) and 7.0 (Redmi note4) and for both the system same thing occured!

[2019-12-12 14:05] me-AC opened #2498 "Reloading the events tab"
**Describe the bug**

On reloading the events tab, it first loads the screen, then shows the "Sorry, there are no events available" logo for very short time in center, then the logo shifts down and overlaps the found events and is visible for some time.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Events tab'
2. Reload the page
3. See the error

**Expected behavior**

It should not

[2019-12-13 07:33] KirillKozinets opened #2499 "Application crash when trying to erase email in the sign in field"
Application crash when trying to erase email in the sign in field

![20191213_141331](https://user-images.githubusercontent.com/44705397/70777782-37c17c00-1db3-11ea-9690-1238bb70845b.gif)

|Device     Huawei nova 2i
|Android Version 9
Would you like to work on the issue? Yes

[2019-12-14 06:48] #2499 closed

[2019-12-14 17:48] darshk07 opened #2503 "app background not working properly."
App background is not full upto the resolution of the phone.

![5970205251993600_1576255412_Screenshot_2019-12-13-22-12-32-53_a1e480d5f8a68dac724a3f60014ae8f6](https://user-images.githubusercontent.com/40802851/70852544-8f9dd700-1ec8-11ea-83d3-d4229c64d5da.png)
![5970205251993600_1576255412_Screenshot_2019-12-13-22-12-28-07_a1e480d5f8a68dac724a3f60014ae8f6](https://user-images.githubusercontent.co

[2019-12-14 17:57] adityastic commented on #2503
looks like you have override force dark mode ON

[2019-12-14 18:16] #2503 closed

[2019-12-15 07:05] sofyan1722 opened #2504 "UI is good and perfectly"
UI is good and perfectly
I like it

[2019-12-15 07:09] sofyan1722 opened #2505 "Add feature push notification and add events"
The UI is very good, I like that

but how to add events? there is no menu to add events

Please add feature add events and push notifications

[2019-12-15 07:48] iamareebjamal commented on #2505
Not in the scope of application. Push notifications need server support first

[2019-12-15 07:48] #2505 closed

[2019-12-15 07:48] iamareebjamal commented on #2504
Please don't spam. This is not an issue

[2019-12-15 07:48] #2504 closed

[2019-12-15 07:54] sofyan1722 opened #2506 "Add feature add events"
Please add feature add events from apps

UI is good and no bug

[2019-12-15 07:55] #2506 closed

[2019-12-15 07:55] iamareebjamal commented on #2506
Please don't spam the issue boards!

[2019-12-15 22:14] anubhav11march opened #2507 "Hiding Keyboard on clicking anywhere on SignUp Fragment"
**Describe the bug**
The Keyboard hides only on clicking on back button on the sign up screen. A fix would be to hide the keyboard on clicking anywhere on the screen.

**To Reproduce**
1. Go to Sign up screen
2. Click on FirstName EditText
3. Try hiding the keyboard by clicking elsewhere on the screen.
4. The keyboard doesn't hide and back button or enter needs to be clicked.

**Screenshots**
Noti

[2019-12-16 11:19] adityastic commented on #2507
This kind of an interaction is used in HIG, and not Material Design. @iamareebjamal should be the right person to make a decision 😉

[2019-12-17 11:19] #2507 closed

[2019-12-18 07:07] manan025 opened #2512 "Profile button leads to logout"
**Describe the bug**
The Profile button in the settings makes a dialog which is for logging out an user and I also saw that there is no Logout button so the text might be written wrong.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Profile section'
2. Click on 'Settings'
3. Click on 'Profile' on the top of account section
4. See error -> 'Are you sure you want to log out?'

**Expect

[2019-12-18 07:07] KirillKozinets opened #2513 "Russian language support"
I found that the application does not have Russian support. Therefore, if necessary, I can add Russian language support to the application.
Tell me if this functionality is needed.

[2019-12-18 07:08] manan025 commented on #2498
The error does exists. Please have a look admins.

[2019-12-18 15:34] manan025 opened #2514 "Asian languages support"
**Describe the feature you'd like**

As FOSSASIA is an Asian based organization and it's main focus is Asia, it should support almost all the Asian languages such Hindi, Japanese, Chinese, Korean etc.

**Would you like to work on the issue?**

- [ ✓ ] No

[2019-12-18 15:43] manan025 opened #2515 "Transition overlaps the design in Tickets tab"
**Describe the bug**
After I go to the Tickets section, I find that the page load transition overlaps the design that is on the top. (Screenshot attached)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Tickets' section
2. See error

**Expected behavior**
It shouldn't be overlapping the top design

**Logs**
N.A.

**Screenshots**

![Screenshot_2019-12-18-21-05-54-02_a1e480d5f8a68dac724

[2019-12-18 16:35] refactor-droidyy commented on #2512
I want to work on this issue

[2019-12-18 17:22] adityastic commented on #2512
@refactor-droidyy sure, go ahead

[2019-12-18 17:55] refactor-droidyy commented on #2512
@adityastic there is no use for profile button(for the purpose of editing profile related details) in Setting Fragment since it is available in ProfileFragment which is better.
so can I make A PR related the same idea.

[2019-12-18 18:23] adityastic commented on #2512
@nikit19 @iamareebjamal @liveHarshit would be the right guys to confirm that :)

[2019-12-19 06:47] tronku commented on #2498
This is same as #2480

[2019-12-19 06:48] tronku commented on #2498
I would like to work on this.

[2019-12-19 06:58] refactor-droidyy commented on #2512
@nikit19 @liveHarshit please confirm.

[2019-12-19 12:42] liveHarshit commented on #2515
Not an issue

[2019-12-19 12:42] #2515 closed

[2019-12-19 12:45] liveHarshit commented on #2498
Duplicate

[2019-12-19 12:45] #2498 closed

[2019-12-19 12:46] liveHarshit commented on #2512
We're following Eventbrite. Not an issue.

[2019-12-19 12:46] #2512 closed

[2019-12-19 12:46] liveHarshit commented on #2513
Not needed

[2019-12-19 12:46] #2513 closed

[2019-12-19 13:03] tronku commented on #2480
I would like to work on this

[2019-12-20 05:29] liveHarshit commented on #2480
Go ahead

[2019-12-20 13:46] #2480 closed

[2019-12-21 06:05] ArbitCode commented on #2514
[ - ] Yes

[2019-12-21 10:02] #2514 closed

[2019-12-21 19:56] iamareebjamal commented on #2507
Agree with @adityastic but here, there is no workaround than to repeatedly tap back button and it gets tedious, hence it is fine. If there is any better suggestion, then we'll implement that

[2019-12-22 17:40] shlokj opened #2523 "Password minimum length different"
While entering the password, the error message under the edittext says minimum 6 characters are required. On creating a password of 6 characters, a snackbar message pops up, saying the password should be at least 8 characters long. Suggestions: require the password to be at least 6 characters long, and maintain coherence throughout.

[2019-12-23 14:54] yuvrock opened #2524 "Bug in updating profile's twitter link."
There is some issue with the addition of twitter link in profile.
![20191222_164744](https://user-images.githubusercontent.com/35378149/71364420-2aca3700-25c2-11ea-85de-1c873bbe420b.gif)

[2019-12-23 14:56] yuvrock opened #2525 "Bug in updating Facebook link in profile."
There is some issue with the addition of Facebook link in profile.
![20191222_165507](https://user-images.githubusercontent.com/35378149/71364496-6bc24b80-25c2-11ea-8ab6-a275c79c1594.gif)

[2019-12-23 14:59] yuvrock opened #2526 "Instagram link in profile."
There is some issue with the addition of Instagram link in profile. Once the data is entered and the profile is updated and the profile is opened to be edited again, the Instagram link can't be seen like the rest of the name and phone number once the edit pro
![20191222_170323](https://user-images.githubusercontent.com/35378149/71364668-e8552a00-25c2-11ea-82e4-c616633f239c.gif)
file option is clic

[2019-12-23 15:01] yuvrock opened #2527 "Change in image in profile is not implemented"
change in image in the profile is not implemented.
![20191222_191935 (1)](https://user-images.githubusercontent.com/35378149/71364759-22bec700-25c3-11ea-8621-7b74f887fc0d.gif)

[2019-12-23 15:22] iamareebjamal commented on #2525
Duplicate of #2524

[2019-12-23 15:22] #2525 closed

[2019-12-23 15:22] iamareebjamal commented on #2526
Duplicate of #2524

[2019-12-23 15:22] #2526 closed

[2019-12-23 16:18] tronku commented on #2524
I'll look into this.

[2019-12-23 18:19] refactor-droidyy commented on #2523
@shlokj can I work on this.

[2019-12-24 16:20] shrel301 opened #2528 "Bug report:"
**Describe the bug**

The application crashes a number of times. In my case, it crashed twice. Once when I tried opening a live event and next when I clicked on the "Share" option.

**To Reproduce**
1. Go to 'menu'
2. Click on 'Share'
3. The app crashes

**Smartphone Info:**

|               | |
|---------------|-|
|Device         |ASUS_X00TD|
|Android Version| PIE 9.0|

The frequency of the crash

[2019-12-24 19:11] tronku commented on #2528
Share option is working, not crashing in my case. Can you please share a video or a screenshot?

[2019-12-24 21:40] shrel301 commented on #2528
Yeah sure... here’s the drive link
https://drive.google.com/drive/folders/1-C4g6cTkTz_J0oj-vGNiD7h27BZD5A4t

On Wed, 25 Dec 2019 at 12:41 AM, Shubham Pathak <notifications@github.com>
wrote:

[2019-12-24 22:30] adityastic commented on #2528
@shrel301 This might the wrong repository for your crash videos :). You're using the oraganizer app ;)

[2019-12-24 22:31] shrel301 commented on #2528
Oops... So what should I do

On Wed, 25 Dec 2019 at 4:00 AM, Aditya Gupta <notifications@github.com>
wrote:

[2019-12-24 22:51] adityastic commented on #2528
@shrel301 github.com/fossasia/open-event-organizer-android should be the place to go ;)

[2019-12-24 22:53] shrel301 commented on #2528
Ohk... Thanks for your help. I'll delete the report.

On Wed, 25 Dec 2019 at 4:21 AM, Aditya Gupta <notifications@github.com>
wrote:

[2019-12-24 23:09] adityastic commented on #2528
@shrel301 perfect

[2019-12-24 23:15] #2528 closed

[2019-12-25 00:25] tusharr-98 commented on #2077
@liveHarshit, how should I get the order and event by their ids as they are required as a parameter to start PayPal payment?

[2019-12-25 05:52] PRITI24 opened #2529 "More Clicks required for password reset link"
**Expected behavior**

**Logs**

**Screenshots**
|
|Android Version|    |

**Would you like to work on the issue?**

- [ ] Yes

[2019-12-25 06:19] liveHarshit commented on #2077
From order fragment and order under user view model.

[2019-12-25 10:48] anubhav11march commented on #2529
I would like to work on this.

[2019-12-25 16:40] PRITI24 commented on #2479
I would like to work on this issue

[2019-12-26 16:33] tusharr-98 commented on #2077
@liveHarshit can I write the code for payment in the order under user view model ?

[2019-12-26 22:50] tolstovdmit commented on #2523
I think it was fixed in #1889.

[2019-12-27 07:52] tusharr-98 commented on #2077
Also...I am unable to create a pending order, need help

[2019-12-27 12:45] #2523 closed

[2019-12-28 15:17] arpitaj12 opened #2530 "Improvements to the reset password page"
Inputs during password reset are vague, and those should be clarified. Also, there is no need to have a  create event button during password reset as it is irrelevant.

[2019-12-28 18:00] manan025 commented on #2527
The problem maybe in your internet connection, the server and the app, both seems to be working in the correct manner.

[2019-12-28 18:04] manan025 commented on #2530
I would like to work on this issue!

[2019-12-28 18:05] #2527 closed

[2019-12-30 05:54] tusharr-98 commented on #2077
Also every time I am trying to create order...snackbar appears with a message "unable to create order".

[2019-12-30 10:15] manyadua16 opened #2531 "Bug report"
[](https://github.com/fossasia/open-event-attendee-android/issues/2530#issue-543205831) **Describe the bug**

**To Reproduce**

**Expected behavior**

**Logs**

**Screenshots**

**Smartphone Info:**

|               | |
|---------------|-|
|Device         ||
|Android Version|    |

**Additional context**

**Would you like to work on the issue?**

- [ ] Yes
- [ ] No
- Other:

[2019-12-30 10:17] #2531 closed

[2019-12-30 11:08] GamingWithShaurya opened #2532 "Issue with the share button on the Likes tab in Eventyay"
**Describe the feature you'd like**

When you press the share button, you also have the option to share the event link to apps like games and cash grab apps which is not required and I checked if there is something to even input there but there is no area to input links in games so unnecessary.

**Screenshots**

<table>
<tr>
<td><img src="https://user-images.githubusercontent.com/35957429/71578921

[2019-12-30 11:54] #2532 closed

[2019-12-30 11:54] iamareebjamal commented on #2532
Do you think we have added these apps in the menu? And we can predict what apps user has installed and add those there?

[2019-12-30 19:02] muneebGH opened #2533 "Cannot scroll while signing up ."
**Describe the bug**

While filling the sign up page form . when the page inputs reach to the top of keyboard  u have to put keyboard down and then select the next input field then it lets you enter anything.
**To Reproduce**

A scrollable sign up page
**Expected behavior**

 Should be able to fill form without turning keyboard down .
**Logs**

**Screenshots**

![ezgif com-video-to-gif](https://us

[2019-12-30 19:21] muneebGH commented on #2533
I think it is the bug of android operating system itself .

[2019-12-30 19:21] #2533 closed

[2019-12-30 19:43] muneebGH opened #2534 "Remove warning in activity_main.xml"
**Describe the bug**

Use a layout_height of 0dp instead of @dimen/layout_margin_none for better performance  When only a single widget in a LinearLayout defines a weight, it is more efficient to assign a width/height of 0dp to it since it will absorb all the remaining space anyway. With a declared width/height of 0dp it does not have to measure its own size first.

**To Reproduce**

replace it wi

[2019-12-30 19:45] iamareebjamal commented on #2534
It is already 0dp. Android Studio is being stupid. Once you change it, it'll give warning that use dimens instead

[2019-12-30 19:45] #2534 closed

[2019-12-30 19:46] muneebGH commented on #2534
ok

[2019-12-30 20:05] muneebGH opened #2535 "support for Urdu language for Pakistan"
**Describe the feature you'd like**

App should support Urdu language also .
**Screenshots**

**Additional context**

**Would you like to work on the issue?**

- [x] Yes
yes I am working on it
- [ ] No
- Other:

[2019-12-31 09:55] sdew021 commented on #2445
@iamareebjamal i would like to take up this issue and start working on it

[2019-12-31 10:06] #2445 closed

[2019-12-31 10:06] iamareebjamal commented on #2445
This is not a valid issue

[2019-12-31 10:07] sdew021 commented on #2445
oh ok

[2019-12-31 10:14] sdew021 commented on #1139
hey @iamareebjamal i see that this issue is still open, if no one has picked it, can i take up this issue and start working on it

[2019-12-31 10:56] iamareebjamal commented on #1139
yes if you can still reproduce it

[2019-12-31 11:59] #2535 closed

[2019-12-31 15:56] rob729 commented on #2077
@tusharr-98 Are you still working on this issue?

[2019-12-31 15:58] manyadua16 commented on #2530
I am also having the same problem

[2019-12-31 16:01] manyadua16 opened #2539 "Password reseting issue"
Inputs during password reset are vague, and those should be clarified. Also, there is no need to have a create event button during password reset as it is irrelevant.

[2019-12-31 17:13] muneebGH commented on #2539
![ezgif com-optimize](https://user-images.githubusercontent.com/49611774/71628602-8b88ed80-2c1a-11ea-80fb-04859bbb3b57.gif)
 I dont see anything like this

[2019-12-31 17:15] muneebGH opened #2540 "implement share button"
**Describe the feature you'd like**

I would like to add a share button to increase the chances of more audience .

**Screenshots**

**Additional context**

**Would you like to work on the issue?**

- [x] Yes
definitely yes
- [ ] No
- Other:

[2019-12-31 17:44] iamareebjamal commented on #2539
Why are you duplicating issues? You have literally copied word by word and created this issue AFTER commenting on the already existing one

Duplicate of #2530

[2019-12-31 17:44] #2539 closed

[2019-12-31 17:50] iamareebjamal commented on #2530
No context or screenshot. Add screenshots to prevent closing of the issue. As mentioned in #2539 nothing described in the issue matches the UI of app

[2019-12-31 17:51] iamareebjamal commented on #2540
There's already one AFAIK

[2019-12-31 17:51] #2540 closed

[2019-12-31 17:51] #2479 closed

[2020-01-01 16:06] tiwaripari opened #2543 "Suggestion for improving user experience."
A new user should be given a quick tour of the app's features.
It would really improve the user experience.

[2020-01-01 17:14] tusharr-98 commented on #2077
@rob729  are you able to create Order ??

[2020-01-03 17:13] amit6663 commented on #2529
@PRITI24 r u working on this or can i?

[2020-01-03 18:06] rob729 opened #2548 "Bump spotless to 3.27.0 and fix build"
**Describe the chore**
Regarding PR #2547

**Would you like to work on the issue?**

- [x] Yes
- [ ] No
- Other:

[2020-01-03 18:25] rob729 commented on #2548
@iamareebjamal @liveHarshit can I work on this issue?

[2020-01-03 18:34] adityastic commented on #2548
Definitely @rob729

[2020-01-04 15:09] #2548 closed

[2020-01-05 05:18] amitYadavDev commented on #1471
@Orbiter  can i work on this issue?

[2020-01-05 07:42] thatfedupguy commented on #2077
@liveHarshit help needed

[2020-01-06 15:42] VaibhavDM opened #2553 "Not able to remove liked events."
**Describe the bug**
When you try to remove liked event it first shows that the event is deleted but the event is not deleted.

**To Reproduce**

1. Go to likes menu
2. Click on the heart icon to remove an event from liked events
3. It first shows that event is deleted.
4. Then an error will occur

**Expected behavior**

When we click on heart icon the event must be remove from liked events.

**Sc

[2020-01-07 02:16] Sam659 opened #2555 "Can't find any events in New York City!"
**Describe the bug**
New York City is a major city with hundreds of events going on daily. However, the application is telling me: "Sorry, there are no events available".

**To Reproduce**

|               | |
|---------------|-|
|Device         Samsung s8
|Android Version| Latest version of Android

[2020-01-07 02:25] Sam659 opened #2556 "Can't like events"
**Describe the bug**
When I try to "like" an event a message appears that says: "Our bad... let's try this again".

**To Reproduce**

|               | |
|---------------|-|
|Device         |Samsung s8
|Android Version| Latest Version of android

[2020-01-07 09:32] iamareebjamal commented on #2555
That's correct. We can't magically list events happening in New York City. We show the events which are registered on the linked open event server - eventyay.com

So, yeah, sorry, there are no events available in New York in eventyay

[2020-01-07 09:32] #2555 closed, assigned to nobody

[2020-01-07 09:34] iamareebjamal commented on #2556
Duplicate. Please check old issues before opening new one

[2020-01-07 09:34] #2556 closed, assigned to nobody

[2020-01-08 05:25] liveHarshit commented on #2077
yes?

[2020-01-08 05:27] liveHarshit commented on #2553
Attach GIF instead.

[2020-01-08 12:58] thatfedupguy commented on #2077
@liveHarshit I am unable to create pending order

[2020-01-08 13:06] iamareebjamal commented on #2077
You are a developer, not a user. We need more information like the logs and server endpoint, request and response of the failing call

[2020-01-11 12:16] thatfedupguy commented on #2077
I mean what i have to do to create a pending order. I have gone through the code but cannot figure it out.

[2020-01-13 10:17] iamareebjamal commented on #2077
Use API or frontend

[2020-01-13 12:54] rob729 commented on #2553
@liveHarshit Can I work on this issue?

[2020-01-14 13:02] VaibhavDM commented on #2553
yes you can!!😊

On Mon, Jan 13, 2020 at 6:24 PM Robin Singh <notifications@github.com>
wrote:

[2020-01-14 13:55] dheerajkotwani commented on #2524
instead of writing "www.twitter/user_name" try with "https://twitter.com/user_name" and same for facebook and instagram.

<blockquote><img src="//abs.twimg.com/favicons/favicon.ico" width="48" align="right"><div><strong><a href="https://twitter.com/user_name">User_name (@User_name) | Twitter</a></strong></div><div>The latest Tweets from User_name (@User_name): "mmmmmmmmmmm I am sleeping."</div></b

[2020-01-14 14:24] rob729 commented on #2553
<a href="https://imgflip.com/gif/3m2zp9"><img src="https://i.imgflip.com/3m2zp9.gif" title="made at imgflip.com"/></a>

[2020-01-14 15:52] PRITI24 commented on #2529
You can proceed!

[2020-01-15 16:20] rmcsitdev opened #2565 "UI and Maps Integration Bug"
In the app, UI needs improvement. And, when we click on a particular event, the integrated map is empty, after tapping on it, Google maps gets opened but the location of the event is not showed.

[2020-01-15 19:17] aryanguls opened #2567 "Update Open Event Attendee App To Support more Languages"
**Describe the feature you'd like**
Many people may not understand all basic languages and thus may need the app translated to their native language. But as of now the app does not seem to offer any such option. I believe the app should eventually at some time have the ability to support atleast all major foreign languages apart from English.

**Would you like to work on the issue?**
- [x] Yes
- [

[2020-01-16 17:35] #2567 closed, assigned to nobody

[2020-01-17 15:48] scixor commented on #2565
Can I work on this? @iamareebjamal  :)

[2020-01-17 21:13] uditha-anuranjana commented on #2450
is this still open?

[2020-01-17 21:20] iamuditha commented on #2450
@liveHarshit  is this issue closed ?

[2020-01-18 06:44] pranavkarthik10 opened #2570 "Add Chinese (Simplified) Language"
**Describe the feature you'd like**

As many of FOSSASIA's software is primarily used in Asia, and thus China, adding the Chinese language as an option for users would greatly benefit many, especially the attendees of events in those countries.

**Would you like to work on the issue?**

- [x] Yes
- [ ] No

[2020-01-18 09:39] #2570 closed, assigned to nobody

[2020-01-18 09:58] scixor opened #2572 "Clicking on profile button prompts to log out"
**Describe the bug**
The "profile" button prompts to log user out
**To Reproduce**

1. Login into eventyay
2. Go to profile option
3. under **General**  go to settings
4. Click on profile
**Expected behavior**
It should be edit profile or should bring back to profile page

**Screenshots**

![Screenshot_20200118-151921](https://user-images.githubusercontent.com/27860105/72661957-c2c31100-3a06-11ea-

[2020-01-18 11:38] iamareebjamal commented on #2572
Duplicate

[2020-01-18 11:38] #2572 closed, assigned to nobody

[2020-01-18 15:29] insaiyancvk opened #2573 "Remove all hardcoded strings"
**Describe the chore**
Remove all the hardcoded strings.

**Would you like to work on the issue?**
- [x] Yes
- [ ] No

[2020-01-19 08:29] Sid911 commented on #2565
I don't think there is a problem with maps.... its just that the map is not hidden if the field is empty

[2020-01-20 12:06] hoangdatngo opened #2581 "Revert Translation PRs"
Revert #2568, #2566 as there is no guarantee of correct language translation.

[2020-01-20 12:07] #2581 closed, assigned to nobody

[2020-01-20 13:06] scixor commented on #1823
is this done or can I work on it?

[2020-01-20 14:45] rob729 commented on #2553
@liveHarshit @iamareebjamal This seems to be a server-side problem. Should I open an issue on the server-side?

[2020-01-20 16:05] liveHarshit commented on #2553
Can't say. Provide server response.

[2020-01-20 16:35] #2565 closed, assigned to nobody

[2020-01-20 18:08] rob729 commented on #2553
[code]

[2020-01-21 01:12] aryanguls commented on #2077
I'll work on this and do it.

[2020-01-21 06:19] scixor opened #2583 "Adding new rating system so user's can review the application"
**Describe the feature you'd like**
Usually applications like Google Maps etc have a dialog which asks the users if they want to review the application. I would be nice to have it as most of the user don't bother to rate the application not because they don't want to but theywould have to go to the play store and open application page view then  review it.

**Screenshots**
Not really required

**A

[2020-01-21 06:22] scixor opened #2584 "Chore: Upgrade Dependencies and sdk version"
**Describe the chore**
Upgrade the dependecy of stripe etc. and also upgrade the targetsdkversion and compiled version to 29 (google recommends doing this)

**Would you like to work on the issue?**
- [x] Yes
- [ ] No
- Other:

[2020-01-21 07:10] adityastic commented on #2584
We already have dependabot to update our dependencies

[2020-01-21 15:57] scixor commented on #2584
@adityastic still there are dependencies not updated 😅 and being ignored by dependabot

[2020-01-21 16:30] insaiyancvk opened #2588 "Add Telugu translation"
**Describe the feature you'd like**
I would like to translate the app to Telugu.

**Would you like to work on the issue?**

- [x] Yes
- [ ] No

[2020-01-21 17:36] rob729 commented on #2553
?? @liveHarshit @iamareebjamal

[2020-01-21 19:37] iamareebjamal commented on #2553
Yes

[2020-01-21 20:01] codedsun commented on #2553
@rob729 - Please open an issue on the server. Thankyou

[2020-01-22 09:49] #2583 closed, assigned to nobody

[2020-01-22 14:11] scixor opened #2590 "Instagram Profile link update not working"
**Describe the bug**
Whenever the user inputs a instagram profile link and updates it.. the updates doen't get changed

**To Reproduce**

1. Go to profile
2. Click on edit profile
3. Enter instagram link and click on update
4. Come back to the edit profile to see Instagram link isn't updated

**Expected behavior**
Instagram link should update in user profile

**Screenshots**

**Smartphone Info:**

[2020-01-22 14:20] scixor opened #2591 "Entering username instead of links instead of links in profile edit"
**Describe the issue**
This isn't really a bug but is a user clarification issue, currently in edit profile page, the user needs to enter the entire link with the protocol itself like `https` etc. which is tiresome to add in mobile as people using instagram in mobile probably use it in instagram app, not to mention chromium engines are now not showing the protocols in the address bar in general. T

[2020-01-22 14:29] iamareebjamal commented on #2591
And how will we convert it to links?

[2020-01-22 14:30] scixor commented on #2591
@iamareebjamal just add a header to it like a username is always `https://www.instagram.com/ + <username>`

[2020-01-22 14:31] scixor commented on #2591
same can be done by retrieving entire link and then cutting off the header part in loading part
`https://www.instagram.com/<username>`  to get `<username>`

[2020-01-22 14:32] iamareebjamal commented on #2591
OK, what if someone enters `@iamareebjamal`

[2020-01-22 14:32] insaiyancvk opened #2592 "Search text overflows in the search field"
**Describe the bug**
The text in the text field for searching the location overflows when many characters are input.

**To Reproduce**

1. Go to the app
2. Click on text field under "what's good in"
3. Enter a large number of characters.
4. The text overflows.

**Expected behavior**
All the text will be visible in the text field.

**Screenshots**
![bug](https://user-images.githubusercontent.com/53

[2020-01-22 14:34] scixor commented on #2591
I think we have to trim the string anyways.. for spaces we can remove other literals like `@`

[2020-01-22 14:35] iamareebjamal commented on #2591
OK, what is some user's username itself has `@` at start

[2020-01-22 14:36] scixor commented on #2591
@iamareebjamal not possible. because while creating account in any platform you cannot add `@` as it is notifier for tagging inside username... think if you could tag a person with @ <@username>

[2020-01-22 14:37] iamareebjamal commented on #2591
In any platform?

[2020-01-22 14:38] scixor commented on #2591
I mean in the platforms we are having .. in twitter facebook and Instagram

[2020-01-22 14:39] iamareebjamal commented on #2591
Then go ahead, and write tests for the same

[2020-01-22 14:39] iamareebjamal commented on #2592
Always add screenshots

[2020-01-22 14:40] scixor commented on #2591
tests? did last one had tests @iamareebjamal for it

[2020-01-22 14:40] iamareebjamal commented on #2591
No

[2020-01-22 14:50] codedsun commented on #2553
@rob729 - The server side issue is fixed, please check the app side.

[2020-01-22 14:58] scixor commented on #2591
@iamareebjamal are there any tests in the application?

[2020-01-22 15:02] scixor commented on #2591
I just see 1 with deprecated popups all over it

[2020-01-22 15:25] iamareebjamal commented on #2591
Don't know what you mean by that

[2020-01-22 15:27] rob729 commented on #2553
Ok

[2020-01-22 15:40] rob729 commented on #2553
@codedsun The issue is still present in the app.

[2020-01-22 15:56] iamareebjamal commented on #2553
You should be using the dev server

[2020-01-22 16:03] codedsun commented on #2553
@rob729 - The release has not been made yet, so please test in on dev server currently. The fix will go to prod once we make a release. Thankyou!

[2020-01-22 16:08] scixor commented on #2591
oh sorry .. I saw just one test, in androidTests folder which probably had
an example instrumentation test

On Wed, Jan 22, 2020 at 8:55 PM Areeb Jamal <notifications@github.com>
wrote:

[2020-01-22 16:13] rob729 commented on #2553
I am using the debug version of the app.
Does https://open-event-api-dev.herokuapp.com/v1/ indicates dev server?

<blockquote><div><strong><a href="https://open-event-api-dev.herokuapp.com/v1/">404 Not Found</a></strong></div></blockquote>

[2020-01-22 16:17] codedsun commented on #2553
https://open-event-api-dev.herokuapp.com

<blockquote><div><strong><a href="https://open-event-api-dev.herokuapp.com/">Open Event API Server</a></strong></div></blockquote>

[2020-01-22 16:19] rob729 commented on #2553
I am still getting the error.
404 NOT FOUND https://open-event-api-dev.herokuapp.com/v1/user-favourite-events/63
[code]

<blockquote></blockquote>

[2020-01-22 16:51] insaiyancvk opened #2595 "Accepts phone numbers more than 10 digits in profile settings"
**Describe the bug**
A phone number of more than 10 digits is accepted in profile settings.

**To Reproduce**
1. Click Profile then edit profile.
2. Enter a phone number with greater than 10 digits.
3. Click on update and the settings are accepted.

**Expected behaviour**
1. A limit of 10 digits is added to the existing text field.
2. Add a spinner so that the user chooses the country code.

**Scr

[2020-01-22 16:52] codedsun commented on #2553
@rob729 - Their is some bug on the app side. When I try to favourite an event - it hits the api

 `POST https://open-event-api-dev.herokuapp.com/v1/user-favourite-events` which is fine

then  i want to remove this favourite event - only from the UI the favourite icon is removed from that event and transferred to the next event in the list .

Following, when I try to remove that favourite event. th

[2020-01-22 16:54] codedsun commented on #2553
The API end points are working fine and you can hit from postman and check.
The documentation is present here https://open-event-api-dev.herokuapp.com

<blockquote><div><strong><a href="https://open-event-api-dev.herokuapp.com/">Open Event API Server</a></strong></div></blockquote>

[2020-01-22 16:59] codedsun commented on #2553
![ezgif com-video-to-gif](https://user-images.githubusercontent.com/20026440/72915662-ab698800-3d66-11ea-9047-bf85371d8164.gif)

Reference

[2020-01-22 17:25] codedsun commented on #2553
So, basically in the list, the event I favourited is first but it shows the second. Please look into this.

[2020-01-22 17:26] rob729 commented on #2553
Ok

[2020-01-22 18:37] rob729 commented on #2553
In my case, I am getting an error when I am trying to like an event.
409 CONFLICT https://open-event-api-dev.herokuapp.com/v1/user-favourite-events
<a href="https://imgflip.com/gif/3mvs9y"><img src="https://i.imgflip.com/3mvs9y.gif" title="made at imgflip.com"/></a>

[2020-01-22 19:32] codedsun commented on #2553
It's because you have liked that event previously and the UI of app doesn't shows that. I already mentioned that their's is the misplacement of favourite events.

[2020-01-23 12:43] insaiyancvk commented on #2595
@iamareebjamal Shall I add a spinner so that user can select their country code? or a text field for the user to enter the country code manually?

[2020-01-23 13:57] iamareebjamal commented on #2595
Spinner

[2020-01-24 06:10] rob729 opened #2600 "Bump spotless to 3.27.1 and fix build"
**Describe the chore**
Regarding PR #2563

**Would you like to work on the issue?**

- [x] Yes
- [ ] No
- Other:

[2020-01-24 07:04] #2600 closed, assigned to nobody

[2020-01-24 07:36] rob729 commented on #2553
<a href="https://imgflip.com/gif/3n1u8p"><img src="https://i.imgflip.com/3n1u8p.gif" title="made at imgflip.com"/></a>
@codedsun I did a fresh install of the app and now I am not getting the error when I am liking the event but while removing the liked event I am getting the following error.

404 NOT FOUND https://open-event-api-dev.herokuapp.com/v1/user-favourite-events/16
[code]
Do you have any

[2020-01-24 07:39] codedsun commented on #2553
@rob729  - I told you that there is a misplacement of the favourite button in UI. Please use POSTMAN and test from their.

[2020-01-24 13:50] #2573 closed, assigned to nobody

[2020-01-24 18:00] rob729 commented on #2553
<a href="https://imgflip.com/gif/3n2pqk"><img src="https://i.imgflip.com/3n2pqk.gif" title="made at imgflip.com"/></a>

@liveHarshit @iamareebjamal I created a new account on the app and then tested it. The app is working fine  for the events liked after https://github.com/fossasia/open-event-server/issues/6762 was fixed.
Can you please suggest me how to proceed on this issue further as I am not a

[2020-01-25 06:44] ankushmundhra commented on #2595
@insaiyancvk Is someone working on this ?

[2020-01-25 07:07] insaiyancvk commented on #2595
@ankushmundhra yes, I am working on this.

[2020-01-26 04:45] dheerajkotwani opened #2603 "bug: Scrolling in Notification Activity"
**Describe the bug**
While scrolling in notification activity the layout overlaps on Unread and All button on the top

**To Reproduce**
1. Go to Notification
2. Check if there are some notifications present
3. Scroll down
4. See error

**Expected behavior**
The layouts should not overlap over the buttons

**Screenshots**
![openevent_notification_scroll_bug](https://user-images.githubusercontent.co

[2020-01-26 04:52] dheerajkotwani opened #2604 "bug: Change password dialog in edit profile"
**Describe the bug**
When we open the change password dialog in landscape mode the view gets cut from the button and it does not look properly

**To Reproduce**
1. Go to Edit Profile in landscape mode
2. Click on Change Password
3. Try to scroll
4. See error

**Expected behavior**
Everything should be visible properly and there should be an option of scrolling

**Screenshots**
![change_pass_dialog

[2020-01-26 05:58] ankushmundhra commented on #2604
@dheerajkotwani can i work on this.

[2020-01-26 06:03] ankushmundhra commented on #2603
@dheerajkotwani can i work on this?

[2020-01-26 06:25] ankushmundhra commented on #2592
@insaiyancvk Is this issue solved? Can i work on this?

[2020-01-26 06:41] ankushmundhra commented on #2553
@Xsniper0 Is this issue still on? I think i may have an idea to solve this issue!

[2020-01-26 06:58] insaiyancvk commented on #2592
@ankushmundhra I am working on this.

[2020-01-26 07:36] dheerajkotwani commented on #2604
I had already solved this @ankushmundhra

[2020-01-26 07:37] dheerajkotwani commented on #2603
okay @ankushmundhra

[2020-01-26 07:38] dheerajkotwani commented on #2603
I am working on @ankushmundhra

[2020-01-26 10:59] #2604 closed, assigned to nobody

[2020-01-26 12:23] dheerajkotwani opened #2607 "bug: No scrolling in tickets filter"
**Describe the bug**
There are no scroll bars in filter in Tickets section which makes the layout cut from bottom while using in landscape mode

**To Reproduce**
1. Go to Ticket Section in landscape mode
2. Click on Filter button
3. Try to scroll
4. See error

**Expected behavior**
It should scroll properly

**Screenshots**
![settingz_scroll_bug](https://user-images.githubusercontent.com/44086235/

[2020-01-26 13:16] VaibhavDM commented on #2553
Yes this issue is still on

On Sun, Jan 26, 2020, 12:11 Ankush Mundhra <notifications@github.com> wrote:

[2020-01-26 14:17] #2607 closed, assigned to nobody

[2020-01-26 15:31] AminullahTajMuhammad opened #2609 "Add ScrollView in SignUp Screen"
**Describe the bug**
Add scrollView in the signup screen.

**Expected behavior**
SignUp Button show when android phone keyboard is opened.

**Smartphone Info:**

|               | |
|---------------|-|
|Device         | OPPO F7 |
|Android Version| Pie 9 |

**Additional context**

**Would you like to work on the issue?**

- [x] Yes
- [ ] No
- Other:

[2020-01-26 16:00] AminullahTajMuhammad commented on #2609
@championswimmer Can I work on this issue?

[2020-01-26 16:16] dheerajkotwani commented on #2609
@AminullahTajMuhammad scroll view is already present in the sign up activity.

[2020-01-26 17:50] AminullahTajMuhammad commented on #2609
@dheerajkotwani But it's not working on my device.

[2020-01-26 18:06] dheerajkotwani commented on #2609
@AminullahTajMuhammad this is because the inner layout (linear_layout) inside the scroll layout is set to match_parent height making it to wrap_content can solve this :)

[2020-01-26 18:41] dheerajkotwani opened #2610 "chore: Remove hardcoded strings from xml and Java files"
**Describe the chore**
There are various hardcoded strings present in the code which can be replaced.

**Would you like to work on the issue?**

- [x] Yes
- [ ] No
- Other:

[2020-01-26 20:37] AminullahTajMuhammad commented on #2609
@dheerajkotwani I had checked it. still, it's not working. Can I do this with a new approach?

[2020-01-27 03:45] ankushmundhra commented on #2553
@Xsniper0 Can i work on this?

[2020-01-27 05:32] rob729 commented on #2553
Yes

[2020-01-27 19:56] VaibhavDM commented on #2553
Yes!!

On Mon, Jan 27, 2020, 09:15 Ankush Mundhra <notifications@github.com> wrote:

[2020-01-28 14:23] rob729 commented on #2595
@insaiyancvk Are you still working on this issue?

[2020-01-28 14:25] insaiyancvk commented on #2595
@rob729 I am working on the spinner part now

[2020-01-28 14:28] insaiyancvk opened #2612 "bug: Profile button in settings not functioning properly"
**Describe the bug**
The profile button in profile settings is not showing the profile, instead, it asks if the user wants to log out.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to profile -> settings
2. Click on profile
3. Shows a dialogue if the user wants to log out.
4. See error.

**Expected behaviour**
Remove the button because there are already profile as well as log out option

[2020-01-28 17:22] #2612 closed, assigned to nobody

[2020-01-29 12:02] rob729 commented on #2592
@insaiyancvk  Are you working on this issue?

[2020-01-30 07:20] #2592 closed, assigned to nobody

[2020-01-30 16:34] #2603 closed, assigned to nobody

[2020-01-30 17:44] dheerajkotwani opened #2615 "bug: Position of no internet dialog"
**Describe the bug**

The position of no internet dialog completely hides the round part of the background also there are no margins given from the edges of the screen.

**To Reproduce**

**Expected behavior**

The no internet dialog should come below the round part(purple color) of the dashboard or there must be some margin between the dialog and edges of screen.

**Screenshots**

![Screenshot_20

[2020-01-31 04:46] #2615 closed, assigned to nobody

[2020-01-31 05:11] rob729 commented on #2077
@nikit19 @liveHarshit @iamareebjamal I am not able to create a pending order. Can you please help me in creating one?

[2020-01-31 05:28] liveHarshit commented on #2077
Create order, do not make payment.

[2020-01-31 08:17] dheerajkotwani opened #2618 "No proper alignment to text in different layouts"
**Describe the bug**
There is no proper alignment of Text in different layouts and dialogs within the app.

**To Reproduce**
See the no ticket dialog or no Internet dialog
The text are aligned to left, they must be aligned center

**Expected behavior**
The text must be aligned properly, center in the dialogs

**Screenshots**
![Screenshot_2020-01-31-13-39-00-635_com eventyay attendee](https://user-

[2020-01-31 11:36] rob729 commented on #2077
<img src = "https://user-images.githubusercontent.com/31350501/73536240-87373680-444b-11ea-846e-baecfda09dec.png" height = 400>

I am getting "error in fetching tickets" error.

Logs:-
E/EventDetailsViewModel$syncTickets: Error fetching tickets
    com.github.jasminb.jsonapi.exceptions.InvalidJsonApiResourceException: Included must be an array of valid resource objects, or an empty array ([])

Wha

[2020-01-31 14:18] rob729 commented on #2077
@dheerajkotwani Are you facing this issue?

[2020-01-31 14:19] dheerajkotwani opened #2620 "No proper indentation given in xml files"
**Describe the chore**
While reading the xml files of the project I found that many of them(fragment_order_under_user.xml, fragment_sessions.xml, etc) don't have proper indentation or don't go according to the guideines

**Would you like to work on the issue?**

- [x] Yes
- [ ] No
- Other:

[2020-01-31 14:19] dheerajkotwani commented on #2620
@liveHarshit do this needs to modified?

[2020-01-31 14:38] dheerajkotwani commented on #2077
while opening ticket it is giving error
Logs:
`
2020-01-31 20:07:06.036 12422-12422/com.eventyay.attendee E/TicketsViewModel$loadTickets: Error fetching tickets 9
    com.github.jasminb.jsonapi.exceptions.InvalidJsonApiResourceException: Included must be an array of valid resource objects, or an empty array ([])
        at com.github.jasminb.jsonapi.ValidationUtils.ensureValidResourceObjectArray(V

[2020-01-31 16:06] iamareebjamal commented on #2077
Can't help unless you give request URL and response

[2020-01-31 18:06] dheerajkotwani commented on #2077
https://open-event-api-dev.herokuapp.com/v1/events/126/tickets?include=event&fields

{"data": [{"type": "ticket", "attributes": {"is-fee-absorbed": true, "min-price": 1.0, "min-order": 1, "price": 0.0, "is-checkin-restricted": true, "max-order": 10, "deleted-at": null, "position": 1, "max-price": 0.0, "type": "free", "sales-starts-at": "2020-01-14T13:03:49.335000+00:00", "is-description-visible":

[2020-01-31 18:12] dheerajkotwani commented on #2458
Working fine for my device..

[2020-01-31 18:18] dheerajkotwani commented on #2530
@arpitaj12 can you please elaborate the issue

[2020-01-31 18:50] #2458 closed

[2020-02-01 03:43] #2530 closed

[2020-02-01 03:44] iamareebjamal commented on #2077
The URL is invalid

[2020-02-01 06:32] dheerajkotwani commented on #2077
https://open-event-api-dev.herokuapp.com/v1/events/126/tickets?include=event&fields[event]=id&page[size]=0

[2020-02-01 06:43] iamareebjamal commented on #2077
Revert jsonapi-converter to previous version and see if it is working

[2020-02-01 06:47] iamareebjamal commented on #2077
Add this DeserializationFeature to true - ALLOW_UNKNOWN_TYPE_IN_RELATIONSHIP

[2020-02-01 07:01] dheerajkotwani commented on #2077
Reverting the dependency worked

[2020-02-01 07:05] iamareebjamal commented on #2077
It's better if you use ALLOW_UNKNOWN_TYPE_IN_RELATIONSHIP

[2020-02-01 07:14] dheerajkotwani opened #2621 "bug: multi line input and alignment of apply coupons"
**Describe the bug**
The alignment of the apply coupons Edit text is not proper also there is multi line input for it.

**To Reproduce**
1. Go to Tickets
2. Click on apply coupons
3. Input multi line text
4. See error

**Expected behavior**
The text must be single line as all promo codes or discount coupons are single line text. Also the editText and button must be aligned properly

**Screenshots*

[2020-02-01 10:34] dheerajkotwani commented on #2077
unable to resolve, how to use this

[2020-02-01 13:25] #2618 closed, assigned to nobody

[2020-02-01 16:53] dheerajkotwani opened #2624 "bug(UI): margins in search filters"
**Describe the bug**
Margins given to the scroll layouts of the search filters are not proper

**To Reproduce*
1. Go to search filter(I want to go out or I am up up)
2. keep pressed any item
OR Scroll down to bottom
4. See error

**Expected behavior**
The scrolling must be upto bottom of screen and also while selecting any item ripple should show till edge of screen

**Screenshots**

![IMG_2020020

[2020-02-01 20:10] dheerajkotwani opened #2626 "Add "settings button" and "skip for now" on login screen"
**Describe the feature you'd like**
Currently the skip for now and settings button is given on the first page but it should also be present on the page where user is entering password, as user changes mind of entering password or want to see settings then he can directly do it from there without going back

**Screenshots**
![Screenshot_2020-02-02-01-26-30-773_com eventyay attendee](https://user-im

[2020-02-02 16:37] rob729 commented on #2077
@iamareebjamal  Can you please tell me in which file this change has to be made?

[2020-02-02 17:12] iamareebjamal commented on #2077
Read the docs of the library

[2020-02-02 18:37] #2626 closed, assigned to nobody

[2020-02-03 16:43] insaiyancvk opened #2628 "bug: No scrolling in past tickets filter"
**Describe the bug**
There are no scroll bars in the filter in Past Tickets section which makes the layout cut from the bottom while using in landscape mode.

**To Reproduce**
1. Go to Ticket -> Past in landscape mode
2. Click on the Filter button
3. Try to scroll
4. See error

**Expected behaviour**
It should scroll properly

**Screenshots**
![past_ticket_bug](https://user-images.githubuserconten

[2020-02-03 18:44] dheerajkotwani commented on #2628
This issue was fixed with #2608 .Please get the latest commits

[2020-02-03 18:54] #2624 closed, assigned to nobody

[2020-02-04 12:12] insaiyancvk commented on #2628
@dheerajkotwani If I'm not wrong, you have fixed the scroll view in Tickets filter, not 'Past Ticket' filter

[2020-02-04 14:07] dheerajkotwani opened #2632 "Layout of "Sign in to like event""
**Describe the bug**
There is no scrolling in "Sign in to like event" dialog, this makes problem for user if using app in landscape mode.

**To Reproduce**
1. Go to Events, when user is not logged in
2. Click on like event button in landscape mode
3. Try to Scroll down
4. See error

**Expected behavior**
The view should scroll smoothly so that user can see the layout perfectly

**Screenshots**
![b

[2020-02-04 14:21] dheerajkotwani opened #2634 "bug: Unable to scroll upload profile pic dialog"
**Describe the bug**
The upload profile pic dialog is not scrolling.

**To Reproduce**
1. Go to Profile
2. Click on edit profile pic icon
3. Try to Scroll down
4. See error

**Expected behavior**
The view should scroll smoothly so that user can see the layout perfectly

**Screenshots**
![bug_profile](https://user-images.githubusercontent.com/44086235/73752815-9d186480-4787-11ea-807d-1206c5965889.g

[2020-02-04 16:25] dheerajkotwani commented on #2459
@iamareebjamal Can I work on it, to make it display the city name. As I live in noida and when I click on detect location it displays Uttar Pradesh.

[2020-02-04 17:11] dheerajkotwani commented on #2628
There are no separate files ticket filter and past ticket filter, the issue was resolved for both the cases

[2020-02-04 17:31] iamareebjamal commented on #2459
Go ahead

[2020-02-05 07:19] #2634 closed, assigned to nobody

[2020-02-05 16:21] #2632 closed, assigned to nobody

[2020-02-12 14:32] Rita-Okonkwo commented on #2620
Hello please has this been taken care of?

[2020-02-12 14:32] Rita-Okonkwo commented on #2610
Hello please has this been taken care of? If no, can I work on it?

[2020-02-16 05:12] iamsharad98 commented on #2543
May I work on this?

[2020-02-16 06:37] #2543 closed

[2020-03-16 04:21] wahyuandi840 opened #2660 "Edit Profile Force Close"
**Describe the bug**
The application force close.

**To Reproduce**
Steps to reproduce the behavior:
1. Open App
2. Click Profile
3. Click Edit Profile

**Expected behavior**
Show Edit Form.

**Logs**
java.lang.IllegalStateException: BitmapFactory.decodeByte…g, 0, decodedString.size) must not be null.

**Screenshots**

**Smartphone Info:**

Device       Xiaomi Note 5A
Android Version Nougat 7.1

*

[2020-04-17 08:50] scixor commented on #2591
Anyone else can look into this!

[2020-04-17 08:51] scixor commented on #2590
Anyone else can look into this 😇

[2020-04-17 08:51] #2584 closed, assigned to nobody

[2020-05-08 09:06] Dhruv-194 commented on #2621
I'm new to open source but I can definitely contribute to this issue. Please assign me this issue.

[2020-05-08 11:00] iamareebjamal commented on #2621
Please send a PR

[2020-05-10 03:11] #2621 closed, assigned to nobody

[2020-05-26 06:23] ForgottenProgramme commented on #2660
Hey, @wahyuandi840 ! I want to work on this issue.
But I am having trouble setting up the environment.
I downloaded the apk file. And it runs on the Android Studio emulator but the files in the repository won't open.
I don't know how to see the source code.
Would you please help me, @wahyuandi840 ?

![apk](https://user-images.githubusercontent.com/65779580/82866811-3e017a00-9f47-11ea-9a50-b41ca2a5

[2020-05-26 08:25] iamareebjamal commented on #2660
You don't see source code by installing APK, you see it by cloning the repo https://github.com/fossasia/open-event-attendee-android

<blockquote><img src="https://avatars1.githubusercontent.com/u/6295529?s=400&v=4" width="48" align="right"><div><img src="https://github.githubassets.com/favicons/favicon.svg" height="14"> GitHub</div><div><strong><a href="https://github.com/fossasia/open-event-atten

[2020-06-06 22:06] devptyagi commented on #2660
is this available?

[2020-06-06 22:07] devptyagi commented on #2610
If this one's available, Can I Work on it?

[2020-06-09 12:15] IDkhachik opened #2724 "Doesn't work mobile check in"
doesn't work moblile check in, doesn't open camera, but all rights an application is granted. Android 9.1.
Nothing happens when you click the Check in button

[2020-06-09 17:18] iamareebjamal commented on #2724
There is no option of check in in the app

[2020-06-09 17:18] #2724 closed, assigned to nobody

[2020-06-16 09:43] Harshit564 commented on #2610
Yes i will work

[2020-06-16 09:52] rcs10 commented on #2609
@dheerajkotwani @AminullahTajMuhammad  changing the value of WindowSoftInputMode to "adjustResize" in manifestfile did the job.

[2020-07-30 14:28] saketsingh0078 commented on #2610
is this issue is fix , if no then is i start working on it.

[2020-07-30 16:45] iamareebjamal commented on #2610
Not a priority

[2020-08-14 15:39] jyotijauhari commented on #2610
@dheerajkotwani  I want to work on this issue,  can you assign this issue to me?

[2020-08-25 07:29] The-Pascal commented on #2609
@championswimmer I found the same issue in the app.
If the issue is still open, can I work on it ?

[2020-09-09 11:59] kusoz5 commented on #2609
Can I work over this issue?

[2020-09-09 11:59] kusoz5 commented on #2610
can i work over this issue?

[2020-09-09 12:00] kusoz5 commented on #2595
can i work over this issue?

[2020-09-12 12:09] liveHarshit commented on #2609
PR is already under review for this ticket. @rcs10 Please check comments. thanks

[2020-09-13 05:27] liveHarshit opened #2768 "Integrate Circle CI to automate the APK build"
Push build script for CircleCI

**Acceptance criteria**
1. Build should trigger for pull requests only
2. Circle CI should build the debug APK only (Fdroid and Play Store)
3. APK link needs to be commented out on the PR itself

[2020-09-15 15:22] rasacharjee commented on #2595
I am interested to work on the issue. If possible please assign the issue to me.

[2020-09-15 15:27] rasacharjee commented on #2459
As it is still detecting the province,can i work on the issue.

[2020-09-15 15:34] liveHarshit commented on #2595
@kusoz5 Go ahead but follow the comments here https://github.com/fossasia/open-event-attendee-android/pull/2617, thanks

[2020-09-15 15:35] liveHarshit commented on #2459
@rasacharjee please go ahead

[2020-09-18 17:24] rasacharjee commented on #2459
Thanks, I am figuring out the codebase and will soon make changes to resolve this issue

[2020-10-07 05:40] spacemonkey1101 commented on #2768
i would like to work on this

[2020-10-07 05:42] spacemonkey1101 commented on #2230
i would like to work on this if assigned

[2020-10-08 11:47] liveHarshit commented on #2768
@spacemonkey1101 Please go ahead

[2020-10-08 11:47] liveHarshit commented on #2230
@spacemonkey1101 Take one issue at once

[2020-10-10 12:23] VamsiKrishnaCommits opened #2786 "A UI glitch that happens in the events fragment when refreshed."
When the events fragment is refreshed ,  it can be clearly seen that , before the events are loaded i.e. after the shimmer, the no-events placeholder
comes into place for a second before the events are displayed. Which hinders the user experience .

To reproduce the behavior
Go to the events fragment  and swipe to refresh.

Expected behavior
The events should load immediately after the shimmer wit

[2020-10-12 11:12] VamsiKrishnaCommits commented on #2768
Is this open? I would like to work on this.

[2020-10-12 11:18] #2786 closed, assigned to nobody

[2020-10-13 11:31] liveHarshit commented on #2768
@VamsiKrishnaCommits PR is already raised, please wait.

[2020-10-15 15:22] VamsiKrishnaCommits opened #2791 "Shows empty message before the items are fetched in favourite fragment."
**Describe the bug**
Empty message is being shown before the items are fetched.
**To Reproduce**

![ezgif com-gif-maker](https://user-images.githubusercontent.com/59550525/96146605-19bd2e80-0f24-11eb-952e-b4a30c23f734.gif)
Click Like on the bottom navigation bar.
Observe that the empty message is shown first and later the items are instantiated.

**Expected behavior**
When the favorite fragment is

[2020-10-16 11:12] #2791 closed, assigned to nobody

[2020-10-17 12:48] ForgottenProgramme commented on #2230
@iamareebjamal , When I try to access the link you have provided, I see this:
![git](https://user-images.githubusercontent.com/65779580/96337491-2d43d300-10a5-11eb-97c7-2713ad1a9434.png)

[2020-10-19 18:19] iamareebjamal opened #2793 "Add a dialog notifying that the app is prototype"
Add popup screen: "This mobile app is still in its prototype stage with many features being experimental. We currently recommend using this app only for testing."

The popup should only display once

[2020-10-20 07:52] nileshteji commented on #2793
@iamareebjamal  This Should be only displayed once on the first time launch of the application ? . I would like to work on this issue.

[2020-10-20 08:45] iamareebjamal commented on #2793
Go ahead

[2020-10-20 08:48] nileshteji commented on #2793
@iamareebjamal
Have Some questions:-
1. When should be the dialog notifying?
2. Should the dialog be notifyed only once or every time the app is opened(like an onboarding screen)

[2020-10-20 08:49] iamareebjamal commented on #2793
The popup should only display once on opening of the app

[2020-10-21 07:33] #2793 closed, assigned to nobody

[2020-10-26 04:43] ManishPanwar556 commented on #2595
Can I work on the spinner issue @liveHarshit

[2020-10-26 05:20] ManishPanwar556 commented on #2459
can I work on this issue @liveHarshit

[2020-10-26 15:37] comradekingu opened #2796 "Changing translation license means simplified chinese translation can't get used"
https://hosted.weblate.org/changes/?component=open-event-organizer-android-app&project=open-event&lang=&action=55&user=

Was previously GPLv3+. Changing it to a "lesser" license can only be done by the author.

Anyway, why not go AGPLv3+ on both server and app, along with translations?

[2020-10-28 07:37] YugN17 commented on #1139
i want to work on this
can you assign me

[2020-10-28 10:16] YugN17 commented on #1139
@mariobehling i want to work on this can you assign  me

[2020-10-28 12:20] iamareebjamal commented on #1139
We don't assign issues. Please send a PR

[2020-10-28 12:20] #1139 closed

[2020-11-03 15:56] VamsiKrishnaCommits opened #2801 "Issue in the Tickets Fragment when there is no internet."
**Describe the bug**
When the internet is turned off ,  The tickets fragment seems to still show the shimmer not the No-Internet card .
**To Reproduce**
1. Turn the internet off.
2. Open the EventYay app.
3. Click on the Tickets icon on the Bottom Navigation bar.
4. You can observe that the shimmer still keeps loading and the No-Internet card is never shown.
**Expected behavior**
When the internet

[2020-11-06 10:09] #2801 closed, assigned to nobody

[2020-11-16 12:56] VinamraGuptaa commented on #1078
Hello. Is this issue still open?

[2020-11-16 12:59] VinamraGuptaa commented on #2475
Hey. Is this issue still open?

[2020-11-16 13:43] #2475 closed

[2020-12-12 16:21] adnanraghib1308 opened #2818 "In search activity, layout problem in dark mode(some Text view is missing, see screen shot)"
**Describe the bug**

When you open the search activity in app in dark mode, half screen shows dark and a text view is missing(see screen shot). If you think this is an issue and need to be fixed. Please assign it me, I am new to open source and really want to give my first project contribution. Thank you

**To Reproduce**

Switch to dark mode
1. Go to 'Search'
2. See error --> "I want to go out"

[2020-12-12 16:23] adnanraghib1308 commented on #2818
@liveHarshit @mariobehling  can i work on this issue??

[2020-12-13 13:30] VamsiKrishnaCommits opened #2821 "Payment gateway"
**The payment gateway seems to be broken**
 Payment gateway is necessary for a successful booking , I observed that this went missing

**To Reproduce**
Try booking a ticket for an event and you cannot proceed after the payment gateway pops up.
**Expected behavior**
Paypal or other payment modes should work to result a successful transaction

**Smartphone Info:**

|               | |
|-------------

[2020-12-24 09:49] franklinbill opened #2824 "A display bug"
**Describe the bug**

Dear developer! In the process of using, I found a bug in layout / display. As shown in the figure, in the start page, text and icons overlap.
App version is 0.9.1, my mobile phone is Google nexus 6, screen resolution setting is 1920*1080, **_font size and display size_** are the largest ! ! !  Android system is 8.0.
The above is a description of the problem. The overall expe

[2020-12-24 10:01] franklinbill opened #2825 "A display bug on search"
**Describe the bug**

Dear developer! In the process of using, I found a bug in layout / display. As shown in the figure, in the search page, text and image overlap.
App version is 0.9.1, my mobile phone is Google nexus 6, screen resolution setting is 1920*1080, **_font size and display size_** are the largest ! ! ! Android system is 8.0.
The above is a description of the problem. The overall expe

[2021-01-03 16:00] varunvjha commented on #2825
I would like to work on this issue.

[2021-01-03 16:01] varunvjha commented on #2824
I want to work on this issue.

[2021-01-06 16:38] franklinbill commented on #2825
Thank You!

[2021-01-11 15:15] ajax-07 commented on #2273
if is this issue still open may i work on it

[2021-01-11 15:17] ajax-07 commented on #2448
If it this issue is still open may i work on it ?

[2021-01-11 15:20] ajax-07 commented on #1611
if is it still open i want to work on this issue

[2021-01-11 15:28] ajax-07 commented on #1055
i would like to work on it if it is still open

[2021-01-15 16:43] ghost commented on #2610
hey! Can you pls assign this to me?

[2021-01-20 17:26] VamsiKrishnaCommits opened #2832 "SnackBar showing incomprehensible pop out message in the EventDetails Fragment."
**Describe the bug**
The event I clicked was CodeHeat Ask me Anything January , somehow it failed to fetch something and popped out the below snack bar which does not make sense
**To Reproduce**
Click on the event CodeHeat AMA- January edition

**Expected behavior**
A sensible message

**Screenshots**

![Screenshot_20210119-211156_Eventyay Attendee](https://user-images.githubusercontent.com/595505

[2021-01-28 10:12] adarsh-dhakad commented on #2821
yes want to work

[2021-01-28 13:32] ghost commented on #2609
Can I work on this issue?

[2021-03-07 07:35] saurabhraj042 commented on #2832
I would like to work on this issue.

[2021-03-09 20:57] aman-reso opened #2839 "Issue with Orientation and displaying Data"
in the search when we rotated the screen the ui structured gonna completely awkward. When we changes the device orientation it load the data again.

[2021-04-14 09:10] sambit-sankalp commented on #2610
Can I work on this issue?

[2021-04-18 13:49] rahulmalhotra236 commented on #2341
I wanna work on this issue. Please assign this to me.

[2021-04-28 14:36] Dev-Akash commented on #2610
Do this issue still needs help ?

[2021-05-05 14:41] sans2801 commented on #2839
Hello @aman-reso , I have cloned the repository and am running the app on my Android device after building using Android studio but I'm unable to login/sign up and get search results. Can someone pls guide me through this

[2021-05-29 13:28] Vitika9 commented on #2818
@liveHarshit @mariobehling can you please assign this issue to me?

[2021-05-29 13:32] vitika9 commented on #2610
hey can I please work on this?

[2021-09-11 10:01] shubhamranswal commented on #2595
Hello everyone, is this issue still open? I am a beginner and want to contribute.
@liveHarshit

[2021-11-02 07:11] shankarpriyank commented on #2595
I would like to work on this issue
@liveHarshit

[2021-11-23 17:43] HemanthKumar15 commented on #2818
Please ASSIGN ME THIS ISSUE, I WILL GIVE A VALUABLE FEEDBACK

[2021-12-18 11:12] Vivek-Prajapatii commented on #2832
@VamsiKrishnaCommits  may i take this issue ?
and kindly help me to solve this issue please

[2021-12-18 11:36] Vivek-Prajapatii commented on #2818
hii @liveHarshit may i take this issue as i'm interested in it.
and i'm new to this repository.

[2021-12-18 11:44] Vivek-Prajapatii commented on #2825
may i take this issue?

[2021-12-19 10:42] apoorva-raj commented on #2768
Hey, Is this still open?

[2022-07-09 08:13] pratyaksh1610 commented on #2620
@nikit19  I would like to work on this issue.

Thankyou
Pratyaksh

[2022-07-11 01:39] reliscu commented on #2458
I am experiencing this issue with a Galaxy S8.