[2019-01-02 08:30] liveHarshit commented on #807
Set scale type programmatically, it is sdk 28 error.

[2019-01-02 08:49] EiriniMits commented on #805
Can I work on this issue?

[2019-01-02 10:47] kshitijsuri90 commented on #805
Okay, sure @nikit19 Thank you.

[2019-01-02 10:48] kshitijsuri90 commented on #806
Okay sir. @nikit19

[2019-01-02 12:37] EiriniMits opened #808 "Terms of Service Attendee Details"
**Describe the feature you'd like**
Make corrections in the Terms of Service sentence (add space between words, color correction in privacy policy).

**Screenshots**

![screenshot_1546432876](https://user-images.githubusercontent.com/16197563/50592357-8163d000-0e9c-11e9-8186-4d2a6f461578.png)

**Would you like to work on the issue?**

- [X] Yes
- [ ] No
- Other: @iamareebjamal @nikit19 Should I go

[2019-01-02 13:02] GOVINDDIXIT opened #810 "change to coordinator layout : signup fragment"
Required in #809

**Would you like to work on the issue?**

- [x] Yes
- [ ] No
- Other:

[2019-01-02 13:12] EiriniMits opened #811 "Unable to create order"
**Describe the feature you'd like**
I can't create an order. When I press REGISTER button, firstly prints the message "Attendees created successfully" and then "Unable to create order".

**Screenshots**
<img width="442" alt="screenshot 2019-01-02 at 15 06 29" src="https://user-images.githubusercontent.com/16197563/50593224-2c29bd80-0ea0-11e9-8d90-32fa15656bbb.png">
<img width="442" alt="screenshot

[2019-01-02 13:17] nikit19 commented on #811
That's probably a server issue. You can check the logs to confirm

[2019-01-02 13:22] nikit19 commented on #808
Please make the corrections but a checkbox is not required IMO

[2019-01-02 13:47] pranavpandey1998official commented on #811
this is probably happening because your email may not be verified.

[2019-01-02 17:46] #732 closed

[2019-01-02 18:19] #811 closed

[2019-01-03 07:07] #810 closed

[2019-01-03 07:08] liveHarshit opened #817 "Events fragment is open after selecting location from search"
**Describe the bug**
Event fragment is set after selecting the location from search due to intent.

**Would you like to work on the issue?**

- [x] Yes

[2019-01-03 07:13] liveHarshit opened #818 "Ask location from the user for first time"
**Describe the feature you'd like**
Add a welcome screen for ask location from the user.

**Screenshots**
<p align="center">
<img src="https://user-images.githubusercontent.com/27783786/50626559-f0046480-0f54-11e9-8d79-3085fa01cd32.png" height = "480" width="270">
</p>

**Would you like to work on the issue?**

- [x] Yes
- [ ] No
- Other:

[2019-01-03 07:14] iamareebjamal commented on #817
We have to polish the implementation as well. Can you please do it? I'll tell what has to be done

[2019-01-03 07:20] sats98 commented on #319
may i work on this issue? mentors....

[2019-01-03 07:47] liveHarshit commented on #817
Sure. Please tell me what should I do? :smiley:

[2019-01-03 09:14] kshitijsuri90 commented on #803
@nikit19 Should I go ahead?

[2019-01-03 10:34] EiriniMits opened #819 "Categorise Events"
**Describe the feature you'd like**
Categorise Events. Add categories selection in Search page.

**Screenshots**
![img_4090](https://user-images.githubusercontent.com/16197563/50633364-b3843900-0f53-11e9-9487-daeb9adbba93.PNG)
![img_4089](https://user-images.githubusercontent.com/16197563/50633365-b3843900-0f53-11e9-9914-538f45d53ae4.PNG)

**Additional context**

**Would you like to work on the is

[2019-01-03 13:54] iamareebjamal commented on #817
You may diagnose and fix the bug and then I'll tell the required changes

[2019-01-03 14:21] liveHarshit commented on #793
@iamareebjamal
I have tested it. As it is very big and complex so I want to implement it step by step.
- First, implement it for navigation fragments.
- Add other fragments of main activity with their host
- Merge two activities with the same navigation component.
- Add additional features for navigation

Please allow me to do it?

[2019-01-03 14:40] pranavpandey1998official opened #820 "progress bar doesn't go away even after tickets are being load"
**Describe the bug**
progress bar doesn't go away even after tickets are being load same as #130

**To Reproduce**
1.Apply for any event
2.now go to OrdersUnderUserFragment to see your ticket

**Screenvedio**
![ezgif com-video-to-gif](https://user-images.githubusercontent.com/44601530/50643094-13e69b00-0f93-11e9-81dd-49f166bedd2f.gif)

**Smartphone Info:**

|               | |
|---------------|-|

[2019-01-03 14:44] iamareebjamal commented on #793
Sure, but first confirm it will work with bottom navigation correctly

[2019-01-03 16:54] liveHarshit opened #821 "Bottom navigation displays in EditProfie and Settings fragments"
**Describe the bug**
Bottom navigation bar displays with edit profile and settings fragments

**Screenshots**
<p align="center">
<img src="https://user-images.githubusercontent.com/27783786/50650329-20c0ba00-0fa6-11e9-8228-d6aca062c94e.png" height = "480" width="270">
<img src="https://user-images.githubusercontent.com/27783786/50650334-21f1e700-0fa6-11e9-9b75-cd70837d17b7.png" height = "480" widt

[2019-01-03 16:57] liveHarshit opened #822 "Make single activity app with navigation architecture component"
To Make a single activity app -
- [x] For navigation fragments and profile fragments as main activity host. PR #823
- [x] For all root layout fragments. PR #831
- [x] Remove search results activity. PR #839
- [x] Handle authentication with main activity and remove authentication activity. PR #844
- [x] Replace search time activity with fragment. PR #851
- [ ] Replace search location activity with

[2019-01-03 17:11] #819 closed

[2019-01-03 17:42] #719 closed

[2019-01-03 17:42] #726 closed

[2019-01-03 17:42] #760 closed

[2019-01-03 17:42] #780 closed

[2019-01-03 19:35] liveHarshit opened #824 "App crashes if there is an error in fetching event"
**Describe the bug**
App crashes if Error fetching event.

**To Reproduce**
1. Search for H location
2. open `Summit`
3. Scroll down

**Logs**
[code]

**Smartphone Info:**

|               | |
|---------------|-|
|Device         |Mi Max 2|
|Android Version|Android 7.1.1|

**Would you like to work on the issue?**

- [x] Yes

[2019-01-04 14:04] #824 closed

[2019-01-04 14:06] #808 closed

[2019-01-04 14:08] #807 closed

[2019-01-04 15:00] GOVINDDIXIT opened #830 "Remove post handlers used to show snackbars"
**Describe the bug**

Remove post handlers and show snackbar in target activities/fragment

**Would you like to work on the issue?**

- [x] Yes
- [ ] No
- Other:

[2019-01-04 16:36] #820 closed

[2019-01-04 17:45] kshitijsuri90 commented on #803
Solved with PR #829 @iamareebjamal  @nikit19

[2019-01-04 17:45] #803 closed

[2019-01-04 18:14] liveHarshit opened #832 "App crashes while opening tickets from search results"
**Describe the bug**
App crashes while opening tickets from search results because there is no navigation controller for the activity.

Parent issue #822

**Logs**
[code]

**Would you like to work on the issue?**

- [x] Yes

[2019-01-04 18:41] kshitijsuri90 commented on #652
@nikit19 Sorry to bother but should I solve this using Data Binding of Edittext and LiveData? Or is there any better alternative?

[2019-01-04 20:21] #821 closed

[2019-01-05 04:47] pranavpandey1998official opened #834 "Enhancing the sign up experience"
**Describe the feature you'd like**
1.Programmatically capitalizing the first letter of first and last name
2.Changing the first name carriage return to next
3.changing the last name carriage return to done and submitting the form for sign up

**Would you like to work on the issue?**

- [x] Yes
- [ ] No
- Other:

[2019-01-05 05:37] pranavpandey1998official commented on #783
@iamareebjamal i want to work on this task

[2019-01-05 06:04] #805 closed

[2019-01-05 06:56] liveHarshit opened #837 "Back button displayed in action bar"
**Describe the bug**
Back button is displayed in action bar while opening event details from favorites and returning back.

Parent issue #822

**Would you like to work on the issue?**

- [x] Yes

[2019-01-05 08:12] #832 closed

[2019-01-05 08:12] #837 closed

[2019-01-05 09:23] liveHarshit opened #840 "App crashes due to snackbar text"
**Describe the bug**
App crashes while opening another fragment during snack bar handler is running.

**To Reproduce**
1. Log out
2. Click on profile
3. Now instantly click on tickets within a second

**Logs**
[code]

**Smartphone Info:**

|               | |
|---------------|-|
|Device         |Mi Max 2|
|Android Version|Nougat 7.1|

**Would you like to work on the issue?**

Has PR #838

[2019-01-05 09:27] liveHarshit opened #841 "Search is performed again while returning to the fragment"
**Describe the bug**
Preform search is called with existing results again due to written in on create view.

**To Reproduce**
1. Do a search
2. Open an event
3. press back
4. Scroll

**Expected behavior**
Search should not perform again with existing results.

**Would you like to work on the issue?**

- [x] Yes

[2019-01-05 09:31] liveHarshit commented on #840
Cool. Mention this issue in the PR. So, It will close when PR got merged.

[2019-01-05 10:50] #841 closed

[2019-01-05 19:57] liveHarshit opened #843 "UI misalignment in login fragment due to snackbar"
**Describe the bug**
UI misalignment in login fragment due to snackbar changes.

**To Reproduce**
1. Go to authentication
2. Click on sign up
3. Now click on login

**Screenshots**
<p align="center">
<img src="https://user-images.githubusercontent.com/27783786/50728580-24913f80-1152-11e9-9333-01aa47a6f55d.png" height = "480" width="270">
</p>

**Smartphone Info:**

|               | |
|-----------

[2019-01-06 05:50] pranavpandey1998official opened #845 "adding deep links in the app"
**Describe the feature you'd like**
when clicked on the shared link of any event, the user is redirected to web-app even when user have our app installed instead, the user should be directed to our app

**Would you like to work on the issue?**

- [x] Yes
- [ ] No
- Other:

[2019-01-06 06:21] kshitijsuri90 opened #847 "Data lost on rotation in Login and SignUp fragments"
**Describe the bug**

Input information is lost on rotation in Login and SignUp Page

**To Reproduce**

1. Open Login Page or sign up page.
2. Enter values and rotate the device.

**Expected behavior**

Data entered should persist on rotation.

**Logs**

**Screenshots**
'
![login_data](https://user-images.githubusercontent.com/34534870/50732861-e3784a00-11a8-11e9-81e0-e364c38476ea.gif)

**Smartpho

[2019-01-06 06:34] kshitijsuri90 opened #848 "Login Fragment gets opened on rotation in SIgnUpFragment"
**Describe the bug**

On rotation of the device in sign up fragment, login fragment gets created.

**To Reproduce**

1. Go to the sign up fragment .
2. Rotate the device.

**Expected behavior**

Sign up fragment should be shown.

**Logs**

**Screenshots**

![sign_up](https://user-images.githubusercontent.com/34534870/50732946-db6cda00-11a9-11e9-8fce-bba528edc3c1.gif)

**Smartphone Info:**

|

[2019-01-06 06:56] liveHarshit commented on #848
This issue is solved in PR #844

[2019-01-06 06:57] liveHarshit commented on #847
This issue is also solved in PR #844

[2019-01-06 07:09] liveHarshit commented on #847
I think this issue is also solved in PR #844 and for edit profile, it is working fine on my device API 25. What is the android version of your device?

[2019-01-06 08:03] kshitijsuri90 commented on #847
Currently using Pie 9.0.0 on One Plus 5. I tried this on MI Note 4 with API 24. @liveHarshit.

[2019-01-06 08:04] kshitijsuri90 commented on #848
Okay @liveHarshit

[2019-01-06 08:41] liveHarshit commented on #847
I have just tested it on redmi note 4. Working fine with edit profile fragment. Please try with latest commits on development. And for login and sign up fragments, it is solved in PR #844.

Navigation architecture handles rotation for fragments itself.

[2019-01-06 08:44] liveHarshit commented on #847
@iamareebjamal Please make me correct.

[2019-01-06 10:53] iamareebjamal commented on #847
It's handled by ViewModel and LiveData, which we are using, so it should work

[2019-01-06 10:54] #793 closed

[2019-01-06 10:54] #736 closed

[2019-01-06 10:54] #777 closed

[2019-01-06 10:54] #848 closed

[2019-01-06 10:55] #843 closed

[2019-01-06 11:08] iamareebjamal commented on #845
Since the functionality of the app is not complete, it will be a terrible user experience

[2019-01-06 12:41] liveHarshit opened #852 "Add animation for fragments"
**Describe the feature you'd like**
Add animation for fragments with navigation graph

**Would you like to work on the issue?**

- [x] Yes

[2019-01-06 12:46] pranavpandey1998official commented on #845
as the shared link just opens the event shared we could just redirect the user to eventDetailFragment of the event .

[2019-01-06 13:00] pranavpandey1998official commented on #845
@iamareebjamal We could just redirect the user to eventDetailFragment.

[2019-01-06 14:11] iamareebjamal commented on #845
In every case? I want to see sessions and I am redirected to event detail fragment. How is that a good user experience?

[2019-01-06 14:27] pranavpandey1998official opened #853 "Toolbar Title functionality of EventDetailFragment"
**Describe the bug**
Toolbar title functionality of EventDetailFragment is not working it is setting the Event Title even on minor scroll

**To Reproduce**
1. open any event detail
2.do a minor scroll

**Expected behavior**
shold display event Title only when passed event Title

**Logs**

**Screenshots**

**Smartphone Info:**

|               | |
|---------------|-|
|Device         |Redmi note 4|

[2019-01-06 15:09] #853 closed

[2019-01-06 15:42] liveHarshit commented on #817
I'm sorry. Current location is working. I didn't change build variant to play store. Now the issue is, it redirects to event fragment after selecting the location.

[2019-01-06 15:47] liveHarshit commented on #817
I'm confused. Why location feature is not added to fdroid build?

[2019-01-06 15:49] iamareebjamal commented on #817
Because it uses google play services

[2019-01-06 18:17] liveHarshit commented on #822
Please reopen. I mention it by mistake. One activity needs to remove.

[2019-01-07 07:01] pranavpandey1998official opened #857 "add no event found text to eventfragment"
**Describe the feature you'd like**
right now if some place dont have any event then the eventFragment just displayes a black screen which is not a good user experience it should display text saying "Oops ,looks like this area don't have any registered events"

**Would you like to work on the issue?**

- [x] Yes
- [ ] No
- Other:
your opinion
@iamareebjamal
@nikit19

[2019-01-07 11:12] RitikGupta9125 commented on #594
Any one is still working on this

[2019-01-07 19:12] #817 closed

[2019-01-08 09:34] kshitijsuri90 commented on #847
This issue is solved by PR #844 but the rotation data lost continues in edit profile fragment @iamareebjamal @liveHarshit . So closing this issue.

[2019-01-08 09:34] #847 closed

[2019-01-08 17:32] liveHarshit opened #861 "UI misalignment in Event details fragment"
**Describe the bug**
UI misalignment in event details fragment due to about event fragment layout.

1. Go to event details
2. Click on about event(see more)
3. Go back

**Screenshots**
<p align="center">
<img src="https://user-images.githubusercontent.com/27783786/50848126-5cd68f00-1399-11e9-820a-82213ec49db1.png" height = "480" width="270">
</p>

**Smartphone Info:**

|               | |
|-------

[2019-01-08 18:54] kshitijsuri90 commented on #795
Why is this issue still open @nikit19 ?

[2019-01-08 19:02] kshitijsuri90 opened #862 "SearchView closes and data lost on rotation in search fragment."
**Describe the bug**

On rotation in search fragment while searchview is open, focus and data lost on rotation

**To Reproduce**

1. Go to the search fragment.
2. Open search option and enter text
3. Rotate device.

**Expected behavior**

SearchView should remain in focus without loss of data

**Logs**

**Screenshots**

![search_rotation](https://user-images.githubusercontent.com/34534870/50852521

[2019-01-08 19:03] kshitijsuri90 commented on #862
Loss of data on rotation is becoming a common bug. Should we disable rotation like in Eventbrite?

[2019-01-08 19:10] kshitijsuri90 opened #863 "App crashes on repeated click on profile fragment if not logged in."
**Describe the bug**

App crashes on repeated pressing of profile button in bottom navigation bar if the user has not logged in.

**To Reproduce**

1. Log out if logged in.
2. Press Profile fragment button repeatedly(twice-thrice).

**Expected behavior**

App should not crash

**Logs**

2019-01-09 00:33:28.980 2749-2749/? E/AndroidRuntime: FATAL EXCEPTION: main
    Process: com.eventyay.attendee,

[2019-01-08 19:15] GOVINDDIXIT commented on #863
@kshitijsuri90 this issue will be fixed by #838

[2019-01-08 19:16] liveHarshit commented on #863
Duplicate of #840

[2019-01-08 19:17] kshitijsuri90 commented on #863
Okay @GOVINDDIXIT

[2019-01-08 19:18] kshitijsuri90 commented on #863
Mention this issue too when you submit PR so it will get closed when PR is merged. @GOVINDDIXIT

[2019-01-08 19:19] liveHarshit commented on #863
This issue is duplicate

[2019-01-08 19:46] iamareebjamal commented on #862
No. It's like killing the patient

[2019-01-08 19:46] #795 closed

[2019-01-09 03:53] #852 closed

[2019-01-09 13:47] knightcube commented on #861
I can work on this

[2019-01-09 14:11] liveHarshit commented on #861
Go ahead.

[2019-01-09 14:32] knightcube commented on #861
There is a UI misalignment as well as the see more button vanishes

[2019-01-09 16:48] kshitijsuri90 opened #865 "Invalid Email address gets taken in in Attendee Details."
**Describe the bug**

Invalid Email address gets accepted in Email Edittext of the Attendee details while filling out the details of ticket holders

**To Reproduce**

1. Checkout to the Attendee Fragment.
2. Enter email in the email section.

**Expected behavior**

Only valid email address should be accepted.

**Logs**

**Screenshots**

![email_invalid](https://user-images.githubusercontent.com/34

[2019-01-09 17:02] kshitijsuri90 opened #866 "Replace register button with progress bar on submitting in Attendee Details."
**Describe the bug**

Progress Bar should come in place of Register Button in Attendee Details instead of below it.

**To Reproduce**

1. Go to the Attendee Details.
2. After filling out attendee details, click on the register button.

**Expected behavior**

Progress Bar should come in place of register button on clicking it.

**Screenshots**

![terms_checkbox](https://user-images.githubuserconten

[2019-01-09 19:36] liveHarshit opened #867 "Polish location feature implementation"
Currently, location feature is configured to use only from search location fragment.

**Would you like to work on the issue?**

- [x] Yes

[2019-01-09 20:39] kshitijsuri90 commented on #494
I am not able to find the progress Bar in XML nor could see the issue on my device. Does this issue still exist? If not then shouldn't it be closed @iamareebjamal @nikit19  @simarsingh24?

[2019-01-10 04:42] addiegupta opened #869 "Snackbar appearing on top of system navigation bar"
**Describe the bug**

While going back from the sign in fragment, a snackbar pops up displaying "Sign in canceled!" This snackbar is overlapping over the system navigation bar.
**To Reproduce**
1. Go to Login fragment by selecting the profile icon from the Bottom Navigation VIew
2. Press the back button
4. See error

**Screenshots**
![ezgif com-video-to-gif](https://user-images.githubusercontent.c

[2019-01-11 18:42] kshitijsuri90 opened #872 "Add a predefined list for popular locations to select from."
**Describe the feature you'd like**

A predefined list of locations to select from like done in Eventbrite.

**Screenshots**

![location_list](https://user-images.githubusercontent.com/34534870/51053056-91975000-15fe-11e9-9e2c-4064df36048f.jpg)

**Additional context**

Should I go for this @iamareebjamal @nikit19? If yes then should I add the same locations or a particular set?

[2019-01-11 18:56] kshitijsuri90 opened #873 "Remove extra space in Settings screen."
**Describe the bug**

Extra space is present before options in the Settings Screen of the app.

**To Reproduce**

Go to the settings screen to see.

**Expected behavior**

There should be no extra space present before options in the preference screen.

**Screenshots**

![padding](https://user-images.githubusercontent.com/34534870/51053761-9826c700-1600-11e9-99ec-cbce99d72a1a.jpg)

**Smartphone Inf

[2019-01-12 04:06] vanshikaarora commented on #678
Hey!! Is anyone working on this issue?

[2019-01-12 06:31] iamareebjamal commented on #678
No

[2019-01-12 06:36] vanshikaarora commented on #678
Ok then I will start working on this issue

[2019-01-12 09:35] vanshikaarora opened #875 "Navigate Back Button in SearchLocationFragment doesn't works"
**Navigate Back Button in SearchLocationFragment doesn't works**
Steps To reproduce:
- Go to the search fragment
- Tap the text where
- In the next activity press the navigate up button in toolbar

Issue:
The navigate back button should have taken you to the previous activity but it didn't

**Would you like to work on the issue?**
- Yes

[2019-01-12 09:43] liveHarshit commented on #875
It is working. Please try with latest commits on development.

[2019-01-12 09:47] vanshikaarora commented on #875
@liveHarshit Which version are you trying I have pulled the most recent code and the navigate up in SearchLocation fragment doesn't takes me back to the previous one

[2019-01-12 10:17] iamareebjamal commented on #678
Then maybe it was a server issue at that time

[2019-01-12 10:17] #678 closed

[2019-01-12 10:17] iamareebjamal commented on #875
Make sure you are trying development branch

[2019-01-12 10:18] vanshikaarora commented on #875
I was in the development branch may be some other issue

[2019-01-12 10:38] vanshikaarora commented on #875
Ok so shall i do that and send a PR?

[2019-01-12 10:38] liveHarshit commented on #875
Sure. Go ahead.

[2019-01-12 10:39] liveHarshit commented on #875
Go ahead. Make sure it works.

[2019-01-12 11:09] vanshikaarora commented on #875
Well in the SearchFragment i see setHasOptionsMenu is already set to true.

[2019-01-12 11:13] liveHarshit commented on #875
Yes, but the problem is with `SearchLocationFragment`.

[2019-01-12 11:16] liveHarshit commented on #875
Wait. This issue is solved in PR #855

[2019-01-12 14:13] vaibhav2203 commented on #862
solved this issue, please review the commit.

[2019-01-12 14:17] kshitijsuri90 commented on #862
Like I said you cannot just take up someone else's issue. @vaibhav2203 I mentioned that I am working on this (see above).

[2019-01-12 16:13] vanshikaarora commented on #875
Ok it's ok if the issue is already resolved in case it isn't please inform

[2019-01-13 05:40] #750 closed

[2019-01-13 07:58] GOVINDDIXIT opened #880 "search field should be selected by default in search Location fragment"
**Describe the bug**

Search field should be selected by default in search location fragment

**Would you like to work on the issue?**

- [x] Yes
- [ ] No
- Other:

[2019-01-13 10:03] rob729 opened #882 "Labels not shown in bottom navigation bar."
**Describe the bug**

Only icons are shown in the bottom navigation bar and the label of an icon is shown when the particular icon is clicked.

**To Reproduce**

1. Go to Main Activity

**Expected behavior**

All the labels should be shown with the icon.

**Logs**

**Screenshots**

![affix_20190113_150733](https://user-images.githubusercontent.com/31350501/51083920-df6b9f80-1747-11e9-8366-e5b25c39

[2019-01-13 10:07] liveHarshit commented on #882
I don't think it is required because in Eventbrite there is no title label. And bottom navigation drawer is directly connected with navigation architecture component, cannot handle the label manually.

[2019-01-13 12:22] kshitijsuri90 opened #884 "Replace deprecated setActionView in SearchFragment."
**Describe the feature you'd like**

Replace deprecated ```MenuItem setActionView (MenuItem item, int resId) ``` from SearchFragment

**Existing Code**

```MenuItemCompat.setActionView(searchItem, searchView)```

**Additional context**

@iamareebjamal @nikit19 Your views?

**Would you like to work on the issue?**

- [x] Yes
- [ ] No
- Other:

[2019-01-13 14:17] Divyanshuk commented on #594
I want to work on this

[2019-01-13 16:43] addiegupta opened #887 "App crash on clicking Profile twice from NavigationView"
**Describe the bug**

On opening the app and pressing the Profile icon from BottomNavigationView ( in my case, I havent  signed in yet), pressing the profile icon again crashes the app.

**To Reproduce**

1. Launch app
2. Click on 'Profile' from BottomNavigationView
3. Click on 'Profile' a second time
4. See error

**Expected behavior**

The app should not have crashed

**Logs**

2019-01-13 22:05:

[2019-01-13 16:53] #869 closed

[2019-01-13 16:56] #880 closed

[2019-01-13 16:57] addiegupta opened #888 "Deprecated constant "fill_parent" present in multiple layout files"
**Describe the chore**

The deprecated constant "fill_parent" is being used in multiple places in the following files:

fragment_login.xml
fragment_signup.xml
fragment_social_links.xml

**Would you like to work on the issue?**

- [x] Yes
- [ ] No
- Other:

[2019-01-13 17:25] kshitijsuri90 opened #889 "Add a Recent Locations List in SearchLocationActivity."
**Describe the feature you'd like**

A dynamic locations list with has size 6 (like Eventbrite) to display recently searched locations.

**Screenshots**

![recent_locations](https://user-images.githubusercontent.com/34534870/51088476-12cd1f00-1786-11e9-8bb4-80a9c16716ec.jpg)

**Additional context**

I am thinking of using RecyclerView and stack to do this. Your view @iamareebjamal @nikit19 ?

**Wo

[2019-01-13 22:09] liveHarshit opened #890 "Add animations to bottom navigation menu"
**Describe the feature you'd like**
Add slide up and down animations to bottom navigation drawer.

**Would you like to work on the issue?**

- [x] Yes

[2019-01-14 07:52] liveHarshit opened #893 "Keyboard shown incorrectly due to using toggle input"
**Describe the bug**
The keyboard is always shown after selecting current location due to using toggle soft input instead of using it view specific.

**To Reproduce**
1. Build for play store variant
2. Select the current location

**Expected behavior**
Show keyboard as view specific in utils object.

**Screenshots**
<p align="center">
<img src="https://user-images.githubusercontent.com/27783786/51

[2019-01-14 14:12] #893 closed

[2019-01-14 14:13] #890 closed

[2019-01-14 14:14] #882 closed

[2019-01-14 14:17] addiegupta opened #895 "Different background colors on Signup and Login fragment"
**Describe the chore**
The Signup and Login fragments have mismatching background colors.

![issue 895](https://user-images.githubusercontent.com/22665789/51118026-5e8ad180-1835-11e9-83e8-2d7cbc7716f6.gif)

**Would you like to work on the issue?**

- [x] Yes
- [ ] No
- Other:

[2019-01-14 14:44] #895 closed

[2019-01-14 15:30] GOVINDDIXIT opened #897 "use navigation architecture to redirect to events"
**Describe the bug**

After an order is successfully created navigation arch should be used to redirect to events

**Would you like to work on the issue?**

- [x] Yes
- [ ] No
- Other:

[2019-01-14 16:05] GOVINDDIXIT opened #899 "add animations to transitions"
**Describe the feature you'd like**
some transitions are missing animations

**Would you like to work on the issue?**

- [x] Yes
- [ ] No
- Other:

[2019-01-14 16:42] #897 closed

[2019-01-14 18:25] rob729 opened #901 "Problem in search icon in search fragment."
**Describe the bug**

The search icon present on the action bar in search fragment is grey in color.

**To Reproduce**

1. Go to the search fragment.

**Expected behavior**

The search icon should be white in color.

**Logs**

**Screenshots**

![affix_20190114_234229](https://user-images.githubusercontent.com/31350501/51131856-d4ebfb80-1856-11e9-8648-120ddaee87d9.png)

**Smartphone Info:**

|

[2019-01-14 20:35] #899 closed

[2019-01-15 06:24] kshitijsuri90 opened #904 "Go to Login fragment from Likes tab if user has not logged in."
**Describe the feature you'd like**

If the user has not logged in, the opening of the likes fragment should redirect to the login page like in Eventbrite.

**Screenshots**

![favoutite_login](https://user-images.githubusercontent.com/34534870/51162446-32666380-18bc-11e9-97e4-2e757ac78ea2.gif)

**Additional context**

Your views @iamareebjamal @nikit19

**Would you like to work on the issue?**

-

[2019-01-15 06:33] nikit19 commented on #904
Why? You don't have to blindly copy Eventbrite

[2019-01-15 06:35] kshitijsuri90 commented on #904
But if the user has not logged in then the favorite tab has no specific purpose as it is meant to show the user likes right? @nikit19

[2019-01-15 06:42] nikit19 commented on #904
But those events are not being fetched from the server

[2019-01-15 06:51] kshitijsuri90 commented on #904
Yes, but I thought that the likes screen should be particular to the user. @nikit19

[2019-01-15 06:52] nikit19 commented on #904
IMO this feature would make more sense when favourite events are being fetched from the server

[2019-01-15 06:53] kshitijsuri90 commented on #904
Yes exactly. So closing it for now @nikit19

[2019-01-15 07:00] iamareebjamal commented on #904
There is now a event favorite endpoint on server

[2019-01-15 07:20] liveHarshit commented on #904
Great. So, now can I work on issue #471 ?

[2019-01-15 08:12] kshitijsuri90 commented on #904
Can I work on it too?

[2019-01-15 08:20] liveHarshit commented on #904
Yes, but sorry because I am going to work for the server issue for which authentication is required first. Then this feature should be auto-implemented. Please correct me if you have any other idea?

[2019-01-15 08:40] liveHarshit commented on #904
Actually, I have already done related changes in the application before I got to know that the feature is not available on server. If I fail to take it then I will tell you. :+1:

[2019-01-15 09:15] kshitijsuri90 commented on #904
Okay cool include this issue when you submit the PR @liveHarshit

[2019-01-15 09:19] kshitijsuri90 commented on #799
Are you still working on this @aggarwalpulkit596?

[2019-01-15 15:53] #867 closed

[2019-01-15 15:53] #875 closed

[2019-01-15 15:53] #901 closed

[2019-01-15 15:56] #884 closed

[2019-01-15 17:27] liveHarshit opened #906 "Convet Preference class to object"
**Describe the feature you'd like**
Currently, Preference is a class. It contains all function called from another fragment or activities. If it is converted into an object, no need to inject the class every time preferences are used.

**Would you like to work on the issue?**

- [x] Yes

[2019-01-15 17:31] liveHarshit commented on #906
@iamareebjamal @nikit19  Should I work on it or not?

[2019-01-15 19:11] iamareebjamal commented on #906
We do dependency injection to make viewmodels testable. So that we can mock the preference class and test the VM for different behaviors. This can't be done if it is an object

[2019-01-15 19:22] iamareebjamal commented on #818
/remind me to check after 1 day

[2019-01-16 02:45] liveHarshit commented on #906
Okay. Got it. This issue should close now.

[2019-01-16 02:45] #906 closed

[2019-01-16 03:18] liveHarshit opened #909 "Polish the implementation for welcome fragment"
**Describe the feature you'd like**
With addition of issue #818 and PR #907

**Would you like to work on the issue?**

- [x] Yes

[2019-01-16 05:07] #830 closed

[2019-01-16 05:07] #840 closed

[2019-01-16 06:44] liveHarshit commented on #785
@GOVINDDIXIT After login, snack for Welcome back! is shown in the login fragment. But the fragment is instantly pop out. Snack after auth should be shown in redirected fragment.

[2019-01-16 13:31] kshitijsuri90 opened #911 "Add current location option in welcome screen."
**Describe the feature you'd like**

Add option for the current location in the welcome screen.

**Screenshots**

![current](https://user-images.githubusercontent.com/34534870/51251959-8ce8e800-19c0-11e9-9b70-c424e59ce6c2.jpg)

**Additional context**

@nikit19 @iamareebjamal @liveHarshit Your views?

**Would you like to work on the issue?**

- [x] Yes
- [ ] No
- Other:

[2019-01-16 13:35] liveHarshit commented on #911
I left it because pick a city redirecting to search location fragment, where current location is already available. But in Eventbrite it is different. They split both options, But our search location fragment is not configured like that.

[2019-01-16 13:35] #785 closed

[2019-01-16 14:23] liveHarshit opened #912 "Integrate app with google smart lock"
**Describe the feature you'd like**
Integrate authentication to sync data with Google smart lock. Play store services are being used.

**Would you like to work on the issue?**

- [x] Yes

[2019-01-16 16:03] GOVINDDIXIT opened #914 "show welcome back snackbar on redirected fragment"
**Describe the bug**

Since post handlers are now removed "welcome back" snackbar should be showed in redirected fragment

**Would you like to work on the issue?**

- [x] Yes
- [ ] No
- Other:

[2019-01-16 16:08] GOVINDDIXIT opened #915 "remove hardcoded strings used for snackbar"
**Describe the bug**
remove hardcoded strings used for snackbar

**Would you like to work on the issue?**

- [x] Yes
- [ ] No
- Other:

[2019-01-16 16:42] #909 closed

[2019-01-16 18:07] #818 closed

[2019-01-16 18:21] liveHarshit commented on #785
@GOVINDDIXIT SnackBar is displaying at the top.
<p align="center">
<img src="https://user-images.githubusercontent.com/27783786/51269866-8d49a900-19e9-11e9-9d40-1d8c7bca9859.png" height = "480" width="270">
</p>

[2019-01-16 19:20] #914 closed

[2019-01-16 19:20] #915 closed

[2019-01-16 19:55] GOVINDDIXIT opened #917 "snackbar position for error in fetching events is not correct"
**Describe the bug**
 when there is error in fetching events fragment snackbar moves up

**Would you like to work on the issue?**

- [x] Yes
- [ ] No
- Other:

[2019-01-17 04:07] nkkumawat commented on #912
can I work on this?

[2019-01-17 04:09] liveHarshit commented on #912
I'm currently working on it, but due to the server error cannot test it.

[2019-01-17 04:11] liveHarshit commented on #887
I think this issue is due to post handlers which are removed in PR #830 or PR #838.  Can you please check again with latest commits?

[2019-01-17 07:36] addiegupta commented on #887
@liveHarshit I just checked, the issue seems to be fixed. However I think it is not due to #838 as at the time of creating this issue I was on the latest version.

[2019-01-17 07:36] #887 closed

[2019-01-18 07:09] #917 closed

[2019-01-18 13:52] liveHarshit commented on #912
@iamareebjamal Is there any server error? Events are not loading and authentication is also not working.
Logs: For event loading -
[code]

For login -
[code]

[2019-01-18 14:54] GOVINDDIXIT commented on #912
Yes, Events are not loading and authentication is also not working. I am also getting similar logs.

[2019-01-18 15:26] Cool-fire opened #920 "Remove snackbar in login fragment"
**Describe the bug**
 when user clicks on profile button in bottom navigationbar the login fragment appears along with snackbar having message "You need to log in first!". snackbar is being called twice to display the information. But I think that snackbar is redundant as the user is there to login to his account. snackbar with this information would be helpful in places like user accessing inform

[2019-01-18 15:40] liveHarshit commented on #920
Okay, then how can you display the message before a user is there for login. Is the app already realize that the user is going to log in and display snack before clicking.
Or, display the message after clicking and then redirect to log in, isn't it time-consuming for the user?

[2019-01-18 15:47] liveHarshit commented on #920
Okay, then how can you display the message before a user is there for login. Is the app already realize that the user is going to check profile or tickets and display snack before clicking.
Or, display the message after clicking and then redirect to log in, isn't it time-consuming for the user?
.
IMO the bug is that snack is displaying twice.

[2019-01-18 15:57] Cool-fire commented on #920
I think showing the snackbar everytime when user want's to login is a bit odd. if the user has already logged in, the profile section displays the user information. If user has not logged in it shows login and signup fragments. so every time when the user opens the login fragment the snackbar appears, as the user is there for login, I think there's no need of showing the message and I think it's m

[2019-01-18 16:10] GOVINDDIXIT commented on #920
@Cool-fire the bug is that snackbar is displaying twice. You can work on it.

[2019-01-18 16:46] iamareebjamal commented on #920
@Cool-fire That's exactly what I discussed. Thanks

[2019-01-18 16:46] iamareebjamal commented on #912
Server was reset. Register again

[2019-01-18 16:48] Cool-fire commented on #920
@GOVINDDIXIT Thanks for commenting, will work on the snackbar displaying twice bug. And anyway in my opinion as the user clicks the profile it goes to login fragment if user is not logged in, so I think there's no need of showing the snackbar again with the message, but anyways I will work on displaying snackbar once.

[2019-01-18 16:49] liveHarshit commented on #912
@iamareebjamal Yes, sign up is working now.
So currently there is no event on the server?

[2019-01-18 16:51] iamareebjamal commented on #912
No

[2019-01-19 06:15] liveHarshit opened #922 "Press back twice will exit from fragment"
**Describe the bug**
For search location fragment, press back button twice will exit from the fragment.

**To Reproduce**
1. Go to Location
2. Press back

**Expected behavior**
It should exit in one press.

**Would you like to work on the issue?**

- [x] No
- Other: Open for all

[2019-01-19 09:59] liveHarshit opened #923 "Add similar events fragment to navigation architecture"
**Describe the feature you'd like**
Currently, similar event fragment is not configured with the navigation graph.

**Would you like to work on the issue?**

- [x] Yes

[2019-01-19 10:10] liveHarshit commented on #923
Sorry, it was configured as child fragment in right way.

[2019-01-19 10:10] #923 closed

[2019-01-19 12:19] yashk2000 commented on #922
@liveHarshit can I work on this?

[2019-01-19 12:43] liveHarshit commented on #922
Go ahead.

[2019-01-19 13:37] addiegupta opened #924 "Two different animations for switching between Login and Signup fragment"
**Describe the chore**

Two different animations appear while going from login to signup fragment
1. After opening login fragment for first time and then switching to signup fragment, the login fragment slides to right.
2. In all other cases, the switch has a fade animation

Screenshot:

![issue 923](https://user-images.githubusercontent.com/22665789/51427448-1d703400-1c1e-11e9-8385-3b752fce40dd.g

[2019-01-19 13:47] #920 closed

[2019-01-19 15:03] RebelsterPi opened #925 "Back Key in the title bar is not functioning"
**Describe the bug**

Back Key in the title bar of searchLocationFragment

**To Reproduce**

1. Open the application
2. Select "Where"  in the Events fragments or Search Fragment.
3. try going back using the back button in the title bar.

**Expected behavior**

Supposed to go back to the previous fragment from the search location fragment.

**Screenshots**

![screenshot_2019-01-19-20-26-41](https:

[2019-01-19 15:07] liveHarshit commented on #925
Duplicate of #922

[2019-01-19 15:13] yashk2000 commented on #925
@RebelsterPi this is same as #922 on which I am already working

[2019-01-19 15:17] yashk2000 commented on #922
@liveHarshit when search location fragment is opened, shouldn't the keyboard come up on the screen automatically?

[2019-01-19 15:17] RebelsterPi commented on #925
Ok then. Go ahead!

[2019-01-19 15:32] liveHarshit commented on #925
Duplicate of #922

[2019-01-19 15:32] #925 closed

[2019-01-19 16:16] RebelsterPi opened #926 "Application closes on selecting Manage event"
**Describe the bug**
Application closes when the "Manage Events" is selected

**To Reproduce**

1. Open the application
1. Go to Profile
1. Open the overflow button
1. Select "Managing Events" option from the menu

**Logs**

![fossasia](https://user-images.githubusercontent.com/37181637/51428978-cd01d200-1c2f-11e9-810e-54af0d37d576.png)

**Would you like to work on the issue?**

 Yes

[2019-01-19 16:21] liveHarshit commented on #926
It is redirecting you to play store. Make sure the play store is active.

[2019-01-19 16:53] Cool-fire opened #927 "No error message when user clicks on login button with email and password fields empty."
**Describe the bug**

In the login fragment when the user clicks on login button without entering email and password fields nothing happens, I think there should be error message like "email and password fields are required for login". I think this error message is required because it will enhance user experience.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to loginFragment
2. Click o

[2019-01-19 17:03] yashk2000 opened #928 "Keyboard does not show up automatically in search location fragment."
**Describe the bug**

When the search location fragment opens, the keyboard does not show up automatically.

**To Reproduce**
1. Goto search location fragment.
2. The keyboard does not automatically. The user has to press "where" to open the keyboard.

**Expected behavior**

The keyboard should open automatically so that user can start typing right away. This will also fix #922.

**Would you like

[2019-01-19 17:10] Cool-fire commented on #928
@yashk2000 I think there's no need of keyboard coming up on the screen automatically, I think it won't look good when the keyboard pop's up when user opens the location fragment. It is good that user can type the location right away on entering the location fragment but I think now with the normal behaviour there is no burden on user as it is just a single tap.

Comments appreciated.

[2019-01-19 17:44] yashk2000 commented on #928
@Cool-fire If the keyboard pops up directly the user can start typing straight away which I think is preferable to first tapping the edit text and then typing.

[2019-01-19 18:57] Cool-fire commented on #928
@yashk2000 no problem, I just gave my thoughts.

[2019-01-19 19:51] liveHarshit opened #930 "Progress bar overlapping with tickets"
**Describe the bug**
Progress bar overlapping with tickets after returning from ticket detail fragment.

**To Reproduce**
Open a ticket details and go back.

**Screenshots**
<p align="center">
<img src="https://user-images.githubusercontent.com/27783786/51431618-96d54a00-1c51-11e9-805a-c0afcbef6c6a.png" height = "480" width="270">
</p>

**Additional context**

**Would you like to work on the issue

[2019-01-20 10:25] RebelsterPi opened #931 "Content in the Search is mispositioned in landscape orientation"
**Describe the bug**
The content is mispositioned in the Search fragment in landscape orientation

**To Reproduce**
1. Open Search fragment in the landscape mode.

**Expected behavior**
1. To position it in the middle

**Screenshots**

Emulator :
![screenshot_1547977987](https://user-images.githubusercontent.com/37181637/51437865-f7a06900-1cc9-11e9-9730-c0d8e2b2152f.png)

Device:
![hello](https://

[2019-01-20 12:42] #924 closed

[2019-01-20 14:04] RebelsterPi opened #933 "Updating the Gradle Plugin"
**Describe the chore**
Change the Android Gradle plugin to version 3.3.0

**Would you like to work on the issue?**

 Yes

[2019-01-20 16:28] addiegupta opened #934 "Change button for starting EditProfile to a FloatingActionButton"
**Describe the feature you'd like**
I would like to replace the Edit Profile button, which is currently just a pencil icon hiding in plain sight and not very visible as a button, to a FloatingActionButton for primarily 2 reasons:

1. The Floating Action Button seems more consistent in the UI specially as it does not disturb the alignment of the User Name which the current button seems to do
![issu

[2019-01-20 19:21] #934 closed, assigned to nobody

[2019-01-21 06:38] addiegupta opened #936 "chore: deprecated fill_parent constant being used in fragment_profile.xml"
**Describe the chore**

The deprecated constant fill_parent is being used in the layout file fragment_profile.xml.
It needs to be replaced by the updated match_parent constant.

**Would you like to work on the issue?**

- [x] Yes
- [ ] No
- Other:

[2019-01-21 18:53] #936 closed

[2019-01-22 14:39] #928 closed

[2019-01-22 14:39] #933 closed

[2019-01-22 16:21] rob729 opened #940 "Update the screenshots in the Readme.md file"
**Describe the chore**
The screenshots in the readme are old and need to be updated.

**Would you like to work on the issue?**

- [x] Yes
- [ ] No
- Other:

[2019-01-23 08:03] kshitijsuri90 opened #942 "Change Current Location color and icon."
**Describe the feature you'd like**

Follow the primary color scheme in the current location icon

**Screenshots**
Proposed view.

![current_sol 2](https://user-images.githubusercontent.com/34534870/51591557-51e03a80-1f13-11e9-8f4f-3491273931fd.jpg)

**Additional context**

@liveHarshit Your views?

**Would you like to work on the issue?**

- [x] Yes

[2019-01-23 08:05] liveHarshit commented on #942
You can add it in PR #913 to look both same. :+1:

[2019-01-23 20:50] #940 closed

[2019-01-24 04:11] pranavpandey1998official opened #948 "Html tags are being dispalyed in text view"
**Describe the bug**
in EventDetailsFragment about and organiser, section displays HTML tags if the sever give them that string and no parsing of html string is done

- [x] Yes
- [ ] No
- Other:

[2019-01-24 09:57] liveHarshit commented on #948
Part of #248

[2019-01-25 04:53] liveHarshit opened #951 "Progress bar continuous with no internet"
**Describe the bug**
Progress bar continuous with no internet in tickets section

**Screenshots**

<p align="center">
<img src="https://user-images.githubusercontent.com/27783786/51725995-2718f200-208b-11e9-84a2-7951cba98d99.png" height = "480" width="270">
</p>

**Would you like to work on the issue?**

- [x] Yes

[2019-01-25 05:25] liveHarshit opened #953 "App crashes after clicking again on search menu"
**Logs**

[code]

**Smartphone Info:**

|               | |
|---------------|-|
|Device         |Mi Max 2|
|Android Version|Nougat 7.1.1|

**Would you like to work on the issue?**

- [x] Yes

[2019-01-25 06:04] #951 closed

[2019-01-25 07:20] #911 closed

[2019-01-25 16:10] mustaqmustu opened #954 "Invalid email or password pop up not appearing while user inputs invalid emails while logging in."
Invalid email or password pop up not appearing while user inputs invalid emails while logging in.

**Would you like to work on the issue?**
yes
![image](https://user-images.githubusercontent.com/43813438/51757567-bc4ad380-20e9-11e9-9779-af37b902b905.png)

[2019-01-25 20:14] iamareebjamal commented on #954
Duplicate

[2019-01-25 20:14] #954 closed

[2019-01-26 05:08] kshitijsuri90 commented on #834
@iamareebjamal @nikit19 @liveHarshit This issue seems solved by PR #836. Do close this issue.

[2019-01-26 06:13] rob729 commented on #930
@liveHarshit Can I work on this issue?

[2019-01-26 06:41] rob729 opened #956 "Progress bar shown when internet connection off in attendee fragment"
**Describe the bug**

The progress bar is shown even before clicking on the register button when the internet connection is off.

**To Reproduce**

1. Keep the internet connection off.
2. Go to the attendee fragment.

**Expected behavior**

A Snackbar or toast to be displayed showing "Please check your internet connection".

**Logs**

**Screenshots**

![](https://media.giphy.com/media/Wxwn7Y7qDtLj

[2019-01-26 07:05] rob729 opened #957 "Snackbar shown in the middle of the screen when there is no internet connection."
**Describe the bug**

The snackbar is shown in the middle of the screen in ticket fragment when there is no internet connection.
**To Reproduce**

1. Keep the internet connection off.
2. Go to the tickets fragment.

**Expected behavior**

The snackbar should be shown on the bottom of the screen.
**Logs**

**Screenshots**

![](https://media.giphy.com/media/7FgYh0nevM8RW1227v/giphy.gif)

**Smartphon

[2019-01-26 09:58] #834 closed

[2019-01-26 15:54] Cool-fire opened #959 "Searchview is not filling the whole appbar in landscape mode."
**Describe the bug**
In landscape mode searchView is not filling the whole appbar.

**To Reproduce**
1. Go to searchFragment
2. Rotate the device into landscape mode
3. click on search icon in appbar.
4. Type something see that searchview doesn't fill whole appbar

**Expected behavior**
SearchView should fill whole appbar in landscape mode

**Screenshots**

![screenshot_2019-01-26-20-56-22-072_com

[2019-01-26 16:40] mustaqmustu commented on #953
Can i work on this?

[2019-01-26 16:54] mustaqmustu commented on #959
Can i work on this?

[2019-01-26 17:29] pranavpandey1998official opened #960 "Search view getting overflowed out of screen"
**Describe the bug**
on landscape mode the serchView fragment is getting overflowed
**To Reproduce**

open searchView fragment in landscape mode

**Screenshots**

![device-2019-01-26-225847](https://user-images.githubusercontent.com/44601530/51790637-ff767680-21bd-11e9-8b21-8f3d5ba39af9.png)

**Smartphone Info:**

|               | |
|---------------|-|
|Device         | [redmi note 4]|
|Android V

[2019-01-26 18:13] Cool-fire commented on #959
Sorry, I am working on this.

[2019-01-26 20:13] kshitijsuri90 commented on #959
Will be solved by PR #878.

[2019-01-26 20:47] pranavpandey1998official opened #962 "Snackbar is appearing in the middle of the screen in eventDetailFragment"
**Describe the bug**
Error fetching Social Links is appearing in the middle of the screen

**Screenshots**
![whatsapp image 2019-01-27 at 2 12 57 am](https://user-images.githubusercontent.com/44601530/51792620-a0bef600-21d9-11e9-9133-09bf2a3c7272.jpeg)

**Smartphone Info:**
|               | |
|---------------|-|
|Device         |[Redmi Note 4]|
|Android Version|[7.0]  |

**Would you like to work

[2019-01-27 01:06] Cool-fire commented on #959
@kshitijsuri90 have you made the changes suggested by reviewer to the pull request #878

[2019-01-27 03:00] kshitijsuri90 commented on #959
Currently doing it @Cool-fire. Will update it soon

[2019-01-27 06:20] kshitijsuri90 commented on #756
@liveHarshit This issue still persists. Is there anything we can do?

[2019-01-27 06:35] kshitijsuri90 opened #963 "Add camera icon on Profile image in Edit Profile Fragment."
**Describe the feature you'd like**

A small camera/edit icon on the bottom left corner of the profile picture to let users know that's where the can upload their profile picture.

**Screenshots**

Sample
![edit](https://user-images.githubusercontent.com/34534870/51797542-9decf100-222b-11e9-8b64-0fe4abb639b6.png)
This will be over existing profile image.

**Additional context**

@liveHarshit Your

[2019-01-27 06:42] kshitijsuri90 opened #964 "Make First Name and Last Name mandatory in Sign up Fragment."
**Describe the feature you'd like**

Move the first name and last name edit text in a single line like the Edit Profile Fragment.

**Screenshots**

![sameline](https://user-images.githubusercontent.com/34534870/51797616-a560ca00-222c-11e9-9e95-be14fad1fc29.jpg)

**Additional context**

@liveHarshit Your views?

**Would you like to work on the issue?**

- [x] Yes
- [ ] No
- Other:

[2019-01-27 07:00] kshitijsuri90 opened #965 "Ticket Input not getting saved on navigating back."
**Describe the bug**

The number of tickets does not get retained on coming back to select the quantity.

**To Reproduce**

Select an event and register.
Add any number of tickets and click register.
Navigate back to see quantity

**Expected behavior**

Number of tickets specified should be retained.

**Screenshots**

![ticket_input](https://user-images.githubusercontent.com/34534870/51797741-21f4

[2019-01-27 07:19] RebelsterPi commented on #960
i'm working on this issue #931

[2019-01-27 07:38] #960 closed

[2019-01-27 08:11] pranavpandey1998official opened #967 "attendees ticket info not retaining after screen rotation"
**Describe the bug**
attendees ticket info not retaining after screen rotation
and also no of ticket block doubles after rotation of screen
**To Reproduce**
1. Go to attendees fragment by applying for any ticket and select 2 or more ticket in ticket detail
2. now fill the attendees ticket form then rotate the screen

**Screenshots**
![ezgif com-video-to-gif](https://user-images.githubusercontent.c

[2019-01-27 11:49] GOVINDDIXIT opened #968 "use navigation arch to redirect to events when logout"
**Describe the bug**
After User logout navigation arch should be used to redirect to events

**Would you like to work on the issue?**

- [x] Yes
- [ ] No
- Other:

[2019-01-27 12:10] GOVINDDIXIT opened #970 "log out dialog box is not showing"
**Describe the bug**
log out Alertdialog box is not showing when user click log out option

**Would you like to work on the issue?**

- [ ] Yes
- [ ] No
- Other:

[2019-01-27 16:34] #968 closed

[2019-01-28 05:09] pranavpandey1998official commented on #957
@rob729 you can make the coordinate layout parent instead of the scroll view

[2019-01-28 08:03] kshitijsuri90 commented on #967
This is similar to issue #965. Will be solved with its PR. Will include this issue in the PR

[2019-01-28 08:40] rob729 commented on #957
Thanks @pranavpandey1998official

[2019-01-28 15:40] iamareebjamal commented on #787
/remind me to look at this in 1 month

[2019-01-28 15:59] #957 closed

[2019-01-28 16:00] #861 closed

[2019-01-28 17:12] #962 closed

[2019-01-29 03:16] pranavpandey1998official commented on #967
sorry i am working on it

[2019-01-29 11:53] pranavpandey1998official opened #979 "Wrong snack-bar message appearing"
**Describe the bug**
in sign up section wrong snackbar message is showing
as you can see server now dont respond with message just give us code hence changing the snackbar message logic

**To Reproduce**

**Expected behavior**

**Logs**
2019-01-29 17:16:08.842 2427-2512/com.eventyay.attendee D/OkHttp: etag: 322053a090a2371188b237341b539b99c3e7d91f
2019-01-29 17:16:08.842 2427-2512/com.eventyay.att

[2019-01-29 16:52] #979 closed

[2019-01-29 21:09] pranavpandey1998official opened #981 "Similar event fragment not displaying correctly"
**Describe the bug**.
heading "More like this " and padding is not displaying in similar event fragment

**Screenshots**

![device-2019-01-30-023616](https://user-images.githubusercontent.com/44601530/51940479-29d36880-2438-11e9-8571-763358e8053d.png)

**Smartphone Info:**
|               | |
|---------------|-|
|Device         |[Redmi Note 4]|
|Android Version|[7.0]|

**Additional context**

**Wo

[2019-01-30 15:38] #981 closed

[2019-01-30 16:46] kshitijsuri90 commented on #942
Issue is resolved.

[2019-01-30 16:46] #942 closed

[2019-01-31 07:46] pranavpandey1998official opened #986 "wrong placement of snackbar in edit profile segment"
**Describe the bug**
snackbar is not displaying just above the bottom of app , empty space is formed between snackbar and bottom of screen

**Screenshots**

![whatsapp image 2019-01-31 at 1 11 24 pm](https://user-images.githubusercontent.com/44601530/52039250-06084380-255a-11e9-9e94-76e0d44c0c72.jpeg)

**Smartphone Info:**

|               | |
|---------------|-|
|Device         | [ redmi note 4]|

[2019-01-31 08:11] pranavpandey1998official opened #988 "all tickets are not showing in ticket-fragment in landscape mode"
**Describe the bug**
in ticket fragment, if you switch to landscape mode al of tickets are not being displayed

**Screenshots**

![whatsapp image 2019-01-31 at 1 39 27 pm 1](https://user-images.githubusercontent.com/44601530/52040533-bf1c4d00-255d-11e9-898b-49873ba34f78.jpeg)
**Smartphone Info:**
![whatsapp image 2019-01-31 at 1 39 27 pm](https://user-images.githubusercontent.com/44601530/52040553

[2019-01-31 14:10] kshitijsuri90 commented on #608
Resolved Issue @liveHarshit @iamareebjamal @nikit19

[2019-01-31 14:15] #986 closed

[2019-01-31 15:58] #912 closed

[2019-01-31 15:59] #988 closed

[2019-01-31 15:59] #608 closed

[2019-01-31 17:01] #953 closed

[2019-01-31 20:02] kshitijsuri90 opened #992 "Welcome Fragment loading again when back pressed."
**Describe the bug**

Welcome Fragment comes again when back pressed from events fragment.

**To Reproduce**

Go to the events page and press back

**Expected behavior**

App should quit on back pressed twice

**Logs**

**Screenshots**

![back_error](https://user-images.githubusercontent.com/34534870/52081666-d50f2980-25c0-11e9-8d0c-89a12060bc05.gif)

**Smartphone Info:**

|               | |
|---

[2019-01-31 20:48] kshitijsuri90 opened #993 "Splash Screen coming twice which selecting current location."
**Describe the bug**

Splash Screen is shown again when we select the location from SearchLocationFragment in Welcome Fragment

**To Reproduce**

Select Pick a city option
Select current location

**Expected behavior**

Splash Screen should not be loaded again

**Logs**

**Screenshots**

![splash_screen_error](https://user-images.githubusercontent.com/34534870/52084237-93ce4800-25c7-11e9-8f86-8b06

[2019-01-31 20:52] kshitijsuri90 opened #994 "Logical Error in number of Tickets shown when placing order."
**Describe the bug**

If 1 ticket is selected no box is shown for details as it is assumed that user is the customer but when 2 tickets selected 2 ticket boxes are shown for the input so the logic of user as the customer is not followed there.

**To Reproduce**

Buy 1 ticket first and then try again for two tickets

**Expected behavior**

Same logic pattern needs to be followed

**Logs**

**Screen

[2019-01-31 20:56] kshitijsuri90 opened #995 "Misplaced Snackbar in Attendee Details"
**Describe the bug**

Snackbar shown in Attendee details are misplaced.

**To Reproduce**

Register for tickets

**Expected behavior**

They should be properly placed

**Logs**

**Screenshots**

![snack_bar](https://user-images.githubusercontent.com/34534870/52084701-a5641f80-25c8-11e9-927f-698a17eb914e.gif)

**Smartphone Info:**

|               | |
|---------------|-|
|Device         |One Plus 5

[2019-02-01 06:33] liveHarshit commented on #992
Sorry, I'm not able to reproduce the issue. And there is no reason for this issue because start destination for navigation is Event fragment. Can you describe exactly why it is happening **especially in your device**?

[2019-02-01 06:34] liveHarshit commented on #992
And also in GIF, it is not clear, as far as I can see there is sliding animation from Welcome fragment to Events fragment.

[2019-02-01 06:37] liveHarshit commented on #993
Same, not able to reproduce.

[2019-02-01 07:39] kshitijsuri90 commented on #993
It's showing on mine. When I select a current location after selecting pick a city option. It should be showing on your phone too as we are recreating activity @liveHarshit. What do you think?

[2019-02-01 07:43] kshitijsuri90 commented on #992
It's showing on first-time installation. Install the app the app from beginning and select current location from the welcome fragment and when you navigate to events fragment press back and see @liveHarshit

[2019-02-01 07:45] kshitijsuri90 commented on #992
I think the error is happening because on back pressed the controller navigates to welcome fragment but since the start fragment is event fragment it tries to go back to it. So for a second welcome fragment is shown. @liveHarshit

[2019-02-01 08:43] liveHarshit commented on #992
Yes, now I'm able to reproduce it. Please go ahead.

[2019-02-01 08:46] liveHarshit commented on #993
Still not able to reproduce, but yes we are recreating the activity which is not good at all -
[code]

Please use navigation instead, :+1:

[2019-02-01 18:23] liveHarshit opened #997 "Remove all activity intents"
**Describe the feature you'd like**
Remove all activity intents in favor of navigation.

**Would you like to work on the issue?**

- [x] Yes
- [ ] No
- Other:

[2019-02-01 19:40] iamareebjamal commented on #997
I was talking about type-safe args

[2019-02-02 04:50] liveHarshit commented on #997
Mean apply safe args plugin to pass data between fragments?

[2019-02-02 05:36] liveHarshit opened #998 "Back stack is not clear after redirecting from order completed fragment"
**Describe the bug**
The back stack is not clear when redirecting to events fragment and tickets fragment from order completed fragment.

**To Reproduce**
1. Complete an order
2. View tickets or press tick menu item
3. Press back

**Expected behavior**

**Would you like to work on the issue?**

- [x] Yes

[2019-02-02 10:39] KVGarg commented on #994
I don't it is an issue because there may be situation where a user wants to book tickets for other people.
Say, user A wants to book tickets 2 or more tickets excluding him. In that case, the 2 or more tickets will be filled with other user details and the information that is asked in beginning above the tickets, is the information about the user who has booked the tickets.
And, I think there shou

[2019-02-02 10:43] addiegupta commented on #964
What is the need of making first name and last name mandatory? Currently the app works even if name is not provided.

[2019-02-02 10:48] AnkurIngale commented on #995
Can I work on it?

[2019-02-02 11:25] addiegupta opened #1000 "Stretched out placeholder image for event"
**Describe the chore**

The placeholder image appears stretched out on selecting an event from the EventsFragment.

![issue new](https://user-images.githubusercontent.com/22665789/52163676-51ae1f00-270b-11e9-85f6-e11fc2bf5c3b.gif)

**Would you like to work on the issue?**

- [x] Yes
- [ ] No
- Other:

[2019-02-02 11:40] shiv07tiwari opened #1003 "Project Build fails because of Non Trusted Certificates"
**Describe the chore**
Hello, i am new to this community. When I forked and build my project, it could'nt resolve a lot of dependencies. After doing a bit of research, i found that going to Settings -> Tools -> Server Certificates and enabling Accept Non Trusted certificates automatically removes the issue and build is  successful.
I think we should add this in the Documentation for contribution g

[2019-02-02 11:52] shiv07tiwari opened #1004 "Attendee details loses data on screen rotation."
**Describe the bug**
The first name and last name in Attendee details is lost when screen is rotated.
**To Reproduce**
Open any event -> Go to Tickets -> Register ->  Enter details.
Rotate the screen, name and last name is lost.

**Expected behavior**
Data should retain in screen rotation.

**Screenshots**
![videotogif_2019 02 02_17 16 17](https://user-images.githubusercontent.com/38163725/5216389

[2019-02-02 11:55] shiv07tiwari commented on #606
@liveHarshit Can I work on this issue ?

[2019-02-02 12:01] shiv07tiwari opened #1005 "App crashes when no fields filled after screen rotation in Attendee details."
**Describe the bug**
Generally when no data is entered in Attendee details, it shows a snackbar to enter details.
But when screen is rotated, then instead of snackbar, the app crashes.

**To Reproduce**
Open any event -> Go to Tickets -> Register -> Enter details.
Dont fill anything, rotate the screen. Click on Register.

**Expected behavior**
It should show a snackbar to enter details.

**Screens

[2019-02-02 12:19] liveHarshit commented on #606
Ask @jmig5776 , Because PR is already there.

[2019-02-02 12:20] shiv07tiwari commented on #606
@jmig5776 Can I take up this issue, or you are still working on it ?

[2019-02-02 12:33] shiv07tiwari commented on #606
Thanks @jmig5776

[2019-02-02 12:35] #964 closed

[2019-02-02 12:36] #994 closed

[2019-02-02 12:37] iamareebjamal commented on #994
Invalid issue unless an event is so awesome that you'd buy 3 tickets for yourself and your 2 clones

[2019-02-02 12:41] iamareebjamal commented on #1003
The automated build is working correctly for us and other contributors. You may check again but I doubt the issue is fro our side since no one else reported this.

Still, I'm letting this issue remain open for 2 days so that other people can chime in if they are facing the same issue.

[2019-02-02 12:41] iamareebjamal commented on #1003
/remind me to close this issue in 2 days

[2019-02-02 12:43] #1000 closed

[2019-02-02 12:49] shiv07tiwari commented on #1003
@iamareebjamal I just thought we can add the solution if someone faces the issue in future.

[2019-02-02 12:50] iamareebjamal opened #1006 "URGENT: Check if first requests are sent without authentication token"
I was reading the implementation of Authenticator of OkHTTP3 and it seems it only calls the callback to set authentication headers IF the server fails and give 401. Please check if this is true since this can cause unauthenticated information to be shown to the user for endpoints which support both authenticated and unauthenticated users

@liveHarshit @GOVINDDIXIT Can you please check this?

[2019-02-02 12:52] iamareebjamal commented on #1003
OK. Then we should compile a list of all the issues that may happen in future to the user which are not related to the application code and release it as a guide, but it still won't make sense to put it in this repository.

This issue is invalid unless someone else can reproduce it.

[2019-02-02 12:54] shiv07tiwari commented on #1003
Okay. Maybe someone reports this issue in future and then we can add the guidelines.

[2019-02-02 13:47] GOVINDDIXIT commented on #1006
Yes, They have mentioned this in reactive authentication [here](https://square.github.io/okhttp/3.x/okhttp/okhttp3/Authenticator.html)
Here is our RequestAuthenticator

class RequestAuthenticator(private val authHolder: AuthHolder) : Authenticator {

    override fun authenticate(route: Route?, response: Response): Request? {
        val authorization: String? = authHolder.getAuthorization()

[2019-02-02 13:51] iamareebjamal commented on #1006
Then please change the implementation to use interceptor instead, as used in Orga App

[2019-02-02 14:00] addiegupta opened #1007 "Inconsistent spelling of "favorite" across the project"
**Describe the chore**

The word "favorite" has been spelled in 38 occurrences as "favourite" across 14 files in the project.

For the sake of consistency, I would like to refactor these.

**Would you like to work on the issue?**

- [x] Yes
- [ ] No
- Other:

[2019-02-02 15:19] #1007 closed

[2019-02-02 15:35] pranavpandey1998official commented on #1004
@shiv07tiwari same as #967 and i am already working on the issue

[2019-02-02 15:36] pranavpandey1998official commented on #1005
will be solved by #967

[2019-02-02 15:40] shiv07tiwari commented on #1004
@pranavpandey1998official Sorry I could not see that.
Are you also fixing the Ticket Details section ?
I would like to fix that.

[2019-02-03 00:47] shiv07tiwari commented on #319
@liveHarshit @dreadpool2 Can I work on this issue ?

[2019-02-03 07:06] pranavpandey1998official commented on #931
k. then I am reopening my PR

[2019-02-03 08:14] #931 closed

[2019-02-03 08:40] pranavpandey1998official opened #1012 "not all option are available in search time fragment in landscape mode"
**Describe the bug**
only three options are available in search time fragment in landscape mode

**Screenshots**

![device-2019-02-03-141013](https://user-images.githubusercontent.com/44601530/52174694-76fb6580-27bd-11e9-9dd9-13b47eefb143.png)

**Smartphone Info:**

|               | |
|---------------|-|
|Device         | [redmi not 4] |
|Android Version| [7.0] |

- [x] Yes
- [ ] No
- Other:

[2019-02-03 09:05] pranavpandey1998official opened #1014 "improving the layout of about_event fragment"
currently, it is not very readable in landscape mode the main content occupies less than 1/4  of screen

**Screenshots**
![device-2019-02-03-143256](https://user-images.githubusercontent.com/44601530/52174902-dad35d80-27c0-11e9-8372-36925d207313.png)

**Additional context**

**Would you like to work on the issue?**

- [x] Yes
- [ ] No
- Other:

[2019-02-03 09:31] #1012 closed

[2019-02-03 09:34] GOVINDDIXIT commented on #1006
@liveHarshit you can work on this issue. I have looked into orga app. Since I am new to interceptor and need to research more about it before fixing.  Its an urgent issue and need to be fixed soon.

[2019-02-03 10:31] shiv07tiwari commented on #690
@trancenoid Can i take up this issue ?

[2019-02-03 10:35] trancenoid commented on #690
@shiv07tiwari Sure

[2019-02-03 11:45] shiv07tiwari opened #1016 "User Details and Image is lost in screen rotation"
**Describe the bug**
When the user edits his/her profile, then the entered data and loaded image is not retained when the screen is rotated.

**To Reproduce**
Profile -> Edit -> Enter details, select an image and rotate the screen.

**Expected behavior**
Entered data and image should retain

**Screenshots**
![videotogif_2019 02 03_17 12 19](https://user-images.githubusercontent.com/38163725/521763

[2019-02-03 11:48] shiv07tiwari opened #1017 "Provide option to remove image, first name and last name to user."
**Describe the feature you'd like**
During SignUp, Image, first name and last name are optional for the user. So once a user sets an image, first name,last name, then he/she should have a feature to remove those fields from the account.

**Would you like to work on the issue?**
- [x] Yes
- [ ] No

[2019-02-03 13:39] liveHarshit commented on #1006
Sure, but I will take some time. :+1:

[2019-02-03 13:52] pranavpandey1998official opened #1018 "back button disappear after orientation change in about fragment"
**Describe the bug**
back button disappear after orientation change in about fragment

**To Reproduce**
1. open about section of any event
2. rotate screen

|Device         |Redmi note 4|
|Android Version|7.0  |

**Would you like to work on the issue?**

- [x] Yes
- [ ] No
- Other:

[2019-02-03 14:05] addiegupta opened #1020 "Change rectangular button to have rounded corners"
**Describe the chore**

The button for tickets in the EventDetailsFragment has rounded corners:

<table>
        <tr>
<td><img src ="https://user-images.githubusercontent.com/22665789/52177673-8d6be600-27ea-11e9-9e0f-35768b87e9e4.jpg" height = "480" width="227"></td>
        </tr>
</table>

Similar buttons to register for the event in the following fragments lack rounded corners
<table>
        <t

[2019-02-03 15:00] #1018 closed

[2019-02-03 17:50] anhanh11001 commented on #1014
Can I work on this?

[2019-02-03 17:51] anhanh11001 commented on #1016
Can I work on this?

[2019-02-03 17:52] shiv07tiwari commented on #1016
@anhanh11001 I am trying to fix this one.

[2019-02-04 03:17] pranavpandey1998official opened #1023 "disabling the register button in ticket Detail"
**Describe the feature you'd like**
the register button should be disabled in Ticket Detail when no tickets are available

**Would you like to work on the issue?**

- [x] Yes
- [ ] No
- Other:

[2019-02-04 06:42] pranavpandey1998official commented on #1014
I am working on it

[2019-02-04 06:57] shiv07tiwari opened #1024 "Snackbar pops up twice in Attendee Details"
**Describe the bug**
When nothing is filled in attendee details, the snackbar pops up twice.
**To Reproduce**
Event - tickets - register
Don't fill anything and click register.

**Expected behavior**
Snackbar should appear once.

**Screenshots**
![videotogif_2019 02 04_12 22 39](https://user-images.githubusercontent.com/38163725/52194049-21d05a00-2878-11e9-9f42-f5832500347c.gif)

**Smartphone Info

[2019-02-04 09:29] GOVINDDIXIT opened #1025 "fix: redirect to events after login"
**Describe the bug**

After login User should be redirected to events

**Would you like to work on the issue?**

- [x] Yes
- [ ] No
- Other:

[2019-02-04 11:43] AnkurIngale commented on #998
Can I work on it?

[2019-02-04 12:15] liveHarshit commented on #998
Already has PR.

[2019-02-04 12:53] AnkurIngale commented on #1024
Can I do it?

[2019-02-04 12:57] shiv07tiwari commented on #1024
I have already started working on this.

[2019-02-04 13:04] AnkurIngale commented on #889
Is it done?

[2019-02-04 17:44] liveHarshit commented on #1006
How to change module definition, because network module is giving error with Interceptor?

[2019-02-04 21:24] iamareebjamal commented on #1006
What error?

[2019-02-04 21:25] #1025 closed

[2019-02-04 21:53] shiv07tiwari opened #1031 "Add a checkbox for terms and conditions."
**Describe the bug**
Instead of just adding links for terms and conditions, the user must check a checkbox saying that I have read the terms and conditions, then only he/she should be allowed to book tickets

**Would you like to work on the issue?**
- [x] Yes
- [ ] No

[2019-02-05 04:09] AnEnigmaticBug opened #1032 "Enable layout previews for navigation_graph.xml"
**Describe the chore**
Currently, the Navigation Component editor doesn't show previews for any of the destinations which makes it a little more time-consuming to understand what all destinations are there and what do they look like.

Adding previews would make getting a 'feel' of the destinations a bit faster.

**Would you like to work on the issue?**
- [X] Yes
- [ ] No

[2019-02-05 04:13] AnEnigmaticBug opened #1033 "Remove redundant CoordinatorLayouts from layout files"
**Describe the chore**
Currently there are some  CoordinatorLayouts which are not used in layout files(like in the fragment_welcome.xml file). They add clutter to the view hierarchy and may slightly impact layout performance.

They should be removed and it should be ensured that the layout's appearance doesn't change in the process.

**Would you like to work on the issue?**
- [X] Yes
- [ ] No

[2019-02-05 05:13] #1023 closed

[2019-02-05 07:14] liveHarshit commented on #1006
[code]

[2019-02-05 08:03] iamareebjamal commented on #1006
That's because you have not declared it in the module. Read docs of Koin

[2019-02-05 08:20] pranavpandey1998official opened #1035 "HTML tags should be removed from data coming from backend"
**Describe the feature you'd like**
currently, no parsing of HTML tag is performed at the front end because of which html tags are begin displayed
should fix #948
**Would you like to work on the issue?**

- [x] Yes
- [ ] No
- Other:

[2019-02-05 11:36] #1032 closed

[2019-02-05 14:12] AnEnigmaticBug opened #1039 "Add layout previews for listitems of RecyclerViews"
**Describe the chore**
Currently, the layout previews don't show the list-items of `RecyclerViews`. Their layouts have to be opened separately. This increases the time one needs to spend to view the entire layout of the screen. An example is the `fragment_search_results.xml` file. Fixing this will allow people to view the entire screen's layout by simply opening a single layout file.

**Would you

[2019-02-05 16:05] liveHarshit commented on #1006
Yes, But I cannot find Implicit definitions of the module in the project. I have changed it as Interceptor in the network module. But Modules.kt is linking definitions with modules. Please help.

[2019-02-05 17:08] angmas1 commented on #865
Are you still working on this, if not can I take up this issue?

[2019-02-05 17:09] angmas1 commented on #866
Are you still working on this, if not can I take up this issue?

[2019-02-05 17:10] angmas1 commented on #575
Are you still working on this, if not can I take up this issue?

[2019-02-05 18:37] iamareebjamal commented on #1006
I couldn't understand? What do you mean by "But Modules.kt is linking definitions with modules"

[2019-02-05 18:38] #495 closed

[2019-02-05 18:39] #1039 closed

[2019-02-05 18:40] liveHarshit commented on #1006
According to the documentation first, we declare Implicit definitions and then link it with modules, which is modules.kt.

[2019-02-05 18:41] liveHarshit commented on #1006
But I cannot find module other then Modules.kt

[2019-02-05 18:44] iamareebjamal commented on #1006
There's no such need, just declare it in Modules.kt

[2019-02-05 18:46] liveHarshit commented on #1006
Yes I have done it in network module - `single { RequestAuthenticator(get()) as Interceptor }` but after running the app -

[2019-02-05 20:00] iamareebjamal commented on #1006
Because you haven't removed the authenticator argument from the OkHTTPClient Builder

[2019-02-05 20:01] iamareebjamal commented on #1006
https://github.com/fossasia/open-event-android/blob/f7b82dcf721d16806f5127e5d85f6985a1ce71e8/app/src/main/java/org/fossasia/openevent/general/di/Modules.kt#L158-L170

[2019-02-05 20:02] iamareebjamal commented on #1006
You have to remove the authenticator line

[2019-02-06 04:34] AnEnigmaticBug opened #1044 "Add landscape orientation resources for welcome screen"
**Describe the feature you'd like**
Add landscape orientation resources for the welcome screen.

**Screenshots**
![welcome_screen](https://user-images.githubusercontent.com/37890870/52320595-49e5c780-29f6-11e9-8e64-6b8fda57ad2e.png)

**Additional context**
Since the app supports landscape orientation, there should be resources(layouts/strings etc) for the same. Some screens are good without needin

[2019-02-06 04:42] liveHarshit commented on #1044
@iamareebjamal Can we turn off landscape orientation for the application? Eventbrite is using same, the screen is not rotation in the whole application. And the rotation is not required for any screen of the app.

[2019-02-06 04:46] liveHarshit opened #1045 "Disable text fields and button during progress"
**Describe the bug**
Disable text field and buttons during progress in login and sign up fragments. Because during sign in or smart authentication it is not a good user experience to make edit field accessible.

Better solution is to use an overlapping progress bar.

**Would you like to work on the issue?**

- Other: Open for all

[2019-02-06 05:20] AnEnigmaticBug commented on #1044
I think that is a valid suggestion. But currently, many layouts are already landscape-friendly because they're scroll-able. So, we just have to fix a few layouts and the app will work in landscape mode too. The few people who prefer landscape mode will be happy :)

[2019-02-06 11:12] liveHarshit opened #1047 "Use type safe args for search date"
**Describe the feature you'd like**
Use type safe args for search date.

**Would you like to work on the issue?**

- [x] Yes
- [ ] No
- Other:

[2019-02-06 15:17] iamareebjamal commented on #1044
Think of it as a feature of the app. If we disable rotation, it'll be much harder to support it afterwards and also to adapt for tablets

[2019-02-06 15:54] #997 closed

[2019-02-06 15:54] #998 closed

[2019-02-06 15:54] #1047 closed

[2019-02-06 17:48] angmas1 commented on #1045
Can I take up this issue?

[2019-02-06 17:53] liveHarshit commented on #1045
Go ahead.

[2019-02-06 17:58] angmas1 opened #1048 "Data retention on orientation change for all activities."
**Describe the bug**
Many activities loose data on orientation change.

**To Reproduce**
Rotate device in any activity after entering data.

**Expected behavior**
Data shouldn't be lost on device rotation.

**Would you like to work on the issue?**
Yes

[2019-02-07 11:56] shiv07tiwari commented on #1048
@angmas1 A lot of people are already working on this issue talking up different activities.
https://github.com/fossasia/open-event-android/issues/1016
https://github.com/fossasia/open-event-android/issues/967

[2019-02-07 15:33] #1048 closed

[2019-02-08 06:04] theabhishekavi opened #1055 "Google Map Support"
**Describe the feature you'd like**
Instead of typing the place where user want to go out, selecting a place on google map would enhance the quality of the app.

**Screenshots**
![img_20190208_112640](https://user-images.githubusercontent.com/35160400/52461372-bd254000-2b94-11e9-9712-acccc7bd4025.jpg)

**Additional context**
User can select a place either by typing or by selecting a place in googl

[2019-02-08 06:07] theabhishekavi commented on #1055
@iamareebjamal should i work on this?

[2019-02-08 06:14] AnEnigmaticBug commented on #1055
I agree that simply typing a place's name feels slightly strange. There is no immediate feedback that it is valid. For eg: If someone belongs to a small-ish place, he/she won't know whether entering their place's name will work or not. Or if someone's place's name consists of multiple words, how to separate them, how to capitalize them etc

[2019-02-08 06:30] liveHarshit commented on #1055
How can you suppose that any user wants to select the exact location for searching events?

[2019-02-08 06:39] theabhishekavi commented on #1055
@liveHarshit i will not take the exact location, i will extract the city name of the marker where user points his/her location.

[2019-02-08 06:42] theabhishekavi commented on #1055
as @AnEnigmaticBug  said it feels quite strange in typing a place name. So instead of typing, the city name will be extracted from marker of the google map

[2019-02-08 06:48] AnEnigmaticBug commented on #1055
I see an issue. There are two cases: when the user wants to give his/her current place and when he/she wants to select a different place. The case where he wants to select his current place is already covered by the "Use my current location feature". That leaves us with just the second case.

The issue is that, it is not intuitive how you select a city. Maps are for selecting precise locations. Th

[2019-02-08 15:58] AnEnigmaticBug opened #1056 "feat: tweak the search location screen's layout"
**Describe the feature you'd like**
Currently, there are two issues with the layout:
1. The "Use my current location" text isn't vertically centred with respect to the location icon.
2. The current EditText hint "where?" can be improved to something more polite.

I'll like having the current location button text vertically aligned and the hint changed to something more polite.

**Screenshots**
The

[2019-02-08 17:18] #1044 closed

[2019-02-08 18:02] #1056 closed

[2019-02-08 19:06] rob729 opened #1059 "Progress bar shown on filling incomplete information in attendee fragment"
**Describe the bug**
When entering the attendee information for 2 or more people if the details of one person is not entered and the register button is clicked then the progress bar is shown below the register button.

**To Reproduce**

1. Go to attendees fragment by selecting tickets for 2 or more people.
2. Don't enter the data of at least on attendee and click the register button.

**Expected b

[2019-02-08 21:03] angmas1 commented on #963
Are you still working on this?

[2019-02-08 21:07] angmas1 commented on #956
Are you still working on this?

[2019-02-09 03:56] #494 closed

[2019-02-09 03:58] #1059 closed

[2019-02-09 05:33] rob729 commented on #956
Yes @angmas1

[2019-02-09 08:04] angmas1 opened #1064 "Keyboard doesn't open when searchlocation fragment is opened 1st time."
**Describe the bug**
Keyboard doesn't open when searchlocation fragment is opened for the first time.

**To Reproduce**
1. Go to events tab
2. Click on location name
3. Keyboard doesn't open (if this fragment is opened for the 1st time)

**Screenshots**
![ezgif com-video-to-gif](https://user-images.githubusercontent.com/37517284/52518589-9dfce000-2c72-11e9-906d-b518d69b0efb.gif)

**Expected behavi

[2019-02-09 08:30] angmas1 commented on #922
This is because a keyboard is opened but isn't visible. 1st back cancels keyboard 2nd back exits fragment.

[2019-02-09 08:57] AnEnigmaticBug opened #1066 "bug: rotating device in login screen leads to multiple login popups"
**Describe the bug**
When the login screen starts, a popup asking the user to choose an email is shown. The issue is that when the device is rotated, it is shown again. This leads to multiple popups placed on top of each other.

**To Reproduce**
1. Go to login screen. The popup should appear.
2. Without dismissing/closing the popup, rotate the device.
3. Repeat this 1-2 more times.
4. You should b

[2019-02-09 15:13] AnEnigmaticBug commented on #992
@kshitijsuri90, @liveHarshit  can I work on this issue?

[2019-02-09 15:55] liveHarshit commented on #992
This issue is solved.

[2019-02-09 16:00] #1066 closed

[2019-02-09 16:41] AnEnigmaticBug commented on #992
@liveHarshit I'm still seeing this issue. I've the latest code in the development branch.

[2019-02-09 16:42] AnEnigmaticBug commented on #992
Steps to reproduce:
1. In the welcome screen, use the "Use my current location" button.
2. Once the events screen loads up, press the back button.

[2019-02-09 18:54] liveHarshit commented on #992
Okay, I will test it.

[2019-02-09 19:16] liveHarshit commented on #992
Yes, it is not resolved.

@kshitijsuri90 Please add nav options for clear back stack while navigating.

@AnEnigmaticBug ask @kshitijsuri90 if you want to work on this issue.

[2019-02-09 19:37] #865 closed

[2019-02-09 19:39] #606 closed

[2019-02-10 02:55] AnEnigmaticBug commented on #992
@kshitijsuri90 can I work on this issue?

[2019-02-10 07:51] pranavpandey1998official opened #1069 "Ticket title is appearing when going to event detail from order detail"
**Describe the bug**
Ticket title is appearing when going to  event detail from order detail

**Screenshots**
![whatsapp image 2019-02-10 at 1 20 33 pm](https://user-images.githubusercontent.com/44601530/52531126-ae768e80-2d36-11e9-89d4-e6ccdd8029da.jpeg)

**Smartphone Info:**

|               | |
|---------------|-|
|Device         |Redmi not 4|
|Android Version|7.0  |

**Would you like to work o

[2019-02-10 08:44] pranavpandey1998official opened #1071 "improving payment by stipe"
right now payment by stripe have a lot of problem
a) right type of keybord does not show up
b) whole select card type is not clickable you have to click on small arrow
c)multiline text view is used
d)etc
**Would you like to work on the issue?**

- [x] Yes
- [ ] No
- Other:

[2019-02-10 08:48] liveHarshit commented on #1071
It is good if you also add to verify and show the card type when the first four digits are entered. :+1:

[2019-02-10 09:30] AnEnigmaticBug commented on #992
@liveHarshit since @kshitijsuri90 isn't replying, can I make a pull-request for this issue?

[2019-02-10 09:36] liveHarshit commented on #992
/remind me to check the status in 2 days

[2019-02-10 09:55] AnEnigmaticBug opened #1072 "chore: remove direct usages of Android classes from GeoLocationViewModel"
**Describe the chore**
The `GeoLocationViewModel` currently takes in `Activity` as a parameter in it's `configure` method. It makes it difficult to unit test the `ViewModel` and should be avoided. The dependence on `Activity` is to get access to the `LocationManager`. This is a violation of Law of Demeter.

This is easily fixable. We can use the application's `Context` to access the `LocationManag

[2019-02-10 10:05] iamareebjamal commented on #1072
Using activity == using context

[2019-02-10 10:12] AnEnigmaticBug commented on #1072
But there won't be a direct dependency on any Android class since the location will be obtained through an interface. Also, using the application's `Context` allows us to avoid passing in `Activity?` as a parameter through the configure method since we can use dependency injection to directly inject the interface's implementation.

[2019-02-10 10:15] iamareebjamal commented on #1072
OK. But using application context will still make t untestable. In fact using Location Service will also make it untestable. But go ahead

[2019-02-10 10:22] AnEnigmaticBug commented on #1072
I'll not pass the application `Context` to the `ViewModel`. I'll make an interface(say `LocationService`) which exposes a method to obtain the administrative area. It's implementation will use the `Context`. But since the `GeoLocationViewModel` uses only the interface, it'll make it testable. Only the implementation of the interface will be untestable.

I apologize since I'm not able to explain wh

[2019-02-10 10:31] pranavpandey1998official commented on #1071
k. I am going to use these https://creditcardjs.com/credit-card-type-detection

[2019-02-10 10:35] liveHarshit commented on #1071
@iamareebjamal Please confirm.

[2019-02-10 11:06] AnEnigmaticBug opened #1073 "feat: refactor the two ViewModels in the welcome screen into one ViewModel"
**Describe the feature you'd like**
Currently, there are two `ViewModel`s being used in the welcome screen(the `GeoLocationViewModel` and the `SearchLocationViewModel`).

In MVVM, each View is associated with only one `ViewModel`. The `ViewModel`'s task is to simply expose the properties which the View can bind to and persist during configuration changes. If there are two distinct functionalities(

[2019-02-10 11:35] iamareebjamal commented on #1072
This is great and correct approach. Thanks

[2019-02-10 14:43] iamareebjamal commented on #1071
Go ahead

[2019-02-10 14:44] #1069 closed

[2019-02-10 18:59] #256 closed

[2019-02-11 05:40] AnEnigmaticBug opened #1075 "feat: make bottom nav icons more consistent"
**Describe the feature you'd like**
Right now, the icons in the bottom bar are a mix of filled and outlined icons. While it looks good enough right now, it can be made consistent and even better.

All bottom nav icons should be outlined.

**Screenshots**
Current icons:
![bottom_nav_icons_current](https://user-images.githubusercontent.com/37890870/52547425-9877d500-2ded-11e9-9a1d-eb861ba81f06.png)

[2019-02-11 06:43] AnEnigmaticBug opened #1077 "chore: rename icons with px suffix to have dp suffix"
**Describe the chore**
Some icons(for example: `ic_baseline_favorite_white_24px.xml`) have a px suffix in their name. This is because when they were exported from [material.io](https://material.io/tools/icons/)'s icons page, they had that suffix.

Technically, they're not px but dp. Also, most of the other icons have dp as their suffix.

Changing their name will make it more explicit that they're

[2019-02-11 08:45] angmas1 commented on #995
Can I work on this?

[2019-02-11 12:53] AnEnigmaticBug commented on #1075
@liveHarshit can you please tell me where can I improve this idea? What do you find lacking in it?

[2019-02-11 12:53] liveHarshit opened #1078 "Open saved state for events"
**Describe the feature you'd like**
Open saved state for events while navigating using navigation drawer.

**Would you like to work on the issue?**

- Other: Open for all

[2019-02-11 12:56] #1072 closed

[2019-02-11 13:02] AnEnigmaticBug commented on #1078
@liveHarshit can you please elaborate this a bit more?

[2019-02-11 13:04] liveHarshit commented on #1078
While navigation to other section (from bottom navigation) from events fragment, after returning back, events are loading again. It should not happen.

[2019-02-11 13:16] AnEnigmaticBug commented on #1078
Can I work on this?

[2019-02-11 13:17] liveHarshit commented on #1078
Please, go ahead.

[2019-02-11 13:19] AnEnigmaticBug commented on #1078
Ok. Thank you :)

[2019-02-11 15:29] #1075 closed

[2019-02-11 15:44] iamareebjamal commented on #1077
Remove the suffix completely. They are vector icons, hence there is no need of the suffix

[2019-02-11 18:21] AnEnigmaticBug opened #1079 "feat: change bottom navigation bar's inactive title color to grey"
**Describe the feature you'd like**
Currently, the bottom navigation bar's titles are all purple whether their tab is active or not. Usually only the title of the active tab is of a different color.

We should change to title color of inactive tabs to grey(same as the color of inactive icons) and leave the color of active tab's title unchanged.

**Screenshots**
current bottom navigation bars:
![ma

[2019-02-11 18:22] AnEnigmaticBug commented on #1077
I just have one concern. When we import icons from Android Studio's built-in Asset-Studio, it names the icons in the format `ic_<name>_xxdp.xml`. If we remove the suffix, we'll be using names which are different from Android Studio's default names.

[2019-02-11 18:50] #1064 closed

[2019-02-11 20:49] iamareebjamal commented on #1077
No problem. Android recommends using Hungarian notation as well, we don't

[2019-02-11 20:49] #1079 closed

[2019-02-12 01:14] AnEnigmaticBug commented on #1077
Ok. Just confirming: I have to rename `ic_<name>_xxdp.xml` and `ic_<name>_xxdp.xml` to `ic_<name>_xx.xml`

[2019-02-12 05:18] AnEnigmaticBug opened #1082 "chore: make different Koin modules for different flavors(fdroid and playstore)"
**Describe the chore**
Right now, we're using just a single set of Koin modules.

While it works, we've to do some slightly hacky things. Some examples:
1. Even though the fdroid flavor doesn't have any location services, the `GeoLocationViewModel` class is there in the code.
2. `GeoLocationViewModel` is used in the `WelcomeFragment` in fdroid flavor. But the methods don't do anything. It doesn't

[2019-02-12 08:38] iamareebjamal commented on #1082
Then we'll have to split some other fragment/component

[2019-02-12 08:40] iamareebjamal commented on #1077
No, just ic_<name>.xml

[2019-02-12 08:48] #1073 closed

[2019-02-12 09:11] liveHarshit commented on #992
@AnEnigmaticBug

[2019-02-12 11:05] AnEnigmaticBug commented on #992
Ok

[2019-02-12 11:33] AnEnigmaticBug commented on #1082
I fully agree that we should avoid splitting whenever possible. We should only do it for a few screens to minimize any duplication. I just mean that if we set up different sets of modules, it gives us a greater flexibility in choosing which components to split.

Currently only welcome and search location screen differ between the two flavors.

Taking the welcome screen as an example, if we split j

[2019-02-12 11:36] AnEnigmaticBug commented on #992
I'll push my code soon

[2019-02-12 11:39] iamareebjamal commented on #1082
How much increase will be there in code?

[2019-02-12 11:58] angmas1 commented on #872
Are you still working on this?

[2019-02-12 12:01] angmas1 commented on #873
Are you still working on this (or the pull request)?

[2019-02-12 12:04] angmas1 commented on #922
Why is this issue still open? This issue was resolved by the recent pull request. It wasn't exiting because an invisible keyboard was open.

[2019-02-12 12:10] angmas1 commented on #930
Are you still working on this?

[2019-02-12 12:11] angmas1 commented on #889
Can I work on this?

[2019-02-12 13:24] liveHarshit commented on #922
@angmas1 You should mention Fixes for this issue in PR.

[2019-02-12 13:41] rob729 commented on #930
No.
@angmas1 you can work on this.

[2019-02-12 16:51] angmas1 commented on #922
I did mention, but not in correct format, so it didn't close. I am sorry.

[2019-02-12 17:26] angmas1 commented on #930
Thanks 👍

[2019-02-12 19:35] #922 closed

[2019-02-13 02:48] AnEnigmaticBug commented on #1077
Ok

[2019-02-13 03:08] AnEnigmaticBug commented on #1082
If we use one `ViewModel` per screen for the welcome and search location screens and make different `Koin` modules:
* We'll have two more `Fragments`(for welcome and search location screens in fdroid). Those `Fragments`'s code will be much simpler and smaller because they don't have to perform location based work. The `WelcomeFragment`'s only job will be to navigate to `SearchLocationFragment` on

[2019-02-13 05:01] iamareebjamal commented on #1082
Go ahead

[2019-02-13 07:37] AnEnigmaticBug commented on #1082
Thank you for trusting me on this. I won't be able to work on this before 1-2 days. I've some urgent issues.

[2019-02-13 10:06] angmas1 opened #1088 "Multiple listeners getting created."
**Describe the bug**
Code for listener to loadevents is written in oncreateview. Thus, multiple listeners are getting created when we go from one fragment to another and then come back.

**To Reproduce**
Steps to reproduce the behavior:
1. Log when listeners are setup.(eg in eventdetailsfragment log in loadevents)
2. Click on something which takes to another fragement (eg tickets)
3. Press back.
4

[2019-02-13 10:45] iamareebjamal opened #1089 "Remove magic number"
https://github.com/fossasia/open-event-android/blob/4afa13b0b6b3d75c0b89401c5d5877acbdd109f8/app/src/playStore/java/org/fossasia/openevent/general/search/LocationServiceImpl.kt#L64

[2019-02-13 12:57] angmas1 opened #1090 "Event host details (i.e socialLinks) not showing."
**Describe the bug**
Social Links in event host details not showing up.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to any event which has social links
2. Links won't be visible under Event host details under Organizer.

**Expected behavior**
Social Links should be visible.

**Logs**
Shows that event organizer had social links:

2019-02-13 18:19:21.116 20334-20334/com.eventyay.attende

[2019-02-13 13:21] yashk2000 commented on #1089
@iamareebjamal I would like to work on this issue. Could you please guide me by telling me if the magic number to be removed is the `2` in this line `val addresses = geocoder.getFromLocation(latitude, longitude, 2)` ?

[2019-02-13 15:36] angmas1 opened #1092 "Pressing back button when order completed takes back to attendee fragment."
**Describe the bug**
In ordercompletedfragment, pressing back(not the one in top bar) gets us back to attendeedetailsfragment.

**To Reproduce**
1. Create a ticket.
2. Press back when order completed.
3. You will be sent back to attendeedetailsfragment.

**Expected behavior**
The user should be sent back to eventdetailfragment of the event on which he previously was as is done when back button in

[2019-02-13 18:22] angmas1 opened #1095 "ShimmerEvents not showing."
**Describe the bug**
ShimmerEvents not showing when changing search location from eventsfragment.

**To Reproduce**
Change location from events screen.

**Expected behavior**
ShimmerEvents should show up whenever loading events.

**Screenshots**
![ezgif com-video-to-gif](https://user-images.githubusercontent.com/37517284/52734094-5b2c6680-2fea-11e9-9f55-6d9679e71aaa.gif)

**Would you like to work

[2019-02-13 18:32] alphamuth opened #1096 "None of contact links is working"
**Describe the bug**
The contact links provided in the User Profile section should work by clicking on logo, but it is not working.
**To Reproduce**
By providing links to various social sites.
1. On login to the application.
2. clicking on side menu bar (3 dash lines)
3. Clicking on profile photo
4. Scroll to the Contact section , by clicking on facebook logo,twitter logo, github logo , etc , the

[2019-02-13 19:46] pranavpandey1998official opened #1097 "Selected Items of Ticket Fragment do not retain on screen rotation"
**Describe the bug**

Selected Items of Ticket Fragment do not retain on screen rotation

|               | |
|---------------|-|
|Device         |Redmi Note 4|
|Android Version|7.0    |

**Would you like to work on the issue?**

- [x] Yes
- [ ] No
- Other:

[2019-02-14 04:02] AnEnigmaticBug commented on #1089
Try referring [this](https://developer.android.com/reference/android/location/Geocoder#getFromLocation(double,%20double,%20int))

[2019-02-14 04:11] liveHarshit commented on #993
@AnEnigmaticBug Can you confirm if this issue is still there?

[2019-02-14 04:12] liveHarshit commented on #993
Because explicit intents are removed.

[2019-02-14 05:12] AnEnigmaticBug commented on #1077
@iamareebjamal what if someone has two sizes of the same icon? Like a miniature version(24dp) and a bigger version(40dp).

Since VectorDrawables have an intrinsic size(as android:width and android:height attributes in their drawable xml file), we would need to keep both of them. But if we remove the size suffix completely, then we would not be able to distinguish between them.

[2019-02-14 07:15] #992 closed

[2019-02-14 10:30] iamareebjamal commented on #1077
No suffix means 24dp, if we need other non-default height, we'll add the suffix. However it won't be needed as we can change the width/height of the element itself if need be. There is no need to keep vector icons of different sizes if they are the ame

[2019-02-14 10:53] AnEnigmaticBug commented on #1077
Ok. I'll make the changes and push them soon

[2019-02-14 11:57] yashk2000 commented on #1089
@AnEnigmaticBug I have already gone through the documentation of Geocoder. I could not find any reference to a magic number in the documentation. Could you please tell me if I missed something?

[2019-02-14 12:00] iamareebjamal commented on #1089
https://en.wikipedia.org/wiki/Magic_number_%28programming%29

[2019-02-14 12:03] yashk2000 commented on #1089
Thank you @iamareebjamal. I know what to do now.

[2019-02-14 12:06] #1077 closed

[2019-02-14 14:25] #1089 closed

[2019-02-14 18:31] imrrahul opened #1104 "change profile picture"
**Describe the feature you'd like**
There is no any option provided to change the profile picture in the application.But there should be some button to change the profile picture this will make the application more attractive.

**Would you like to work on the issue?**

- [x] Yes
- [ ] No
- Other:

[2019-02-14 19:13] #1090 closed

[2019-02-14 19:47] shiv07tiwari commented on #1104
Will be done in https://github.com/fossasia/open-event-android/issues/1017

[2019-02-14 19:49] shiv07tiwari commented on #1055
I agree with @AnEnigmaticBug . Can I work on this or someone is already working ?

[2019-02-14 19:56] shiv07tiwari commented on #927
@Cool-fire You still working on this ?

[2019-02-15 02:54] Cool-fire commented on #927
@shiv07tiwari you can work on this.

[2019-02-15 11:01] imrrahul commented on #1104
@shiv07tiwari go ahead ..... thanks

[2019-02-15 11:01] #1104 closed

[2019-02-16 00:29] somenath1435 opened #1112 "Grammatical mistake in README.md"
**Describe the chore**
There is a grammatical error in README.md , which I've fixed.

**Would you like to work on the issue?**
yes

[2019-02-16 01:01] somenath1435 opened #1113 "Improvement in Welcome Screen"
**Describe the chore**
The image size and text size is increased

**Would you like to work on the issue?**
- [x] Yes

[2019-02-16 02:52] #1082 closed

[2019-02-16 02:54] #1112 closed

[2019-02-16 04:38] #926 closed

[2019-02-16 14:18] angmas1 commented on #535
Is anyone working on this?

[2019-02-16 17:09] #1113 closed

[2019-02-16 17:10] #995 closed

[2019-02-16 17:10] #1045 closed

[2019-02-17 06:29] angmas1 commented on #930
@liveHarshit I can do one of three things in this case:
1. Clear all tickets from adapter and reload when coming back from ticket details.
2. Not load tickets at all after coming back from ticket details.
3. Load tickets without progressBar when coming back from ticket details.

Which one should I do?

[2019-02-17 08:38] #1031 closed

[2019-02-17 15:27] #930 closed

[2019-02-17 20:59] #1088 closed

[2019-02-18 09:22] shiv07tiwari commented on #857
@pranavpandey1998official Can I take up this issue please ?

[2019-02-18 09:25] shiv07tiwari commented on #993
@liveHarshit Is this bug still in our app ? I would like to fix this.

[2019-02-18 09:43] liveHarshit commented on #993
@shiv07tiwari

[2019-02-18 15:07] shiv07tiwari commented on #993
@liveHarshit I cannot find use my location button in the app. Is it disabled or something ?

[2019-02-18 15:13] #1024 closed

[2019-02-18 15:14] #956 closed

[2019-02-18 15:15] #1092 closed

[2019-02-18 15:15] #927 closed

[2019-02-18 16:23] liveHarshit commented on #993
Change build variant to play store.

[2019-02-18 21:08] somenath1435 opened #1119 "Add Margin in order completed page"
**Describe the chore**
There is currently no margin between "order completed" and "order name"
Add margin to improve the UI

**Would you like to work on the issue?**

- [x] Yes

[2019-02-18 21:25] somenath1435 opened #1122 "Improve UI in fragment_favorite"
**Describe the chore**
The current textsize is too small.
UI can be improved.

**Would you like to work on the issue?**

- [x] Yes

[2019-02-19 06:06] AnEnigmaticBug opened #1124 "fix: Fix the welcome screen's portrait layout"
**Describe the bug**
The "Use my current location" button's icon is too big which spoils the layout.

**To Reproduce**
1. Clear the app data(if not using a fresh install).
2. The welcome screen should show up with the issue.

**Expected behavior**
The icon should be much smaller like it was before.

**Screenshots**
![welcome_screen_current](https://user-images.githubusercontent.com/37890870/529934

[2019-02-19 06:18] AnEnigmaticBug commented on #993
I can't reproduce this issue on my device.

[2019-02-19 06:19] AnEnigmaticBug commented on #993
@shiv07tiwari Have you pulled-in the latest code?

[2019-02-19 06:25] liveHarshit commented on #993
This issue should close now. RESOLVED.

[2019-02-19 07:21] AnEnigmaticBug opened #1126 "chore: Refactor the two ViewModels in search location screen into one ViewModel"
**Describe the chore**
Currently, the search location screen uses two `ViewModel`s: the `GeoLocationViewModel` and the `SearchLocationViewModel`.

Since the logic for geo-location has already been moved into a separate unit(`LocationServiceImpl`), we can completely remove the `GeoLocationViewModel` from the project and use `LocationServiceImpl` in `SearchLocationViewModel`.

Having two separate `V

[2019-02-19 08:35] AnEnigmaticBug opened #1127 "bug: Rotating the screen causes the last shown snackbar to be shown again"
**Describe the bug**
When any configuration change occurs(like rotating the device), the last shown `SnackBar` is shown again.

This is problematic. Consider the following scenario: Say it was displayed because of bad internet connection. The user moves to a location with better internet connectivity and rotates the device. The same `SnackBar` will be displayed again despite the issue having being

[2019-02-19 09:30] #1124 closed

[2019-02-19 12:28] shiv07tiwari opened #1129 "Confirmation dialog box in logout from Attendee Details"
**Describe the feature you'd like**
A confirmation dialog should be present in SignOut

**Would you like to work on the issue?**
- [x] Yes
- [ ] No

[2019-02-19 14:37] #993 closed

[2019-02-20 10:02] shiv07tiwari opened #1131 "Progress bar is visible instead of no internet dialog in attendee details"
**Describe the bug**
When internet is off while selecting tickets, then the attendee details screen shows a progress bar instead of no internet dialog.

**To Reproduce**
Select tickets -> Register

**Expected behavior**
It should show no internet available

- [x] Yes

[2019-02-20 10:12] shiv07tiwari commented on #1131
![videotogif_2019 02 20_15 28 11](https://user-images.githubusercontent.com/38163725/53083975-e98e7400-3525-11e9-8f58-e0c83d68d870.gif)

[2019-02-20 11:11] shiv07tiwari opened #1132 "Extra useless space in Event Details"
**Describe the bug**
Their is a huge extra space in Event Details page
**To Reproduce**
Event List -> Select a event

**Expected behavior**
No useless space should be present
**Actual Behaviour**
Space is present
**Would you like to work on the issue?**
- [x] Yes

[2019-02-20 11:12] shiv07tiwari commented on #1132
![screenshot_2019-02-20-16-01-05-962_com eventyay attendee](https://user-images.githubusercontent.com/38163725/53087971-72111280-352e-11e9-946b-fdbb3bca412f.png)

[2019-02-20 11:15] shiv07tiwari commented on #799
@iamareebjamal @aggarwalpulkit596 I think this is a good feature. Can I take up this one ?

[2019-02-20 13:37] anhanh11001 opened #1133 "Adding notify dialog to edit user profile fragment"
**Describe the feature you'd like**

A dialog notifies users when they are editing and then click back button to see if they want to discard or save changes.

**Screenshots**

![Demo of the dialog](https://i.ibb.co/CWrrFt6/52859690-790203161360167-6168867299680845824-n.png)
![User Profile Edit View](https://i.ibb.co/3Fs8yk8/52784456-690693141346161-3269208692012089344-n.png)

**Would you like to w

[2019-02-20 13:41] angmas1 commented on #1132
No, that's where map is to be displayed. It's problem regarding some key. There already an issue open for that.

[2019-02-20 13:42] angmas1 commented on #1131
There is already an issue and a pull request that solves this issue.

[2019-02-20 13:48] shiv07tiwari commented on #1131
@angmas1 Can you please tell me which one?

[2019-02-20 13:59] angmas1 commented on #1131
https://github.com/fossasia/open-event-android/pull/1116

[2019-02-20 15:13] AnEnigmaticBug opened #1135 "feat: Make ImageView aspect ratios the same as the source images"
**Describe the feature you'd like**
The `ImageView`s used for displaying event logos in events screen, event details screen etc have a different aspect ratio(ratio depends on the device size) than the image they display(which is in the ratio 2:1).

This makes the images display in a sub-optimal way with the content near their edges being not visible.

The ratios should match so that this issue doe

[2019-02-20 15:21] AnEnigmaticBug commented on #1135
@iamareebjamal @liveHarshit. I need your permission for doing this. This change will require converting the given layouts to `ConstraintLayout`.

The benefits of `ConstraintLayout` include:
1. Ability to set ratios on `View`s(the primary reason here).
2. Faster due to less/no nesting of `View`s.
3. Most of the new development is done in `ConstraintLayout`.
4. Faster/easier to make layouts once one

[2019-02-20 15:53] #690 closed

[2019-02-20 15:56] iamareebjamal commented on #1135
Go ahead. But refrain from converting simple linear layouts to constraint layout

[2019-02-20 15:56] #1131 closed

[2019-02-20 18:30] anhanh11001 opened #1137 ""See more" disappears when click back button from bottom navigation bar"
**Describe the bug**

In the Event Details, when clicking on "See more" to check out the About information and then click back button in the bottom navigation bar, the "See more" word disappear

**Expected behavior**
"See more" button stays the same

**Screenshots**

<img src="https://i.ibb.co/9vTDhCf/video-1550686188.gif" width="200"  />

**Smartphone Info:**

|               | |
|---------------

[2019-02-20 18:57] #1133 closed

[2019-02-20 19:11] #1129 closed

[2019-02-20 21:05] iamareebjamal opened #1138 "Add stetho to app"
**Describe the chore**
Add stetho to the app for remote introspection

**Would you like to work on the issue?**

- [ ] Yes
- [x] No
- Other:

[2019-02-20 21:06] iamareebjamal opened #1139 "Bottom Navigation issues"
- [ ] Each time I go to events section, it is reloading
- [ ] Each time I go to Tickets section, it is reloading

This should not happen

[2019-02-21 03:47] shiv07tiwari commented on #1138
@iamareebjamal Can I add this feature ?

[2019-02-21 04:01] liveHarshit commented on #1139
Issue #1078 for events section.

[2019-02-21 04:22] AnEnigmaticBug commented on #1135
I'll keep this in mind.

[2019-02-21 10:16] anhanh11001 opened #1141 "Adding empty view for EventsFragment"
**Describe the feature you'd like**

Adding an empty view indicating that there are no events available in the EventsFragment

**Screenshot**
<img src="https://i.ibb.co/cY1MtGT/52427976-329193434382671-8708709382835142656-n.png" width="200"  />

**Would you like to work on the issue?**

<b>Yes</b>

[2019-02-21 11:38] angmas1 opened #1142 "App crashes on API 19 Kitkat"
**Describe the bug**
App crashes on kitkat API 19.

**To Reproduce**
1. Open app on kitkat.
2. Crashes.

**Expected behavior**
App shouldn't crash.

**Logs**
02-21 17:05:47.110 3875-3875/com.eventyay.attendee E/dalvikvm: Could not find class 'androidx.core.view.ViewCompat$2', referenced from method androidx.core.view.ViewCompat.addOnUnhandledKeyEventListener
02-21 17:05:47.110 3875-3875/com.eventy

[2019-02-21 12:34] iamareebjamal commented on #1078
@AnEnigmaticBug Please take this up on priority

[2019-02-21 12:46] #1135 closed

[2019-02-21 15:04] AnEnigmaticBug opened #1144 "chore: Use sampledata for image placeholders instead of res"
**Describe the chore**
Right now, `placeholder.jpg` is used as a placeholder for an event image. It is currently placed in `res/drawable` directory.

The issue is that:
* it may be getting included in the app's apk(I'm not sure whether unused resources are stripped at build)
* sampledata's purpose is just this thing. It makes things clearer and prevents usage(by mistake) of the `placeholder.jpg` i

[2019-02-21 17:22] angmas1 commented on #287
Can I work on this?

[2019-02-21 17:22] angmas1 commented on #255
Can I work on this?

[2019-02-21 17:30] angmas1 commented on #594
Are you @kshitijsuri90 still working on this?

[2019-02-21 17:31] angmas1 commented on #652
Is anyone working on this? If not can I take up this issue?

[2019-02-21 18:25] angmas1 commented on #1033
Are you still working on this?

[2019-02-21 18:33] angmas1 commented on #1096
Not able to reproduce this issue. Can you please elaborate.

[2019-02-21 18:36] angmas1 commented on #1132
@iamareebjamal, please update google maps API key.

[2019-02-21 18:37] angmas1 commented on #1139
Can I work on this?

[2019-02-21 19:13] iamareebjamal commented on #1132
Now, Google Maps needs billing enabled for the project. I haven't received word from managers about getting an API key. Can we think of other services which provide static maps?

[2019-02-21 19:14] angmas1 commented on #1132
Okay working on it.

[2019-02-22 06:45] AnEnigmaticBug commented on #1078
Ok @iamareebjamal

[2019-02-22 06:58] AnEnigmaticBug commented on #1078
I need to discuss what caching strategy should I use for this. I've the following strategies in mind:

* Always use the database. Get new data only if either:
    1. No data exists.
    2. User has pulled to refresh.

* Always use the database but send a request in background every time it is accessed.

* Keep a singleton which holds whether the events data has been retrieved in this session or no

[2019-02-22 07:13] AnEnigmaticBug commented on #1078
I'll begin working on this ASAP once I get to know which one of these strategies is preferred by you.

[2019-02-22 08:45] liveHarshit commented on #1078
@AnEnigmaticBug What if we load fragment from the back stack?

[2019-02-22 09:45] AnEnigmaticBug commented on #1078
@liveHarshit that came to my mind too. But I've a (possibly misplaced) concern regarding that solution. If we solve this problem using back stack:
1. We may have to 'fight' with the default way Navigation component works which will make it difficult to follow the code and increase chances of future errors.
2. This problem is not isolated to the events screen. As referenced by #1139 , it also occur

[2019-02-22 10:15] AnEnigmaticBug commented on #1033
No. You may go ahead with this issue :+1:

[2019-02-22 10:50] angmas1 opened #1149 "Use my current location not showing up."
**Describe the bug**

Use my current location not showing up. Even my I make it show, clicking on it doesn't get my location entered. Also tried making it work by implicitly giving app access to location in manifest, but even that didn't work.

**To Reproduce**

1. Go to searchlocationfragment.
2. Use my current location won't show up.

**Expected behavior**
Use my current location should show up

[2019-02-22 11:03] anhanh11001 opened #1150 "After coming back from result detail, search result come back to the top, not current position"
**Describe the bug**
When users try click on a search result and then click back button, the search result doesn't stay at the same position but get to the top

** Images & Gif **
Gif link: https://i.ibb.co/Qmb3Cwv/video-1550686001.gif (file too large, cannot upload to issue)

**Smartphone Info:**

|               | |
|---------------|-|
|Device         | Nokia 7 Plus|
|Android Version| Android 9

[2019-02-22 11:30] liveHarshit commented on #1149
Change build variant to play store to use location feature. It is not an issue.

[2019-02-22 11:30] angmas1 commented on #1149
Okay closing

[2019-02-22 11:31] #1149 closed

[2019-02-22 18:41] #255 closed

[2019-02-23 00:53] AnEnigmaticBug commented on #1078
@iamareebjamal which caching strategy do you prefer?

[2019-02-23 07:02] iamareebjamal commented on #1078
I don't think that there needs to be such a contrived strategy for this simple task, bottom nav view should have several fragments open simultaneously

When navigating across the nav view, the fragments should remain in memory and not be replaced, and hence, onCreateView should not be called on each navigation

This is a standard behaviour of bottom nav view naive implementation without any hacks

[2019-02-23 07:07] #866 closed

[2019-02-23 07:55] AnEnigmaticBug commented on #1078
@iamareebjamal [The documentation](https://developer.android.com/reference/androidx/navigation/ui/NavigationUI.html#onNavDestinationSelected(android.view.MenuItem,%20androidx.navigation.NavController)) suggests that the default behavior is to pop the back stack till the start destination and then navigate to the destination with `launchSingleTop` flag enabled. So, except the startDestination(`Even

[2019-02-23 08:04] anhanh11001 opened #1155 "Landscape mode for order"
**Describe the feature you'd like**
Landscape mode for tickets

**Screenshots**
<img src="https://i.ibb.co/5kJFs6y/52592491-786583288391512-4360223955353600000-n.png" height="200">

**Would you like to work on the issue?**

Yes

[2019-02-23 10:52] iamareebjamal commented on #1078
Not good then. Can you think of an alternative way we can retain the standard behaviour?

[2019-02-23 10:55] #1155 closed

[2019-02-23 13:34] AnEnigmaticBug commented on #1078
Just to avoid any confusion, can you tell me what you mean by standard behavior?

[2019-02-23 15:29] AnEnigmaticBug commented on #1078
IMO there are 3 issues with keeping them in memory:

1. If we keep all `Fragment`s in memory, we'll not only be keeping their associated `ViewModel`s, but also their associated `Services` in memory. This can potentially increase the memory usage of our app.

2. At some point we need to remove the `Fragment`s from the back-stack. Suppose that the `EventsFragment` is on the back-stack and we've open

[2019-02-23 15:50] iamareebjamal commented on #1078
All these problems are much deeper and separate issues. The current problem is just this -> all fragments in the bottom nav should not be replaced, recreated or removed on navigation. Just as they remain in a normal bottom nav view.

Login and Profile are different. But other fragments should behave un-weirdly

[2019-02-23 15:52] iamareebjamal commented on #1078
About first point, yes all the fragments in bottom nav will be in flat hierarchy, meaning they are expected by the user to be in memory all times, so it's no problem that they will keep using memory

For reference to what I want, please take a look at Twitter bottom navigation

[2019-02-23 18:42] liveHarshit opened #1159 "Images are missing"
**Describe the bug**
Images are missing from events and event detail section.

<p align="center">
<img src="https://user-images.githubusercontent.com/27783786/53290349-ac95dc00-37c8-11e9-8d9b-b8ebfc04c07d.png" height = "480" width="270">
<img src="https://user-images.githubusercontent.com/27783786/53290350-ac95dc00-37c8-11e9-82d3-883189d9dee6.png" height = "480" width="270">
</p>

**Would you like

[2019-02-23 18:49] liveHarshit opened #1160 "Action bar remain same after returning back"
**Describe the bug**
The title is missing from events fragment and search results fragment after returning back.

<p align="center">
<img src="https://user-images.githubusercontent.com/27783786/53290419-a0f6e500-37c9-11e9-9e07-7d9365437212.png" height = "480" width="270">
</p>

[2019-02-23 18:49] liveHarshit opened #1161 "Action bar and text box are missing from events fragment"
**Describe the bug**
After redirecting from the welcome fragment, action bar and text box are missing.

<p align="center">
<img src="https://user-images.githubusercontent.com/27783786/53290421-a9e7b680-37c9-11e9-8db9-fcaaff3f7763.png" height = "480" width="270">
</p>

[2019-02-23 18:51] liveHarshit commented on #1160
@anhanh11001 This issue and #1161 are due to changes done in PR #1150. Please find another way to solve that issue and revert the changes.

[2019-02-23 18:53] liveHarshit opened #1162 "Location is not updating"
**Describe the bug**
Location is not updating after selecting it from events fragment.

**To Reproduce**
Select or enter a location from search events from events fragment.

**Would you like to work on the issue?**

- [x] Yes

[2019-02-23 18:55] liveHarshit opened #1163 "Continue from ticket detail after authentication"
**Describe the bug**
After authentication from ticket fragment, event fragment is open.

**Would you like to work on the issue?**

- [x] Yes

[2019-02-23 18:56] liveHarshit opened #1164 "Store credentials after signup"
**Describe the feature you'd like**
Store user credentials with Google smart lock after signup.

**Would you like to work on the issue?**

- [x] Yes

[2019-02-23 19:30] #1161 closed

[2019-02-23 19:30] #1160 closed

[2019-02-23 19:32] #190 closed

[2019-02-23 19:36] #1035 closed

[2019-02-23 21:13] somenath1435 opened #1166 "Closing Bracket Missing in Readme"
**Describe the chore**
There is a grammatical error in Readme.
The Closing bracket is missing.

**Would you like to work on the issue?**
- [x] Yes

[2019-02-23 21:22] somenath1435 opened #1168 "Write Proper Branch Name in Readme"
**Describe the chore**
The branch name written is 'dev' instead of 'development'.
Change the branch name in Readme.

**Would you like to work on the issue?**
- [x] Yes

[2019-02-23 22:05] somenath1435 opened #1170 "Change in welcome page"
**Describe the chore**
The text "Where do you go out" is misaligned and looks awkward.

**Would you like to work on the issue?**
- [x] Yes

[2019-02-23 22:18] somenath1435 opened #1172 "UI Improvement in Events Page"
**Describe the chore**
The Location should have textcolor relevant to app theme.
It should have primary color.

**Would you like to work on the issue?**
- [x] Yes

[2019-02-23 22:58] somenath1435 opened #1174 "Add Retry Button"
**Describe the chore**
Add retry button instead of plain textview when no internet connection is detected.

**Would you like to work on the issue?**
- [x] Yes

[2019-02-24 04:25] AnEnigmaticBug commented on #1078
I see. Please correct me if I'm wrong, what I think is that you want multiple back-stacks: one back-stack for each tab.

Implementing this will be difficult. Ian Lake(one of the creators of the navigation component), himself said that he could only try to implement it in the navigation component in future. If we go that route, then we'll have to write a lot of custom code.

IMHO trying to go that

[2019-02-24 06:56] iamareebjamal commented on #1078
They're not using any library. The behaviour I am mentioning happens by default. If you want, I can create a sample APK with this behaviour with custom multi back stack handling logic using only appcompat and nothing else

[2019-02-24 07:02] iamareebjamal commented on #1172
Please make changes after discussing with maintainers. These changes aren't necessary

[2019-02-24 07:03] #1170 closed

[2019-02-24 07:03] iamareebjamal commented on #1168
Duplicate of #1166

[2019-02-24 07:03] #1168 closed

[2019-02-24 07:04] iamareebjamal commented on #1166
Solve all doc related issues in one PR

[2019-02-24 07:46] #1172 closed

[2019-02-24 07:50] liveHarshit commented on #1078
I agree with that. Hare problem is with navigation architecture component. It loads fragment from the back stack when we navigate to some fragment with navController and go back. But here the case is different. For bottom navigation, we set up the navigation menu with the navController and start destination is event fragment. So, no fragment goes into back stack if we navigate using the bottom nav

[2019-02-24 08:11] liveHarshit commented on #1162
Solved with PR #1165

[2019-02-24 08:17] AnEnigmaticBug commented on #1078
I get your point. I'm thinking of going with the StackOverflow answer given [here](https://stackoverflow.com/questions/51707889/android-jetpack-navigation-with-multiple-stack/52146506). What do you say about this approach @iamareebjamal @liveHarshit?

[2019-02-24 08:29] #1162 closed

[2019-02-24 08:30] #1163 closed

[2019-02-24 08:31] liveHarshit opened #1178 "Displaying invalid email incorrectly"
**Describe the bug**
Displaying invalid email on entering a valid email address.

<img src="https://user-images.githubusercontent.com/27783786/53296993-9590d180-383c-11e9-8ed5-828e9d40439b.png" height = "480" width="270">

**Would you like to work on the issue?**

- open for all

[2019-02-24 08:38] liveHarshit commented on #1078
Try it if works fine.

[2019-02-24 16:36] #1166 closed

[2019-02-24 18:04] angmas1 commented on #1178
Can I work on this?

[2019-02-24 18:12] angmas1 commented on #1159
Can I work on this?

[2019-02-25 05:54] anhanh11001 commented on #1160
@liveHarshit I will investigate this

[2019-02-25 07:20] angmas1 commented on #1178
@liveHarshit this is happening when using https://api.eventyay.com/v1/ and not on https://open-event-api-dev.herokuapp.com/v1/ I believe 1st api isn't fully working. Correct me if I am wrong. Moreover, it's a server side bug because server must be returning HTTP 422

<blockquote><div><strong><a href="https://api.eventyay.com/v1/">404 Not Found</a></strong></div></blockquote>
<blockquote><div><stro

[2019-02-25 08:20] liveHarshit commented on #1159
Go ahead.

[2019-02-25 08:20] liveHarshit commented on #1178
@iamareebjamal Is there any issue with the server?

[2019-02-25 15:50] iamareebjamal commented on #1178
@CosmicCoder96 Can you please check?

[2019-02-25 16:31] #1141 closed

[2019-02-25 18:52] #963 closed

[2019-02-26 13:52] angmas1 opened #1185 "Similar events layout text overwriting and different heights."
**Describe the bug**
SimilarEvents recyclerview show cards of different heights and also, sometimes text gets overwritten.

**To Reproduce**
1. Open any event whose similarEvents have long titles.

**Expected behavior**

All cardviews should be of same height and there should be no over-writing.

**Screenshots**

![image](https://user-images.githubusercontent.com/37517284/53417533-d08d3380-39fb-11

[2019-02-26 15:14] #1137 closed

[2019-02-26 15:14] #594 closed

[2019-02-26 18:00] anhanh11001 opened #1186 "Every time rotating screen, another layer of SimilarEvents created"
**Describe the bug**
Every time I rotate the screen on EventDetailsFragment, a new layout of SimilarEvents in the frame at the end is created

**Screenshots**
<img src="https://i.ibb.co/4T3TqK5/52883893-381103326043658-554121106978504704-n.png" width="200"/>

**Would you like to work on the issue?**
Yes

[2019-02-26 18:30] anhanh11001 opened #1188 "Data Retention on EditProfile when rotating device"
**Describe the bug**
In EditProfileFragment, changes on EditText is not retained when rotating

**Screenshots**
Before rotating:
<img src="https://i.ibb.co/cQnLRfD/53236090-2049408312019300-5795650125015547904-n.png" width="200">

After rotating:
<img src="https://i.ibb.co/B3fKjTz/53243756-1980554782251010-3356934751947587584-n.png" height="200">

**Would you like to work on the issue?**
Yes

[2019-02-26 18:33] #1186 closed

[2019-02-26 19:30] #756 closed

[2019-02-26 19:30] #1132 closed

[2019-02-27 06:19] ShridharGoel commented on #1138
@shiv07tiwari Are you still working on this?

[2019-02-27 07:56] shiv07tiwari commented on #1138
Yes

[2019-02-27 11:06] anhanh11001 opened #1191 "Data Loss on Rotating Screen"
**Describe the bug**
In TicketsFragment, changes on Spinner is not retained when rotating

**Screenshots**
Before rotating:
<img src="https://i.ibb.co/k3ywRmb/52935412-2078389328921258-6291597484812664832-n.png" width="200">

After rotating:
<img src="https://i.ibb.co/fqPdQhH/53066223-2292829690963042-5918015873582366720-n.png" height="200">

**Would you like to work on the issue?**
No

[2019-02-27 12:45] angmas1 commented on #1159
So, I looked into the issue and it's happening because no image was uploaded as cover photo by the creator of the event. What I was thinking of doing was, I will set cover image to a default photo of an event when no image can be found. Should I go ahead with this? @liveHarshit

[2019-02-27 13:08] liveHarshit commented on #1159
Yes, set default photo which is used in item card likes.

[2019-02-27 13:44] anhanh11001 commented on #1139
@iamareebjamal @liveHarshit I have investigated this issue over the last 2 days. For my own knowledge now, it's clueless for me to fix this issue.

So basically the problem I found is that in the MainActivity, we set up the bottom navigation with navController:
`setupWithNavController(navigation, navController)`
From what I understand, everytime we click on a bottom navigation's icon, the navContr

[2019-02-27 14:23] ShridharGoel opened #1192 "No events available text visible even when events are loading"
**Describe the bug**
"Sorry, there are no events available" text visible even when events are loading.

**To Reproduce**
1. Go to Events
2. While events are loading, scroll down.
3. The text would be visible.

**Expected behavior**
This message should not be visible while the events are getting loaded.

**Screenshot**
![img_20190227_200348](https://user-images.githubusercontent.com/35566748/534978

[2019-02-27 14:24] liveHarshit commented on #1139
Please read comments in issue #1078. It is already discussed.

[2019-02-27 14:26] liveHarshit commented on #1139
It was used earlier, but now we want to do it with navigation architecture component.
You can see the method in utils for check and load fragment. It is still there.

[2019-02-27 15:35] ShridharGoel opened #1194 "Useless search button?"
**Describe the chore**
Is the search button shown in the screenshot of any use?

Also, it always shows no result found on searching anything.

**Screenshots**
![img_20190227_210029](https://user-images.githubusercontent.com/35566748/53502060-50d29800-3ad3-11e9-852f-af3a99745a98.png)

**Would you like to work on the issue?**
- [x] Yes
- [ ] No

[2019-02-27 17:25] ShridharGoel opened #1195 "Add ripple effect in cards"
**Describe the feature you'd like**
Card views should show ripple effect on pressing and dragging.

**Would you like to work on the issue?**
- [x] Yes
- [ ] No

[2019-02-27 18:31] #1192 closed

[2019-02-27 19:06] angmas1 commented on #347
Shouldn't we just fetch the eventCurrency into Ticket object from server itself? Should I make a feature request to add currency field to ticket data fetched from server @iamareebjamal ?

[2019-02-27 19:08] haroldadmin opened #1198 "Migrate to safe args in EventFragment and EventDetailsFragment"
**Describe the feature you'd like**
Currently `EventFragment` and `EventDetailsFragment` use raw bundles to pass data around, and do not take advantage of the type safe args gradle plugin released with the Navigation Architecture Component.

**Additional context**
Type safe args would ensure type safety when retrieving Fragment arguments from their bundles.

**Would you like to work on the issue?*

[2019-02-27 23:31] iamareebjamal commented on #347
No, we Already have the event. So it shouldn't be needed

[2019-02-27 23:32] #1174 closed

[2019-02-27 23:34] #1185 closed

[2019-02-27 23:35] #1195 closed

[2019-02-28 01:29] anhanh11001 opened #1202 "Add "See more" for details of event organizer in EventDetailFragment"
**Describe the feature you'd like**
Add "See more" for details of event organizer in EventDetailFragment. When clicked, the full text of the event organizer is showed. When clicked again, the full text of the event organizer collapse again.

**Screenshots**
Mockup
<img src="https://i.imgur.com/djjMhed.png" width="200" />

**Would you like to work on the issue?**
Yes

[2019-02-28 06:06] haroldadmin opened #1205 "Migrate entire project to use SafeArgs in fragments instead of raw bundles"
**Describe the bug**
Large parts of the app currently use raw bundles to access and pass arguments. This is unsafe and does not utilize the Navigation Architecture Component to its fullest extent.

**Additional context**
Since we already use the Navigation architecture component, it is easier to migrate to using SafeArgs. This will also be benficial if we decide to use Actions in the Nav AAC to sw

[2019-02-28 06:27] haroldadmin commented on #1205
@iamareebjamal @liveHarshit Do you think this is worth pursuing?
I want to do this fragment by fragment, but I thought opening a new issue for every fragment is spamming.

[2019-02-28 07:58] anhanh11001 commented on #1194
I think this search button search the event by on the name of the event, so it might not be useless

[2019-02-28 07:58] anhanh11001 commented on #1194
Try Fossasia or Singapore, it did get some results for me

[2019-02-28 09:12] ShridharGoel commented on #1194
Okay, thanks. I've realized that it searches events by name.

[2019-02-28 09:12] #1194 closed

[2019-02-28 09:36] angmas1 commented on #1191
I would like to work on this.

[2019-02-28 11:38] anhanh11001 commented on #1191
Please go ahead

[2019-03-01 10:23] anhanh11001 opened #1207 "Add default image when there is no image displayed in EventsFragment"
**Describe the feature you'd like**
Add a default image when there is no image displayed in single event item in EventsFragment

**Screenshots**
<img src="https://i.ibb.co/YN75DLW/53160178-353134605286741-4791522226165776384-n.png" width="200">

**Would you like to work on the issue?**
Yes

[2019-03-01 10:28] liveHarshit commented on #1207
Duplicate of #1159

[2019-03-01 10:29] anhanh11001 commented on #1207
oh, so I will close this one

[2019-03-01 10:29] #1207 closed

[2019-03-01 10:30] liveHarshit commented on #1205
Go ahead.

[2019-03-01 10:34] haroldadmin commented on #1205
Okay, thanks!

[2019-03-01 10:36] anhanh11001 opened #1209 "Empty organizer section"
**Describe the bug**
When there is no information about the organizer, there is an empty section

**Screenshots**
<img src="https://i.ibb.co/CnzbgZM/52861275-2484506844910394-4975086663085588480-n.png" width="200">

**Would you like to work on the issue?**
Yes

[2019-03-01 18:28] #1202 closed

[2019-03-01 19:54] angmas1 opened #1212 "JWUtils is a java class should be replaced with kotlin class"
**Describe the chore**
JWUtils is a java class should be replaced with kotlin class.

**Would you like to work on the issue?**

- [x] Yes
- [ ] No
- Other:

[2019-03-02 17:15] haroldadmin commented on #1205
I have completed the refactor of the entire project to safe args, and I want to do one more thing that would make things a lot better.

Earlier most of the keys used to retrieve data from fragment arguments were stored as completely capitalized `const val` fields at the top of each fragment. But now these are obsolete, because we don't need keys to access fragment args anymore. For example, if a f

[2019-03-02 17:16] haroldadmin commented on #1205
Another quick question: Will multiple commits for this PR be okay? I currently have one commit for each fragment that I have refactored. Should I squash them?

[2019-03-02 17:23] liveHarshit commented on #1205
Then remove these keys, if not used.

[2019-03-02 17:24] liveHarshit commented on #1205
You can squash them later when PR is approved.

[2019-03-02 17:26] shiv07tiwari commented on #1138
@iamareebjamal Can you please help me in the networking section of stetho. I implemented the part but it doesn't show any networking details.

[2019-03-02 17:31] haroldadmin commented on #1205
Cool. That works too. Multiple commits will make them easier to review as well.

[2019-03-02 17:32] haroldadmin commented on #1205
I also want to rename the arguments so that they feel natural when used in Kotlin/Java code. For example, change the name of EVENT_ID to eventId. Would that be fine?

[2019-03-02 17:40] liveHarshit commented on #1205
IMO, not a good idea for getting these from string resources. And use as constant.

[2019-03-02 17:41] liveHarshit commented on #1205
String resources should use for layout purposes.

[2019-03-02 17:49] haroldadmin commented on #1205
Alright. I'm waiting on @iamareebjamal's review for the EventDetailsFragment safe args PR before I submit one for this issue.

[2019-03-02 21:20] tavishjain commented on #1164
Has this issue been resolved ?

[2019-03-03 05:03] liveHarshit commented on #1164
Has PR.

[2019-03-03 16:24] tavishjain opened #1213 "Unable to log in"
**Describe the bug**
While logging in, I am getting an error Unable to log in

**To Reproduce**
Open the app and try to login

**Expected behavior**
The user must be logged in

**Logs**

**Screenshots**

**Smartphone Info:**

Device - [Redmi Note 4]
Android Version - [Nougat 7]

**Additional context**

**Would you like to work on the issue?**

- [ ] Yes
- [ ] No
- Other:

[2019-03-03 16:49] tavishjain commented on #1191
Has this issue been resolved ?

[2019-03-03 17:07] ShridharGoel opened #1215 "Enlarge QR code and increase brightness on clicking"
**Describe the feature you'd like**
Feature to enlarge QR code and increase device's brightness when the QR code in order details is clicked.

**Would you like to work on the issue?**
- [x] Yes
- [ ] No

[2019-03-03 17:33] anhanh11001 commented on #1191
@tavishjain I don't think so...

[2019-03-03 18:26] tavishjain commented on #1191
Ok then. May I work upon this ?

[2019-03-03 18:39] tavishjain commented on #1213
@nikit19 can you please help me on this ?

[2019-03-03 18:42] tavishjain commented on #1142
@angmas1 are you still working on this ?

[2019-03-03 18:42] anhanh11001 commented on #1191
Of course

[2019-03-03 18:42] angmas1 commented on #1142
Yes

[2019-03-03 19:40] tavishjain commented on #1213
@liveHarshit can you please help me over this ?

[2019-03-03 22:46] somenath1435 opened #1217 "Refactor Class Name"
**Describe the chore**

A simple Refactor.
The class "OrdersUnderUserVM.kt" should be replaced by "OrdersUnderUserViewModel.kt".
For beginners, it is really confusing to understand, refactoring will surely help.

**Would you like to work on the issue?**

- [x] Yes

[2019-03-04 01:52] somenath1435 opened #1219 "Change in Search Time UI"
**Describe the chore**
The toolbar of fragment_search_time do not have any title and looks weird.
Add title to the toolbar.

**Would you like to work on the issue?**

- [x] Yes

[2019-03-04 06:01] liveHarshit commented on #1213
I have just logged in. It works fine. Please retry.

[2019-03-04 06:02] tavishjain commented on #1213
@liveHarshit I just tried again to login and still am getting the same error

[2019-03-04 06:06] tavishjain commented on #1213
@liveHarshit is there any specific username and password that we have to use ?
Or can we signup and make our own ?

[2019-03-04 08:24] angmas1 commented on #1213
change server to use debug server in gradle

[2019-03-04 13:36] ShridharGoel opened #1223 "Add location also while sharing an event"
**Describe the chore**
While sharing an event, location details should also be added.

**Would you like to work on the issue?**
- [x] Yes
- [ ] No

[2019-03-04 14:31] angmas1 commented on #1142
@tavishjain you can work on this if you want

[2019-03-04 14:33] aman210697 commented on #1033
Can you name more layouts? @AnEnigmaticBug

[2019-03-04 14:49] aman210697 commented on #965
#1221 it also fixed this issue

[2019-03-04 18:01] #1212 closed

[2019-03-04 18:33] #1223 closed

[2019-03-04 18:41] pranavpandey1998official commented on #1191
duplicate of #967

[2019-03-05 03:50] #1219 closed

[2019-03-05 11:44] #1217 closed

[2019-03-05 12:09] iamareebjamal commented on #787
@liveHarshit Can you please check now?

[2019-03-05 12:13] ShridharGoel commented on #787
I think the problem still persists.

[2019-03-05 12:16] #1164 closed

[2019-03-05 12:20] somenath1435 opened #1227 "Add Jackson Library in Readme"
**Describe the chore**
There is no mention of jackson library in readme.

**Would you like to work on the issue?**

- [x] Yes

[2019-03-05 12:22] iamareebjamal commented on #1227
No priority

[2019-03-05 12:22] #1227 closed

[2019-03-05 12:25] #1033 closed

[2019-03-05 12:29] #1198 closed

[2019-03-05 12:29] #873 closed

[2019-03-05 16:18] liveHarshit commented on #787
Not fixed.

[2019-03-05 20:18] haroldadmin opened #1230 "bug: EventsFragment loads all Events whenever it is created"
**Describe the bug**
The Events list in EventsFragment reloads whenever it is created.

**To Reproduce**
1. Open Events Screen.
2. Select any event to view its details.
3. Go back to events screen using back button (not using bottom nav)
4. Error: Events reload.

**Expected behavior**
When returning to the Events Fragment using the back button, list should not reload.

**Screenshots**

![events](h

[2019-03-05 20:23] haroldadmin opened #1231 "feat: Convert EventsRecyclerAdapter and FavoriteEventsRecyclerAdapter to use new ListAdapter widget from AndroidX"
**Describe the feature you'd like**
I want to migrate the existing EventsRecyclerAdapter to the new [ListAdapter](https://developer.android.com/reference/android/support/v7/recyclerview/extensions/ListAdapter) widget. This new Adapter subclass enables Async DiffUtil, which means we can perform diffing on a background thread and post updates to the adapter seamlessly.

The main benefit of ListAdapt

[2019-03-05 20:24] haroldadmin commented on #1230
@iamareebjamal @liveHarshit Do you approve this issue? Should I work on it?

[2019-03-05 20:24] haroldadmin commented on #1231
@iamareebjamal @liveHarshit Do you approve this issue? Should I work on it?

[2019-03-05 21:09] anhanh11001 opened #1232 "Add Vietnamese Translation"
**Describe the feature you'd like**
Add Vietnamese Translation

**Would you like to work on the issue?**
Yes

[2019-03-06 01:16] anhanh11001 commented on #1188
Duplicate on #652

[2019-03-06 01:16] #1188 closed

[2019-03-06 01:18] liveHarshit commented on #1230
Duplicate

[2019-03-06 05:00] #1205 closed

[2019-03-06 05:02] iamareebjamal commented on #787
Ok. Let's keep it this way then. Closing the issue. Open a new issue to migrate to material design 2

[2019-03-06 05:02] #787 closed

[2019-03-06 05:27] haroldadmin commented on #1230
@liveHarshit Please give me a link to the original issue too.

[2019-03-06 06:56] liveHarshit commented on #1230
#1078 #1139

[2019-03-06 06:58] liveHarshit opened #1237 "Migrate design support library to material design 2"
Reference issue #787

- [x] Change app theme to the material components
- [x] Replace Filled Box text field with outline box

**Would you like to work on the issue?**

- [x] Yes

[2019-03-06 10:26] haroldadmin commented on #1237
@liveHarshit Is this issue aimed at upgrading the Material components library?

[2019-03-06 16:25] haroldadmin commented on #1231
@liveHarshit @iamareebjamal I have been refactoring some code, and I have come to realize that the EventViewHolder class is used by multiple recycler views (events recycler view, and favourites recycler view). I want to refactor the code to use lambdas instead of interfaces for click listeners, so I am changing the view holder too. Therefore, I am now converting both the EventsRecyclerAdapter and

[2019-03-07 06:01] iamareebjamal commented on #1237
Yes, we need to change from app compat theme to material components

[2019-03-07 06:03] #287 closed

[2019-03-07 06:04] #1230 closed

[2019-03-07 06:53] liveHarshit commented on #1237
But it is not working. The app is already using latest design support library according to AndroidX build artifact `'com.google.android.material:material:1.1.0-alpha04'`. And after changing all app compact styles to material components, FAB is still same as before.

[2019-03-07 13:44] haroldadmin opened #1242 "bug: Trying to enter Login screen twice crashes the app"
**Describe the bug**
Trying to enter Login screen twice crashes the app

**To Reproduce**
1. Go to Login page
2. Tap on Login in Bottom Nav again
3. App crashes

**Expected behavior**
App does not crash

**Screenshots**
![crash](https://user-images.githubusercontent.com/24315306/53960695-f48ff980-410c-11e9-811f-9dfcaf2c7e7d.gif)

**Crash log**
[code]

**Smartphone Info:**

Device: Google Pixel
OS:

[2019-03-07 13:46] ShridharGoel commented on #1242
Not able to reproduce the issue. Can you attach logs?

[2019-03-07 14:00] haroldadmin commented on #1242
@ShridharGoel I have updated the issue with crash logs.

The problem occurs because of Navigation AAC:
1. It tries to replace the existing fragment with the one selected in bottom nav, even if they are the same fragment.
2. When it instantiates this same fragment again, it does not pass the arguments given to the previous instance to this new instance.

I am going to work on a fix for this and sen

[2019-03-07 14:12] ShridharGoel opened #1243 "Irrelevant text is shown when organizer name is empty"
**Describe the bug**
When organizer name is empty, 'TextView' is displayed.

**To Reproduce**
1. Go to event details.
2. If organizer name does not exist, then 'TextView' would be shown.

**Expected behavior**
This field should not be visible in such a case.

**Screenshots**
![screenshot_2019-03-07-19-36-39-262_com eventyay attendee](https://user-images.githubusercontent.com/35566748/53962389-f5c3

[2019-03-07 14:32] ShridharGoel commented on #1242
Yes, reproduced after pulling the latest commits. Go ahead.

[2019-03-07 19:14] iamareebjamal commented on #1237
Issue is not about fixing the FAB but simply to update the app theme to material components

[2019-03-07 19:14] #1243 closed

[2019-03-07 19:43] tavishjain commented on #1213
@angmas1 can you please explain a bit ?

[2019-03-08 06:45] aman210697 commented on #965
@kshitijsuri90  Can I work on this?

[2019-03-08 18:29] #1178 closed

[2019-03-09 00:35] somenath1435 opened #1246 "Remove HardCoded Margins"
**Describe the chore**
There are many hardcoded margins/strings in xml files.
Remove them using string resources.

**Would you like to work on the issue?**

- [x] Yes

[2019-03-09 01:04] theLimitBreaker commented on #207
if this one is open could i work on this ?

[2019-03-09 06:18] haroldadmin commented on #1231
@iamareebjamal @liveHarshit Please review these changes when you can.

[2019-03-09 07:38] #1246 closed

[2019-03-09 08:04] atm1504 opened #1248 "Wiki Folder missing in the Github Repo of the project"
**Describe the chore**
There should be a place in the repo describing the various wikis of the project at one place. It will help in keeping all related documents for contributing in a single place. It would be a best guide for the beginners.

**Would you like to work on the issue?**

- [x] Yes
- [ ] No
- Other:
**Present**
<img width="629" alt="Screenshot 2019-03-09 at 1 33 51 PM" src="https://us

[2019-03-09 10:23] iamareebjamal commented on #1248
We don't have any tutorial/guide. If and when we do, we'll add that in wiki

[2019-03-09 10:23] #1248 closed

[2019-03-09 12:18] somenath1435 opened #1249 "Wrong colors in Buttons in Login/SingUp fragment"
**Describe the chore**
The background color of login/signup fragment is wrong and looks bad.
Need to change it.

**Would you like to work on the issue?**

- [x] Yes

[2019-03-09 13:01] aman210697 opened #1251 "App crashes on login/signup"
**Describe the bug**
App is crashing login and signup

**Logs**
03-09 18:24:22.271 26551-26551/com.eventyay.attendee E/AndroidRuntime: FATAL EXCEPTION: main
    Process: com.eventyay.attendee, PID: 26551
    java.lang.NoSuchMethodError: No virtual method getAnnotationsByType(Ljava/lang/Class;)[Ljava/lang/annotation/Annotation; in class Ljava/lang/reflect/Method; or its super classes (declaration o

[2019-03-09 13:02] iamareebjamal commented on #1251
Happening on development branch or play store deployed app?

[2019-03-09 13:21] aman210697 commented on #1251
development branch

[2019-03-09 20:19] somenath1435 opened #1253 "Fix unchecked Casts"
**Describe the chore**
Currently the following warning is being shown in OrdersUnderUserViewModel class:-

Unchecked cast: List<Int?> to kotlin.collections.ArrayList<Int> /* = java.util.ArrayList<Int> */

**Would you like to work on the issue?**

- [x] Yes

[2019-03-10 05:55] haroldadmin commented on #1078
Here's Google's sample on Advanced usage of the Nav AAC: https://github.com/googlesamples/android-architecture-components/tree/master/NavigationAdvancedSample

Maybe this can help you. They created this sample to show how to maintain multiple backstacks

[2019-03-10 06:47] iamareebjamal commented on #1251
@liveHarshit Is this issue reproducible on your end?

[2019-03-10 07:03] #1249 closed

[2019-03-10 08:01] liveHarshit commented on #1251
Yes. Also crashing while switching between login and sign up fragment. This issue is due to Safe Args. @haroldadmin Can you please analyze the bug?

[2019-03-10 08:02] haroldadmin commented on #1251
@liveHarshit @iamareebjamal It's gonna take me some time to submit a PR to fix this. Mid sem exams this week.

If it's a really urgent issue, you can assign it to someone else too.

[2019-03-10 08:19] liveHarshit commented on #1251
It's okay. Also, I'm not asking to submit the PR.
@aman210697 Would you like to work on this issue?

[2019-03-10 08:30] haroldadmin commented on #1251
@liveHarshit I have done some prelim analysis in #1242

Also, I'm not able to reproduce this issue on my phone. I can login just fine.

[2019-03-10 08:38] AnEnigmaticBug commented on #1078
I was also looking at the sample. This seems the way to go. Thanks for your help @haroldadmin :)

[2019-03-10 08:39] AnEnigmaticBug commented on #1078
@iamareebjamal @liveHarshit. I've not been able to work on this issue because my mid-semester exams are going on right now. They'll be over in a few days. I'll begin working on this issue the day I get free.

[2019-03-10 12:07] aman210697 commented on #1251
I am sure I can fix it.
And it is crashing in samsung only

[2019-03-10 12:19] liveHarshit commented on #1251
Really. I have also tested on Samsung this time.
Please go ahead.

[2019-03-10 12:20] liveHarshit commented on #1078
Take your time. :)

[2019-03-10 12:32] aman210697 commented on #1251
sorry, check my edited reply

[2019-03-10 12:36] liveHarshit commented on #1251
Okay I will see.

[2019-03-10 19:35] anhanh11001 opened #1256 "Extract all hard-coded strings"
**Describe the bug**
There are still some hard-coded strings in the code base so I will move all of them to the res/values/strings file

**Would you like to work on the issue?**
Yes

[2019-03-10 20:29] somenath1435 opened #1258 "Koin Documentation Link"
**Describe the chore**
Replace the current link to proper koin documentation link.

**Would you like to work on the issue?**

- [x] Yes

[2019-03-10 20:29] anhanh11001 commented on #1191
@pranavpandey1998official this one is on TicketsFragment, #967 is on AttendeeFragment, it is two different issue. Please take a look again.
@iamareebjamal can you open this issue again?

[2019-03-10 20:36] pranavpandey1998official commented on #1191
#1097 sorry i reference the wrong one

[2019-03-10 20:38] anhanh11001 opened #1260 "Empty fields with space is still valid"
**Describe the bug**
On AttendeeFragment, it is still valid to enter an empty name with space

**Screenshots**
<img src="https://i.ibb.co/z64cctW/53591671-387523125374034-7204989397760999424-n.png" width="200">
<img src="https://i.ibb.co/p1ZvyJV/53889017-377674309722658-8446282397103685632-n.png" width="200">

**Would you like to work on the issue?**
Yes

[2019-03-10 20:44] anhanh11001 opened #1261 "Text on number of tickets is not fully displayed"
**Describe the bug**
Text on number of tickets is not fully displayed

**Screenshots**
<img src="https://i.ibb.co/sPH0bsG/53439676-393279618156277-5735385922761916416-n.png" >

**Would you like to work on the issue?**
Yes

[2019-03-10 20:52] somenath1435 commented on #1261
@anhanh11001 It is fine in my phone
![a](https://user-images.githubusercontent.com/43093724/54091274-7f3e5600-43a4-11e9-970f-69a2c1447d1b.jpg)

[2019-03-10 20:53] anhanh11001 commented on #1261
I think this is a simple issue, I will fix it. If the event name takes up 2 lines, I guess you can reproduce the bug

[2019-03-10 22:41] somenath1435 opened #1264 "Add More CardType during Payment"
**Describe the chore**
Add more card types like Discover , Diners Club , UnionPay.

**Would you like to work on the issue?**

- [x] Yes

[2019-03-11 01:01] somenath1435 opened #1266 "Null or Empty check for CVC in Stripe payment"
**Describe the chore**
Under stripe payment , CVC of Cards is asked.
Currently no null/empty check is there for it.

**Would you like to work on the issue?**

- [x] Yes

[2019-03-11 01:44] somenath1435 opened #1268 "Add Option to visit website from app"
**Describe the chore**
An option should be there to see the website.

**Would you like to work on the issue?**

- [x] Yes

[2019-03-11 02:16] #1258 closed

[2019-03-11 02:23] #1260 closed

[2019-03-11 02:24] #1122 closed

[2019-03-11 08:54] #1261 closed

[2019-03-11 08:59] #1232 closed

[2019-03-11 09:00] #652 closed

[2019-03-11 10:00] aman210697 opened #1270 "Selected image get rotate in edit profile"
**Describe the bug**
Selected image get rotate in edit profile

**To Reproduce**
1. Click pic from camera
2. Go to edit profile
3. select clicked pic from camera album

**Screenshots**
![Screenshot_20190304-220421_Eventyay Attendee](https://user-images.githubusercontent.com/24875315/54115282-2e654680-4412-11e9-891d-61b66acf7a31.jpg)

**Smartphone Info:**

|Device         |Samsung Galaxy S7|
|Andro

[2019-03-11 10:10] AnkurIngale commented on #1270
Can i work on it?

[2019-03-11 11:31] aman210697 commented on #1270
Fixed already

[2019-03-11 15:18] somenath1435 opened #1274 "Add Bengali Language Support"
**Describe the feature you'd like**
Multilanguage support: Add Bengali language

**Would you like to work on the issue?**

- [x] Yes

[2019-03-11 15:21] somenath1435 opened #1275 "Add Hindi Translation"
**Describe the feature you'd like**
MultiLanguage Support: Add Hindi Translations

**Would you like to work on the issue?**

- [x] Yes

[2019-03-11 23:20] anhanh11001 commented on #1139
is anyone working on these issues? Can I work on this?

[2019-03-12 12:06] theLimitBreaker commented on #1191
Hello I would like to work on this issue! It seems still not resolved and No one is working on it

[2019-03-12 12:37] theLimitBreaker opened #1278 "Provide Valid Location Options when changing Location"
**Describe the bug**
When changing the Location, Uses can type anything in location . And this is not validated.

**To Reproduce**

**Expected behavior**
User should be presented with list of Location names while she/he is typing .
An autocomplete list of places

**Logs**

**Screenshots**

<img src="https://user-images.githubusercontent.com/24780524/54200533-a0608d00-44f1-11e9-9b14-4d2538b3dce2.gi

[2019-03-12 12:52] theLimitBreaker opened #1279 "App Crash on LoginFragment"
**Describe the bug**
When Not logged in , on switching from signup to login fragment App crashes

**To Reproduce**
Provided You are not logged in
1. Go to 'Profile Tab'
2. Click on 'sign up tab'
3. Click on 'login tab'
4. App Crashes

**Expected behavior**
App should not crash

**Logs**
[code]

**Screenshots**
<img src="https://user-images.githubusercontent.com/24780524/54201394-87f17200-44f3-11e9

[2019-03-12 12:59] addiegupta opened #1280 "Add empty view for TicketsFragment"
**Describe the feature you'd like**

I would like to add an empty view for the TicketsFragment with some text (say "No Tickets Purchased") when there are no Tickets to display.

**Screenshots**

![Issue 1280](https://user-images.githubusercontent.com/22665789/54202079-3ea22200-44f5-11e9-816e-504d7ecdea0e.gif)

**Additional context**

Currently, when the ProgressBar stops spinning, the fragment jus

[2019-03-12 13:25] addiegupta commented on #1279
I think this is already covered in Issue #1242

[2019-03-12 13:25] ShridharGoel commented on #1279
Duplicate of #1242

[2019-03-12 13:40] theLimitBreaker commented on #1279
Ok Its duplicate !. But I see No work is done till Now . Could I work on it after closing this. And then would reference original one

[2019-03-12 13:45] ShridharGoel commented on #1279
@haroldadmin had said that he would be working on that issue. You can comment there and ask him.

[2019-03-12 13:46] theLimitBreaker commented on #1242
@haroldadmin, uhh there is No PR till now,  I am almost done with this issue . Could  I proceed ?

[2019-03-12 13:46] theLimitBreaker commented on #1279
ok thank you

[2019-03-12 13:47] #1279 closed

[2019-03-12 13:47] addiegupta commented on #1280
I just tried to reproduce this by logging in through another account but could not do so. I have created a ticket now on this account and so am unable to see the empty view now. Looking for ways to reproduce it

[2019-03-12 13:57] theLimitBreaker opened #1281 "No Visual Difference On Clicking Views"
**Describe the bug**
No visual difference is shown on clicking views

**To Reproduce**

1. Go to 'Events tab'
2. Click on 'Any Event'
3. in Events Actvity, click on location , or map view
4. No Visual Difference is there on clicking

**Expected behavior**
A user should be shown a visual difference on clicking for nice UX

**Screenshots**
<img src="https://user-images.githubusercontent.com/24780524

[2019-03-12 13:57] haroldadmin commented on #1242
Um sure. My exams are going on till the end of the week, you can take up the issue if you want. What approach have you used to solve this, btw?

[2019-03-12 14:03] theLimitBreaker commented on #1242
safeArgs currently throw Execption when are null ,
But in the nav_graph.xml , in fragment -> in argument , default value is given null , app type is also set null . This is what throwing exception .

[2019-03-12 14:09] haroldadmin commented on #1242
I was thinking the exception is thrown when the fragment is instantiated without any arguments, such as when pressing the login tab in the bottom nav view. I might be wrong, though. Cool, send your PR and I'll help review it if I get the chance.

[2019-03-12 14:12] theLimitBreaker commented on #1242
By NavLazyArgs , now setting arguments comes under the control of it. Setting null to it causes Throw execption.

[code]

Thats from its code

[2019-03-12 14:14] addiegupta commented on #1280
I am unable to reproduce this issue now. Can anyone help me?

[2019-03-12 14:19] haroldadmin commented on #1242
You'd notice that it checks if the `arguments` property on the receiver (`Fragment`) is null or not. If it is not null, it parses it otherwise it throws an exception. This means that it doesn't care if the value of the variables inside the bundle is null. It only cares if the bundle itself is null. I maybe completely off-base here, though.

[2019-03-12 14:28] addiegupta opened #1282 "No message displayed when a liked event is removed"
**Describe the feature you'd like**

When an event is removed from the list of liked events in the FavoritesFragment by clicking the heart icon on the particular event, a snackbar should be displayed notifying that the event has been removed from liked events.

**Screenshots**

![Issue 1282](https://user-images.githubusercontent.com/22665789/54208278-99417b00-4501-11e9-93b1-9691353ca22c.gif)

**Ad

[2019-03-12 14:56] theLimitBreaker commented on #1242
You are right about arguments , but if you set default value of argument **null** then safeArgs Param itself become null . Thus throws Exception

[2019-03-12 15:11] haroldadmin commented on #1242
Oh. Okay. That makes sense.

[2019-03-12 15:22] haroldadmin commented on #1242
That makes sense. Thanks!

[2019-03-12 16:13] anhanh11001 commented on #1280
I think there is already an empty view for this fragment
<img src="https://scontent-ams3-1.xx.fbcdn.net/v/t1.15752-9/53723654_321676258703677_733943399022854144_n.png?_nc_cat=105&_nc_ht=scontent-ams3-1.xx&oh=f095de4f4685c65244dac554d6dbcf88&oe=5D166C21"/>

[2019-03-12 16:14] anhanh11001 commented on #1278
I think this is the duplicate of #799

[2019-03-12 16:26] theLimitBreaker commented on #1278
Ok This One Is duplicate too . Closing this . But No work has been done . Could I take this ?

[2019-03-12 16:28] theLimitBreaker commented on #799
No Work is been done from past 2 months . I could work on this now Immediately . Should I proceed ?

[2019-03-12 16:42] theLimitBreaker commented on #525
Could I take this one , I did work for Vector Graphics below API 20 before. Also no work has been done till now ?

[2019-03-12 16:48] theLimitBreaker commented on #147
is event Host details available on server Now ?

[2019-03-12 16:50] theLimitBreaker commented on #84
Does the Server provide the data in Pages , I mean does server it self has pages ?

[2019-03-12 19:37] theLimitBreaker commented on #1242
@haroldadmin I have made PR, you could review it now :)

[2019-03-13 09:25] addiegupta commented on #1280
Yes exactly. But the GIF i originally posted shows a blank fragment. I am unable to understand the reason for this.

[2019-03-13 09:45] anhanh11001 opened #1285 "Add animation on removing favorite event"
**Describe the feature you'd like**
Add some kind of destroy animation on removing favorite event, not just plain disappearing.

**Screenshots**
<img src="https://i.ibb.co/YhC792C/ezgif-1-076f472ed7b6.gif" width="200">

**Would you like to work on the issue?**
Yes

[2019-03-13 09:47] anhanh11001 opened #1286 "Hide/View is not retained after rotating screen"
**Describe the bug**
When you are opening the detail section on price by (view), it's closed after rotating devices. So the current state is not retained.

**Screenshots**
<img src="https://i.ibb.co/y5czMJg/ezgif-1-32c0ace44d5b.gif" width="300">

**Would you like to work on the issue?**
Yes

[2019-03-13 09:48] anhanh11001 opened #1287 "Add country picker for picking country in Attendee fragment"
**Describe the feature you'd like**
Add a country picker so that users don't have to write a country name or leave it blank

**Screenshots**
<img src="https://i.ibb.co/F0Q7jpT/54256282-2349505008476987-7898540867042934784-n.png" alt="54256282-2349505008476987-7898540867042934784-n" border="0">

**Would you like to work on the issue?**
Yes

[2019-03-13 11:19] addiegupta opened #1289 "No placeholder image for events"
**Describe the chore**

No placeholder image is being displayed for events having no image and instead a white blank space is present.
The default placeholder image should be used in such a case

![New Issue](https://user-images.githubusercontent.com/22665789/54275122-d82e0a00-45af-11e9-84cc-c9a7067baf9b.gif)

It should look something like this
![New PR](https://user-images.githubusercontent.com/2

[2019-03-13 12:32] anhanh11001 commented on #1289
I think this is duplicated. #1159 and there are already PRs sent to resolve this

[2019-03-13 14:23] addiegupta opened #1292 "EditProfile Alert Dialog shown on Up button press but not on back press"
**Describe the chore**

An AlertDialog is displayed in the EditProfile Fragment when some changes have been made to the profile and the up button is pressed. This dialog warns the user of unsaved changes. However this dialog is not displayed when the back button is pressed.

The back button should also display the dialog.

GIF showing the issue

<table>
<tr>
<td><img src = "https://user-images.git

[2019-03-13 15:55] liveHarshit commented on #1280
An empty view is already there. You can find issue why is it not displaying in your case.

[2019-03-13 16:29] #1278 closed

[2019-03-13 17:01] anhanh11001 opened #1295 "Events loading again after rotating screen"
**Describe the bug**
In EventsFragment, it keeps reloading and fetching the events after reloading the screen

**Expected behavior**
It should load one time and be retained by the ViewModel after rotating screen.

**Screenshots**
<img src="https://i.ibb.co/F0wBmgZ/ezgif-1-fd855c2b0d29.gif" width="300">

**Would you like to work on the issue?**
Yes

[2019-03-13 18:09] anhanh11001 opened #1297 "Add ripple effect on retry button"
**Describe the feature you'd like**
Add ripple effect when clicking on RETRY button (internet fail) on EventsFragment

**Screenshots**
<img src="https://i.ibb.co/1dCZ7m0/53724386-872682039739911-8505058874225590272-n.png" width="250">

**Would you like to work on the issue?**
Yes

[2019-03-14 03:47] iamareebjamal commented on #799
Go ahead

[2019-03-14 03:57] iamareebjamal commented on #147
No

[2019-03-14 03:58] iamareebjamal commented on #84
Study the API please. It's already available in API docs what's present and what not

[2019-03-14 04:02] #1289 closed

[2019-03-14 07:51] addiegupta opened #1304 "Unnecessary snackbar in EditProfile Fragment related to storage permission"
**Describe the chore**

A snackbar message is displayed in the EditProfileFragment on clicking the profile picture. The message of the Snackbar is "Permission to Access External Storage Granted!".

<table>
<tr>
<td>
<img src="https://user-images.githubusercontent.com/22665789/54339870-1123b880-465c-11e9-9d31-7640a6addddd.gif" height = "533" width="300"/>
</tr>
</td>
</table>

The snackbar should b

[2019-03-14 09:32] theLimitBreaker commented on #799
@iamareebjamal I have seen MapBox is used in OpenEvent , MapBox also provides PlaceAutoComplete.
Plus Point : It works on both Fdroid and Play Version. That is no play services is required .
So should I use MapBox or have to use Google's one

[2019-03-14 18:12] aman210697 opened #1308 "Empty organizer section in Ticket Details"
**Describe the bug**
Empty organizer section in Ticket Details

**Screenshots**
![WhatsApp Image 2019-03-14 at 11 33 17 PM](https://user-images.githubusercontent.com/24875315/54380973-a5b90580-46b2-11e9-9c83-bad76e4b470c.jpeg)

**Would you like to work on the issue?**

-Yes

[2019-03-14 19:32] aman210697 opened #1310 "Android Navigation Component Stable Release 2.0.0"
**Describe the feature you'd like**
Android navigation component stable v2.0.0 has released

**Additional context**
https://android-developers.googleblog.com/2019/03/android-jetpack-navigation-stable.html?linkId=64791391&m=1

[2019-03-15 05:03] iamareebjamal commented on #1310
@liveHarshit As suspected, we're using safe args the wrong way https://youtu.be/Y0Cs2MQxyIs

[2019-03-15 11:38] #1264 closed

[2019-03-15 11:39] #1274 closed

[2019-03-15 19:16] aman210697 opened #1315 "Share event details along with image"
**Describe the feature you'd like**
Share the event details with event image

**Would you like to work on the issue?**
Yes

[2019-03-16 02:48] haroldadmin commented on #1242
The underlying issue with the Nav AAC has been fixed at the library level in the latest alpha.

https://issuetracker.google.com/issues/128531879

[2019-03-16 03:04] iamareebjamal commented on #799
OpenEvent what? Frontend? Backend? Orga app? This app?

[2019-03-16 03:07] #1285 closed

[2019-03-16 03:25] theLimitBreaker commented on #1242
Ok so let me update it to latest alpha . Thanks for telling :)

[2019-03-16 03:26] theLimitBreaker commented on #799
In Android OpenEvent-Android . There is MapBox Key

[2019-03-16 03:34] #1295 closed

[2019-03-16 03:40] aggarwalpulkit596 opened #1318 "Setup Gradle Play Publisher"
**Describe the feature you'd like**
All Support for Triple t Gradle Play Publisher for automated publishing of app to play store
References
https://github.com/Triple-T/gradle-play-publisher

**Would you like to work on the issue?**
- [x] Yes
- [ ] No
- Other:

[2019-03-16 03:41] iamareebjamal commented on #1318
We already use fastlane

[2019-03-16 03:41] #1318 closed

[2019-03-16 03:51] aggarwalpulkit596 opened #1319 "Base Dao Interface"
**Describe the feature you'd like**
Project should have basedao interface with methods like insert,insertall,update,delete etc and this base dao should be inherited by every other dao
**Would you like to work on the issue?**
- [X] Yes
- [ ] No
- Other:

[2019-03-16 03:53] #1286 closed

[2019-03-16 03:55] iamareebjamal commented on #1319
Not needed. Base* (BaseActivity, BaseFragment) is a terrible pattern. Unless there is an actual need for generic parent, inheritance should be avoided

[2019-03-16 03:55] #1319 closed

[2019-03-16 03:56] iamareebjamal commented on #525
Go ahead

[2019-03-16 04:15] aggarwalpulkit596 opened #1320 "Anko Layouts"
**Describe the feature you'd like**
Use Anko DSL Layouts instead of xml especially for recyclerview items
Why Anko Layouts ?
https://android.jlelse.eu/400-faster-layouts-with-anko-da17f32c45dd
**Would you like to work on the issue?**
- [x] Yes
- [ ] No
- Other:

[2019-03-16 04:16] iamareebjamal commented on #1320
Not needed. None of our layouts are too simple for that

[2019-03-16 04:20] aggarwalpulkit596 commented on #1320
@iamareebjamal i can try converting all recyclerview items to anko layouts and have i seen them they can be easily converted

[2019-03-16 04:21] iamareebjamal commented on #1320
Yes but if they become complex in future, new contributors won't be able to make changes in those

[2019-03-16 04:26] aggarwalpulkit596 commented on #1320
@iamareebjamal but they improvise app performance as well less consumption of phone ram and they are not much complicated as they look like so new contributors can always learn

[2019-03-16 04:28] iamareebjamal commented on #1320
How do they improvise the performance? Can you show me how much less RAM the app is consuming once migrated to anko layouts?

[2019-03-16 04:31] aggarwalpulkit596 commented on #1320
if you want i can show you the screenshot of android profiler as well to show the difference between anko layouts and xml

[2019-03-16 04:56] haroldadmin commented on #1242
If we update to the latest alpha, then there's no need to do anything regarding this issue, and the PR becomes irrelevant.

@iamareebjamal Would updating to the latest alpha be an acceptable solution?

[2019-03-16 06:58] aggarwalpulkit596 opened #1322 "Unit and UI Test"
**Describe the feature you'd like**
Currenlty there are no Unit or UI Test. There should be Unit test for API's and UI test using espresso so that at least code coverage is > 50%

**Would you like to work on the issue?**
- [x] Yes
- [ ] No
- Other:

[2019-03-16 07:57] iamareebjamal commented on #1322
There can't be unit test for API by definition and we don't want UI tests currently. You can work on unit tests of view models

[2019-03-16 08:28] iamareebjamal commented on #1242
Yes

[2019-03-16 09:49] liveHarshit commented on #1310
In this video, he is also talking to type-safe args. Sorry, I can not get it.

[2019-03-16 11:17] theLimitBreaker commented on #1242
@haroldadmin
This from the release notes of Navigation component

`Your project must have migrated to AndroidX to use 2.X releases of Navigation. Navigation 1.0 stable will be the last release using the Support Library dependencies; all future development beyond 1.0 will be based on AndroidX and build upon the 2.0 stable release.`

Heres the link
https://developer.android.com/jetpack/androidx/rele

[2019-03-16 11:18] iamareebjamal commented on #1310
*she

Look at the way safe args are implemented in the video

[2019-03-16 11:23] iamareebjamal commented on #1242
AFAIK, the project is already using AndroidX

[2019-03-16 11:24] theLimitBreaker commented on #1242
Navigation component is using Pre-AndroidX artifacts

[2019-03-16 12:07] haroldadmin commented on #1242
Or we could just implement the earlier solution for now, and use the Nav component 2.0 when it is released, right @iamareebjamal?

[2019-03-16 13:13] addiegupta opened #1323 "Failing build due to room dependency issue"
**Describe the bug**

The project is not building due to the following error

Could not find org.jetbrains.kotlinx:kotlinx-metadata-jvm:0.0.5

**To Reproduce**

The project should build properly

**Logs**

Could not find org.jetbrains.kotlinx:kotlinx-metadata-jvm:0.0.5.
Searched in the following locations:
  - file:/C:/Users/addie/AppData/Local/Android/Sdk/extras/m2repository/org/jetbrains/kotlinx

[2019-03-16 13:24] addiegupta opened #1325 "FavoriteEventsRecyclerView becomes empty on returning to its fragment"
**Describe the bug**

The FavoriteEventsRecyclerView shows its empty view on returning to its view after returning from viewing a favorite event.

**To Reproduce**
 The RecyclerView displays the empty view

**Expected behavior**

The favorite events should be displayed

**Logs**

**Screenshots**

![Issue 1325](https://user-images.githubusercontent.com/22665789/54475936-6bb84280-481d-11e9-9ad3-d2a3

[2019-03-16 14:30] addiegupta commented on #1304
Closing the issue as its PR has been merged

[2019-03-16 14:30] #1304 closed

[2019-03-16 16:17] theLimitBreaker commented on #1242
@haroldadmin 2.0 is released but 2.1.0-alpha01 is still not released(2.1.0-alpha01 is version which fixed the problem in Navigation Arch component)

[2019-03-16 18:31] #1323 closed

[2019-03-16 19:44] haroldadmin commented on #1325
Could be possibly related to #1294 because it uses a global variable to keep of whether the list has been fetched or not. The problem is compounded by the fact that that our fragments use the fragment lifecycle to observe live data instead of their `viewLifecycleOwner` to observe live data.

I can confirm that this issue is not present on #1240

[2019-03-16 19:51] haroldadmin commented on #1310
I'd like to point out that the example she demonstrated in the video is using Actions for navigation, instead of destinations. Actions have a cleaner API of working with safe args, if I remember correctly.

[2019-03-16 20:00] haroldadmin opened #1326 "refactor: Migrate project to use viewLifecycleOwner in fragments to observe livedata wherever it makes sense"
**Describe the bug**
Currently all of our fragments use the fragment as the lifecycle owner when subscribing to LiveData objects. This is problematic because:
* Subscribe to livedata in onCreateView/onViewCreated/onActivityCreated using fragment as the lifecycle owner
* This livedata will automatically unsubscribe when the fragment is torn down, as is the nature of livedata.
* When fragment is `re

[2019-03-17 06:41] aggarwalpulkit596 opened #1328 "Add Option To Delete Account"
**Describe the feature you'd like**
There should be an option to delete an account in the settings menu

**Would you like to work on the issue?**
- [x] Yes
- [ ] No
- Other:

[2019-03-17 07:32] addiegupta opened #1329 "Revert string file changes requested by @iamareebjamal"
**Describe the chore**

I had made a PR #1324 in which I made some additional changes in string.xml. I had added the translatable="false" property to several strings so that the Travis build will pass. @iamareebjamal  had approved the PR and requested these changes to be reverted. I would like to revert these changes as instructed

**Would you like to work on the issue?**

- [x] Yes
- [ ] No
- Oth

[2019-03-17 14:11] addiegupta opened #1331 "Events not getting refreshed on changing location"
**Describe the bug**

The events do not get refreshed on their own when the location is changed.

**To Reproduce**

The events should get updated as the location is no longer the same

**Screenshots**

![Issue 1331](https://user-images.githubusercontent.com/22665789/54492524-6b877800-48ed-11e9-94c9-431aad439955.gif)

**Smartphone Info:**

|               | |
|---------------|-|
|Device         |No

[2019-03-17 14:44] ShridharGoel commented on #1331
Not able to reproduce this.

![ezgif com-video-to-gif(13)](https://user-images.githubusercontent.com/35566748/54492976-25341800-48f1-11e9-9365-5784f85f7370.gif)

[2019-03-17 14:49] addiegupta commented on #1331
Are you sure you are on the latest build? I have been able to reproduce on an emulator also

[2019-03-17 15:03] ShridharGoel commented on #1331
Yes it's reproducible on the latest commits. I think #1296 might have created this issue.

[2019-03-17 15:32] aggarwalpulkit596 opened #1333 "Material Design Input"
**Describe the feature you'd like**
App Should Material Design Text Input Layout theme currently the app is using the material design layout box but not its theme
We should use the outlined box
https://material.io/design/components/text-fields.html#outlined-text-field

**Would you like to work on the issue?**
- [x] Yes
- [ ] No
- Other:

[2019-03-17 16:12] iamareebjamal commented on #1333
Will be handled once we integrate material components

[2019-03-17 16:12] #1333 closed

[2019-03-17 17:49] aggarwalpulkit596 opened #1335 "placeholder images"
**Describe the bug**
Placeholder images are not shown in item_event_card recyclerview and event fragment

**Expected behavior**
Should show placeholder images

**Screenshots**
<img src="https://user-images.githubusercontent.com/29139786/54495577-d72c0e00-490a-11e9-8559-dfd0723d8082.jpg" width="300">
<img src="https://user-images.githubusercontent.com/29139786/54495579-d85d3b00-490a-11e9-9971-ace1f

[2019-03-18 05:52] aggarwalpulkit596 opened #1337 "Event Details Scrolls to bottom"
**Describe the bug**
When opening Event Details Fragment it scrolls down to bottom of the layout automatically

**Smartphone Info:**
|               | |
|---------------|-|
|Device         | Oneplus 3 |
|Android Version| Oreo 8.0   |

**Would you like to work on the issue?**
- [x] Yes

[2019-03-18 08:29] angmas1 commented on #1331
Yes, I made a commit one month back that fixed this issue.

[2019-03-18 08:35] angmas1 commented on #1328
Is this really needed? @nikit19

[2019-03-18 13:21] aggarwalpulkit596 opened #1338 "Download Tickets as PDF"
**Describe the feature you'd like**
There should be an option to download ticket in pdf format

**Would you like to work on the issue?**
- [x] Yes

[2019-03-18 13:24] addiegupta opened #1339 "Improve 'No Internet' UI for the SearchResultsFragment"
**Describe the feature you'd like**

I would like to modify the 'no internet' layout for the SearchResultsFragment.

**Screenshots**
Currently the UI looks like this

<img src="https://user-images.githubusercontent.com/22665789/54532992-2fb4e700-49af-11e9-9d6d-040861e10f5f.jpeg" width = "270" height = "520"/>

I would like to use a layout used in the EventsFragment for more consistent UI

<img src

[2019-03-18 18:25] addiegupta opened #1341 "No Internet Layout displayed on rotation even when data is present in EventsFragment on connection loss"
**Describe the bug**

The No Connection available card is displayed in EventsFragment on rotation if connection is lost after loading events and rotation takes place.

**To Reproduce**

1. Go to EventsFragment and let events load
2. Switch off Internet connection
3. Rotate device
4. See error --> The No internet layout is displayed even when data was present

**Expected behavior**

2 implementatio

[2019-03-19 00:14] somenath1435 opened #1342 "Add Confirmation Dialog"
**Describe the chore**
User should be notified of the order before the order is placed.
Alert Dialog may be used for this.
It is a common practice.
**Would you like to work on the issue?**

- [x] Yes

[2019-03-19 10:00] AnEnigmaticBug commented on #1341
This issue is there because the `EventsFragment` is checking the internet connectivity in the `onCreateView` method.

After loading the data, when you rotate the phone, the `Fragment`'s view is recreated and `onCreateView` is called again. Because the check happens in `onCreateView`, it ignores whether the data has already been loaded or not and simply displays the "No Internet" layout.

I see two

[2019-03-19 10:02] AnEnigmaticBug commented on #1078
My exams are now over. I've resumed working on this issue.

[2019-03-19 10:26] AnEnigmaticBug opened #1344 "chore: Move flask filter query logic from ViewModels to Services"
**Describe the chore**
Some `ViewModel`s form the flask filter query themselves and then pass it on to their correspoding `Service`s. An example would be `EventsViewModel` forming the query in `loadLocationEvents` method and passing it to `EventService`.

The problem is that this moves the logic of retrieving data from `Services`(where it belongs) to `ViewModel`s. The `ViewModel`s should not be co

[2019-03-19 11:33] AnEnigmaticBug commented on #1326
Nice observation :+1: ! I also use `viewLifecycleOwner` in my new projects.

[2019-03-19 11:36] AnEnigmaticBug commented on #1328
I think that there should be an option for the user to delete his/her account. But the user should use the website to do so. I've not seen an in-app option for deleting account in a long time.

[2019-03-19 13:11] anhanh11001 opened #1346 "Implement Dark Mode"
**Describe the feature you'd like**
Dark Mode Theme for the app

**Would you like to work on the issue?**
Yes

[2019-03-19 13:15] anhanh11001 opened #1347 "Unnecessary reloading search result"
**Describe the bug**
In Search Results Fragment, it keeps reloading search results when rotating devices

**Expected behavior**
That fragment should keep the search results in ViewModel and load it back

**Screenshots**
<img src="https://i.ibb.co/48MwcTT/ezgif-2-ee6a45af92c8.gif" width="300">
**Would you like to work on the issue?**
Yes

[2019-03-19 13:16] AnEnigmaticBug opened #1348 "chore: Remove unused fields from Event class"
**Describe the chore**
Currently, a lot of fields are unused in the `Event` class. This is undesirable for multiple reasons:
1. The unused fields still occupy space in the database which slows down SQLite and increases the amount of storage used.
2. Each `Event` object has a bigger size. Performing multiple operations on a list of these `Event`s wastes memory.
3. The extra fields make the `Event`

[2019-03-19 13:18] AnEnigmaticBug commented on #1348
@iamareebjamal @liveHarshit what do you think about this issue? I want to take your opinion.

[2019-03-19 13:21] anhanh11001 opened #1349 "Search doesn't work in EventsFragment"
**Describe the bug**
Needs to reload in order for searching in EventsFragment works. This is due to my PR #1296, I know the cause of the problem so I will fix it

**Screenshots**
<img src="https://i.ibb.co/GT50tb7/ezgif-2-a1190587ad52.gif" width="300">

**Would you like to work on the issue?**
Yes

[2019-03-19 15:37] liveHarshit commented on #1339
We are following Eventbrite.

[2019-03-19 15:46] liveHarshit commented on #1341
IMO, using the view model is a better solution.

[2019-03-19 15:50] liveHarshit commented on #1328
How can you delete the account if there is no end point on the server for it.

[2019-03-19 15:51] liveHarshit commented on #1346
Not needed. Please checkout issue #319

[2019-03-19 15:54] aggarwalpulkit596 commented on #1328
There is an endpoint for that u created the issue after knowing about the endpoint

[2019-03-19 16:30] addiegupta commented on #1339
But surely this is more consistent?

[2019-03-19 16:39] anhanh11001 commented on #1346
@liveHarshit oh, so, should I close this issue because I think a dark theme is a pretty cool feature to have and it's a different thing compared to #319?

[2019-03-19 18:16] aggarwalpulkit596 opened #1352 "Forgot Password"
**Describe the feature you'd like**
There should be an option to reset user password in case user forget his/her password. Currently, there is no support for that in the app

**Would you like to work on the issue?**
- [x] Yes

[2019-03-19 18:53] theLimitBreaker commented on #1326
Great observation man !!

[2019-03-19 19:07] theLimitBreaker commented on #1310
Currently No actions are used . As far as I can see in the NavGraph. Also actions is the recommended way . Using actions should be done.
 @haroldadmin  Don't know about saying Actions as cleaner API.

[2019-03-19 19:24] theLimitBreaker opened #1353 "Share the Ticket details via other apps"
**Describe the feature you'd like**
Share the ticket details via apps like telegram, whatsapp or email etc.

**Would you like to work on the issue?**

- [ :heavy_check_mark:   ] Yes
- [ ] No
- Other:

[2019-03-19 19:24] aman210697 commented on #1328
Not a good idea to give the option to delete the account, we should not let the user go away from our app.

[2019-03-19 19:29] theLimitBreaker opened #1354 "Improper Placement of Organizer Name"
**Describe the bug**
Organizer name is not properly placed. Its overlapping with other text

**Expected behavior**
Organizer name shouldn't overlap

**Screenshots**
Look at the text `by google`
<img src="https://user-images.githubusercontent.com/24780524/54635943-548e8480-4aab-11e9-843d-67da1c78c6cc.jpg" width=360>

**Would you like to work on the issue?**

- [ :heavy_check_mark: : ] Yes
- [ ] No

[2019-03-19 19:37] aman210697 opened #1355 "Add change password fragment"
**Describe the feature you'd like**
Add change password fragment

**Would you like to work on the issue?**
-  Yes

[2019-03-19 20:16] aman210697 commented on #1352
Already have this feature. Check  #29

[2019-03-19 23:57] somenath1435 opened #1357 "Implement Voice Search"
**Describe the feature you'd like**
Voice Search is implemented in the app.
proper permission has been taken.
It is a necessary feature.
**Would you like to work on the issue?**
- [x] Yes

[2019-03-20 00:46] #1352 closed

[2019-03-20 07:03] liveHarshit commented on #1346
yes, please work on solving bugs instead.

[2019-03-20 09:33] #1346 closed

[2019-03-20 10:35] liveHarshit commented on #1346
Are you want to implement it as optional for the user?

[2019-03-20 11:02] iamareebjamal commented on #1328
I don't agree. If there's an end point but we're not implementing it, we are not feature complete. Is this feature available in eventbrite?

[2019-03-20 11:05] iamareebjamal commented on #1348
No they shouldn't be removed since they may be used in future. We don't want to create frequent migrations in db for adding fields

[2019-03-20 11:49] aggarwalpulkit596 commented on #1328
No there isn't a option in the Eventbrite

[2019-03-20 12:17] iamareebjamal commented on #1310
Yes they do have a cleaner API. I don't have to create a bundle, just pass in arguments to a function

[2019-03-20 12:22] iamareebjamal commented on #1328
Ok. Let's mark this for later

[2019-03-20 12:24] haroldadmin commented on #1310
@iamareebjamal I did raise the proposal to migrate the project to use Actions, however in the end it was decided that it would needlessly complicate our project.

[2019-03-20 12:24] liveHarshit commented on #1310
Yes, @haroldadmin You said that passing bundle is necessary, generated classes are only for type safety?

[2019-03-20 12:26] haroldadmin commented on #1310
@liveHarshit Yep. Creating a bundle is necessary when you're not using actions. I use actions in one of my projects, and you don't have to deal with bundles that way. Under the hood everything uses bundles though. Actions just provide a layer of abstraction over them.

[2019-03-20 12:26] liveHarshit commented on #1310
Get it, we are using it in a different way by passing bundles.
Here https://codelabs.developers.google.com/codelabs/android-navigation/#7 implemented in the same way as shown in the video.

[2019-03-20 12:57] anhanh11001 commented on #1346
@liveHarshit yes, it should be optional, of course, I'm not gonna change the whole UI into dark mode. But I think you are right, I think this can be implemented later, other works like improving current UI + fixing bugs should be prioritized

[2019-03-20 13:09] liveHarshit commented on #1346
@iamareebjamal Your views for implementing dark mode theme?

[2019-03-20 14:56] iamareebjamal commented on #1346
Yes. More importance should be given to handling bugs and adding features

[2019-03-20 15:11] iamareebjamal opened #1359 "Disable missing translation lint check"
We are not supporting 100% of translations yet. I was not in favor of adding even 1 more new language as we don't have a final stringset yet. But because some people have added it, lint complains about new strings added being not present in other languages. It's simply not possible to add a string for each language each time you add a string resource. It leads to wrong translations and bad UX. Eit

[2019-03-20 15:13] #1308 closed

[2019-03-20 15:44] #1287 closed

[2019-03-20 15:47] #1281 closed

[2019-03-20 16:12] #1347 closed

[2019-03-20 16:30] #1339 closed

[2019-03-20 19:42] #1138 closed

[2019-03-20 19:46] aggarwalpulkit596 commented on #1338
@iamareebjamal any thoughts on this

[2019-03-20 19:48] iamareebjamal commented on #1338
Go ahead

[2019-03-20 19:58] aggarwalpulkit596 opened #1362 "Add Social Login"
**Describe the feature you'd like**
Add facebook,google login

**Screenshots**

**Would you like to work on the issue?**
- [x] Yes

[2019-03-20 19:59] iamareebjamal commented on #1362
Not working on server yet

[2019-03-20 19:59] #1362 closed

[2019-03-20 20:02] #1359 closed

[2019-03-20 20:07] somenath1435 opened #1363 "Option to Share Open Event Android app"
**Describe the feature you'd like**
User should be able to share this app to friends/colleagues.

**Would you like to work on the issue?**

- [x] Yes

[2019-03-20 20:09] nikit19 commented on #1363
Please focus on solving existing bugs/adding features

[2019-03-20 20:09] aggarwalpulkit596 commented on #1362
@iamareebjamal facebook login is working

[2019-03-20 20:10] somenath1435 commented on #1363
@nikit19 Isn't it a good feature to include in app(I've seen this feature in other apps)
Also, sharing increases reach of the app to different people

[2019-03-20 20:10] iamareebjamal commented on #1362
Can you give me the link to the website where it's working?

[2019-03-20 20:12] iamareebjamal commented on #1363
No. It's very low priority issue

[2019-03-20 20:12] aggarwalpulkit596 commented on #1362
https://eventyay.com/

[2019-03-20 20:12] iamareebjamal commented on #1363
This app isn't even released. We want it to be usable before increasing reach

[2019-03-20 20:12] #1363 closed

[2019-03-20 20:13] iamareebjamal commented on #1362
That's the legacy server. We're not using its API

[2019-03-20 21:37] aman210697 opened #1366 "Content for Error fetching event"
**Describe the feature you'd like**
Show content when fetching event failed.

**Screenshots**

![Screenshot_20190321-025723](https://user-images.githubusercontent.com/24875315/54720781-4a8d8400-4b86-11e9-971b-da948e4382b3.png)

**Would you like to work on the issue?**
- Yes

[2019-03-20 23:54] somenath1435 opened #1368 "Remove Paypal from app"
**Describe the chore**
Paypal Api does not work now.
It should be removed.

**Would you like to work on the issue?**

- [x] Yes

[2019-03-21 02:10] aggarwalpulkit596 commented on #1368
It shouldn't be removed as buying tickets is one of core functionalities of app although it is not currently working but it will start working sooner or later

[2019-03-21 05:07] #1253 closed

[2019-03-21 09:20] #1297 closed

[2019-03-21 09:23] #1231 closed

[2019-03-21 09:46] haroldadmin opened #1369 "Polish List Adapter PR"
**Describe the bug**
Polish the changes made in ListAdapter PR #1240

**Additional Context**
@iamareebjamal Please list the required changes here.

**Would you like to work on the issue?**
- [x] Yes

[2019-03-21 09:49] iamareebjamal commented on #1369
Will do once I get my laptop back. For now, you can continue solving other issues

[2019-03-21 09:49] #1016 closed

[2019-03-21 13:52] #1349 closed

[2019-03-21 13:54] #1354 closed

[2019-03-21 18:32] somenath1435 commented on #1368
In my opinion, since it is deprecated ,it should be removed.
see: https://developer.paypal.com/docs/integration/mobile/android-integration-guide/
Also, paypal option is not properly implemented(payment mode is not proper).
Later, it can be integrated again.

[2019-03-21 18:38] somenath1435 opened #1371 "Alarm Reminder for Events"
**Describe the feature you'd like**
Many user tends to forget the event time , so they might want to set alarm for event time.
It would be an optional feature(similar to liked events).

**Would you like to work on the issue?**

- [x] Yes

[2019-03-21 18:39] somenath1435 commented on #1371
@iamareebjamal @nikit19 give your opinions.

[2019-03-21 18:59] iamareebjamal commented on #1371
There's an option to add it in the calendar

[2019-03-21 19:00] iamareebjamal commented on #1368
Don't agree. When enough time, we'll migrate to the recommended libraries

[2019-03-21 19:12] somenath1435 commented on #1371
@iamareebjamal you are right.
Calender does the job.

[2019-03-21 19:24] somenath1435 opened #1372 "Use Shimmer to display Tickets"
**Describe the feature you'd like**
Replace progressbar with shimmer to display tickets.
It is already used in events page.

**Screenshots**

![aab](https://user-images.githubusercontent.com/43093724/54779259-c5b17180-4c3c-11e9-975b-294f1487ece3.gif)

**Would you like to work on the issue?**

- [x] Yes

[2019-03-21 19:24] somenath1435 commented on #1372
@iamareebjamal @nikit19 I hope you agree.

[2019-03-22 03:17] haroldadmin commented on #1325
@iamareebjamal @liveHarshit As far as I can tell, this issue has been fixed with #1240
Please verify it if you can and close this issue.

[2019-03-22 08:24] #1326 closed

[2019-03-22 08:30] #1325 closed

[2019-03-22 13:31] addiegupta commented on #1331
This issue was duplicated in #1349 and then resolved by #1350  so closing it now

[2019-03-22 13:31] #1331 closed

[2019-03-22 14:29] haroldadmin opened #1376 "feat: Use RecyclerView SnapHelper in OrderDetailsFragment to snap tickets on the screen"
**Describe the feature you'd like**
The tickets recycler view currently does not use a SnapHelper, which means the user sometimes the scrolling stops in between two tickets.

**Screenshots**
Here's what the problem looks like:
![photo5812043517424414719](https://user-images.githubusercontent.com/24315306/54829587-ba158780-4cdc-11e9-8b62-b78eaa8b572d.jpg)

**Additional context**
A SnapHelper will e

[2019-03-22 14:41] #1329 closed

[2019-03-22 18:06] angmas1 opened #1379 "App crash when switching between login and signup fragment"
**Describe the bug**
App crashes when switching to signup fragment then coming back to login fragment.

**To Reproduce**

1. Go to profile fragment(without login)
2. Click on signup
3. Click of login
4. Crash

**Would you like to work on the issue?**

- [x] Yes
- [ ] No
- Other:

[2019-03-22 18:10] ShridharGoel commented on #1379
Duplicate

[2019-03-22 18:16] angmas1 commented on #1379
@ShridharGoel sorry closing.

[2019-03-22 18:16] #1379 closed

[2019-03-22 18:40] #1376 closed

[2019-03-23 08:25] #1242 closed

[2019-03-23 08:37] #1268 closed

[2019-03-23 10:09] addiegupta opened #1383 "App crashing due to IllegalArgumentException"
**Describe the bug**

The app is crashing on selecting Search from navigation bar

**To Reproduce**

The app should not crash

**Logs**

FATAL EXCEPTION: main
    Process: com.eventyay.attendee, PID: 14541
    java.lang.IllegalArgumentException: Required argument "@string/saved_date" is missing and does not have an android:defaultValue
        at org.fossasia.openevent.general.search.SearchFragmen

[2019-03-23 10:36] addiegupta commented on #1383
This issue might just be some sort of a build error as I am unable to reproduce this now. Can anyone let me know if this is reproducible so I can close this?

[2019-03-23 11:03] addiegupta opened #1384 "Empty View not displayed in FavoriteFragment on removing all favorites"
**Describe the bug**

The empty view is not displayed when all the favorite events are removed in the FavoriteFragment

**To Reproduce**

The empty view should have been displayed

**Logs**

**Screenshots**

![ezgif com-video-to-gif (1)](https://user-images.githubusercontent.com/22665789/54865324-d3284200-4d89-11e9-879f-52a0c600c2a8.gif)

**Smartphone Info:**

|               | |
|---------------|

[2019-03-23 14:50] ShridharGoel commented on #1383
Yes, it's reproducible.

[2019-03-23 15:50] addiegupta commented on #1383
Thanks for letting me know. Ill start working on it

[2019-03-23 16:17] #1384 closed

[2019-03-23 17:52] #1282 closed

[2019-03-23 19:23] #1372 closed

[2019-03-23 19:25] #1292 closed

[2019-03-23 20:34] #1342 closed

[2019-03-24 08:53] #1341 closed

[2019-03-24 09:16] aman210697 commented on #1369
no need of share listener

[2019-03-24 11:41] anhanh11001 opened #1386 "Fragment to send report inside the app"
**Describe the feature you'd like**
Instead of forcing user to moving out to other mail app, directly sending a message/report inside an app. Solution: Create a report fragment.

**Screenshots**
<img src="https://i.ibb.co/b7R27GV/55516218-336540823734538-7956929203675332608-n.png" width="300"/>   <img src="https://i.ibb.co/HHtKNRw/55450484-386382695477209-8533228551107772416-n.png" width="300"/>

[2019-03-24 11:46] anhanh11001 opened #1387 "Scroll to the top when clicking on fragment icon"
**Describe the feature you'd like**
In the EventsFragment, when clicking on the Event icon in the navigation bar, the fragment scrolls to the top, not reloading the whole fragment

**Screenshots**
<img src="https://i.ibb.co/tP0YRbx/54521488-299766457368383-3149328075947245568-n.png" width="300">

**Would you like to work on the issue?**
Yes

[2019-03-24 11:48] anhanh11001 opened #1388 "Options to send a message to organizer"
**Describe the feature you'd like**
Create a fragment to send a message to the organizer in the EventFragment and TicketDetailsFragment.

**Screenshots**
Current status of the EventFragment
<img src="https://i.ibb.co/b7R27GV/55516218-336540823734538-7956929203675332608-n.png" width="300"/>

**Would you like to work on the issue?**
Yes

[2019-03-24 11:53] somenath1435 opened #1389 "Improve Kotlin Code in SettingsFragment"
**Describe the chore**
In settings Fragment, there are unnecessary usage of "context.let", which can be replaced by requireContext().
@iamareebjamal suggested this once.

**Would you like to work on the issue?**

- [x] Yes

[2019-03-24 11:54] iamareebjamal commented on #1388
And how will the message be sent?

[2019-03-24 11:55] iamareebjamal commented on #1386
How?

[2019-03-24 13:07] anhanh11001 opened #1392 "Ripple Effect when clicking on navigation bottom"
**Describe the feature you'd like**
Ripple Effect when clicking on navigation bottom

**Screenshots**
<img src="https://i.ibb.co/TBLLDQH/53918253-330986030955005-647552386721644544-n.png" height="300"/>
**Would you like to work on the issue?**
Yes

[2019-03-24 13:34] #1392 closed

[2019-03-24 14:00] addiegupta opened #1395 "Add ActionBar Title in OrderDetailsFragment and other fragments"
**Describe the feature you'd like**

 I would like to add ActionBar title in the fragments indicated by the GIF below
- OrderDetailsFragment
- SearchTimeFragment
- SearchLocationFragment

**Screenshots**

![ezgif com-video-to-gif](https://user-images.githubusercontent.com/22665789/54880481-00005600-4e6b-11e9-90c3-112284188c42.gif)

**Additional context**

**Would you like to work on the issue?**

[2019-03-24 14:00] addiegupta commented on #1395
@liveHarshit should I go ahead with this?

[2019-03-24 14:05] addiegupta opened #1396 "Improve layout of SearchTimeFragment"
**Describe the feature you'd like**

I would like to improve the layout of SearchTimeFragment by making minor changes like adding layout margins and/or changing font sizes.
Currently the fragment looks like this

**Screenshots**

![image](https://user-images.githubusercontent.com/22665789/54880574-f4615f00-4e6b-11e9-974a-10fd3924e5fc.png)

**Additional context**

**Would you like to work on the is

[2019-03-24 14:06] anhanh11001 commented on #1388
@iamareebjamal My solution is to use JavaMail API for Android in here and build the process of sending messages from there. Here are some of the references I'm looking at:
https://medium.com/@ssaurel/how-to-send-an-email-with-javamail-api-in-android-2fc405441079
https://stackoverflow.com/a/25136400

So the only problem I'm thinking of is that in the Authentication process, it must provide the emai

[2019-03-24 14:35] addiegupta opened #1397 "Improve Favorite events layout for consistency with other fragments"
**Describe the feature you'd like**

I would like to make some changes to the layout of the Favorite Fragment so that the UI becomes more consistent. Currently the CardViews in EventsFragment as well as in OrdersUnderUserFragment ( which displays the purchased tickets) have margins on left and right and are more spaced out from each other among other differences. I would like to make FavoriteFragm